@charset "UTF-8";


body {
    min-width: 320px;
}

.inner {
    width: 85%;
}

header {
    width: 100%;
    background: #000;

}

header .inner {
    display: none;
}


header nav {
    display: block;
}


header nav {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

header nav .Minner {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .Minner .MheadL {
    width: 70px;
    height: 38px;
    background: url(../img/M이글스로고.png)no-repeat;
    margin: 0 0 0 15px;
}


header nav .Minner .MheadC {
    font-size: 20px;
    margin: 0 30px 0 0;
}

header nav .Minner .MheadR {
    width: 22px;
    height: 18px;
    background: url(../img/M버튼.png)no-repeat;
    margin: 0 15px 0 0;
}




.Mgnb li a.M {
    padding: 15px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.Mgnb a.M {
    font-size: 25px;
    opacity: 0.7;
}

.Mgnb a.M.on {
    color: #fb8335;
    opacity: 1;
}

.Mgnb ul > li {
    padding: 15px 0 0 30px;
}

.Mgnb li ul {
    display: none;
}

.Mgnb li ul li a:hover {color: #fb8335;}

/* .Mgnb li ul.on {
    color: #fb8335;
    display: block;
    opacity: 1;
} */


.Mgnb .Msub3 li:nth-child(1) a,
.Mgnb .Msub2 li:nth-child(1) a,
.Mgnb .Msub li:nth-child(1) a {color: #fb8335;}



header nav .Minner .Mgnb {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translate(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    padding: 70px 0;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    background: #25282a;
}

header nav .Minner .Mgnb.on {
    transform: translateX(0%);
    transition: transform 0.5s;
    cursor: pointer;
}

/* .Mgnb ul > li:focus,
.Mgnb ul > li:active,
.Mgnb ul > li:hover {color: #fb8335;} */



ul.Mgnb li:nth-child(1),
ul.Mgnb li:nth-child(6),
ul.Mgnb li:nth-child(5),
ul.Mgnb li:nth-child(4),
ul.Mgnb li:nth-child(3),
ul.Mgnb li:nth-child(2) {
    width: 100%;
    margin: 0;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

ul.Mgnb li.bt {
    position: absolute;
    z-index: 400;
    top: 30px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: block;
}


/* ///////////////////////////////////////////////////////////////////// */

.intro {
    display: none;
}

section {
    width: 100%;
    margin-top: -600px;
}

section .inner {
    width: 85%;
    margin: 0 auto;
}

section .inner .main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .inner .main .mainL img {
    width: 100%;
}

section .inner .main .mainR {
    background: none;
    margin-top: -200px;
}


section .inner .main .mainR span:nth-child(1) {
    font-size: 25px;
    opacity: 0.6;
    margin: 180px 160px 0 0;
}

section .inner .main .mainL .name {width: 100%;}

section .inner .main .mainR .name strong {
    font-size: 100px;

}

section .inner .main .mainR .name .name1 {
    margin: 0 0 0 20px;
}


section .inner .main .mainR .name .name1 h2 {
    font-size: 50px;
    padding: 20px 0 0 0;
}

section .inner .main .mainR .name .name1 span {
    font-size: 20px;
}
s section .inner .main .mainR .name2 .n3,
section .inner .main .mainR .name2 .n4 {
    margin: 0 0 0 15px;
}

section .inner .main .mainR .name2 .n3 li {
    font-size: 17px;
}

section .inner .main .mainR .name2 .n4 li {
    font-size: 17px;
}

/* ////////////////////////////////////////////////////////// */


.season {margin-bottom: 100px;}

.season .inner {
    width: 85%;
}


.season .inner span {
    font-size: 25px;

}
.season .orange {
    overflow-x: scroll;
    height: 160px;
}

.season .orange .inner .box {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 10px;
}


.season .orange .inner .box .boxtext p:nth-child(1) {
    font-size: 17px;
}

.season .orange .inner .box .boxtext p:nth-child(2) {
    font-size: 35px;
}



/* /////////////////////////////////////////////////////// */

.content {
    margin-bottom: 150px;
}

.content .inner {
    width: 90%;
}

.tab-menu .tab-btn ul li {
    font-size: 20px;
    width: 120px;
    border-radius: 15px 15px 0 0;
}

.tab-menu .tab-btn ul li a {
    padding: 7px;
}

.tab-menu .tab-cont {
    padding: 10px 7px;
    border-radius: 0 15px 15px 15px;
}

table {
    font-size: 10px;
}

td {
    padding: 7px 0;
}

/* ///////////////////////////////////////////////////////// */

.slide {
    width: 100%;
    margin-bottom: 150px;
}
.slide .inner {width: 90%;}

.player-center .item {width: 100%;
                      padding: 15px;}

.player-center .item img {width: 100%;}

.pt h1 {
    font-size: 20px;
    font-family: "NTSB";
    font-style: italic;
    opacity: 0.6;
}

.pt1 {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    margin: 0 0 0 5px;
}


.pt1 span:nth-child(1) {
    font-size: 10px;
}
.pt1 span:nth-child(2) {
    font-size: 10px;
}


.slide .sbt {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slide .button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
   
}

.slide .button a {
    font-size: 15px;
}

.slide .button::after {
    content: "";
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
   

}

.slide .button a:hover {
    font-size: 15px;
    color: #fff;
    position: relative;
}

/* //////////////////////////////////////////// */


footer .inner {
    width: 85%;
    height: 120%;
    display: flex;
    flex-direction: column;
}

footer .inner .footerL {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.footerL .Elogo {
    width: 100%;
    margin: 0 0 15px 0;
}

footer .inner .footerL img {
    width: 50%;
}

footer .inner .footerL .footermenu {
    margin-bottom: 10px;
}

footer .inner .footerL .footermenu span {
    font-size: 10px;
    padding: 0 15px 0 0;
}

footer .inner .footerL .footermenu span::after {
    width: 1px;
    height: 10px;
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 5px;
    right: 5px;
}

footer .inner .footerL .footermenu span:last-child::after {
    display: none;
}

footer .inner .footerL .footerMENU span {
    font-size: 10px;
    padding: 0 15px 0 0;
}


.inner .footerR {
    margin: 50px 0 30px 0;
    font-size: 10px;
    letter-spacing: 0;
    opacity: 0.5;
}