@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@media (max-width: 600px) {
    .dialog {
      width: 90%;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-size: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}
:root{
    --swiper-theme-color: #F57921 ;
}
html,
body {
    position: relative;
    height: 100%;
}

.side_nav{
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.side_nav div{
    font-size: 20px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(255,255,255,0.8);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    opacity: 0.7;
}
div.side_nav div::after{
    content: "";
    background:#f1f1f1;
    opacity: 0.8;
    width: 1px;
    height: 30px;
    position: absolute;
    top: 16px;
    left: 7px;
}
div.side_nav div span{
    width: 100px;
    position: absolute;
    top: -5px;
    left: 40px;
    color: #f1f1f1;
    opacity: 0.8;
    font:2rem 'Do Hyeon', sans-serif;
}
div.side_nav div:nth-child(5)::after{
    display: none;
}
div.side_nav div{
    margin-bottom: 30px;
}

div.side_nav div.on{
    background: #F57921;
    opacity: 1;
}
.swiper-container.all{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 45px;
    position: relative;
    width: 100%;
    height: 1089px;
    z-index: 2;
}
div.autobg{
    width: 100%;
    height: 1089px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
div.bg1{
    background: url(../image/background/background1_1920.png) no-repeat;
    background-size: cover;
}
div.bg2{
    background: url(../image/background/bg2.png) no-repeat;
    background-size: cover;
}
div.bg3{
    background: url(../image/background/bg3.png) no-repeat;
    background-size: cover;
}
div.bg4{
    background: url(../image/background/bg4.png) no-repeat;
    background-size: cover;
}
div.bg5{
    background: url(../image/background/bg5.png) no-repeat;
    background-size: cover;
}
div.org_box{
    display: none;
}
div.hide_menu{
    background-color: #F57921;
    width: 464px;
    height: 100vh;
    padding: 50px 0;
    position: fixed;
    top: 0;
    right:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    transform: translateX(100%);
    transition: all 0.5s ease
}
div.hide_menu.on{
    transform: translateX(0);
    transition: all 0.5s ease
}
span.material-icons{
    display: inline-block;
    font-size: 4rem;
    color: #f1f1f1;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
div.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.menu:nth-of-type(1){
    margin-top: 50px;
}
div.menu h1{
    font: 3rem 'Do Hyeon', sans-serif;
    color: #f1f1f1;
    cursor: pointer;
}
div.menu a{
    font-size: 2rem;
    color: #f1f1f1;
    margin-bottom: 18px;
}
div.menu a:nth-of-type(1){
    margin-top: 20px;
}
div.menu a:link,a:visited{
    text-decoration: none;
    color: #f1f1f1;
}
div.m_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.b_left{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
div.b_left span{
    font-size: 1.5rem;
    color: #f1f1f1;
    margin-top: 15px;
}
div.b_left span:nth-of-type(1){
    font-size: 1.5rem;
    color: #f1f1f1;
    margin-top: 0;
}
div.b_right{
    width: 161px;
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 40px;
    color: #f1f1f1;
    cursor: pointer;
}
div.insta{
    background: url(../image/metrial/insta.svg) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.youtube{
    background: url(../image/metrial/youtube.svg) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.menu_fixed{
    background: url(../image/metrial/view_headline-24px_whithe.svg) no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    position: fixed;
    top:50px;
    right: 100px;
    cursor: pointer;
}
div.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.fades{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
div.fades h1{
    font: 15rem 'Do Hyeon', sans-serif;;
    letter-spacing: 15px;
    margin-bottom: 20px;
    color: #f1f1f1;
    position: relative;
}
div.fades h1::after{
    display: block;
    content: "";
    width:2px;
    height: 40px;
    background-color: #f1f1f1;
    position: absolute;
    top: 82%;
    left: 50%;
}
div.fades p{
    font-size: 2.5rem;
    line-height: 37px;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}
div.fades p:nth-child(3){
    margin-top: 20px;
    font-weight: unset;
    font-size: 1.8rem;
    opacity: 0.8;
    letter-spacing: 0px;
}
div.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    position: relative;
    animation-name: scroll_down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
div.scroll div.icon_scroll{
    background: url(../image/metrial/scrolling_white.svg) no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;    
}
@keyframes scroll_down{
    0% {top:0px;}
    50% {top:20px;}
    100%{top:0px}
}
div.scroll span{
    font-size: 1.6rem;
    font-weight: bold;
    color: #f1f1f1;
}

section{
    width: 100%;
    height: 1089px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
a.logo{
    display: block;
    background: url(../image/logo/logo_white2.png) no-repeat;
    background-size: contain;
    width: 280px;
    height: 49px;    
}


/* section1 */
section.section1{
    background: url(../image/background/background2_1920.png) no-repeat;
    background-size: cover;
    position: relative;
}
a.logo_fiexd{
    display: block;
    background: url(../image/logo/logo_white.png)no-repeat;
    background-size: contain;
    width: 94px;
    height: 52px;
    position: fixed;
    top: 35px;
    left: 100px;
}
section ul.sub_nav{
    display: flex;
    justify-content: center;
}
section ul.sub_nav li{
    font: 3rem 'Do Hyeon', sans-serif;
    line-height: 51px;
    color: #f1f1f1;
    opacity: 0.8;
    margin-right: 40px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
section ul.sub_nav li:nth-of-type(2){
    margin-right: 0;
}
section ul.sub_nav li:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #F57921;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
section ul.sub_nav li:hover:after,section ul.sub_nav li.on::after { 
    width: 100%; 
    left: 0; 
}
section ul.sub_nav li:hover,section ul.sub_nav li.on{
    color: #F57921;
    opacity: 1;
}
/* sec1 contents_1 */
section.section1 div.contents_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px 0;
}
section.section1 h1{
    font-size: 3.6rem;
    color: #f1f1f1;
}
section.section1 span{
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: normal;
    color: #f1f1f1;
    text-align: center;
    position: relative;
}
section.section11 span::after{
    display: block;
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    width: 2px;
    height: 32px;
    top: 165%;
    left: 50%;
}
div.card_list{
    width: 690px;
    height: 568px;
}
div.card_list .swiper-container{
    width: 100%;
    height: 100%;
    margin-top: 96px;
}
div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.section1 div.card_list div.card div.year{
    display: flex;
    flex-direction: row;
    position: relative;
}
section.section1 div.card_list div.card div.year::after{
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    top: 70px;
    left: -42%;
    width: 688px;
    height: 2px;
}
section.section1 div.card_list div.card div.year span{
    color: #f1f1f1;
    font-size: 2.5rem;
    opacity: 0.6;
}
section.section1 div.card_list div.card div.year span::after{
    display: none;
}
section.section1 div.card_list div.card div.year h2{
    color: #f1f1f1;
    font-size: 3.5rem;
    margin: 0 82px;
}
section.section1 div.card_list div.card div.poster{
    margin-top: 55px;
    width: 297px;
    height: 424px;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.4);
}
section.section1 div.card_list div.card div._2019{
    background: url(../image/metrial/poster-2019.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2018{
    background: url(../image/metrial/poster-2018.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2017{
    background: url(../image/metrial/poster-2017.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2016{
    background: url(../image/metrial/poster-2016.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2015{
    background: url(../image/metrial/poster-2015.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2014{
    background: url(../image/metrial/poster-2014.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2013{
    background: url(../image/metrial/poster-2013.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2012{
    background: url(../image/metrial/poster-2012.png) no-repeat;
    background-size: contain ;
}
section.section1 div.card_list div.card div._2011{
    background: url(../image/metrial/poster-2011.png) no-repeat;
    background-size: contain ;
}
.swiper-button-prev.p_cd {
    left: 173px;
    right: auto;
    top: 34px;
}
.swiper-button-next.p_cd {
    right: 178px;
    left: auto;
    top: 35px;
}
.swiper-button-next.p_cd,.swiper-button-prev{
    color: transparent;
}
/* sec1 contents_2 */
div.contents_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
section.section1 div.contents_2::after{
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    top: 26%;
    left: 50%;
    width: 2px;
    height: 33px;
}
section.section1 div.contents_2 span{
    margin-top: 85px;
}
section.section1 div.contents_2 span::after{
    display: none;
}

.dp-wrap {
	margin: 0 auto;
	position: relative;
	perspective: 1000px;
	height: 100%;
}

.dp-slider {
	height: 100%;
	width: 100%;
    margin-top: 50px;
    width: 846px;
	position: absolute;
	transform-style: preserve-3d;
}

.dp-slider div {
	transform-style: preserve-3d;
}
.dp_item {
	display: block;
	position: absolute;
	text-align: center;
	border-radius: 0px;
	transition: transform 1.2s;
}

#dp-slider .dp_item:first-child {
	z-index: 10 !important;
	transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
	z-index: 9;
	transform: rotateY(0deg) translateX(10%) scale(0.9);
}

.dp_item[data-position="3"] {
	z-index: 8;
	transform: rotateY(0deg) translateX(20%) scale(0.8);
}

.dp_item[data-position="4"] {
	z-index: 7;
	transform: rotateY(0deg) translateX(30%) scale(0.7);
}

#dp-dots {
    display: flex;
    flex-direction: row;
	position: absolute;
	bottom: 25px;
	z-index: 12;
	top:95%;
	left: 50%;
	cursor: default;;
}

#dp-dots li {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #f1f1f1;
	border-radius: 50%;
    margin-left: 10px;
    opacity: 0.5;
}
#dp-dots li:nth-child(1){
    margin-left: 0;
}

#dp-dots li:hover {
	cursor: pointer;
	background: #F57921;
	transition: background .3s;
}

#dp-dots li.active {
	background: #F57921;
}

.dp_item {
	width: 846px;
}

.dp-content,
.dp-img {
	text-align: left;
}
.dp-img{position: relative;}
.dp-img h1{
	color: white;
	font-weight: bold;
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
}
.dp_item {
	display: flex;
	align-items: center;
	background: transparent;
	border-radius: 0px;
	overflow: hidden;
}
.dp-img:before {
	position: absolute;
	height: 100%;
	width: 25%;
	z-index: 1;
	top: 0;
	pointer-events: none;
	background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
	background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
	background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
	background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.dp-img img {
	object-fit: cover;
	object-position: right;
}

#dp-slider,
.dp-img img {
	height: 475px;
}
#dp-slider{
    margin-top: 80px;
    width: 846px;
}

#dp-slider .dp_item:hover:not(:first-child) {
	cursor: pointer;
}
.dp-img .text{
    width: 655px;
    height: 307px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:19%;
    left: 25%;
}
.text h2{
    color: #f1f1f1;
    font-size: 2.5rem;
    width: 19%;
    text-align: center;
    margin-right: 45px;
    position: relative;
}
.text h2::after{
    content: "";
    background-color: #f1f1f1;
    width: 2px;
    height: 45px;
    position: absolute;
    top: 25%;
    left:115%;
}
.text p.m_con{
    display: none;
}
.text p{
    color: #f1f1f1;
    font-size:1.5rem;
    text-align:justify;
    width: 50%;
}
.t2 h2{
    width: 26%;
}
.t2 h2::after{
    left: 108%;
}
.t2{
    top:34%
}


/* section2 */
section.section2{
    background: url(../image/background/background3_1920.png) no-repeat;
    background-size: cover;
}
section.section2 h1{
    margin-top: 110px;
    font-size: 3.6rem;
    color: #f1f1f1;
}
section.section2 div.main_icon{
    width: 1010px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 300px;
}
section.section2 div.main_icon div.making{
    background: url(../image/metrial/making.svg) no-repeat;
    background-size: contain;
    width: 179px;
    height: 181px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
section.section2 div.main_icon div.making:hover{
    background: url(../image/metrial/making_orange.svg) no-repeat;
    background-size: contain;
    transform: scale(1.2);
    transition: transform .5s;
}
section.section2 div.main_icon div.making:hover span{
    color: #F57921;
}
section.section2 div.main_icon div.making:hover span::after{
    background-color: #F57921;
}
section.section2 div.main_icon div.flow_round{
    background: url(../image/metrial/flow_round.svg) no-repeat;
    background-size: contain;
    width: 181px;
    height: 222px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}
@keyframes flow{
    from{
        stroke-dashoffset: 330;
    }
    to{
        stroke-dashoffset: 0;
    }
}
div.flow_round svg{
    width: 162px;
    height: 25px;
    position: absolute;
    top:200px;
    left: 0;
    display: none;
}
.flow_line{
    stroke-dasharray: 162;
    stroke-dashoffset: 165;
    animation: flow 1.5s forwards infinite;
    stroke-width: 5px;
}
section.section2 div.main_icon div.flow_round:hover{
    background: url(../image/metrial/flow_round_orange.svg) no-repeat;
    background-size: contain;
    width: 181px;
    height: 222px;
}
div.flow_round:hover svg{
    display: block;
}
section.section2 div.main_icon div.flow_round:hover span{
    color: #F57921;
}
section.section2 div.main_icon div.flow_round:hover span::after{
    background-color: #F57921;
}
section.section2 div.main_icon div.swings{
    background: url(../image/metrial/swing.svg) no-repeat;
    background-size: contain;
    width: 181px;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}
section.section2 div.main_icon div.swings:hover{
    background: url(../image/metrial/swing_orange.svg) no-repeat;
    background-size: contain;
    animation: swing ease-in-out .7s infinite alternate;
    transform-origin: center -20px;
}
section.section2 div.main_icon div.swings:hover span{
    color: #F57921;
}
section.section2 div.main_icon div.swings:hover span::after{
    background-color: #F57921;
}
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-15deg); }
}
section.section2 div.main_icon span{
    font: 2.6rem 'Do Hyeon', sans-serif;
    color: #f1f1f1;
    margin-top: 310px;
    position: relative;
}
section.section2 div.main_icon div.swings span{
    margin-top: 360px;
}
section.section2 div.main_icon span::after{
    content: "";
    background-color: #f1f1f1;
    height: 2px;
    width: 50px;
    position: absolute;
    top: -45px;
    left: 30%;
}
section.section2 div.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top:2178px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
}
.content.con1.dialog.dialog--active {
    top: 2500px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.content.con2.dialog.dialog--active {
    top: 2500px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.content.con3.dialog.dialog--active {
    top: 2500px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
section.section2 div.content div.con_bg{
    display:flex;
    align-items: center;
    justify-content: center;
}
div.content span.material-icons.dialog__close{
    display: inline-block;
    font-size: 4rem;
    color: #f1f1f1;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease;
}
section.section2 div.content div.con_bg div.con_img{
    width: 1064px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
section.section2 div.content div.con_bg div.con_img div.con_text{
    position: absolute;
    left: 54%;
}
section.section2 div.content div.con_bg div.con_img div.con_text h2{
    font-size: 3rem;
    font-weight: bold;
    color: #f1f1f1;
}
section.section2 div.content div.con_bg div.con_img div.con_text p{
    width: 390px;
    font-size: 1.8rem;
    color: #f1f1f1;
    text-align: center;
    margin-top: 50px;
}
section.section2 div.con1 div.con_bg div.con_img{
    background: url(../image/metrial/making.png) no-repeat;
    background-size: contain;
}
section.section2 div.con2 div.con_bg div.con_img{
    background: url(../image/metrial/flow.png) no-repeat;
    background-size: contain;
}
section.section2 div.con3 div.con_bg div.con_img{
    background: url(../image/metrial/swing.png) no-repeat;
    background-size: contain;
}
div.f1_photo {
    width: 411px;
    height: 700px;
    margin-top: 130px;
}
div.f_plist{
    width: 100%;
    height: 519px;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.7);
}
.swiper-pagination-bullet{
    background: #f1f1f1;
    opacity: 0.5;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: var(--swiper-pagination-color,var(--swiper-theme-color))!important;
}
div.f_p{
    width: 100%;
    height: 100%;
    background: url(../image/metrial/card/firework.png)no-repeat;
    background-size: contain;
}
div.f_p:nth-of-type(2){
    background: url(../image/metrial/card/dino.png)no-repeat;
    background-size: contain;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 80%;
}
div.f_p:nth-of-type(3){
    background: url(../image/metrial/card/boat.png)no-repeat;
    background-size: contain;
}
div.f_p:nth-of-type(4){
    background: url(../image/metrial/card/light.png)no-repeat;
    background-size: contain;
}
div.f_p:nth-of-type(5){
    background: url(../image/metrial/card/live.png)no-repeat;
    background-size: contain;
}
div.f_p:nth-of-type(6){
    background: url(../image/metrial/card/turnel.png)no-repeat;
    background-size: contain;
}
/* section3 */
section.section3{
    background: url(../image/background/background4_1920.png) no-repeat;
    background-size: cover;
}
section.section3 h1{
    font-size: 3.6rem;
    color: #f1f1f1;
    margin-top: 110px;
    text-align: center;
}
div.News{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 56px;
}
div.New_con{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-right: 60px;
    width: 432px;
}
div.New_con h2{
    font-size: 3rem;
    color: #f1f1f1;
    margin-bottom: 10px;
    position: relative;
}
div.New_con h2::after{
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    width: 432px;
    height: 2px; 
    top: 129%;
    left: 0;
}
div.Notice{
    margin-bottom: 30px;
}
div.text_N{
    width: 432px;
    position: relative;
    cursor: pointer;
}
div.Notice ul.N_list ul{
    background-color: rgba(0,0,0,0.8);
    width: 432px;
    height: 312px;
    padding:32px 30px 0;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.Amt{
    position: relative;
}
ul.N_list{
    display: none;
}

ul.a_list{
    display: none;
}
div.Amt ul.a_list ul{
    padding:32px 30px 0;
    background-color: rgba(0,0,0,0.8);
    width: 432px;
    height: 227px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.New_con ul li{
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #f1f1f1;
    margin-bottom: 30px;
}
div.New_con span{
    color: #f1f1f1;
    width: 18px;
    top: 13%;
    right: 0;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all ease .2s;
}
div.New_con.on:hover span{
    transform: rotate( 45deg );
}
div.other_con{
    margin-top: 53px;
}
div.etc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
div.poster_1{
    background: url(../image/metrial/poster__.png) no-repeat;
    background-size: contain;
    width: 490px;
    height: 312px;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.4);
}
div.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F57921;
    width: 232px;
    height: 232px;
    border-radius: 50%;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.4);
}
div.weather h3.icon{
    margin-bottom: 5px;
}
div.weather h2{
    color:#f1f1f1;;
    font-size: 2.5rem;
}
div.weather h3.ctemp{
    margin-top: 10px;
    color: #f1f1f1;
    font-size:3.5rem
}
div.f_day{
    background:url(../image/metrial/d-day.png) no-repeat;
    background-size: contain;
    width: 233px;
    height: 276px;
    position: relative;
    box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.4);
}
div.d-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    right: 3%;
}
div.d-text span{
    font-size: 1.5rem;
    color: #f1f1f1;
    text-align: right;
}
div.d-text span.d-day{
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 10px;
}
div.comu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    width: 1088px;
    height: 711px;
    margin-top: 40px;  
}
div.silde_insta{
    width: 308px;
    margin-left: 40px;
}
div.Ins_list div{
    background: url(../image/metrial/insta_1.png) no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 308px;
    height: 466px;
}
.I_P.swiper-slide.swiper-slide-active{
    width: 308px;
}
div.Ins_list div:nth-child(2){
    background: url(../image/metrial/insta_2.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
div.Ins_list div:nth-child(3){
    background: url(../image/metrial/insta_3.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
div.Ins_list div:nth-child(4){
    background: url(../image/metrial/insta_4.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
div.Ins_list div:nth-child(5){
    background: url(../image/metrial/insta_5.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
div.c_mail{
    background-color: rgba(0, 0, 0, 0.5);
    width: 66%;
    height: 100%;
    padding:0 40px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form.info input[type="text"]{
    background-color: transparent;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    width: 188px;
    height: 45px;
    padding: 0 10px;
    font-size: 2rem;
    margin-right: 10px;
}
form.info input[type="text"]:nth-child(2){
    width: 290px;
    height: 45px;
    margin-right: 0;
}
input.title{
    background-color: transparent;
    border: 2px solid #f1f1f1;
    height: 45px;
    padding-left: 10px;
    font-size: 2rem;
    color: #f1f1f1;
    margin-top: 20px;
}
textarea:nth-child(3){
    background-color: transparent;
    border: 2px solid #f1f1f1;
    height: 400px;
    color: #f1f1f1;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 2rem;
}
input[type="submit"]{
    background-color: transparent;
    border: 2px solid #f1f1f1;
    width: 139px;
    height: 45px;
    font-size: 2rem;
    color: #f1f1f1;
    margin-top: 10px;
}

/* section4 */
section.section4{
    background: url(../image/background/background5_1920.png) no-repeat;
    background-size: cover;
}
div.video{
    width:51%;
    height: 58%;
    margin-top: 110px;
}
section.section4 h1{
    font-size: 3.6rem;
    color: #f1f1f1;
    margin-top: 110px;
}
div.f_photo{
    width: 67%;
    height: 568px;
    overflow-y: scroll;
    margin-top: 110px;
}
div.f_pcon{
    padding-right: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
a.fcon{
    margin-bottom: 20px;
    width: 32%;
    height: auto;
}
a.fcon span{
    border: 0;
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 275px;
}
.meet::before, .meet::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
} 
.meet::before, .meet::after {
    border: 3px solid transparent;
    width: 0;
    height: 0;
}
.meet::before {
    top: 0;
    left: 0;
}
.meet::after {
    bottom: 0;
    right: 0;
}
.meet:hover::before, .meet:hover::after {
    width: 100%;
    height: 275px;
}
.meet:hover::before {
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.meet:hover::after {
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet::after {
    top: 0;
    left: 0;
}
.meet:hover::before {
    border-top-color: #F57921;
    border-right-color: #F57921;
}
.meet:hover::after {
    border-bottom-color: #F57921;
    border-left-color: #F57921;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
a.fcon span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/001.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(2) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/045.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(3) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/054.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(4) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/060.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(5) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/066.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(6) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/004.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(7) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/007.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(8) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/013.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(9) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/016.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(10) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2019/020.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(11) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/004.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(12) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/002.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(13) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/016.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(14) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/021.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(15) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/028.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(16) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/033.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(17) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/034.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(18) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/038.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(19) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/052.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(20) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2018/092.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(21) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/002.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(22) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/006.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(23) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/012.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(24) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/033.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(25) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/040.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(26) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/045.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(27) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/037.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(28) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/041.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(29) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/048.jpg) no-repeat;
    background-size: cover;
}
a.fcon:nth-of-type(30) span{
    background: url(https://yudeung.com/home/ydweb2020/master/public/layouts/yudeung/images/photo2017/047.jpg) no-repeat;
    background-size: cover;
}
div.f_photo::-webkit-scrollbar { width: 16px; }
div.f_photo::-webkit-scrollbar-track { background-color:rgba(255,255,255,0.5)}
div.f_photo::-webkit-scrollbar-thumb { 
    background:#F57921; 
}
div.f_photo::-webkit-scrollbar-button { display: none; }
footer{
    background-color: #f1f1f1;
    width: 100%;
    height: 135px;
    padding:0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.f_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a.f_logo{
    background:url(../image/logo/logo_color2@2x.png) no-repeat;
    background-size: contain;
    width: 244px;
    height: 43px;
    cursor: pointer;
}
div.f_info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
div.f_info span{
    color: #4A4A4A;
    font-size: 1.5rem;
}
div.f_info span:nth-child(2){
    margin-top: 15px;
}
div.f_info span:nth-child(3){
    font-weight: bold;
}
div.f_right{
    display: flex;
    flex-direction: column;
}
div.l_list{
    display:flex;
    flex-direction: row-reverse;
    align-items: center
}
div.l_list a{
    background: url(../image/logo/mbc.png)no-repeat;
    background-size: contain;
    width: 125px;
    height: 24px;
    cursor: pointer;
    margin-left: 30px;
}
div.l_list a:nth-child(2){
    background: url(../image/logo/culture.png)no-repeat;
    background-size: contain;
    width: 97px;
    height: 20px;
}
div.l_list a:nth-child(3){
    background: url(../image/logo/j_tour.png)no-repeat;
    background-size: contain;
    width: 99px;
    height: 16px;
}
div.l_list a:nth-child(4){
    background: url(../image/logo/charm.png)no-repeat;
    background-size: contain;
    width: 54px;
    height: 40px;
    margin-left: 0;
}
div.f_icon{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 5px;
}
div.f_icon a{
    background: url(../image/metrial/insta_gray.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
div.f_icon a:nth-child(2){
    background: url(../image/metrial/youtube_Gray.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
div.f_icon a:nth-child(3){
    background: url(../image/metrial/facebook_Grey.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
div.f_icon i{
    color: #4A4A4A;
    font-size: 3rem;
}