
/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언 
폰트를 여러개를 선언... 첫번째 폰트를 1순위로 적용.. 만약 지원이 안되면 2순위 폰트를 적용
영문만 지원하는 폰트를 1순위로 쓰고 2순위로 한글이 지원되는 서체를 선언
영문,순자,특수문자는 영문 폰트가 적용, 나머지 한글은 한글 폰트 적용
*/
html, body {
    font-family: 'SUITE', "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Helvetica, "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.7px; /* 자간 */
    line-height: 1.1; /* 배수 - 글자크기에 1.4배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 강제로 줄바꿈 실행 */
}
/* 홈페이지 전체를 감싸는 요소 - 
   가로스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
    overflow: hidden;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1260px; 
    margin: 0 auto; /* 가운데정렬 */
}
@media screen and (max-width:1600px){
    .wrapper {
        width: auto;
        margin: 0 136px; /* 좌우에 20px */
    }
}
/* 1260px 나의 wrapper의 넓이에 좌우 여백 20px씩 추가한 사이즈부터
   반응형 */
@media screen and (max-width:1300px){
    #wrap {
        min-width: 100%;
    }
}/* media */
@media screen and (max-width:1024px){ /* 모바일 */
    html, body {
        font-size: 15px;
    }
    .wrapper {
        margin: 0 20px;
    }
}
@media screen and (max-width:640px){ /* 모바일 반응형 */
    html, body {
        font-size: 15px;
    }
}/* media */

/*클릭하는 요소 a button - focus가 되었을 때 스타일 변경*/

::selection {
    background-color: #FE8917;
    color: #043B64;
}

/*
    기본이 16px일때
    60px - 3.750rem
    50px - 3.125rem
    40px - 2.500rem
    35px - 2.188rem
    30px - 1.875rem
    25px - 1.563rem
    20px - 1.250rem
    17px - 1.063rem
    16px - 1rem
    13px - 0.813rem
*/

:root {
    --color-main1 : #E54E21;
    --color-main2 : #FFF7EC;
    --txt-color-tit : #1d1d1d;
    --txt-color-gray : #666;
    --txt-color-white : #fff;
    --txt-color-w80 : rgba(255,255,255,0.8);
    --txt-color-w60 : rgba(255,255,255,0.6);
    --txt-color-w40 : rgba(255,255,255,0.4);
    --tit-txt-size : 3.750rem;
}

@media screen and (max-width:1300px) {
    :root {--tit-txt-size : 2.188rem;}
}
@media screen and (max-width:1024px) {
    :root {--tit-txt-size : 1.875rem;}
}
@media screen and (max-width:768px) {
    :root {--tit-txt-size : 1.063rem;}
}