/* header나 footer 처럼 페이지에 공통으로 배치되는 요소의 css를 layout.css로 분리 */

.skipnav {
    position: absolute;
    left: 0;
    top: -100px; /* focus 될 때 만 나타나야 하기 때문에 상단에 숨겨져 있어야 함. */
    width: 100%;
    height: 50px;
    z-index: 9999999999;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #DC0B13;
    color: #fff;
    text-align: center;
}
.skipnav a:focus {
    top: 100px; /* a가 포커스되면 올라간만큼 다시 내려줌. */
}

header {
    position: relative;
    height: 130px;
    color: var(--color-main-tit);
    z-index: 100;
}
header .logo {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
header .logo a {
    display: block;
    width: 139px;
    height: 56px;
    font-size: 0;
    line-height: 0;
    background: url(../imges/logo.png) no-repeat center center / contain;    
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
    position: absolute;
    right: 2%;
    top: 0;
    width: 60px;
    height: 100%;
    font-size: 0;
    line-height: 0;
}
header .gnb .gnb_open::before,
header .gnb .gnb_close::before {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
header .gnb .gnb_open::before {
    width: 20px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='11' viewBox='0 0 22 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H21' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 10H21' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
header .gnb .gnb_close::before {
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.1421L15.1421 0.999954' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.07129 1.07104L15.2134 15.2132' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    justify-content: center;
}
header .gnb .gnb_wrap ul.depth1>li {
    position: relative; /* depth2 정렬 기준 */
}
header .gnb .gnb_wrap ul.depth1>li>a {
    display: block;
    font-size: 1.37rem;
    padding: 10px 25px;
    line-height: 65px;
    text-align: center;
}
header .tnb {
    position: absolute;
    right: 18%;
    top: 19px;
}
header .tnb a {
    display: block;
    border: 1px solid #1d1d1d;
    padding: 4px 19px;
    border-radius: 18px;
}
header .tnb .lang {
    position: relative; /* a-before의 정렬 기준 */
}
header .tnb .lang>a {
    padding-left: 43px;
}
header .tnb .lang>a::before {
    position: absolute;
    left: 18px;
    top: 7px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00325 18C7.75875 18 6.58867 17.7638 5.493 17.2915C4.3975 16.8192 3.4445 16.1782 2.634 15.3685C1.8235 14.5588 1.18192 13.6067 0.70925 12.512C0.236417 11.4175 0 10.2479 0 9.00325C0 7.75875 0.236167 6.58867 0.7085 5.493C1.18083 4.3975 1.82183 3.4445 2.6315 2.634C3.44117 1.8235 4.39333 1.18192 5.488 0.70925C6.5825 0.236417 7.75208 0 8.99675 0C10.2412 0 11.4113 0.236167 12.507 0.708501C13.6025 1.18083 14.5555 1.82183 15.366 2.6315C16.1765 3.44117 16.8181 4.39333 17.2908 5.488C17.7636 6.5825 18 7.75208 18 8.99675C18 10.2412 17.7638 11.4113 17.2915 12.507C16.8192 13.6025 16.1782 14.5555 15.3685 15.366C14.5588 16.1765 13.6067 16.8181 12.512 17.2908C11.4175 17.7636 10.2479 18 9.00325 18ZM8 16.95V15C7.45 15 6.97917 14.8042 6.5875 14.4125C6.19583 14.0208 6 13.55 6 13V12L1.2 7.2C1.15 7.5 1.10417 7.8 1.0625 8.1C1.02083 8.4 1 8.7 1 9C1 11.0167 1.6625 12.7833 2.9875 14.3C4.3125 15.8167 5.98333 16.7 8 16.95ZM14.9 14.4C15.2333 14.0333 15.5333 13.6375 15.8 13.2125C16.0667 12.7875 16.2875 12.3458 16.4625 11.8875C16.6375 11.4292 16.7708 10.9583 16.8625 10.475C16.9542 9.99167 17 9.5 17 9C17 7.357 16.549 5.8565 15.647 4.4985C14.7452 3.1405 13.5295 2.1615 12 1.5615V2C12 2.55 11.8042 3.02083 11.4125 3.4125C11.0208 3.80417 10.55 4 10 4H8V6C8 6.28333 7.90417 6.52083 7.7125 6.7125C7.52083 6.90417 7.28333 7 7 7H5V9H11C11.2833 9 11.5208 9.09583 11.7125 9.2875C11.9042 9.47917 12 9.71667 12 10V13H13C13.4333 13 13.825 13.1292 14.175 13.3875C14.525 13.6458 14.7667 13.9833 14.9 14.4Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb a:hover {
    color: #fff;
    background-color: var(--color-main-blue);
}
header .tnb .lang>a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00325 18C7.75875 18 6.58867 17.7638 5.493 17.2915C4.3975 16.8192 3.4445 16.1782 2.634 15.3685C1.8235 14.5588 1.18192 13.6067 0.70925 12.512C0.236417 11.4175 0 10.2479 0 9.00325C0 7.75875 0.236167 6.58867 0.7085 5.493C1.18083 4.3975 1.82183 3.4445 2.6315 2.634C3.44117 1.8235 4.39333 1.18192 5.488 0.70925C6.5825 0.236417 7.75208 0 8.99675 0C10.2412 0 11.4113 0.236167 12.507 0.708501C13.6025 1.18083 14.5555 1.82183 15.366 2.6315C16.1765 3.44117 16.8181 4.39333 17.2908 5.488C17.7636 6.5825 18 7.75208 18 8.99675C18 10.2412 17.7638 11.4113 17.2915 12.507C16.8192 13.6025 16.1782 14.5555 15.3685 15.366C14.5588 16.1765 13.6067 16.8181 12.512 17.2908C11.4175 17.7636 10.2479 18 9.00325 18ZM8 16.95V15C7.45 15 6.97917 14.8042 6.5875 14.4125C6.19583 14.0208 6 13.55 6 13V12L1.2 7.2C1.15 7.5 1.10417 7.8 1.0625 8.1C1.02083 8.4 1 8.7 1 9C1 11.0167 1.6625 12.7833 2.9875 14.3C4.3125 15.8167 5.98333 16.7 8 16.95ZM14.9 14.4C15.2333 14.0333 15.5333 13.6375 15.8 13.2125C16.0667 12.7875 16.2875 12.3458 16.4625 11.8875C16.6375 11.4292 16.7708 10.9583 16.8625 10.475C16.9542 9.99167 17 9.5 17 9C17 7.357 16.549 5.8565 15.647 4.4985C14.7452 3.1405 13.5295 2.1615 12 1.5615V2C12 2.55 11.8042 3.02083 11.4125 3.4125C11.0208 3.80417 10.55 4 10 4H8V6C8 6.28333 7.90417 6.52083 7.7125 6.7125C7.52083 6.90417 7.28333 7 7 7H5V9H11C11.2833 9 11.5208 9.09583 11.7125 9.2875C11.9042 9.47917 12 9.71667 12 10V13H13C13.4333 13 13.825 13.1292 14.175 13.3875C14.525 13.6458 14.7667 13.9833 14.9 14.4Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb .booking>a {
    display: block;
    margin-top: 10px;
    position: relative; /* before 정렬 기준 */
}
header .tnb .booking>a::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #1d1d1d;
    content: "";
}
header .tnb .booking>a:hover::before {
    background-color: #fff;
}
header .h_sns {
    display: none;
}
/* 헤더 메뉴에 마우스 오버 */
header .gnb .gnb_wrap ul.depth1>li:hover>a {
    font-weight: 800;
    color: var(--color-main-blue);
}
header .gnb .gnb_wrap ul.depth1>li .depth2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 30px 24px;
}
header .gnb .gnb_wrap ul.depth1>li .depth2::before {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: calc(100% - 37px);
    z-index: -1;
    border: 1px solid #3d3d3d;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    content: "";
}
header .gnb .gnb_wrap ul.depth1>li.facility .depth2 {
    width: 177px;
}
header .gnb .gnb_wrap ul.depth1>li .depth2>li>a {
    display: block;
    line-height: 2;
    white-space: nowrap; /* 무조건 한 줄 */
}
header .gnb .gnb_wrap ul.depth1>li .depth2>li:hover>a {
    font-weight: 900;
    color: var(--color-main-blue);
}
header .gnb .gnb_wrap ul.depth1>li.on .depth2 {
    display: block;
}
/* //헤더 메뉴에 마우스 오버 */
/* header fixed */
header.fixed {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
header.fixed .wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 17% 0 2%;
}
header.fixed .logo {
    display: block;
    margin-top: 7px;
}
header.fixed .gnb {
    white-space: nowrap;
}
header.fixed .gnb .gnb_wrap ul.depth1 {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 19px; */
}
header.fixed .tnb {
    position: absolute;
    display: flex;
    right: 2%;
    top: 27px;
}
header.fixed .tnb .booking>a {
    margin: 0 0 0 11px;
}
/* //header fixed */
@media screen and (max-width:1300px) {
    header .gnb .gnb_wrap ul.depth1>li>a {
        font-size: 1.25rem;
    }
    header .tnb a {
        padding: 2px 19px;
    }
    header .tnb .lang>a::before {
        top: 5px;
    }
    header .tnb .booking>a {
        margin-top: 6px;
    }
    header .tnb .booking>a::before {
        top: 13px;
    }
    header.fixed .gnb .gnb_wrap ul.depth1 {
        margin-right: 40px;
    }
    header.fixed .gnb .gnb_wrap ul.depth1>li>a {
        font-size: 1.18rem;
    }
}/* //header media 1300 */
@media screen and (max-width:1024px)  {
    header .gnb .gnb_wrap ul.depth1>li>a {
        padding: 10px 13px;
    }
    header.fixed .gnb .gnb_wrap ul.depth1 {
        margin-top: 3px;
        margin-right: 92px;
    }
    header.fixed .tnb {
        top: 32px;
    }
    header.fixed .tnb .booking>a {
        margin: 0 0 0 6px;
    }
}/* //header media 1024 */
@media screen and (max-width:880px) { /* 모바일 시작 */
    header,
    header.fixed {
        height: 60px;
    }
    header .logo {
        display: flex;
        justify-content: flex-start;
        margin-top: 6px;
    }
    header .logo a {
        width: 94px;
        height: 38px;
    }
    header .gnb .gnb_open {
        display: block;
    }
    header .gnb .gnb_open::before {
        width: 26px;
        height: 12px;
    }
    header .gnb .gnb_wrap,
    header .tnb,
    header.fixed .tnb {
        display: none;
    }
}/* //header media 880 */
/* header m_open */
header.m_open .gnb .gnb_wrap {
    display: block;
    position: absolute; /* header 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(161,181,184,0.85);
    backdrop-filter: blur(90px);
    color: #fff;
}
header.m_open .gnb .gnb_open {
    display: none;
}
header.m_open .gnb .gnb_close {
    display: block;
} 
header.m_open .gnb .gnb_wrap ul.depth1 {
    margin-top: 60px;
    height: calc(100% - 60px); /* scroll이 되야해서 header 높이만큼 전체 너비에서 빼 주어야 함. */
    width: 100%;
    overflow-y: auto;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
}
header.m_open .gnb .gnb_wrap ul.depth1>li>a {
    font-size: 1.37rem;
    text-align: left;
    padding: 0 0 0 20px;
    line-height: 3;
    white-space: nowrap;
}
header.m_open .gnb .gnb_wrap ul.depth1>li .depth2 {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    text-align: left;
    padding: 0 0 0 34px;
}
header.m_open .gnb .gnb_wrap ul.depth1>li.on .depth2 {
    display: block;
}
header.m_open .gnb .gnb_wrap ul.depth1>li .depth2::before {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    z-index: -1;
    border: 0px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    content: "";
}
header.m_open .gnb .gnb_wrap ul.depth1>li.on ul.depth2>li>a {
    color: rgba(255,255,255,0.6);
}
header.m_open .gnb .gnb_wrap ul.depth1>li.moremenu>a {
    position: relative;
}
header.m_open .gnb .gnb_wrap ul.depth1>li.moremenu>a::after {
    position: absolute;
    right: 25px;
    top: 21px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.96484 11L5.96484 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 6.03564L11 6.03565' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    content: "";
}
header.m_open .gnb .gnb_wrap ul.depth1>li.on>a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='3' viewBox='0 0 12 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.03564L11 1.03565' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
header.m_open .tnb {
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    right: auto;
    color: #fff;
}
header.m_open .tnb a {
    border-color: #fff;
}
header.m_open .tnb .booking>a {
    margin: 0 0 0 11px;
}
header.m_open .tnb .lang>a::before {
    top: 3px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00289 16C6.89667 16 5.85659 15.7901 4.88267 15.3702C3.90889 14.9504 3.06178 14.3806 2.34133 13.6609C1.62089 12.9412 1.05059 12.0948 0.630444 11.1218C0.210148 10.1489 0 9.10926 0 8.00289C0 6.89667 0.209926 5.85659 0.629778 4.88267C1.04963 3.90889 1.61941 3.06178 2.33911 2.34133C3.05881 1.62089 3.90519 1.05059 4.87822 0.630444C5.85111 0.210148 6.89074 0 7.99711 0C9.10333 0 10.1434 0.209927 11.1173 0.629778C12.0911 1.04963 12.9382 1.61941 13.6587 2.33911C14.3791 3.05882 14.9494 3.90519 15.3696 4.87822C15.7899 5.85111 16 6.89074 16 7.99711C16 9.10333 15.7901 10.1434 15.3702 11.1173C14.9504 12.0911 14.3806 12.9382 13.6609 13.6587C12.9412 14.3791 12.0948 14.9494 11.1218 15.3696C10.1489 15.7899 9.10926 16 8.00289 16ZM7.11111 15.0667V13.3333C6.62222 13.3333 6.2037 13.1593 5.85556 12.8111C5.50741 12.463 5.33333 12.0444 5.33333 11.5556V10.6667L1.06667 6.4C1.02222 6.66667 0.981481 6.93333 0.944444 7.2C0.907407 7.46667 0.888889 7.73333 0.888889 8C0.888889 9.79259 1.47778 11.363 2.65556 12.7111C3.83333 14.0593 5.31852 14.8444 7.11111 15.0667ZM13.2444 12.8C13.5407 12.4741 13.8074 12.1222 14.0444 11.7444C14.2815 11.3667 14.4778 10.9741 14.6333 10.5667C14.7889 10.1593 14.9074 9.74074 14.9889 9.31111C15.0704 8.88148 15.1111 8.44444 15.1111 8C15.1111 6.53956 14.7102 5.20578 13.9084 3.99867C13.1068 2.79156 12.0262 1.92133 10.6667 1.388V1.77778C10.6667 2.26667 10.4926 2.68519 10.1444 3.03333C9.7963 3.38148 9.37778 3.55556 8.88889 3.55556H7.11111V5.33333C7.11111 5.58519 7.02593 5.7963 6.85556 5.96667C6.68519 6.13704 6.47407 6.22222 6.22222 6.22222H4.44444V8H9.77778C10.0296 8 10.2407 8.08519 10.4111 8.25556C10.5815 8.42593 10.6667 8.63704 10.6667 8.88889V11.5556H11.5556C11.9407 11.5556 12.2889 11.6704 12.6 11.9C12.9111 12.1296 13.1259 12.4296 13.2444 12.8Z' fill='white'/%3E%3C/svg%3E%0A");
}
header.m_open .tnb .booking>a::before {
    top: 11px;
    background-color: #fff;
}
header.m_open .h_sns {
    display: flex;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 24px;
    margin: 0 20px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header.m_open .h_sns .h_sns01::before,
header.m_open .h_sns .h_sns02::before {
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
header.m_open .h_sns .h_sns01::before {
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.243 3.32544C13.6416 3.32544 13.1501 3.81694 13.1501 4.41825C13.1501 5.01955 13.6416 5.51105 14.243 5.51105C14.8443 5.51105 15.3358 5.01955 15.3358 4.41825C15.3358 3.81694 14.8443 3.32544 14.243 3.32544Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M9.39078 4.72681C6.86007 4.72681 4.80518 6.78693 4.80518 9.31241C4.80518 11.8379 6.8653 13.898 9.39078 13.898C11.9163 13.898 13.9764 11.8379 13.9764 9.31241C13.9764 6.78693 11.9163 4.72681 9.39078 4.72681ZM9.39078 12.251C7.76987 12.251 6.45223 10.9333 6.45223 9.31241C6.45223 7.6915 7.76987 6.37386 9.39078 6.37386C11.0117 6.37386 12.3293 7.6915 12.3293 9.31241C12.3293 10.9333 11.0117 12.251 9.39078 12.251Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M13.03 18.63H5.59475C2.5098 18.63 0 16.1202 0 13.0352V5.59998C0 2.5098 2.5098 0 5.59475 0H13.03C16.115 0 18.6248 2.5098 18.6248 5.59475V13.03C18.6248 16.115 16.115 18.6248 13.03 18.6248V18.63ZM5.59475 1.75163C3.47711 1.75163 1.75163 3.47711 1.75163 5.59475V13.03C1.75163 15.1477 3.47711 16.8731 5.59475 16.8731H13.03C15.1477 16.8731 16.8731 15.1477 16.8731 13.03V5.59475C16.8731 3.47711 15.1477 1.75163 13.03 1.75163H5.59475Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
header.m_open .h_sns .h_sns02::before {
    left: 40px;
    width: 24px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2852 6.64282C3.91203 6.64282 3.60962 6.9417 3.60962 7.3105C3.60962 7.67929 3.91203 7.97954 4.2852 7.97954C4.65836 7.97954 4.96078 7.68066 4.96078 7.3105C4.96078 6.94033 4.65836 6.64282 4.2852 6.64282Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M10.9646 6.57251C10.5623 6.57251 10.2363 6.89469 10.2363 7.29228C10.2363 7.68987 10.5623 8.01205 10.9646 8.01205C11.3669 8.01205 11.6929 7.68987 11.6929 7.29228C11.6929 6.89469 11.3669 6.57251 10.9646 6.57251Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M17.0116 0H2.62741C1.17637 0 0 1.1626 0 2.59666V11.0338C0 12.4678 1.17637 13.6304 2.62741 13.6304H7.70744L9.43593 17.6543C9.43593 17.6543 9.55523 18.0025 9.84239 18.0025C10.1309 18.0025 10.2488 17.6543 10.2488 17.6543L11.9773 13.6304H17.0116C18.4626 13.6304 19.639 12.4678 19.639 11.0338V2.59666C19.639 1.1626 18.4626 0 17.0116 0ZM6.16901 7.4582C6.16068 9.00057 4.54733 9.04444 4.54733 9.04444C3.92308 9.04444 3.57073 8.63589 3.57073 8.63589V8.9142H2.39574V4.12395C2.39574 4.12395 2.39019 4.12258 2.39574 4.12121V4.12395C2.46927 4.13492 3.57073 4.12121 3.57073 4.12121V5.95285C3.84678 5.48671 4.64583 5.49494 4.64583 5.49494C6.38541 5.65535 6.16762 7.4582 6.16762 7.4582H6.16901ZM8.23875 5.64301V8.92242H7.08874V5.67591C7.08874 5.23445 6.53385 5.11106 6.53385 5.11106V3.96628C8.37054 4.04032 8.23875 5.64301 8.23875 5.64301ZM10.9647 9.04718C9.89926 9.04718 9.03641 8.2616 9.03641 7.29368C9.03641 6.32576 9.89926 5.54018 10.9647 5.54018C12.03 5.54018 12.8929 6.32576 12.8929 7.29368C12.8929 8.2616 12.03 9.04718 10.9647 9.04718ZM17.2654 9.04718C17.2654 9.04718 17.2821 10.7129 15.5689 10.7129H15.0473V9.63397H15.3622C15.3622 9.63397 16.0821 9.69978 16.0738 8.60298C16.0738 8.60298 15.9337 9.04718 14.9238 9.04718C14.9238 9.04718 13.4922 8.94573 13.4922 7.56514V7.04142C13.4922 7.04142 13.5255 5.6101 15.0972 5.49631C15.0972 5.49631 15.7173 5.4305 16.0988 5.93777V5.5868H17.2654V9.04855V9.04718Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M15.4372 6.58911C15.0446 6.58911 14.7256 6.90444 14.7256 7.29243C14.7256 7.68042 15.0446 7.99575 15.4372 7.99575C15.8298 7.99575 16.1489 7.68042 16.1489 7.29243C16.1489 6.90444 15.8298 6.58911 15.4372 6.58911Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
/* //header m_open */

.chat {
    position: fixed;
    right: 3%;
    bottom: 4%;
    z-index: 90;
}
.chat .chat_wrap ul li a {
    font-size: 0;
    line-height: 0;
    position: relative; /* before 기준 정렬 */
}
.chat .chat_wrap ul li a::before {
    position: absolute;
    right: 2%;
    bottom: 32px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.75' fill='white' stroke='black' stroke-width='0.5'/%3E%3Cpath d='M38.9312 15.622V15.6139L36.1665 13.0584C35.5668 12.4105 34.7097 12 33.7599 12H15.296C13.481 12.004 12 13.481 12 15.3V35.6554C12 36.2228 12.1046 36.6414 12.3139 36.9432C12.3863 37.0478 12.4749 37.1364 12.5755 37.2088L15.2235 39.6516C15.2638 39.6959 15.3081 39.7361 15.3563 39.7723L15.3805 39.7925C15.4248 39.8206 15.465 39.8528 15.5133 39.881C15.6702 39.9615 15.8433 40.0017 16.0324 40.0017C16.5234 40.0017 16.954 39.716 17.0345 39.6597L20.1293 36.4925C20.7853 35.6997 22.552 35.5226 23.1798 35.5186H36.5488C38.3678 35.5186 39.8448 34.0376 39.8448 32.2226V17.8837C39.8448 17.0023 39.4906 16.2095 38.9232 15.622H38.9312ZM35.9492 15.6863V29.6349C35.9492 30.8462 34.9632 31.8322 33.7518 31.8322H20.3868C20.1011 31.8322 17.5899 31.8725 16.5194 33.1683L15.8996 33.8042L14.801 34.935L13.5735 36.1947C13.481 36.251 13.3321 36.3154 13.2355 36.3154H13.2234C13.2234 36.3154 13.0987 36.1987 13.0987 35.6514V15.3C13.0987 14.0887 14.0846 13.1027 15.296 13.1027H33.7518C34.7137 13.1027 35.5226 13.7265 35.8204 14.5877C35.8968 14.8131 35.9492 15.0505 35.9492 15.3V15.6863Z' fill='%231D1D1D'/%3E%3Cpath d='M19.2562 18.8936C18.3467 18.8936 17.6143 19.63 17.6143 20.5355V23.9844C17.6143 24.8899 18.3467 25.6264 19.2562 25.6264C20.1657 25.6264 20.8982 24.8899 20.8982 23.9844V20.5355C20.8982 19.63 20.1617 18.8936 19.2562 18.8936Z' fill='%231D1D1D'/%3E%3Cpath d='M29.4858 18.8936C28.5803 18.8936 27.8398 19.63 27.8398 20.5355V23.9844C27.8398 24.8899 28.5763 25.6264 29.4858 25.6264C30.3953 25.6264 31.1278 24.8899 31.1278 23.9844V20.5355C31.1278 19.63 30.3913 18.8936 29.4858 18.8936Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    content: "";
}
.chat .chat_wrap ul li .top {
    font-size: 0;
    line-height: 0;
    position: relative; /* before 기준 정렬 */
}
.chat .chat_wrap ul li .top::before {
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.75' fill='white' stroke='black' stroke-width='0.5'/%3E%3Cpath d='M32.9613 22.4616L31.8825 23.5232L25.7497 17.3905L25.7497 35.5L24.2497 35.5L24.2497 17.3905L18.117 23.5232L17.0381 22.4616L24.9997 14.5L32.9613 22.4616Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (max-width:1300px) {
    .chat .chat_wrap ul li a::before {
        bottom: 69px;
    }
    .chat .chat_wrap ul li .top::before {
        bottom: 35px;
    }
}
@media screen and (max-width:880px) {
    .chat .chat_wrap ul li a::before {
        width: 40px;
        height: 40px;
        bottom: 62px;
    }
    .chat .chat_wrap ul li .top::before {
        width: 40px;
        height: 40px;
    }
}

footer {
    margin-top: 182px;
    color: rgba(255,255,255,0.8);
}
footer .f_top {
    background: url(../imges/f_top_bg.png) no-repeat center center / cover;
    height: 412px;
    text-align: center;
    position: relative; /* before 정렬 기준 */
    color: #fff;
}
footer .f_top::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 262px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
footer .f_top .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_top strong {
    display: block;
    font-size: 3.12rem;
    font-weight: 800;
    margin-bottom: 17px;
}
footer .f_top span {
    display: block;
    font-size: 1.37rem;
}
footer .f_top a {
    display: none;
    margin-top: 41px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 14px 51px 14px 26px;
    position: relative; /* after 정렬 기준 */
}
footer .f_top a::after {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 18px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1153 13.6346L10.2306 12.7355L15.3412 7.62492H0.25V6.37492H15.3412L10.2306 1.2643L11.1153 0.365234L17.75 6.99992L11.1153 13.6346Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
footer .f_top .faq,
footer .f_top .map {
    margin-top: 10%;
    transition: 0.3s;
}
/* f_top에 마우스 오버 */
footer .f_top .faq:hover,
footer .f_top .map:hover {
    transform: translate(0, -15%);
}
footer .f_top .faq:hover a,
footer .f_top .map:hover a {
    display: inline-block;
}
footer .f_top .faq:hover a:hover,
footer .f_top .map:hover a:hover {
    background-color: #fff;
    color: var(--color-main-tit);
}
footer .f_top a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1153 13.6346L10.2306 12.7355L15.3412 7.62492H0.25V6.37492H15.3412L10.2306 1.2643L11.1153 0.365234L17.75 6.99992L11.1153 13.6346Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
footer .f_top .inactive {
    color: rgba(255,255,255,0.5);
}
/* //f_top에 마우스 오버 */
footer .f_sub {
    background-color: var(--color-main-tit);
}
footer .f_sub .f_info {
    display: flex;
    padding-top: 48px;
    margin-bottom: 20px;
}
footer .f_sub .f_info span {
    margin-right: 35px;
}
footer .f_sub .f_inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
footer .f_sub .f_inner .f_sns a {
    font-size: 0;
    line-height: 0;
    position: relative;
}
footer .f_sub .f_inner .f_sns a::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .f_sub .f_inner .f_sns a.insta::before {
    right: 58px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_88_717)'%3E%3Cpath d='M27.2404 6.35986C26.0904 6.35986 25.1504 7.29986 25.1504 8.44986C25.1504 9.59986 26.0904 10.5399 27.2404 10.5399C28.3904 10.5399 29.3304 9.59986 29.3304 8.44986C29.3304 7.29986 28.3904 6.35986 27.2404 6.35986Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M17.9604 9.04004C13.1204 9.04004 9.19043 12.98 9.19043 17.81C9.19043 22.64 13.1304 26.58 17.9604 26.58C22.7904 26.58 26.7304 22.64 26.7304 17.81C26.7304 12.98 22.7904 9.04004 17.9604 9.04004ZM17.9604 23.43C14.8604 23.43 12.3404 20.91 12.3404 17.81C12.3404 14.71 14.8604 12.19 17.9604 12.19C21.0604 12.19 23.5804 14.71 23.5804 17.81C23.5804 20.91 21.0604 23.43 17.9604 23.43Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M24.92 35.63H10.7C4.8 35.63 0 30.83 0 24.93V10.71C0 4.8 4.8 0 10.7 0H24.92C30.82 0 35.62 4.8 35.62 10.7V24.92C35.62 30.82 30.82 35.62 24.92 35.62V35.63ZM10.7 3.35C6.65 3.35 3.35 6.65 3.35 10.7V24.92C3.35 28.97 6.65 32.27 10.7 32.27H24.92C28.97 32.27 32.27 28.97 32.27 24.92V10.7C32.27 6.65 28.97 3.35 24.92 3.35H10.7Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_717'%3E%3Crect width='35.63' height='35.63' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .f_inner .f_sns a.blog::before {
    height: 33px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='33' viewBox='0 0 36 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_88_721)'%3E%3Cpath d='M7.85567 12.1772C7.17158 12.1772 6.61719 12.7252 6.61719 13.4012C6.61719 14.0773 7.17158 14.6277 7.85567 14.6277C8.53976 14.6277 9.09416 14.0798 9.09416 13.4012C9.09416 12.7226 8.53976 12.1772 7.85567 12.1772Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M20.1007 12.0488C19.3633 12.0488 18.7656 12.6395 18.7656 13.3683C18.7656 14.0972 19.3633 14.6878 20.1007 14.6878C20.8382 14.6878 21.4359 14.0972 21.4359 13.3683C21.4359 12.6395 20.8382 12.0488 20.1007 12.0488Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M31.1859 0H4.81661C2.15654 0 0 2.1313 0 4.76024V20.2273C0 22.8562 2.15654 24.9875 4.81661 24.9875H14.1294L17.2981 32.3641C17.2981 32.3641 17.5168 33.0025 18.0432 33.0025C18.5722 33.0025 18.7884 32.3641 18.7884 32.3641L21.957 24.9875H31.1859C33.846 24.9875 36.0025 22.8562 36.0025 20.2273V4.76024C36.0025 2.1313 33.846 0 31.1859 0ZM11.3091 13.6725C11.2939 16.5 8.33625 16.5804 8.33625 16.5804C7.19186 16.5804 6.54592 15.8315 6.54592 15.8315V16.3417H4.39192V7.56009C4.39192 7.56009 4.38175 7.55758 4.39192 7.55506V7.56009C4.5267 7.5802 6.54592 7.55506 6.54592 7.55506V10.9129C7.05199 10.0583 8.51681 10.0734 8.51681 10.0734C11.7058 10.3675 11.3066 13.6725 11.3066 13.6725H11.3091ZM15.1034 10.3449V16.3567H12.9952V10.4052C12.9952 9.59589 11.978 9.36969 11.978 9.36969V7.27106C15.345 7.40678 15.1034 10.3449 15.1034 10.3449ZM20.1006 16.5855C18.1475 16.5855 16.5657 15.1453 16.5657 13.3709C16.5657 11.5965 18.1475 10.1564 20.1006 10.1564C22.0537 10.1564 23.6355 11.5965 23.6355 13.3709C23.6355 15.1453 22.0537 16.5855 20.1006 16.5855ZM31.6513 16.5855C31.6513 16.5855 31.6818 19.6391 28.5411 19.6391H27.5849V17.6612H28.1622C28.1622 17.6612 29.4821 17.7818 29.4668 15.7711C29.4668 15.7711 29.2099 16.5855 27.3586 16.5855C27.3586 16.5855 24.7341 16.3995 24.7341 13.8685V12.9085C24.7341 12.9085 24.7951 10.2845 27.6765 10.0759C27.6765 10.0759 28.8132 9.95529 29.5126 10.8852V10.2418H31.6513V16.588V16.5855Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M28.2997 12.0791C27.58 12.0791 26.9951 12.6572 26.9951 13.3684C26.9951 14.0797 27.58 14.6578 28.2997 14.6578C29.0194 14.6578 29.6043 14.0797 29.6043 13.3684C29.6043 12.6572 29.0194 12.0791 28.2997 12.0791Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_88_721'%3E%3Crect width='36' height='33' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .copy {
    color: rgba(255,255,255,0.6);
    margin-bottom: 25px;
}
@media screen and (max-width:1300px) {
    footer .f_top {
        height: 350px;
    }
    footer .f_top::before {
        height: 221px;
    }
    footer .f_top strong {
        font-size: 2.68rem;
    }
    footer .f_top span {
        font-size: 1.18rem;
    }
    footer .f_top .faq,
    footer .f_top .map {
        margin-top: 12%;
    }
}/* //footer_media_1300 */
@media screen and (max-width:880px) {
    footer {
        margin-top: 75px;
    }
    footer .f_top {
        height: 369px;
    }
    footer .f_top .wrapper {
        display: block;
    }
    footer .f_top::before {
        width: 262px;
        height: 1px;
    }
    footer .f_top strong {
        font-size: 1.87rem;
        margin-bottom: 9px;
    }
    footer .f_top span {
        font-size: 14px;
    }
    footer .f_top a {
        display: inline-block;
        margin-top: 18px;
        padding: 6px 37px 6px 21px;
    }
    footer .f_top a::after {
        right: 15px;
        top: 11px;
        width: 13px;
        height: 10px;
    }
    footer .f_top .faq,
    footer .f_top .map {
        margin-top: 0;
        padding-top: 42px;
    }
    footer .f_top .faq:hover,
    footer .f_top .map:hover {
        transform: translate(0, 0);
    }
    footer .f_sub .f_info {
        display: block;
        padding-top: 28px;
        margin-bottom: 52px;
        text-align: center;
    }
    footer .f_sub .f_info span {
        display: block;
        margin-bottom: 7px;
    }
    
    footer .f_sub .copy {
        text-align: center;
    }
    footer .f_sub .f_inner .f_logo {
        width: 98px;
        height: 38px;
    }
    footer .f_sub .f_inner .f_logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    footer .f_sub .f_inner .f_sns a.insta::before {
        right: 30px;
        width: 23px;
        height: 23px;
    }
    footer .f_sub .f_inner .f_sns a.blog::before {
        width: 24px;
        height: 22px;
    }
}


