@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.sec_fir,
.sec_sec,
.sec_thi {
    background-color: #3218CA;
 }
section {
    height: 100vh;
    font-size: 100px;
    text-align: center;
}
.sec_port {
    position: relative;
    background: url(../images/main/portfolio_bg.png) no-repeat center center / cover;
}
.sec_port h2 {
    display: none;
}
.sec_port .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 590px;
    height: 265px;
    animation-name : fadein;
    animation-duration: 1s;
    animation-timing-function : linear;
    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -webkit-animation: fadein;
    -webkit-animation-duration: 1s;
    -o-animation: fadein;
    -o-animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {opacity: 0; position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%);}
    100% {opacity: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
}
.sec_port .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.deco {
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
}
.deco .star {
    background: url(../images/main/port_glitter.png) no-repeat center center / cover;
    position: absolute;
}
.deco .star1 {
    width: 56px;
    height: 56px;
    left: 30%;
    top: 14%;
    animation-name : star1;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: star1;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: star1;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: star1;
    -o-animation-duration: 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star1 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.deco .star2 {
    width: 47px;
    height: 47px;
    left: 20%;
    top: 55%;
    animation-name : star2;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: star2;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: star2;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: star2;
    -o-animation-duration: 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.deco .star3 {
    width: 58px;
    height: 58px;
    left: 24%;
    bottom: 15%;
    animation-name : star3;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: star3;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: star3;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: star3;
    -o-animation-duration: 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star3 {
    0% {opacity: 0.25;}
    25% {opacity: 0;}
    50% {opacity: 0.5;}
    70% {opacity: 1;}
    100% {opacity: 0.25;}
}
.deco .star4 {
    width: 58px;
    height: 58px;
    right: 17%;
    top: 9%;
    animation-name : star4;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: star4;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: star4;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: star4;
    -o-animation-duration: 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star4 {
    0% {opacity: 0.3;}
    25% {opacity: 0;}
    50% {opacity: 0.6;}
    70% {opacity: 1;}
    100% {opacity: 0.3;}
}
.deco .star5 {
    width: 56px;
    height: 56px;
    right: 28%;
    bottom: 27%;
    animation-name : star5;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: star5;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: star5 3s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: star5;
    -o-animation-duration: 3s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes star5 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.deco .cir {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}
.deco .cir1 {
    width: 16px;
    height: 16px;
    left: 25%;
    top: 40%;
    animation-name : cir1;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: cir1;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: cir1;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: cir1;
    -o-animation-duration: 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir1 {
    0% {opacity: 0.5;}
    25% {opacity: 0;}
    75% {opacity: 0.9;}
    100% {opacity: 0.5;}
}
.deco .cir2 {
    width: 11px;
    height: 11px;
    left: 10%;
    top: 25%;
    animation-name : cir2;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: cir2;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: cir2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: cir2;
    -o-animation-duration: 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir2 {
    0% {opacity: 0;}
    25% {opacity: 0.3;}
    75% {opacity: 0.7;}
    100% {opacity: 0;}
}
.deco .cir3 {
    width: 11px;
    height: 11px;
    right: 25%;
    top: 48%;
    animation-name : cir3;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: cir3;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: cir3;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: cir3;
    -o-animation-duration: 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir3 {
    0% {opacity: 0.7;}
    25% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0.7;}
}
.deco .cir4 {
    width: 16px;
    height: 16px;
    right: 18%;
    bottom: 20%;
    animation-name : cir4;
    animation-duration: 5s;
    animation-timing-function : linear;
    animation-iteration-count : infinite;
    animation-direction : normal;
    -moz-animation-name: cir4;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function : linear;
    -moz-animation-iteration-count : infinite;
    -moz-animation-direction : normal;
    -webkit-animation-name: cir4;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : normal;
    -o-animation-name: cir4;
    -o-animation-duration: 5s;
    -o-animation-timing-function : linear;
    -o-animation-iteration-count : infinite;
    -o-animation-direction : normal;
}
@keyframes cir4 {
    0% {opacity: 0;}
    25% {opacity: 0.9;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}
@media screen and (max-width:1599px){
    .sec_port .photo {
        height: 521px;
    }
    .sec_port .photo img {
        vertical-align:middle
    }
    .deco .star1 {
        width: 50px;
        height: 50px;
        left: 26%;
        top: 10%;
    }
    .deco .star2 {
        width: 40px;
        height: 40px;
        left: 13%;
        top: 55%;
    }
    .deco .star3 {
        width: 55px;
        height: 55px;
        left: 20%;
        bottom: 11%;
    }
    .deco .star4 {
        width: 55px;
        height: 55px;
        right: 21%;
        top: 7%;
    }
    .deco .star5 {
        width: 48px;
        height: 48px;
        right: 21%;
        bottom: 19%;
    }
    .deco .cir1 {
        width: 15px;
        height: 15px;
        left: 20%;
        top: 31%;
    }
    .deco .cir2 {
        width: 10px;
        height: 10px;
        left: 9%;
        top: 13%;
    }
    .deco .cir3 {
        width: 9px;
        height: 9px;
        right: 15%;
        top: 22%;
    }
    .deco .cir4 {
        width: 13px;
        height: 13px;
        right: 13%;
        bottom: 10%;
    }
}


.sec_pro {
    background-color: var(--color-pro);
    width: 100vw;
}
.sec_pro .wrapper {
    display: flex;
}
.sec_pro .me {
    width: 392px;
    text-align: center;
    position: relative;
}
.sec_pro .me::after {
    position: absolute;
    right: -5px;
    top: 5%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.sec_pro .me::before {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    width: 1px;
    height: 829px;
    background-color: #fff;
    content: "";
}
@media screen and (max-height:900px){
    .sec_pro .me::after {
        right: -4px;
        width: 10px;
        height: 10px;
    }
    .sec_pro .me::before {
        height: 600px;
    }
}
@media screen and (max-width:1599px){
    .sec_pro .me {
        width: 401px;
    }
}
.sec_pro .me .about {
    width: 313px;
}
.sec_pro .me .about .photo {
    width: 313px;
    height: 349px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 100px 0 28px 0;
}
.sec_pro .me .about .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sec_pro .me .about .name {
    font-family: "ExtraBold";
    font-size: 2.6rem;
    line-height: 1;
    margin-bottom: 9px;
}
.sec_pro .me  .about span {
    display: block;
    font-family: "light";
    color: var(--color-w80);
}
.sec_pro .me .about strong {
    display: block;
    line-height: 1;
    font-family: "Medium";
    font-size: 1.7rem;
    margin-bottom: 15px;
}
.sec_pro .me .about strong.birth {
    margin-top: 48px;
}
.sec_pro .my {
    margin: 4% 0 0 116px;
}
.sec_pro .my h3 {
    font-family: "ExtraBold";
    font-size: 2.5rem;
    margin-bottom: 27px;
}
.sec_pro .my ul {
    margin: 0 0 65px 15px;
}
.sec_pro .my ul li {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}
.sec_pro .my ul li strong::after {
    position: absolute;
    left: -18px;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    content: "";
}
.sec_pro .my .ski ul li::after h3 {
    display: none;
}
.sec_pro .my ul li:last-child {
    margin-bottom: 0;
}
.sec_pro .my ul li strong {
    margin-right: 29px;
}
.sec_pro .my .ski ul {
    display: flex;
    margin: 0 62px 0 0;
}
.sec_pro .my .ski ul li {
    display: block;
}
.sec_pro .my .ski ul li h4 {
    font-family: "SemiBold";
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.sec_pro .my .ski ul > li > ul {
    display: inline-block;
    margin-left: 15px;
}
.sec_pro .my .ski ul > li > ul > li {
    position: relative;
}
.sec_pro .my .ski ul > li > ul > li::after {
    position: absolute;
    left: -18px;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    content: "";
}
@media screen and (max-width:1599px){
    .sec_pro .me {
        width: 359px;
    }
    .sec_pro .me::before {
        margin-top: 50px;
        height: 733px;
    }
    .sec_pro .me .about {
        width: 300px;
    }
    .sec_pro .me .about .photo {
        width: 300px;
        height: 336px;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        margin: 50px 0 20px 0;
    }
    .sec_pro .me .about .name {
        font-size: 2.4rem;
        margin-bottom: 5px;
    }
    .sec_pro .me .about strong {
        font-size: 1.5rem;
    }
    .sec_pro .me .about strong.birth {
        margin-top: 30px;
    }
    .sec_pro .my {
        margin: 5% 0 0 53px;
    }
    .sec_pro .my h3 {
        font-size: 2.3rem;
        margin-bottom: 14px;
    }
    .sec_pro .my ul {
        margin: 0 0 46px 15px;
    }
    .sec_pro .my ul li {
        margin-bottom: 14px;
    }
    .sec_pro .my ul li strong {
        margin-right: 20px;
    }
    .sec_pro .my .ski ul {
        margin: 0 40px 0 0;
    }
    .sec_pro .my .ski ul li h4 {
        font-size: 1.4rem;
        margin-bottom: 16px;
    }
}
.sec_fir {
    width: 100vw;
    height: 100vh;
}
.sec_fir .wrapper {
    position: relative;
}
.sec_fir .tit .photo_tit {
    margin-bottom: 32px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sec_fir .tit .photo_tit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_fir .right .mockup {
    position: absolute;
    left: -190px;
    top: 194px;
}
.sec_fir .right .mockup a .photo {
    width: 978px;
    height: 780px;
    overflow: hidden;
}
.sec_fir .right .mockup a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_fir .right {
    width: 500px;
    font-size: 20px;
    margin-left: 845px;
}
.sec_fir .right .tit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 22px;
}
.sec_fir .right .tit h3 {
    font-family: "ExtraBold";
    font-size: 40px;
    line-height: 1;
    margin-right: 10px;
}
.sec_fir .right .menu {
    display: flex;
    margin-bottom: 36px;
}
.sec_fir .right .menu li {
    margin-right: 19px;
}
.sec_fir .right .menu li a {
    padding: 8px 48px 7px 29px;
    background-color: var(--color-white);
    border-radius: 50px;
    color: #3E26CD;
    font-family: "Bold";
    font-size: 20px;
    transition: 0.2s;
}
.sec_fir .right .menu li a:hover {
    color: #fff;
    background-color: #0F0F0F;
}
.sec_fir .right .menu li a span {
    position: relative;
}
.sec_fir .right .menu li a span::before {
    position: absolute;
    right: -17px;
    top: 1px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='%233E26CD'/%3E%3C/svg%3E%0A");
}
.sec_fir .right .menu li a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec_fir .right .read {
    padding-left: 21px;
    margin-bottom: 44px;
}
.sec_fir .right .read li {
    display: flex;
    margin-bottom: 15px;
}
.sec_fir .right .read li:last-child {
    margin-bottom: 0;
}
.sec_fir .right .read li h4 {
    font-family: "Bold";
    width: 109px;
    position: relative;
    margin-right: 18px;
}
.sec_fir .right .read li h4::after {
    position: absolute;
    left: -21px;
    top: 10px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    content: "";
}
.sec_fir .right .exp p {
    line-height: 1.4;
}
.sec_fir .right .exp p:first-child {
    margin-bottom: 8px;
}
@media screen and (max-width:1599px){
    .sec_fir .tit .photo_tit {
        margin-bottom: 16px;
        width: 1000px;
    }
    .sec_fir .right .mockup {
        left: -155px;
    }
    .sec_fir .right .mockup a .photo {
        width: 678px;
        height: 541px;
    }
    .sec_fir .right {
        width: 418px;
        font-size: 16px;
        margin-left: 565px;
    }
    .sec_fir .right .tit h3 {
        font-size: 35px;
        margin-right: 10px;
    }
    .sec_fir .right .menu {
        margin-bottom: 30px;
    }
    .sec_fir .right .menu li {
        margin-right: 13px;
    }
    .sec_fir .right .menu li a {
        padding: 6px 37px 6px 23px;
        font-size: 16px;
    }
    .sec_fir .right .menu li a:hover {
        color: #fff;
        background-color: #0F0F0F;
    }
    .sec_fir .right .menu li a span::before {
        right: -15px;
        top: 1px;
        width: 14px;
        height: 14px;
    }
    .sec_fir .right .read {
        margin-bottom: 32px;
    }
    .sec_fir .right .read li {
        display: flex;
        margin-bottom: 15px;
    }
    .sec_fir .right .read li h4 {
        width: 90px;
        margin-right: 15px;
    }
    .sec_fir .right .exp p:first-child {
        margin-bottom: 5px;
    } 
}
.sec_sec {
    width: 100vw;
    height: 100vh;
}
.sec_sec .wrapper {
    position: relative;
}
.sec_sec .tit .photo_tit {
    margin-bottom: 32px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sec_sec .tit .photo_tit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_sec .left {
    width: 528px;
    font-size: 20px;
}
.sec_sec .left .tit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 22px;
}
.sec_sec .left .tit h3 {
    font-family: "ExtraBold";
    font-size: 40px;
    line-height: 1;
    margin-right: 10px;
}
.sec_sec .left .menu {
    display: flex;
    margin-bottom: 36px;
}
.sec_sec .left .menu li {
    margin-right: 19px;
}
.sec_sec .left .menu li a {
    padding: 8px 48px 7px 29px;
    font-size: 16px;
    background-color: var(--color-white);
    border-radius: 50px;
    color: #3E26CD;
    font-family: "Bold";
    transition: 0.2s;
}
.sec_sec .left .menu li a:hover {
    color: #fff;
    background-color: #0F0F0F;
}
.sec_sec .left .menu li a span {
    position: relative;
}
.sec_sec .left .menu li a span::before {
    position: absolute;
    right: -17px;
    top: 1px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='%233E26CD'/%3E%3C/svg%3E%0A");
}
.sec_sec .left .menu li a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec_sec .left .read {
    padding-left: 21px;
    margin-bottom: 44px;
}
.sec_sec .left .read li {
    display: flex;
    margin-bottom: 15px;
}
.sec_sec .left .read li:last-child {
    margin-bottom: 0;
}
.sec_sec .left .read li h4 {
    font-family: "Bold";
    width: 109px;
    position: relative;
    margin-right: 18px;
}
.sec_sec .left .read li h4::after {
    position: absolute;
    left: -21px;
    top: 10px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    content: "";
}
.sec_sec .left .exp p {
    line-height: 1.4;
}
.sec_sec .left .exp p:first-child {
    margin-bottom: 8px;
}
.sec_sec .mockup {
    position: absolute;
    right: -45px;
    top: 248px;
}
.sec_sec .mockup a .photo {
    width: 925px;
    height: 598px;
    overflow: hidden;
}
.sec_sec .mockup a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1599px){
    .sec_sec .tit .photo_tit {
        margin-bottom: 16px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .sec_sec .tit .photo_tit img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .sec_sec .mockup {
        position: absolute;
        right: 20px;
        top: 292px;
    }
    .sec_sec .tit .mockup a .photo {
        width: 625px;
        height: 407px;
    }
    .sec_sec .left {
        width: 436px;
        font-size: 16px;
        margin-left: 0;
    }
    .sec_sec .left .tit h3 {
        font-size: 35px;
        margin-right: 10px;
    }
    .sec_sec .left .menu {
        margin-bottom: 30px;
    }
    .sec_sec .left .menu li {
        margin-right: 13px;
    }
    .sec_sec .left .menu li a {
        padding: 6px 37px 6px 23px;
        font-size: 16px;
    }
    .sec_sec .left .menu li a span::before {
        right: -15px;
        top: 1px;
        width: 14px;
        height: 14px;
    }
    .sec_sec .left .read {
        margin-bottom: 32px;
    }
    .sec_sec .left .read li {
        display: flex;
        margin-bottom: 15px;
    }
    .sec_sec .left .read li h4 {
        width: 90px;
        margin-right: 15px;
    }
    .sec_sec .left .exp p:first-child {
        margin-bottom: 5px;
    } 
}

.sec_thi {
    width: 100vw;
    height: 100vh;
}
.sec_thi .wrapper {
    position: relative;
}
.sec_thi .tit .photo_tit {
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sec_thi .tit .photo_tit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_thi .right .mockup {
    position: absolute;
    left: -106px;
    top: 194px;
}
.sec_thi .right .mockup a .photo {
    width: 868px;
    height: 827px;
    overflow: hidden;
}
.sec_thi .right .mockup a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec_thi .right {
    width: 493px;
    font-size: 20px;
    margin-left: 845px;
}
.sec_thi .right .tit {
    display: flex;
    align-items: flex-end;
    margin-bottom: 22px;
}
.sec_thi .right .tit h3 {
    font-family: "ExtraBold";
    font-size: 40px;
    line-height: 1;
    margin-right: 10px;
}
.sec_thi .right .menu {
    display: flex;
    margin-bottom: 36px;
}
.sec_thi .right .menu li {
    margin-right: 19px;
}
.sec_thi .right .menu li a {
    padding: 8px 48px 7px 29px;
    background-color: var(--color-white);
    border-radius: 50px;
    color: #3E26CD;
    font-family: "Bold";
    font-size: 20px;
    transition: 0.2s;
}
.sec_thi .right .menu li a:hover {
    color: #fff;
    background-color: #0F0F0F;
}
.sec_thi .right .menu li a span {
    position: relative;
}
.sec_thi .right .menu li a span::before {
    position: absolute;
    right: -17px;
    top: 1px;
    width: 16px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='%233E26CD'/%3E%3C/svg%3E%0A");
}
.sec_thi .right .menu li a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H8V3.33333H3.33333V12.6667H12.6667V8H14V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM6.46667 10.4667L5.53333 9.53333L11.7333 3.33333H9.33333V2H14V6.66667H12.6667V4.26667L6.46667 10.4667Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec_thi .right .read {
    padding-left: 21px;
    margin-bottom: 44px;
}
.sec_thi .right .read li {
    display: flex;
    margin-bottom: 15px;
}
.sec_thi .right .read li:last-child {
    margin-bottom: 0;
}
.sec_thi .right .read li h4 {
    font-family: "Bold";
    width: 109px;
    position: relative;
    margin-right: 18px;
}
.sec_thi .right .read li h4::after {
    position: absolute;
    left: -21px;
    top: 10px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    content: "";
}
.sec_thi .right .exp p {
    line-height: 1.4;
}
.sec_thi .right .exp p:first-child {
    margin-bottom: 8px;
}
@media screen and (max-width:1599px){
    .sec_thi .tit .photo_tit {
        margin-bottom: 16px;
    }
    .sec_thi .right .mockup {
        left: -155px;
    }
    .sec_thi .right .mockup a .photo {
        width: 678px;
        height: 541px;
    }
    .sec_thi .right {
        width: 418px;
        font-size: 16px;
        margin-left: 565px;
    }
    .sec_thi .right .tit h3 {
        font-size: 35px;
        margin-right: 10px;
    }
    .sec_thi .right .menu {
        margin-bottom: 30px;
    }
    .sec_thi .right .menu li {
        margin-right: 13px;
    }
    .sec_thi .right .menu li a {
        padding: 6px 37px 6px 23px;
        font-size: 16px;
    }
    .sec_thi .right .menu li a:hover {
        color: #fff;
        background-color: #0F0F0F;
    }
    .sec_thi .right .menu li a span::before {
        right: -15px;
        top: 1px;
        width: 14px;
        height: 14px;
    }
    .sec_thi .right .read {
        margin-bottom: 32px;
    }
    .sec_thi .right .read li {
        display: flex;
        margin-bottom: 15px;
    }
    .sec_thi .right .read li h4 {
        width: 90px;
        margin-right: 15px;
    }
    .sec_thi .right .exp p:first-child {
        margin-bottom: 5px;
    } 
}
.sec_end {
    width: 100vw;
    position: relative;
    background: url(../images/main/portfolio_bg.png) no-repeat center center / cover;
}
.sec_end h2 {
    display: none;
}
.sec_end .photo {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 590px;
    height: 265px;
    animation-name : fadein;
    animation-duration: 1s;
    animation-timing-function : linear;
    -moz-animation-name: fadein;
    -moz-animation-duration: 1s;
    -webkit-animation: fadein;
    -webkit-animation-duration: 1s;
    -o-animation: fadein;
    -o-animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {opacity: 0; position: absolute; left: 50%; top: 45%; transform: translate(-50%, -65%);}
    100% {opacity: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
}
.sec_end .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width:1599px){
    .sec_port .photo {
        height: 521px;
    }
    .sec_port .photo img {
        vertical-align:middle
    }
}











/* animation-name : cir2;
animation-duration: 5s;
animation-timing-function : linear;
animation-iteration-count : infinite;
animation-direction : normal;
-moz-animation-name: cir2;
-moz-animation-duration: 5s;
-moz-animation-timing-function : linear;
-moz-animation-iteration-count : infinite;
-moz-animation-direction : normal;
-webkit-animation-name: cir2;
-webkit-animation-duration: 5s;
-webkit-animation-timing-function : linear;
-webkit-animation-iteration-count : infinite;
-webkit-animation-direction : normal;
-o-animation-name: cir2;
-o-animation-duration: 5s;
-o-animation-timing-function : linear;
-o-animation-iteration-count : infinite;
-o-animation-direction : normal;
}
@keyframes cir2 {
0% {opacity: 0;}
25% {opacity: 0.3;}
75% {opacity: 0.7;}
100% {opacity: 0;}
} */






















.page {
    position: fixed;
    right: 40px;
    bottom: 27%;
    z-index: 9999;
    color: #fff;
    text-align: right;
}
.page ul li a {
    font-family: "Regular";
    color: var(--color-w50);
    display: block;
    margin-bottom: 59px;
    padding-right: 42px;
    position: relative;
}
.page ul li:last-child a {
    margin-bottom: 0;
}
.page ul li a:hover,
.page ul li.on a {
    font-family: "SemiBold";
    color: var(--color-white);
}
.page ul li a::after {
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: var(--color-white);
    width: 1px;
    height: 77px;
    content: "";
}
.page ul li:last-child a::after {
    display: none;
}
.page ul li a::before {
    position: absolute;
    top: 4px;
    right: 0px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
    content: "";
}
.page ul li a span::after {
    position: absolute;
    top: 46%;
    right: 0;
    width: 32px;
    height: 1px;
    background-color: var(--color-white);
    content: "";
}
.page ul li.active a span::before,
.page ul li a:hover span::before {
    position: absolute;
    top: 8px;
    right: 27px;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background-color: var(--color-white);
    content: "";
}
@media screen and (max-width:1200px){
    .page {
        right: 74px;
        bottom: 27%;
        z-index: 9999;
    }
}