html, body {
    font-family: 'Paperlogy';
    /* font 여러 개 선언이란, 첫번째 폰트를 1순위로 적용한다.
    만약 그게 지원 안되면 2순위 폰트를 적용한다. 따라서, 영문만 지원하는 폰트를 1순위로 쓰고,
    2순위로 한글 지원 폰트를 선언한다. 그러면 영문, 숫자, 특수문자는 영문 폰트 적용,
    한글은 한글 폰트 적용. */
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0; /* 자간 */
    line-height: 1.4; /* 배수 - 글자크기에 1.2배 */
    color: #3d3d3d; /* 글자 색상 */
    background-color: #F6EDE6;
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 강제 줄바꿈 실행 명령 */
}
/* 홈페이지의 넓이 제한, 가운데 정렬 기능을 수행함 .*/
/* 홈페이지 전체를 감싸는 요소 - 가로 스크롤 바가 생겼을 때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1300px;
    overflow: hidden;
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 명령 */
}
/* 1260px 나의 wrapper의 사이즈에 좌우 여백 20px씩 더한 사이즈가 1300px임. 이 사이즈부터 반응형을
하겠다는 선언임. */
@media screen and (max-width:1300px) {
    .wrapper {
        /* 너비가 빠져야함 */
        width: 1260px;
        margin: 0 20px; /* 좌우에 20px씩 부여함 */
    }
}/*media1300*/


::selection {
    background-color: #f3d7a1;
    color: #1d1d1d;
}