@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

header {
    height: 105px;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header ul li a {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 105px;
    text-shadow: -1px 0px #1d1d1d, 0px 1px #1d1d1d, 1px 0px #1d1d1d, 0px -1px #1d1d1d;
    color: #F6EDE6;
}
header ul li.on a {
    color: #E87C60;

}

.container {
    overflow: hidden;
}

.home .photo {
    font-size: 0;
    line-height: 0;
    width: 962px;
    height: 684px;
    margin: 0 auto;
    margin-top: 30px;
}
.home .photo img {
    width: 100%;
    height: 100%;
}
.home .loop {
    position: relative;
    color: #E87C60;
    font-family: "Playfair Display", serif;
    font-size: 85px;
    font-weight: 900;
    text-shadow: -1px 0px #1d1d1d, 0px 1px #1d1d1d, 1px 0px #1d1d1d, 0px -1px #1d1d1d;
    height: 100px;
    margin-top: 14px;
    overflow: hidden;
}
.home .loop span {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    white-space: nowrap;
    /* transform: translate(-25.2%, 0); */
    animation-name: loop_ani;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loop_ani {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-50.15%, 0);}
}

.contact {
    position: fixed;
    right: 64px;
    bottom: 41px;
    z-index: 10;
    animation: spin 10s infinite linear;
}
@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

.contact {
    cursor: pointer;
    overflow: hidden;
}
.contact .inner {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: #1d1d1d;
    /* transition: 0.3s; */
}
.contact .inner ul {
    display: none;
}
.contact .inner ul li {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 27px;
    color: #fff;
    text-align: center;
}
.contact .inner button {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 32px;
    color: #fff;
    height: 100%;
}
.contact:hover {
    animation: none;
}
.contact:hover .inner {
    width: 406px;
    border-radius: 74px;
}
.contact:hover ul {
    display: block;
    padding-top: 17px;
}
.contact:hover button {
    display: none;
}

.aboutme {
    margin: 0 6%;
    display: flex;
}
.aboutme .intro {
    position: relative; /* keyword 정렬 기준 */
}
.aboutme .intro .photo {
    font-size: 0;
    line-height: 0;
    width: 580px;
    height: 502px;
    margin-top: 58px;
}
.aboutme .intro .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutme .intro .words {
    margin: 27px 0 0 16%;
}
.aboutme .intro .words strong {
    display: block;
    font-size: 26px;
    color: #1d1d1d;
    margin-bottom: 21px;
}
.aboutme .intro .words strong span {
    font-weight: 800;
}
.aboutme .intro .words p {
    width: 355px;
    font-weight: 400;
    line-height: 1.5;
}
.aboutme .intro .keyword {
    position: absolute;
    right: 1%;
    top: 11%;
}
.aboutme .intro .keyword .inner {
    width: 147px;
    height: 187px;
    border: 1px solid #1d1d1d;
    background-color: #F6EDE6;
}
.aboutme .intro .keyword .inner strong {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    color: #1d1d1d;
    background-color: #6096E8;
    border: 1px solid #1d1d1d;
    border-top: 0;
    border-radius: 0 0 50px 50px;
    padding: 2px 25px;
    margin-bottom: 16px;
}
.aboutme .intro .keyword .inner span {
    display: block;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #1d1d1d;
    margin-left: 19px;
}
.aboutme .info ul {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 0 72px;
}
.aboutme .info ul li {
    width: 50%;
}
.aboutme .info ul li h1 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 25px;
    color: #1d1d1d;
    background-color: #E87C60;
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    margin: 0 4% 41px 0;
    padding: 0 23px 3px 23px;
}
.aboutme .info ul li a {
    display: block;
    margin-left: 79px;
}
.aboutme .info ul li a strong {
    position: relative;
    display: block;
    font-size: 21px;
    font-weight: 800;
    color: #1d1d1d;
    margin-bottom: 15px;
}
.aboutme .info ul li a strong::before {
    position: absolute;
    left: -53px;
    top: -20px;
    width: 38px;
    height: 47px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='47' viewBox='0 0 38 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_64_1676' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='47'%3E%3Cpath d='M13.2978 0.330132C13.2978 0.330132 19.9498 6.98072 13.2978 13.6313C6.64571 20.2819 8.69275 22.7751 8.69275 22.7751C8.69275 22.7751 5.62381 21.114 6.9885 13.9623C6.9885 13.9623 0.165039 20.3638 0.165039 26.1004C0.165039 33.416 1.38097 45.053 17.5632 46.5501C33.2572 48 44.0033 27.2634 33.4254 20.7799C33.4254 20.7799 31.8893 24.5969 28.733 23.686C25.5768 22.7751 28.0507 16.4586 28.0507 16.4586C28.0507 16.4586 29.5868 10.8072 25.3213 4.90359C21.0558 -0.999985 13.2978 0.330132 13.2978 0.330132Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_64_1676)'%3E%3Cpath d='M44.0002 46.0017H0.161865V46.6195H44.0002V46.0017Z' fill='%23FF8C00'/%3E%3Cpath d='M44.0002 45.3839H0.161865V46.0017H44.0002V45.3839Z' fill='%23FF8B01'/%3E%3Cpath d='M44.0002 44.7661H0.161865V45.3839H44.0002V44.7661Z' fill='%23FF8A01'/%3E%3Cpath d='M44.0002 44.1451H0.161865V44.7629H44.0002V44.1451Z' fill='%23FF8902'/%3E%3Cpath d='M44.0002 43.5273H0.161865V44.1451H44.0002V43.5273Z' fill='%23FE8803'/%3E%3Cpath d='M44.0002 42.9097H0.161865V43.5274H44.0002V42.9097Z' fill='%23FE8704'/%3E%3Cpath d='M44.0002 42.2887H0.161865V42.9065H44.0002V42.2887Z' fill='%23FE8604'/%3E%3Cpath d='M44.0002 41.6709H0.161865V42.2887H44.0002V41.6709Z' fill='%23FE8505'/%3E%3Cpath d='M44.0002 41.0499H0.161865V41.6677H44.0002V41.0499Z' fill='%23FE8406'/%3E%3Cpath d='M44.0002 40.4323H0.161865V41.05H44.0002V40.4323Z' fill='%23FE8306'/%3E%3Cpath d='M44.0002 39.8145H0.161865V40.4322H44.0002V39.8145Z' fill='%23FD8207'/%3E%3Cpath d='M44.0002 39.1935H0.161865V39.8113H44.0002V39.1935Z' fill='%23FD8108'/%3E%3Cpath d='M44.0002 38.5757H0.161865V39.1935H44.0002V38.5757Z' fill='%23FD8009'/%3E%3Cpath d='M44.0002 37.9579H0.161865V38.5757H44.0002V37.9579Z' fill='%23FD7F09'/%3E%3Cpath d='M44.0002 37.337H0.161865V37.9548H44.0002V37.337Z' fill='%23FD7E0A'/%3E%3Cpath d='M44.0002 36.7192H0.161865V37.337H44.0002V36.7192Z' fill='%23FD7D0B'/%3E%3Cpath d='M44.0002 36.0983H0.161865V36.716H44.0002V36.0983Z' fill='%23FC7C0B'/%3E%3Cpath d='M44.0002 35.4805H0.161865V36.0982H44.0002V35.4805Z' fill='%23FC7B0C'/%3E%3Cpath d='M44.0002 34.8627H0.161865V35.4805H44.0002V34.8627Z' fill='%23FC7A0D'/%3E%3Cpath d='M44.0002 34.2418H0.161865V34.8596H44.0002V34.2418Z' fill='%23FC790E'/%3E%3Cpath d='M44.0002 33.624H0.161865V34.2418H44.0002V33.624Z' fill='%23FC780E'/%3E%3Cpath d='M44.0002 33.0062H0.161865V33.624H44.0002V33.0062Z' fill='%23FC770F'/%3E%3Cpath d='M44.0002 32.3853H0.161865V33.003H44.0002V32.3853Z' fill='%23FB7610'/%3E%3Cpath d='M44.0002 31.7676H0.161865V32.3854H44.0002V31.7676Z' fill='%23FB7510'/%3E%3Cpath d='M44.0002 31.1498H0.161865V31.7676H44.0002V31.1498Z' fill='%23FB7411'/%3E%3Cpath d='M44.0002 30.5288H0.161865V31.1466H44.0002V30.5288Z' fill='%23FB7312'/%3E%3Cpath d='M44.0002 29.911H0.161865V30.5288H44.0002V29.911Z' fill='%23FB7213'/%3E%3Cpath d='M44.0002 29.2902H0.161865V29.9079H44.0002V29.2902Z' fill='%23FB7113'/%3E%3Cpath d='M44.0002 28.6724H0.161865V29.2901H44.0002V28.6724Z' fill='%23FA7014'/%3E%3Cpath d='M44.0002 28.0546H0.161865V28.6723H44.0002V28.0546Z' fill='%23FA6F15'/%3E%3Cpath d='M44.0002 27.4336H0.161865V28.0514H44.0002V27.4336Z' fill='%23FA6E15'/%3E%3Cpath d='M44.0002 26.8158H0.161865V27.4336H44.0002V26.8158Z' fill='%23FA6D16'/%3E%3Cpath d='M44.0002 26.198H0.161865V26.8158H44.0002V26.198Z' fill='%23FA6C17'/%3E%3Cpath d='M44.0002 25.5771H0.161865V26.1949H44.0002V25.5771Z' fill='%23FA6B18'/%3E%3Cpath d='M44.0002 24.9594H0.161865V25.5771H44.0002V24.9594Z' fill='%23F96A18'/%3E%3Cpath d='M44.0002 24.3416H0.161865V24.9593H44.0002V24.3416Z' fill='%23F96919'/%3E%3Cpath d='M44.0002 23.7206H0.161865V24.3384H44.0002V23.7206Z' fill='%23F9681A'/%3E%3Cpath d='M44.0002 23.1029H0.161865V23.7207H44.0002V23.1029Z' fill='%23F9671B'/%3E%3Cpath d='M44.0002 22.4819H0.161865V23.0997H44.0002V22.4819Z' fill='%23F9651B'/%3E%3Cpath d='M44.0002 21.8641H0.161865V22.4819H44.0002V21.8641Z' fill='%23F9641C'/%3E%3Cpath d='M44.0002 21.2463H0.161865V21.8641H44.0002V21.2463Z' fill='%23F9631D'/%3E%3Cpath d='M44.0002 20.6255H0.161865V21.2433H44.0002V20.6255Z' fill='%23F8621D'/%3E%3Cpath d='M44.0002 20.0077H0.161865V20.6255H44.0002V20.0077Z' fill='%23F8611E'/%3E%3Cpath d='M44.0002 19.3899H0.161865V20.0077H44.0002V19.3899Z' fill='%23F8601F'/%3E%3Cpath d='M44.0002 18.7689H0.161865V19.3867H44.0002V18.7689Z' fill='%23F85F20'/%3E%3Cpath d='M44.0002 18.1511H0.161865V18.7689H44.0002V18.1511Z' fill='%23F85E20'/%3E%3Cpath d='M44.0002 17.5333H0.161865V18.1511H44.0002V17.5333Z' fill='%23F85D21'/%3E%3Cpath d='M44.0002 16.9125H0.161865V17.5303H44.0002V16.9125Z' fill='%23F75C22'/%3E%3Cpath d='M44.0002 16.2947H0.161865V16.9125H44.0002V16.2947Z' fill='%23F75B22'/%3E%3Cpath d='M44.0002 15.6737H0.161865V16.2915H44.0002V15.6737Z' fill='%23F75A23'/%3E%3Cpath d='M44.0002 15.0559H0.161865V15.6737H44.0002V15.0559Z' fill='%23F75924'/%3E%3Cpath d='M44.0002 14.4382H0.161865V15.056H44.0002V14.4382Z' fill='%23F75825'/%3E%3Cpath d='M44.0002 13.8173H0.161865V14.435H44.0002V13.8173Z' fill='%23F75725'/%3E%3Cpath d='M44.0002 13.1995H0.161865V13.8172H44.0002V13.1995Z' fill='%23F65626'/%3E%3Cpath d='M44.0002 12.5817H0.161865V13.1994H44.0002V12.5817Z' fill='%23F65527'/%3E%3Cpath d='M44.0002 11.9608H0.161865V12.5786H44.0002V11.9608Z' fill='%23F65427'/%3E%3Cpath d='M44.0002 11.343H0.161865V11.9608H44.0002V11.343Z' fill='%23F65328'/%3E%3Cpath d='M44.0002 10.722H0.161865V11.3398H44.0002V10.722Z' fill='%23F65229'/%3E%3Cpath d='M44.0002 10.1042H0.161865V10.722H44.0002V10.1042Z' fill='%23F6512A'/%3E%3Cpath d='M44.0002 9.48645H0.161865V10.1042H44.0002V9.48645Z' fill='%23F5502A'/%3E%3Cpath d='M44.0002 8.8656H0.161865V9.48338H44.0002V8.8656Z' fill='%23F54F2B'/%3E%3Cpath d='M44.0002 8.2478H0.161865V8.86558H44.0002V8.2478Z' fill='%23F54E2C'/%3E%3Cpath d='M44.0002 7.63H0.161865V8.24778H44.0002V7.63Z' fill='%23F54D2C'/%3E%3Cpath d='M44.0002 7.00903H0.161865V7.62681H44.0002V7.00903Z' fill='%23F54C2D'/%3E%3Cpath d='M44.0002 6.39124H0.161865V7.00901H44.0002V6.39124Z' fill='%23F54B2E'/%3E%3Cpath d='M44.0002 5.77356H0.161865V6.39134H44.0002V5.77356Z' fill='%23F44A2F'/%3E%3Cpath d='M44.0002 5.15259H0.161865V5.77037H44.0002V5.15259Z' fill='%23F4492F'/%3E%3Cpath d='M44.0002 4.53479H0.161865V5.15257H44.0002V4.53479Z' fill='%23F44830'/%3E%3Cpath d='M44.0002 3.91382H0.161865V4.5316H44.0002V3.91382Z' fill='%23F44731'/%3E%3Cpath d='M44.0002 3.29614H0.161865V3.91392H44.0002V3.29614Z' fill='%23F44631'/%3E%3Cpath d='M44.0002 2.67834H0.161865V3.29612H44.0002V2.67834Z' fill='%23F44532'/%3E%3Cpath d='M44.0002 2.05737H0.161865V2.67515H44.0002V2.05737Z' fill='%23F34433'/%3E%3Cpath d='M44.0002 1.43958H0.161865V2.05735H44.0002V1.43958Z' fill='%23F34334'/%3E%3Cpath d='M44.0002 0.821777H0.161865V1.43956H44.0002V0.821777Z' fill='%23F34234'/%3E%3Cpath d='M44.0002 0.200928H0.161865V0.818707H44.0002V0.200928Z' fill='%23F34135'/%3E%3C/g%3E%3Cpath d='M19.1025 46.7771C18.5883 46.7771 18.0709 46.7519 17.5437 46.7046C1.81743 45.2515 0 34.2481 0 26.1004C0 20.3639 6.59062 14.1136 6.87197 13.8488C6.92371 13.8015 6.99809 13.7921 7.05953 13.8236C7.12098 13.8551 7.15332 13.9244 7.14038 13.9906C6.16052 19.1314 7.51227 21.3914 8.2884 22.2235C8.03939 21.0919 8.2884 18.4033 13.178 13.5178C19.6457 7.05322 13.2427 0.503502 13.178 0.437311C13.136 0.396336 13.123 0.333297 13.1392 0.279714C13.1586 0.222979 13.2071 0.182004 13.2653 0.172549C13.3429 0.159941 21.1786 -1.10714 25.4505 4.80905C29.7095 10.7032 28.2187 16.4365 28.2026 16.4964C28.1799 16.5532 26.618 20.6002 27.6237 22.5765C27.8727 23.0682 28.2511 23.3803 28.775 23.5315C31.7501 24.3889 33.2086 20.8713 33.27 20.72C33.2862 20.6759 33.325 20.6412 33.3703 20.6286C33.4156 20.6129 33.4673 20.6192 33.5061 20.6444C37.5969 23.1533 38.8808 27.9726 36.9372 33.5421C34.6218 40.1706 27.6948 46.7771 19.0992 46.7771H19.1025ZM6.73615 14.4319C5.33265 15.8503 0.323387 21.2558 0.323387 26.1004C0.323387 34.1252 2.11172 44.9616 17.5761 46.3925C26.7214 47.2404 34.2208 40.3503 36.6333 33.4412C38.4992 28.0955 37.3253 23.4622 33.4964 21.01C33.1374 21.7633 31.5464 24.6568 28.6876 23.8341C28.0797 23.6576 27.6237 23.2825 27.3359 22.7152C26.2687 20.6129 27.8307 16.5689 27.8986 16.3987C27.9083 16.3577 29.357 10.7599 25.1886 4.99186C21.502 -0.111126 15.0698 0.282866 13.621 0.446767C14.7044 1.68233 19.4097 7.74665 13.4141 13.7416C6.97545 20.1779 8.79935 22.6553 8.81876 22.6774C8.86727 22.7373 8.86403 22.8192 8.81229 22.8759C8.76378 22.9327 8.6797 22.9484 8.61179 22.9106C8.48567 22.8413 5.59782 21.1897 6.73615 14.4288V14.4319Z' fill='%231D1D1D'/%3E%3Cmask id='mask1_64_1676' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='7' y='17' width='23' height='28'%3E%3Cpath d='M27.3715 29.0537C33.5385 32.8328 27.2713 44.9237 18.1227 44.0789C8.68624 43.2059 7.97803 36.4229 7.97803 32.1552C7.97803 28.811 11.9557 25.0791 11.9557 25.0791C11.1602 29.2459 12.9517 30.2167 12.9517 30.2167C12.9517 30.2167 11.7584 28.7637 15.6358 24.8868C19.5132 21.0099 15.6358 17.133 15.6358 17.133C15.6358 17.133 20.16 16.3577 22.6468 19.7996C23.672 21.2179 24.1215 22.6143 24.2994 23.7647C24.6163 25.8387 25.7126 27.7235 27.3715 29.0568V29.0537Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_64_1676)'%3E%3Cpath d='M33.5353 17.0574H7.97803V17.4135H33.5353V17.0574Z' fill='%23FEEF70'/%3E%3Cpath d='M33.5353 17.4136H7.97803V17.7697H33.5353V17.4136Z' fill='%23FEEF71'/%3E%3Cpath d='M33.5353 17.7698H7.97803V18.1259H33.5353V17.7698Z' fill='%23FEEF72'/%3E%3Cpath d='M33.5353 18.1259H7.97803V18.482H33.5353V18.1259Z' fill='%23FEEF73'/%3E%3Cpath d='M33.5353 18.4821H7.97803V18.8382H33.5353V18.4821Z' fill='%23FEEF74'/%3E%3Cpath d='M33.5353 18.8383H7.97803V19.1944H33.5353V18.8383Z' fill='%23FEF075'/%3E%3Cpath d='M33.5353 19.1945H7.97803V19.5506H33.5353V19.1945Z' fill='%23FEF076'/%3E%3Cpath d='M33.5353 19.5505H7.97803V19.9067H33.5353V19.5505Z' fill='%23FEF077'/%3E%3Cpath d='M33.5353 19.9067H7.97803V20.2629H33.5353V19.9067Z' fill='%23FEF078'/%3E%3Cpath d='M33.5353 20.2629H7.97803V20.6191H33.5353V20.2629Z' fill='%23FEF079'/%3E%3Cpath d='M33.5353 20.6191H7.97803V20.9753H33.5353V20.6191Z' fill='%23FEF07A'/%3E%3Cpath d='M33.5353 20.9752H7.97803V21.3314H33.5353V20.9752Z' fill='%23FEF07B'/%3E%3Cpath d='M33.5353 21.3314H7.97803V21.6876H33.5353V21.3314Z' fill='%23FEF07C'/%3E%3Cpath d='M33.5353 21.6876H7.97803V22.0438H33.5353V21.6876Z' fill='%23FEF07D'/%3E%3Cpath d='M33.5353 22.0437H7.97803V22.3999H33.5353V22.0437Z' fill='%23FEF07E'/%3E%3Cpath d='M33.5353 22.3967H7.97803V22.7529H33.5353V22.3967Z' fill='%23FEF17F'/%3E%3Cpath d='M33.5353 22.7529H7.97803V23.1091H33.5353V22.7529Z' fill='%23FEF180'/%3E%3Cpath d='M33.5353 23.1091H7.97803V23.4653H33.5353V23.1091Z' fill='%23FEF181'/%3E%3Cpath d='M33.5353 23.4653H7.97803V23.8215H33.5353V23.4653Z' fill='%23FEF182'/%3E%3Cpath d='M33.5353 23.8214H7.97803V24.1776H33.5353V23.8214Z' fill='%23FEF183'/%3E%3Cpath d='M33.5353 24.1776H7.97803V24.5338H33.5353V24.1776Z' fill='%23FEF184'/%3E%3Cpath d='M33.5353 24.5338H7.97803V24.89H33.5353V24.5338Z' fill='%23FEF185'/%3E%3Cpath d='M33.5353 24.89H7.97803V25.2462H33.5353V24.89Z' fill='%23FEF186'/%3E%3Cpath d='M33.5353 25.2461H7.97803V25.6023H33.5353V25.2461Z' fill='%23FEF187'/%3E%3Cpath d='M33.5353 25.6023H7.97803V25.9585H33.5353V25.6023Z' fill='%23FEF288'/%3E%3Cpath d='M33.5353 25.9585H7.97803V26.3147H33.5353V25.9585Z' fill='%23FEF289'/%3E%3Cpath d='M33.5353 26.3146H7.97803V26.6707H33.5353V26.3146Z' fill='%23FEF28A'/%3E%3Cpath d='M33.5353 26.6708H7.97803V27.0269H33.5353V26.6708Z' fill='%23FEF28B'/%3E%3Cpath d='M33.5353 27.027H7.97803V27.3831H33.5353V27.027Z' fill='%23FEF28C'/%3E%3Cpath d='M33.5353 27.3832H7.97803V27.7393H33.5353V27.3832Z' fill='%23FEF28D'/%3E%3Cpath d='M33.5353 27.7393H7.97803V28.0954H33.5353V27.7393Z' fill='%23FEF28E'/%3E%3Cpath d='M33.5353 28.0955H7.97803V28.4516H33.5353V28.0955Z' fill='%23FEF28F'/%3E%3Cpath d='M33.5353 28.4517H7.97803V28.8078H33.5353V28.4517Z' fill='%23FEF290'/%3E%3Cpath d='M33.5353 28.8079H7.97803V29.164H33.5353V28.8079Z' fill='%23FEF391'/%3E%3Cpath d='M33.5353 29.1639H7.97803V29.5201H33.5353V29.1639Z' fill='%23FEF392'/%3E%3Cpath d='M33.5353 29.5201H7.97803V29.8763H33.5353V29.5201Z' fill='%23FEF393'/%3E%3Cpath d='M33.5353 29.8763H7.97803V30.2325H33.5353V29.8763Z' fill='%23FEF394'/%3E%3Cpath d='M33.5353 30.2325H7.97803V30.5887H33.5353V30.2325Z' fill='%23FEF395'/%3E%3Cpath d='M33.5353 30.5886H7.97803V30.9448H33.5353V30.5886Z' fill='%23FFF397'/%3E%3Cpath d='M33.5353 30.9448H7.97803V31.301H33.5353V30.9448Z' fill='%23FFF398'/%3E%3Cpath d='M33.5353 31.301H7.97803V31.6572H33.5353V31.301Z' fill='%23FFF399'/%3E%3Cpath d='M33.5353 31.6571H7.97803V32.0133H33.5353V31.6571Z' fill='%23FFF39A'/%3E%3Cpath d='M33.5353 32.0133H7.97803V32.3695H33.5353V32.0133Z' fill='%23FFF39B'/%3E%3Cpath d='M33.5353 32.3695H7.97803V32.7257H33.5353V32.3695Z' fill='%23FFF49C'/%3E%3Cpath d='M33.5353 32.7257H7.97803V33.0819H33.5353V32.7257Z' fill='%23FFF49D'/%3E%3Cpath d='M33.5353 33.0818H7.97803V33.438H33.5353V33.0818Z' fill='%23FFF49E'/%3E%3Cpath d='M33.5353 33.438H7.97803V33.7942H33.5353V33.438Z' fill='%23FFF49F'/%3E%3Cpath d='M33.5353 33.7942H7.97803V34.1504H33.5353V33.7942Z' fill='%23FFF4A0'/%3E%3Cpath d='M33.5353 34.1504H7.97803V34.5066H33.5353V34.1504Z' fill='%23FFF4A1'/%3E%3Cpath d='M33.5353 34.5065H7.97803V34.8626H33.5353V34.5065Z' fill='%23FFF4A2'/%3E%3Cpath d='M33.5353 34.8627H7.97803V35.2188H33.5353V34.8627Z' fill='%23FFF4A3'/%3E%3Cpath d='M33.5353 35.2189H7.97803V35.575H33.5353V35.2189Z' fill='%23FFF4A4'/%3E%3Cpath d='M33.5353 35.5751H7.97803V35.9312H33.5353V35.5751Z' fill='%23FFF5A5'/%3E%3Cpath d='M33.5353 35.9312H7.97803V36.2873H33.5353V35.9312Z' fill='%23FFF5A6'/%3E%3Cpath d='M33.5353 36.2874H7.97803V36.6435H33.5353V36.2874Z' fill='%23FFF5A7'/%3E%3Cpath d='M33.5353 36.6436H7.97803V36.9997H33.5353V36.6436Z' fill='%23FFF5A8'/%3E%3Cpath d='M33.5353 36.9998H7.97803V37.3559H33.5353V36.9998Z' fill='%23FFF5A9'/%3E%3Cpath d='M33.5353 37.3558H7.97803V37.712H33.5353V37.3558Z' fill='%23FFF5AA'/%3E%3Cpath d='M33.5353 37.712H7.97803V38.0682H33.5353V37.712Z' fill='%23FFF5AB'/%3E%3Cpath d='M33.5353 38.0682H7.97803V38.4244H33.5353V38.0682Z' fill='%23FFF5AC'/%3E%3Cpath d='M33.5353 38.4213H7.97803V38.7774H33.5353V38.4213Z' fill='%23FFF5AD'/%3E%3Cpath d='M33.5353 38.7773H7.97803V39.1335H33.5353V38.7773Z' fill='%23FFF6AE'/%3E%3Cpath d='M33.5353 39.1335H7.97803V39.4897H33.5353V39.1335Z' fill='%23FFF6AF'/%3E%3Cpath d='M33.5353 39.4897H7.97803V39.8459H33.5353V39.4897Z' fill='%23FFF6B0'/%3E%3Cpath d='M33.5353 39.8459H7.97803V40.2021H33.5353V39.8459Z' fill='%23FFF6B1'/%3E%3Cpath d='M33.5353 40.202H7.97803V40.5582H33.5353V40.202Z' fill='%23FFF6B2'/%3E%3Cpath d='M33.5353 40.5582H7.97803V40.9144H33.5353V40.5582Z' fill='%23FFF6B3'/%3E%3Cpath d='M33.5353 40.9144H7.97803V41.2706H33.5353V40.9144Z' fill='%23FFF6B4'/%3E%3Cpath d='M33.5353 41.2705H7.97803V41.6267H33.5353V41.2705Z' fill='%23FFF6B5'/%3E%3Cpath d='M33.5353 41.6267H7.97803V41.9829H33.5353V41.6267Z' fill='%23FFF6B6'/%3E%3Cpath d='M33.5353 41.9829H7.97803V42.3391H33.5353V41.9829Z' fill='%23FFF6B7'/%3E%3Cpath d='M33.5353 42.3391H7.97803V42.6953H33.5353V42.3391Z' fill='%23FFF7B8'/%3E%3Cpath d='M33.5353 42.6952H7.97803V43.0514H33.5353V42.6952Z' fill='%23FFF7B9'/%3E%3Cpath d='M33.5353 43.0514H7.97803V43.4076H33.5353V43.0514Z' fill='%23FFF7BA'/%3E%3Cpath d='M33.5353 43.4076H7.97803V43.7638H33.5353V43.4076Z' fill='%23FFF7BB'/%3E%3Cpath d='M33.5353 43.7638H7.97803V44.12H33.5353V43.7638Z' fill='%23FFF7BC'/%3E%3Cpath d='M33.5353 44.1199H7.97803V44.9236H33.5353V44.1199Z' fill='%23FFF7BC'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.aboutme .info ul li a span {
    font-size: 18px;
    /* font-weight: 400; */
}
.aboutme .info ul li a span.bio {
    line-height: 2;
}
.aboutme .info ul li.edu>a {
    padding-bottom: 40px;
}
.aboutme .info ul li.certi>a {
    margin-bottom: 30px;
}
.aboutme .info ul li.certi>a strong {
    display: inline-block;
    margin-right: 19px;
}
.aboutme .info ul li.skill>h1 {
    margin-bottom: 25px;
}
.aboutme .info ul li.skill>span {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.aboutme .info ul li.skill>span::before {
    position: absolute;
    left: 23px;
    top: -20px;
    width: 46px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.aboutme .info ul li.skill>span.ai::before {
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6107 45H8.38934C3.76295 45 0 41.2261 0 36.5861V8.41387C0 3.77395 3.76295 0 8.38934 0H37.6107C42.237 0 46 3.77395 46 8.41387V36.5861C46 41.2261 42.237 45 37.6107 45ZM8.38934 0.756303C4.17959 0.756303 0.754098 4.19181 0.754098 8.41387V36.5861C0.754098 40.8082 4.17959 44.2437 8.38934 44.2437H37.6107C41.8204 44.2437 45.2459 40.8082 45.2459 36.5861V8.41387C45.2459 4.19181 41.8204 0.756303 37.6107 0.756303H8.38934Z' fill='%231E1E1E'/%3E%3Cpath d='M27.1268 32.8612H22.819L21.3919 27.2305H15.8379L14.4108 32.8612H10.103L16.1773 11.2083H21.0544L27.1287 32.8612H27.1268ZM23.4053 32.1049H26.1314L20.4813 11.9646H16.7466L11.0966 32.1049H13.8226L15.2497 26.4742H21.9763L23.4034 32.1049H23.4053ZM21.3052 23.8215H15.9228L18.6093 13.2257L18.6149 13.2465L18.6206 13.2257L21.307 23.8215H21.3052ZM16.8937 23.0652H20.3361L18.6187 16.2925L18.613 16.3114L18.6074 16.2925L16.8899 23.0652H16.8937Z' fill='%231E1E1E'/%3E%3Cpath d='M33.4008 32.8934H29.0874V16.6934H33.4008V32.8934ZM29.8415 32.1371H32.6467V17.4497H29.8415V32.1371Z' fill='%231E1E1E'/%3E%3Cpath d='M31.2441 15.3302C29.9471 15.3302 28.8914 14.2713 28.8914 12.9705C28.8914 11.6697 29.9471 10.6108 31.2441 10.6108C32.5412 10.6108 33.5969 11.6697 33.5969 12.9705C33.5969 14.2713 32.5412 15.3302 31.2441 15.3302ZM31.2441 11.3653C30.3618 11.3653 29.6455 12.0856 29.6455 12.9686C29.6455 13.8516 30.3637 14.572 31.2441 14.572C32.1246 14.572 32.8428 13.8516 32.8428 12.9686C32.8428 12.0856 32.1246 11.3653 31.2441 11.3653Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill>span.ps::before {
    left: 76px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6107 45H8.38934C3.76295 45 0 41.2261 0 36.5861V8.41387C0 3.77395 3.76295 0 8.38934 0H37.6107C42.237 0 46 3.77395 46 8.41387V36.5861C46 41.2261 42.237 45 37.6107 45ZM8.38934 0.756303C4.17959 0.756303 0.754098 4.19181 0.754098 8.41387V36.5861C0.754098 40.8082 4.17959 44.2437 8.38934 44.2437H37.6107C41.8204 44.2437 45.2459 40.8082 45.2459 36.5861V8.41387C45.2459 4.19181 41.8204 0.756303 37.6107 0.756303H8.38934Z' fill='%231D1D1D'/%3E%3Cpath d='M14.4675 32.0294H10.7837C10.4236 32.0294 10.1804 31.7779 10.1804 31.4055V11.9496C10.1804 11.6036 10.4123 11.3634 10.746 11.3634C11.0608 11.3634 11.3606 11.3634 11.7848 11.3445C12.0204 11.3351 12.2598 11.3294 12.5087 11.3256C12.7387 11.3218 12.9744 11.3162 13.2194 11.3067C13.4853 11.2973 13.7605 11.2916 14.0471 11.2878C14.3091 11.284 14.5806 11.2784 14.8615 11.2689C15.4516 11.25 16.0303 11.25 16.5884 11.25C18.1984 11.25 19.5124 11.4504 20.6039 11.8607C21.5899 12.1973 22.5118 12.7626 23.2603 13.4943C23.9031 14.1391 24.4084 14.9313 24.727 15.7878C25.0343 16.6538 25.1851 17.4989 25.1851 18.3782C25.1851 20.0779 24.7816 21.5055 23.9842 22.6248C23.1924 23.7384 22.082 24.5817 20.7736 25.0658C19.5407 25.5214 18.1512 25.7313 16.4017 25.7313C15.9361 25.7313 15.6288 25.7313 15.4214 25.7105C15.3196 25.701 15.1895 25.6954 15.0255 25.6954V31.3639C15.0557 31.6891 14.8276 31.9765 14.4939 32.0237L14.4675 32.0275V32.0294ZM10.9345 31.2731H14.2714V24.9391H14.6485C15.0198 24.9391 15.2894 24.9391 15.4968 24.9599C15.6665 24.9769 15.9757 24.9769 16.4017 24.9769C18.0607 24.9769 19.3672 24.7803 20.5135 24.3567C21.6785 23.9256 22.6683 23.1731 23.3715 22.1842C24.0747 21.1954 24.4329 19.9153 24.4329 18.3763C24.4329 17.5859 24.299 16.8239 24.0219 16.045C23.7429 15.2924 23.2961 14.5947 22.7343 14.0294C22.0688 13.379 21.2449 12.8742 20.3532 12.5697C19.3371 12.1878 18.1098 12.0044 16.5903 12.0044C16.0379 12.0044 15.4648 12.0044 14.886 12.0233C14.6013 12.0328 14.3261 12.0366 14.0603 12.0422C13.7794 12.0479 13.5079 12.0517 13.2477 12.0611C12.997 12.0706 12.7576 12.0744 12.5238 12.08C12.2825 12.0857 12.0468 12.0895 11.8168 12.0989C11.4624 12.1141 11.1947 12.1179 10.9345 12.1179V31.2712V31.2731ZM16.4017 22.1597H15.4026C15.1782 22.1597 14.9444 22.1426 14.6975 22.1256L14.2903 22.0973V15.0637L14.6145 15.0164C14.7144 15.0013 14.9897 14.971 15.4403 14.9937C15.8041 14.9748 16.2302 14.9748 16.7222 14.9748C17.5762 14.954 18.3737 15.0901 19.0882 15.3813C19.6915 15.6101 20.2118 16.0336 20.5813 16.6027C20.9301 17.1908 21.0979 17.8431 21.0771 18.5048C21.0771 19.4256 20.8566 20.1422 20.4041 20.683C19.9177 21.237 19.322 21.6227 18.6716 21.8061C17.9533 22.0405 17.186 22.1597 16.4017 22.1597ZM15.0444 21.3901C15.1707 21.3977 15.2913 21.4034 15.4026 21.4034H16.4017C17.1068 21.4034 17.7968 21.2956 18.4529 21.0819C18.977 20.9345 19.4483 20.6263 19.8329 20.1895C20.1609 19.7981 20.323 19.2403 20.323 18.4916C20.34 17.9622 20.208 17.4517 19.9422 17.0017C19.6689 16.5819 19.2748 16.2605 18.813 16.0847C18.1871 15.8294 17.4914 15.7122 16.7316 15.7311C16.2321 15.7311 15.8079 15.7311 15.461 15.75H15.4421H15.4233C15.2744 15.7424 15.148 15.7424 15.0462 15.7443V21.392L15.0444 21.3901Z' fill='%231D1D1D'/%3E%3Cpath d='M31.5213 32.4264C30.5957 32.4264 29.7322 32.3432 28.8839 32.1731C28.2052 32.0558 27.5076 31.8365 26.8742 31.5397L26.8478 31.5264C26.5763 31.3714 26.4274 31.1029 26.45 30.8193V27.5483C26.45 27.346 26.5405 27.1644 26.6932 27.0642C26.7762 27.0094 26.9986 26.8997 27.2701 27.0775C27.962 27.4859 28.6897 27.7733 29.4928 27.9567C30.1866 28.1401 30.903 28.2308 31.6344 28.2308C32.2641 28.2308 32.7335 28.1552 33.0314 28.0058L33.0484 27.9983C33.2124 27.9264 33.3312 27.7373 33.3312 27.5502C33.3312 27.4991 33.3312 27.3422 33.0182 27.0869C32.7015 26.8279 31.8701 26.4894 31.2725 26.2569C30.2959 25.9109 29.391 25.4514 28.52 24.8558C27.8866 24.4058 27.353 23.8065 26.9703 23.1201C26.6329 22.4432 26.4689 21.7134 26.4896 20.9968C26.4896 20.1384 26.7234 19.3027 27.1834 18.5275C27.6962 17.705 28.4352 17.0546 29.3288 16.6386C30.2394 16.1716 31.3875 15.9409 32.824 15.9409C33.6234 15.9409 34.4284 15.9995 35.2164 16.1149C35.7857 16.1905 36.357 16.3437 36.9075 16.5668C37.1016 16.6292 37.2412 16.7899 37.309 16.926L37.3373 17.0035C37.3599 17.0905 37.3863 17.2002 37.3863 17.3231V20.405C37.3863 20.6073 37.2864 20.8002 37.1243 20.9079L37.0658 20.9476L36.9961 20.9628C36.8057 21.0044 36.6039 21.0308 36.406 20.9325L36.3966 20.9287C35.8781 20.6508 35.3182 20.4523 34.6885 20.3218C33.9495 20.1611 33.284 20.0836 32.6525 20.0836H32.6336C32.3263 20.0684 31.9738 20.11 31.6175 20.2027C31.4553 20.2405 31.329 20.318 31.2517 20.4239C31.1971 20.5147 31.1631 20.63 31.1631 20.7245C31.1631 20.7983 31.2027 20.8909 31.2762 20.9892C31.3931 21.131 31.5741 21.2747 31.7947 21.3939C32.1849 21.5981 32.6204 21.8004 33.0861 21.997C34.106 22.3392 35.1052 22.8157 36.0572 23.4113C36.7472 23.8518 37.2902 24.4247 37.6766 25.1168C38.0198 25.8031 38.1781 26.5197 38.1574 27.259C38.1781 28.1968 37.8934 29.1668 37.3599 29.9722C36.783 30.7985 35.995 31.4281 35.075 31.7968C34.1022 32.2147 32.9051 32.4283 31.5232 32.4283L31.5213 32.4264ZM27.2116 30.8628C27.7791 31.1275 28.4031 31.3241 29.0196 31.43C29.8284 31.5926 30.6447 31.6701 31.5194 31.6701C32.7976 31.6701 33.8967 31.4773 34.7828 31.0953C35.5746 30.7777 36.2457 30.2426 36.734 29.543C37.1789 28.8718 37.4184 28.0569 37.4014 27.2533C37.4184 26.6199 37.2864 26.0243 37.0074 25.4665C36.6907 24.8993 36.2325 24.4172 35.6519 24.0466C34.7507 23.4813 33.8006 23.0294 32.8316 22.706L32.8052 22.6966C32.315 22.4924 31.8531 22.2768 31.4365 22.0594C31.1216 21.8892 30.869 21.6869 30.6786 21.4525C30.4957 21.2086 30.4053 20.9609 30.4053 20.7207C30.4053 20.4806 30.4807 20.2216 30.6126 20.0098L30.6239 19.9928C30.8087 19.73 31.0953 19.5409 31.4327 19.4634C31.8493 19.3537 32.2754 19.3027 32.6581 19.3216C33.3406 19.3216 34.0551 19.4048 34.8393 19.575C35.4898 19.7092 36.0761 19.9115 36.6266 20.1913V17.3174C36.6266 17.3042 36.6228 17.2852 36.619 17.2644C36.127 17.064 35.618 16.9298 35.1052 16.8598C34.3492 16.7483 33.5819 16.6934 32.8165 16.6934C31.5025 16.6934 30.4656 16.8958 29.6512 17.3136C28.8895 17.6691 28.2448 18.2363 27.8206 18.917C27.4341 19.5674 27.2362 20.2726 27.2362 21.0044C27.2192 21.6075 27.3549 22.2126 27.6302 22.7647C27.9488 23.3376 28.4069 23.85 28.9442 24.2319C29.7548 24.7859 30.6032 25.217 31.5289 25.546C32.6072 25.9657 33.1728 26.2399 33.4895 26.497C33.8873 26.8222 34.0815 27.1644 34.0815 27.5464C34.0815 28.0323 33.7912 28.488 33.3557 28.6827C32.9466 28.885 32.3829 28.9834 31.6307 28.9834C30.8351 28.9834 30.0546 28.8831 29.3099 28.6865C28.5615 28.5163 27.8658 28.2573 27.2003 27.9018V30.8533C27.2003 30.8533 27.206 30.8571 27.2079 30.859L27.2116 30.8628Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill>span.xd::before {
    left: 129px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6107 45H8.38934C3.76295 45 0 41.2261 0 36.5861V8.41387C0 3.77395 3.76295 0 8.38934 0H37.6107C42.237 0 46 3.77395 46 8.41387V36.5861C46 41.2261 42.237 45 37.6107 45ZM8.38934 0.756303C4.17959 0.756303 0.754098 4.19181 0.754098 8.41387V36.5861C0.754098 40.8082 4.17959 44.2437 8.38934 44.2437H37.6107C41.8204 44.2437 45.2459 40.8082 45.2459 36.5861V8.41387C45.2459 4.19181 41.8204 0.756303 37.6107 0.756303H8.38934Z' fill='%231D1D1D'/%3E%3Cpath d='M7.02264 31.9802C6.94535 31.9802 6.83978 31.9632 6.74363 31.8781C6.6833 31.8252 6.61355 31.7344 6.60223 31.5869C6.57396 31.4262 6.60978 31.2598 6.70027 31.1218L12.4371 21.685L6.8492 12.1953C6.67764 11.9514 6.71158 11.7113 6.83035 11.5657C6.93592 11.4239 7.10748 11.3445 7.31674 11.3445H11.5963C11.7037 11.3445 11.8187 11.3596 11.9507 11.3936L12.028 11.422C12.1863 11.5014 12.2881 11.6205 12.3485 11.7037L12.3749 11.7378L12.3918 11.7775C12.6972 12.4714 13.0649 13.2144 13.5852 14.1901L13.8265 14.6249C14.1998 15.2962 14.5504 15.9315 14.935 16.5762C15.2631 17.151 15.5779 17.7371 15.889 18.3535C16.1548 17.8147 16.4526 17.2285 16.8033 16.5573C17.2162 15.7651 17.6554 14.9634 18.0796 14.1863L18.089 14.1693C18.3435 13.7023 18.5962 13.222 18.8394 12.7569C19.0034 12.443 19.1674 12.131 19.3314 11.8247C19.3804 11.6697 19.4709 11.543 19.5859 11.4636L19.6274 11.4409C19.7744 11.3672 19.9215 11.3426 20.0723 11.3634H23.9917C24.2481 11.3331 24.4932 11.4863 24.5762 11.7283C24.6497 11.8947 24.5913 12.0913 24.4744 12.2331L18.9563 21.3655L24.8853 31.1237C24.9683 31.2901 24.9909 31.4546 24.9513 31.6115C24.9363 31.672 24.8401 31.9745 24.4517 31.9329C24.4442 31.9329 24.4367 31.931 24.4291 31.931L24.399 31.9367H24.3782H20.061C19.7858 31.9367 19.3691 31.9367 19.1108 31.568L19.0826 31.5207C18.8846 31.1256 18.6829 30.7342 18.4812 30.3447C18.2776 29.9514 18.074 29.5562 17.876 29.1573C17.4481 28.3178 16.9692 27.4518 16.6016 26.7901L16.5714 26.7352C16.2434 26.1453 15.9059 25.5384 15.5703 24.9277C15.2574 25.546 14.9275 26.1642 14.607 26.7655C14.1734 27.5766 13.7417 28.3897 13.3269 29.1819C13.178 29.4541 13.0328 29.7226 12.8876 29.9892C12.603 30.5168 12.3164 31.0443 12.0317 31.5548C11.8489 31.9745 11.436 31.9745 11.2588 31.9745H7.11125C7.0924 31.9764 7.06223 31.9821 7.02641 31.9821L7.02264 31.9802ZM7.33748 31.5226V31.5264C7.33748 31.5264 7.33748 31.5245 7.33748 31.5226ZM7.52412 31.2163H11.255C11.3022 31.2163 11.3342 31.2163 11.3531 31.2126L11.3587 31.2012C11.6453 30.6869 11.9337 30.1575 12.2203 29.6262C12.3654 29.3577 12.5106 29.0892 12.6576 28.8226C13.0705 28.0342 13.5041 27.2193 13.9377 26.4062C14.3619 25.6102 14.8012 24.7878 15.1952 23.9804L15.2989 23.7686H15.7966L15.904 23.9653C16.3452 24.7764 16.7939 25.5838 17.2294 26.3647L17.2595 26.4195C17.6309 27.0869 18.1117 27.9604 18.5472 28.8132C18.7451 29.2121 18.9468 29.6035 19.1504 29.993C19.3465 30.3749 19.5444 30.755 19.7367 31.1407C19.7707 31.1672 19.8649 31.1785 20.0591 31.1785H24.0332L18.0721 21.3655L23.6599 12.1197H20.0271L20.0139 12.1481C19.8442 12.4638 19.6764 12.7852 19.5067 13.1104C19.2617 13.5775 19.0072 14.0615 18.7508 14.5342L18.7413 14.5512C18.319 15.3245 17.8817 16.1243 17.4726 16.909C16.9786 17.8544 16.5922 18.6258 16.2528 19.3348L16.151 19.5504H15.6401L15.5364 19.3386C15.1235 18.4915 14.7144 17.7144 14.2846 16.9581C13.9 16.3096 13.5437 15.6705 13.1685 14.9936L12.9253 14.555C12.4031 13.5756 12.0317 12.8268 11.7226 12.1291C11.7188 12.1235 11.7131 12.1197 11.7094 12.1159C11.6641 12.1065 11.6264 12.1027 11.5944 12.1027H7.66928L13.3175 21.6926L7.526 31.2182L7.52412 31.2163Z' fill='%231D1D1D'/%3E%3Cpath d='M32.7506 32.3319C31.3291 32.3319 29.9209 32.0256 28.6672 31.4452C27.4323 30.8761 26.3917 29.9345 25.6564 28.7282C24.9325 27.5294 24.5649 26.013 24.5649 24.2206C24.546 22.7572 24.9212 21.3107 25.6527 20.042C26.4105 18.7412 27.4983 17.6786 28.7954 16.9695C30.1697 16.2019 31.791 15.8275 33.746 15.8275C33.8441 15.8275 33.993 15.8275 34.1834 15.8483C34.2362 15.854 34.2909 15.8578 34.3493 15.8616V10.2876C34.3493 9.9416 34.5812 9.70148 34.9149 9.70148H38.7155C38.9776 9.67312 39.2283 9.84896 39.2962 10.1193L39.3075 10.1647V28.2498C39.3075 28.5523 39.3226 28.8945 39.3396 29.2595L39.3452 29.3672C39.3773 29.6924 39.3961 30.0214 39.4112 30.3107L39.4206 30.4809C39.4206 30.7759 39.2641 31.0179 39.004 31.1313C38.0105 31.5529 36.9491 31.8668 35.8481 32.0635C34.8206 32.245 33.8497 32.3338 32.8807 32.3338C32.8373 32.3338 32.794 32.3338 32.7487 32.3338L32.7506 32.3319ZM33.746 16.5819C31.923 16.5819 30.4223 16.9242 29.1592 17.6313C27.9772 18.2779 26.9912 19.2422 26.3031 20.4221C25.6414 21.5716 25.3001 22.8838 25.3171 24.2149C25.3171 25.8731 25.647 27.2572 26.2993 28.3349C26.9554 29.4126 27.8829 30.2521 28.982 30.7588C30.1716 31.3109 31.5177 31.5927 32.8732 31.5756H32.8788C33.8045 31.5756 34.732 31.4906 35.7161 31.3166C36.7436 31.1332 37.7352 30.842 38.6646 30.4525L38.659 30.3523C38.642 30.0687 38.6251 29.7492 38.593 29.4183L38.5873 29.2916C38.5704 28.9191 38.5534 28.5674 38.5534 28.2479V10.4559H35.1034V16.6708L34.6943 16.6368C34.5944 16.6292 34.502 16.6235 34.4153 16.6198C34.3022 16.6141 34.1985 16.6084 34.0986 16.5971C33.9496 16.58 33.8365 16.58 33.7441 16.58L33.746 16.5819ZM33.2559 28.6828C32.6658 28.6828 32.0983 28.5939 31.5723 28.4181C31.0464 28.2555 30.5656 27.9719 30.1509 27.5767C29.7342 27.1588 29.4194 26.6616 29.2082 26.0906C28.9594 25.4061 28.8444 24.7027 28.8651 24.0013C28.8651 22.9424 29.097 22.0632 29.5532 21.3958C30.0019 20.7397 30.5901 20.2273 31.2971 19.8719C31.9701 19.524 32.7657 19.3406 33.5952 19.3406C33.8196 19.3406 34.0401 19.3614 34.2513 19.3803C34.4492 19.4029 34.6321 19.4427 34.8074 19.4824L35.1034 19.5485V28.4445L34.8451 28.5315C34.5586 28.6261 34.3116 28.662 34.0496 28.6469C33.7913 28.6658 33.5368 28.6847 33.2559 28.6847V28.6828ZM33.5952 20.0987C32.8845 20.0987 32.2077 20.2538 31.6364 20.5487C31.0388 20.8475 30.5487 21.2767 30.1716 21.825C29.8021 22.3639 29.6155 23.0994 29.6155 24.0126C29.5985 24.629 29.6984 25.2378 29.9133 25.8315C30.0849 26.2966 30.3413 26.7013 30.6731 27.0359C30.9955 27.3422 31.3782 27.5672 31.7986 27.6977C32.2567 27.8508 32.7431 27.9265 33.2521 27.9265C33.516 27.9265 33.763 27.9095 34.0156 27.8906H34.0439H34.0722C34.1646 27.8981 34.2532 27.8943 34.3455 27.8792V20.1593C34.2871 20.1479 34.2287 20.1403 34.1721 20.1328C33.976 20.1158 33.7819 20.0969 33.5914 20.0969L33.5952 20.0987Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill>span.pr::before {
    left: 182px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6107 45H8.38934C3.76295 45 0 41.2261 0 36.5861V8.41387C0 3.77395 3.76295 0 8.38934 0H37.6107C42.237 0 46 3.77395 46 8.41387V36.5861C46 41.2261 42.237 45 37.6107 45ZM8.38934 0.756303C4.17959 0.756303 0.754098 4.19181 0.754098 8.41387V36.5861C0.754098 40.8082 4.17959 44.2437 8.38934 44.2437H37.6107C41.8204 44.2437 45.2459 40.8082 45.2459 36.5861V8.41387C45.2459 4.19181 41.8204 0.756303 37.6107 0.756303H8.38934Z' fill='%231D1D1D'/%3E%3Cpath d='M15.0329 32.0294H11.3491C10.989 32.0294 10.7458 31.7779 10.7458 31.4055V11.9496C10.7458 11.6036 10.9777 11.3634 11.3114 11.3634C11.6263 11.3634 11.926 11.3634 12.3502 11.3445C12.5859 11.3351 12.8272 11.3294 13.076 11.3256C13.306 11.3218 13.5417 11.3162 13.7849 11.3067C14.0507 11.2973 14.3259 11.2916 14.6106 11.2878C14.8745 11.284 15.146 11.2784 15.4269 11.2689C16.017 11.25 16.5958 11.25 17.1538 11.25C18.7638 11.25 20.0778 11.4504 21.1694 11.8607C22.1554 12.1973 23.0772 12.7626 23.8257 13.4943C24.4686 14.1391 24.9738 14.9313 25.2924 15.7897C25.6016 16.6557 25.7505 17.5008 25.7505 18.38C25.7505 20.0779 25.3471 21.5074 24.5496 22.6267C23.7578 23.7403 22.6474 24.5836 21.339 25.0676C20.1061 25.5214 18.7167 25.7332 16.9672 25.7332C16.5015 25.7332 16.1942 25.7332 15.9868 25.7124C15.885 25.7029 15.7549 25.6973 15.5909 25.6973V31.3658C15.6211 31.691 15.393 31.9784 15.0593 32.0256L15.0329 32.0294ZM11.4999 31.2731H14.8368V24.9391H15.2139C15.5853 24.9391 15.8549 24.9391 16.0622 24.9599C16.2319 24.9769 16.5411 24.9769 16.9672 24.9769C18.6262 24.9769 19.9327 24.7803 21.0789 24.3567C22.244 23.9256 23.2337 23.1731 23.9369 22.1842C24.6401 21.1954 24.9983 19.9153 24.9983 18.3763C24.9983 17.5859 24.8645 16.8239 24.5873 16.045C24.3083 15.2924 23.8615 14.5947 23.2997 14.0294C22.6342 13.379 21.8085 12.8742 20.9186 12.5697C19.9025 12.1878 18.6752 12.0044 17.1557 12.0044C16.6033 12.0044 16.0302 12.0044 15.4514 12.0233C15.1668 12.0328 14.8915 12.0366 14.6238 12.0422C14.3429 12.0479 14.0733 12.0517 13.8131 12.0611C13.5643 12.0706 13.323 12.0744 13.0911 12.08C12.8479 12.0857 12.6122 12.0895 12.3822 12.0989C12.0278 12.1141 11.7601 12.1179 11.4999 12.1179V31.2712V31.2731ZM16.9672 22.1597H15.968C15.7436 22.1597 15.5099 22.1426 15.2629 22.1256L14.8557 22.0973V15.0637L15.1799 15.0164C15.278 15.0032 15.5551 14.9729 16.0057 14.9937C16.3695 14.9748 16.7956 14.9748 17.2877 14.9748C18.1417 14.954 18.9391 15.0901 19.6536 15.3813C20.2569 15.6101 20.7772 16.0336 21.1468 16.6027C21.4955 17.1908 21.6633 17.8431 21.6407 18.5048C21.6407 19.4256 21.4201 20.1422 20.9677 20.683C20.4813 21.237 19.8855 21.6227 19.2351 21.8061C18.5168 22.0405 17.7495 22.1616 16.9653 22.1616L16.9672 22.1597ZM15.6098 21.3901C15.7361 21.3977 15.8568 21.4034 15.968 21.4034H16.9672C17.6722 21.4034 18.3622 21.2956 19.0183 21.0819C19.5424 20.9345 20.0137 20.6263 20.3983 20.1895C20.7263 19.7981 20.8885 19.2403 20.8885 18.4916C20.9054 17.9622 20.7735 17.4517 20.5077 17.0017C20.2343 16.5819 19.8403 16.2605 19.3784 16.0847C18.7525 15.8294 18.0549 15.7122 17.2971 15.7311C16.7975 15.7311 16.3733 15.7311 16.0264 15.75H16.0076H15.9887C15.8398 15.7424 15.7135 15.7405 15.6117 15.7443V21.392L15.6098 21.3901Z' fill='%231D1D1D'/%3E%3Cpath d='M28.2201 32.0314C27.8958 32.0314 27.6244 31.7988 27.5829 31.4717L27.5791 31.4244V20.874C27.5791 20.4221 27.5791 19.9551 27.5603 19.4711C27.5508 19.2234 27.5452 18.9738 27.5414 18.7261C27.5376 18.4822 27.532 18.2402 27.5226 17.9963C27.5226 17.5822 27.4886 17.1946 27.4528 16.7843L27.449 16.7446C27.4283 16.6123 27.4566 16.478 27.5263 16.3646C27.5414 16.34 27.5584 16.3173 27.5772 16.2946V16.236L27.8185 16.1263C27.9034 16.0904 27.9976 16.0866 28.0844 16.1093H31.31C31.6494 16.1093 31.9529 16.3343 32.0641 16.6709C32.1263 16.8392 32.1697 17.0169 32.1923 17.2041C32.2187 17.3345 32.2489 17.4934 32.2696 17.6541C32.7277 17.2305 33.2349 16.8675 33.7891 16.5707C34.6827 16.0639 35.7309 15.7917 36.8112 15.7879C36.9676 15.7747 37.1185 15.82 37.2429 15.9184C37.3673 16.0167 37.4465 16.1604 37.471 16.3211L37.4748 16.374V20.1366C37.4748 20.235 37.4427 20.7228 36.7961 20.7228C36.1004 20.7039 35.4481 20.7644 34.8449 20.9024C34.3189 21.0121 33.8117 21.1747 33.331 21.3902C33.0369 21.5301 32.7881 21.7003 32.5939 21.8931V31.3866C32.5939 31.7837 32.3563 32.0295 31.9717 32.0295H28.2767C28.2578 32.0295 28.2371 32.0314 28.2182 32.0314H28.2201ZM28.3351 31.2732H31.8417V21.602L31.934 21.4942C32.2074 21.1803 32.5731 20.9137 33.0181 20.702C33.5572 20.4618 34.1172 20.2803 34.6865 20.1631C35.3181 20.0175 36.0062 19.9513 36.7244 19.9646V16.5461C35.8063 16.565 34.9203 16.8013 34.1567 17.2343C33.4196 17.6314 32.7767 18.1494 32.2394 18.7772L31.5758 19.5524V18.5295C31.5758 18.3007 31.5589 18.0852 31.54 17.8829C31.5212 17.7013 31.4835 17.4952 31.4514 17.3364L31.4458 17.3043C31.4307 17.1719 31.4024 17.0509 31.3553 16.9223C31.3421 16.8864 31.3251 16.8656 31.3119 16.8656H28.2182C28.2503 17.2381 28.2767 17.5992 28.2767 17.9812C28.2861 18.2156 28.2899 18.4633 28.2955 18.711C28.2993 18.9549 28.3049 19.1969 28.3144 19.4408C28.3332 19.94 28.3332 20.4146 28.3332 20.874V31.2732H28.3351Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill>span.ae::before {
    left: 235px;
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='45' viewBox='0 0 46 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.6153 45H8.38288C3.75987 45 0 41.2272 0 36.5925V8.40751C0 3.77276 3.76171 0 8.38288 0H37.6153C42.2383 0 45.9982 3.77276 45.9982 8.40751V36.5906C45.9982 41.2272 42.2364 44.9982 37.6153 44.9982V45ZM8.38288 0.73831C4.16659 0.73831 0.736147 4.17883 0.736147 8.40751V36.5906C0.736147 40.8193 4.16659 44.2598 8.38288 44.2598H37.6153C41.8316 44.2598 45.262 40.8193 45.262 36.5906V8.40751C45.262 4.17883 41.8316 0.73831 37.6153 0.73831H8.38288Z' fill='%231D1D1D'/%3E%3Cpath d='M20.3618 31.9707C20.084 31.9707 19.83 31.7824 19.7453 31.5037L18.2859 27.2215H11.8005L10.4533 31.4151C10.3705 31.751 10.0595 31.9744 9.72452 31.9504H6.1947C5.93152 31.9504 5.78798 31.8359 5.71252 31.7399C5.59658 31.5923 5.56897 31.3948 5.6297 31.1511L5.63891 31.1198L11.7121 13.6606C11.7636 13.4889 11.8189 13.3228 11.8906 13.1032C11.9569 12.7451 11.9919 12.3704 11.9937 11.9902C11.9661 11.717 12.1612 11.4512 12.4409 11.3958L12.5127 11.3884H17.397C17.6933 11.3884 17.9289 11.5545 17.9951 11.8037L24.8818 31.201C24.9444 31.428 24.9204 31.6181 24.81 31.7621C24.7382 31.8562 24.5965 31.9707 24.3389 31.9707H20.4171C20.3987 31.9707 20.3803 31.9725 20.36 31.9725L20.3618 31.9707ZM20.4299 31.2287H24.1144L17.3308 12.1249H12.7298C12.7206 12.5125 12.682 12.8946 12.6121 13.2619L12.5992 13.3099C12.5237 13.5351 12.4685 13.7012 12.4133 13.8858L6.38794 31.2102H9.74661L9.74845 31.201L11.2631 26.4813H18.8104L20.4281 31.2287H20.4299ZM17.905 23.4561H12.1041L12.279 22.9633C12.5476 22.2121 12.8531 21.3132 13.0979 20.3478L13.1034 20.3257C13.2893 19.7406 13.4697 19.1554 13.6463 18.5796C13.7549 18.2252 13.8635 17.8745 13.9703 17.5293C14.2169 16.7707 14.423 15.9863 14.6033 15.1243L14.6641 14.8308H15.2769L15.3542 15.0966C15.4278 15.3476 15.4996 15.6097 15.5769 15.8847C15.6376 16.1062 15.702 16.337 15.7701 16.5751C15.9008 17.0513 16.0572 17.5662 16.2762 18.2473C16.3719 18.5427 16.4621 18.8361 16.5523 19.1278C16.6406 19.412 16.729 19.6981 16.8228 19.9879C17.0124 20.6247 17.178 21.1526 17.3308 21.6103C17.5038 22.1105 17.6547 22.5867 17.7688 22.9873L17.9031 23.458L17.905 23.4561ZM13.1476 22.7178H16.924C16.8394 22.4465 16.7418 22.1511 16.6369 21.8466C16.4805 21.3778 16.313 20.8425 16.1235 20.2057C16.0315 19.9214 15.9431 19.6335 15.8529 19.3456C15.7628 19.0558 15.6726 18.766 15.5787 18.4725C15.356 17.7822 15.1978 17.258 15.0653 16.7744C15.0487 16.7153 15.0321 16.6581 15.0156 16.5991C14.9107 16.994 14.7984 17.378 14.677 17.7545C14.5702 18.0941 14.4635 18.4448 14.3549 18.7974C14.1782 19.3733 13.9997 19.9565 13.812 20.5416C13.6114 21.3261 13.374 22.0644 13.1476 22.7178Z' fill='%231D1D1D'/%3E%3Cpath d='M33.4432 32.3287C33.3475 32.3287 33.2536 32.3287 33.1579 32.325C31.7022 32.325 30.4342 32.0925 29.3962 31.631C28.4429 31.2213 27.5724 30.5642 26.886 29.7317C26.2547 28.9602 25.7946 28.0834 25.5149 27.1218C25.2425 26.2063 25.1045 25.2409 25.1045 24.2571C25.1045 23.1811 25.2683 22.1308 25.594 21.1341C25.9106 20.1392 26.4093 19.2274 27.0755 18.4226C27.7289 17.629 28.5368 16.9922 29.479 16.5307C30.3459 16.1044 31.3986 15.9069 32.7899 15.9069C33.872 15.8847 34.9081 16.0951 35.8651 16.5252C36.708 16.8962 37.4221 17.4407 37.9815 18.1439C38.5337 18.8675 38.933 19.6316 39.1778 20.4216C39.4262 21.1876 39.5532 22.0016 39.5532 22.8377C39.5532 23.3029 39.533 23.7163 39.5146 24.067V24.0855C39.4925 24.2811 39.4778 24.4473 39.4649 24.5875C39.4538 24.7057 39.4465 24.8035 39.4373 24.8829C39.3913 25.2151 39.1207 25.4569 38.8079 25.4569C38.7416 25.4569 38.6404 25.4643 38.5042 25.4735C38.4214 25.479 38.3257 25.4864 38.219 25.492C37.9024 25.5307 37.5343 25.551 37.0908 25.551C36.8663 25.551 36.6362 25.5326 36.4136 25.5141C36.1853 25.4957 35.9516 25.4754 35.7142 25.4754H30.1747C30.2704 25.8833 30.425 26.2653 30.6311 26.5921C30.9293 27.0406 31.347 27.3857 31.8329 27.5814C32.5617 27.8915 33.342 28.0428 34.1021 28.0281C34.8235 28.0078 35.4455 27.9413 35.9976 27.8269L36.0252 27.8232C36.5479 27.7549 37.0687 27.622 37.5748 27.4263C37.7717 27.3008 37.9411 27.3562 38.0073 27.3894C38.1803 27.4725 38.2686 27.646 38.2686 27.9062V30.8004C38.2686 30.9222 38.241 31.0293 38.2208 31.116L38.2061 31.177L38.1711 31.2305C38.1067 31.3283 38.0331 31.4003 37.9355 31.4667L37.8785 31.4981C37.2362 31.7805 36.5921 31.9743 35.9075 32.0906C35.0885 32.2475 34.2787 32.325 33.445 32.325L33.4432 32.3287ZM32.9261 16.6452C32.8819 16.6452 32.8396 16.6452 32.7954 16.6452C31.5127 16.6452 30.5649 16.8205 29.8011 17.1952C28.9545 17.6105 28.2276 18.1827 27.6405 18.8952C27.035 19.6279 26.5823 20.4585 26.2934 21.3648C25.9915 22.2877 25.8388 23.2623 25.8388 24.259C25.8388 25.1726 25.9676 26.066 26.2198 26.9151C26.4719 27.7826 26.886 28.5726 27.4528 29.2647C28.0656 30.0067 28.8404 30.5918 29.6888 30.9573C30.6366 31.3781 31.8034 31.5886 33.1653 31.5886C34.0542 31.6089 34.9045 31.535 35.7731 31.3689C36.3859 31.2637 36.9565 31.0939 37.5251 30.8503C37.5288 30.8318 37.5307 30.817 37.5307 30.8041V28.2311C37.0706 28.3861 36.6013 28.4969 36.1301 28.5578C35.5394 28.6796 34.8805 28.7498 34.1186 28.7701C33.2518 28.7904 32.3666 28.6169 31.5495 28.268C30.9311 28.0207 30.3974 27.5795 30.0109 26.9981C29.6741 26.4628 29.4533 25.8297 29.3668 25.1579L29.3134 24.7407H35.7105C35.9792 24.7407 36.2295 24.761 36.4706 24.7813C36.6878 24.7998 36.892 24.8164 37.0871 24.8164C37.5049 24.8164 37.8472 24.798 38.1343 24.7629H38.1582C38.2668 24.7537 38.3643 24.7481 38.449 24.7407C38.5539 24.7334 38.6404 24.7278 38.7103 24.7241C38.7159 24.6688 38.7214 24.6005 38.7287 24.5248C38.7416 24.3845 38.7563 24.2165 38.7766 24.0209C38.795 23.6665 38.8134 23.2826 38.8134 22.8396C38.8134 22.081 38.6993 21.3427 38.4729 20.6468C38.2539 19.9343 37.8914 19.2477 37.3982 18.5998C36.9178 17.9981 36.2976 17.5256 35.5615 17.2007C34.7407 16.8316 33.8536 16.6433 32.9242 16.6433L32.9261 16.6452ZM33.7119 22.7178H29.3171L29.3668 22.3043C29.4294 21.7746 29.5821 21.2725 29.8214 20.8166C30.3679 19.7627 31.4777 19.124 32.6592 19.1794C33.9217 19.137 35.0682 19.962 35.4584 21.1765C35.5467 21.4405 35.5891 21.7081 35.5891 21.9887V22.3671L35.4345 22.4778C35.2192 22.6329 34.9873 22.6753 34.8327 22.6956C34.575 22.7178 34.2125 22.7178 33.7119 22.7178ZM30.171 21.9795H33.7137C34.1978 21.9795 34.5474 21.9795 34.7591 21.9628C34.794 21.9592 34.8253 21.9518 34.8548 21.9462C34.8511 21.7598 34.8198 21.5882 34.7609 21.4073C34.4701 20.4973 33.6125 19.8863 32.6702 19.9196H32.6537H32.6371C31.7372 19.8697 30.8906 20.357 30.4747 21.1581C30.3385 21.4202 30.2373 21.6915 30.171 21.9795Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill>span.fi::before {
    left: 288px;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='46' viewBox='0 0 45 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7786 38.2208C14.9773 38.2208 12.698 35.8322 12.698 32.8963C12.698 29.9605 14.9773 27.5718 17.7786 27.5718H22.8592V32.8963C22.8592 35.8322 20.58 38.2208 17.7786 38.2208ZM17.7786 28.3246C15.3733 28.3246 13.4181 30.3755 13.4181 32.8944C13.4181 35.4133 15.3751 37.4642 17.7786 37.4642C20.1821 37.4642 22.1391 35.4133 22.1391 32.8944V28.3246H17.7786Z' fill='%231D1D1D'/%3E%3Cpath d='M22.8592 28.3246H17.7786C14.9773 28.3246 12.698 25.9359 12.698 23.0001C12.698 20.0642 14.9773 17.6755 17.7786 17.6755H22.8592V28.3265V28.3246ZM17.7786 18.4303C15.3733 18.4303 13.4181 20.4812 13.4181 23.0001C13.4181 25.5189 15.3751 27.5699 17.7786 27.5699H22.1391V18.4284H17.7786V18.4303Z' fill='%231D1D1D'/%3E%3Cpath d='M22.8592 18.4303H17.7786C14.9773 18.4303 12.698 16.0416 12.698 13.1058C12.698 10.1699 14.9773 7.78125 17.7786 7.78125H22.8592V18.4303ZM17.7786 8.53408C15.3733 8.53408 13.4181 10.585 13.4181 13.1039C13.4181 15.6228 15.3751 17.6737 17.7786 17.6737H22.1391V8.53408H17.7786Z' fill='%231D1D1D'/%3E%3Cpath d='M27.2215 18.4303H22.1409V7.78125H27.2215C30.0228 7.78125 32.3021 10.1699 32.3021 13.1058C32.3021 16.0416 30.0228 18.4303 27.2215 18.4303ZM22.8592 17.6756H27.2197C29.625 17.6756 31.5802 15.6246 31.5802 13.1058C31.5802 10.5869 29.6232 8.53597 27.2197 8.53597H22.8592V17.6756Z' fill='%231D1D1D'/%3E%3Cpath d='M27.2215 28.3246C24.4201 28.3246 22.1409 25.9359 22.1409 23.0001C22.1409 20.0642 24.4201 17.6755 27.2215 17.6755C30.0228 17.6755 32.3021 20.0642 32.3021 23.0001C32.3021 25.9359 30.0228 28.3246 27.2215 28.3246ZM27.2215 18.4303C24.8162 18.4303 22.861 20.4812 22.861 23.0001C22.861 25.5189 24.818 27.5699 27.2215 27.5699C29.625 27.5699 31.582 25.5189 31.582 23.0001C31.582 20.4812 29.625 18.4303 27.2215 18.4303Z' fill='%231D1D1D'/%3E%3Cpath d='M45 46H0V0H45V46ZM44.2799 0.754717H0.720144V45.2453H44.2799V0.754717Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.aboutme .info ul li.skill .code {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 800;
    color: #1d1d1d;
    margin-top: 35px;
    margin-left: 20px;
}
.aboutme .info ul li.skill .code strong {
    border: 1px solid #3d3d3d;
    border-radius: 50px;
    padding: 3px 10px;
    margin-right: 5px;
}
@media screen and (max-width:1500px) {
    header ul li a {
        font-size: 35px;
    }
    .home .photo {
        width: 673px;
        height: 479px;
    }
    .aboutme .intro .photo {
        width: 406px;
        height: 351px;
        margin-top: 58px;
    }
    .aboutme .intro .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .aboutme .intro .words strong {
        font-size: 23px;
    }
    .aboutme .info ul {
        margin: 18px 0 0 18px;
    }
    .aboutme .info ul li h1 {
        font-size: 23px;
    }
    .aboutme .info ul li a strong {
        font-size: 18px;
    }
    .aboutme .info ul li a strong::before {
        top: -10px;
        width: 30px;
        height: 38px;
    }
    .aboutme .info ul li a span {
        font-size: 15px;
    }
    .aboutme .info ul li.edu>a {
        padding-bottom: 20px;
    }
    .aboutme .info ul li.certi>a {
        margin-bottom: 10px;
    }
    .aboutme .info ul li.skill>span::before {
        width: 37px;
        height: 36px;
    }
    .aboutme .info ul li.skill>span.ps::before {
        left: 66px;
    }
    .aboutme .info ul li.skill>span.xd::before {
        left: 109px;
    }
    .aboutme .info ul li.skill>span.pr::before {
        left: 152px;
    }
    .aboutme .info ul li.skill>span.ae::before {
        left: 195px;
    }
    .aboutme .info ul li.skill>span.fi::before {
        left: 238px;
    }
    .aboutme .info ul li.skill .code {
        font-size: 16px;
        margin-top: 25px;
    }
    .contact .inner {
        width: 125px;
        height: 125px;
    }
    .contact .inner ul li {
        font-size: 20px;
    }
    .contact .inner button {
        font-size: 24px;
    }
}/* //aboutme media 1500 */

.pj01 {
    margin: 0 6%;
}
.pj01 .pj01_wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 120px 0 0 111px;
}
.pj01 .pj01_wrap .txt {
    position: relative; /* span 정렬 기준 */
}
.pj01 .pj01_wrap .txt h1 {
    font-size: 80px;
    font-weight: 800;
    color: #3E6066;
    white-space: nowrap;
}
.pj01 .pj01_wrap .txt h2 {
    font-size: 30px;
    color: #1d1d1d;
    margin: 14px 0 30px 0;
}
.pj01 .pj01_wrap .txt>span {
    position: absolute; /* txt 기준 정렬 */
    right: 20px;
    top: 80px;
    z-index: 1;
    font-size: 80px;
    font-weight: 800;
    color: rgba(0,0,0,0.05);
}
.pj01 .pj01_wrap .txt p {
    margin-bottom: 52px;
    line-height: 1.5;
}
.pj01 .pj01_wrap .txt .inner {
    margin-bottom: 27px;
    white-space: nowrap;
}
.pj01 .pj01_wrap .txt .inner strong {
    display: inline-block;
    font-weight: 800;
    width: 53px;
    margin-right: 55px;
    color: #1d1d1d;
}
.pj01 .pj01_wrap .txt .more {
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    padding: 0 44px 3px 44px;
    margin-top: 19px;
    transition: 0.3s;
}
.pj01 .pj01_wrap .txt .more:hover {
    background-color: #E87C60;
}
.pj01 .pj01_wrap .photo {
    font-size: 0;
    line-height: 0;
    width: 830px;
    height: 412px;
}
.pj01 .pj01_wrap .photo a {
    display: block;
    position: relative; /* a::before 정렬 기준 */
}
.pj01 .pj01_wrap .photo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pj02 {
    margin: 0 6%;
}
.pj02 .pj02_wrap {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin: 120px 0 0 111px;
}
.pj02 .pj02_wrap .txt {
    position: relative; /* span 정렬 기준 */
}
.pj02 .pj02_wrap .txt h1 {
    font-size: 80px;
    font-weight: 800;
    color: #473936;
    white-space: nowrap;
}
.pj02 .pj02_wrap .txt h2 {
    font-size: 30px;
    color: #1d1d1d;
    margin: 14px 0 30px 0;
}
.pj02 .pj02_wrap .txt>span {
    position: absolute; /* txt 기준 정렬 */
    right: -90px;
    top: 80px;
    z-index: 1;
    font-size: 80px;
    font-weight: 800;
    color: rgba(0,0,0,0.05);
}
.pj02 .pj02_wrap .txt p {
    margin-bottom: 52px;
    line-height: 1.5;
}
.pj02 .pj02_wrap .txt .inner {
    margin-bottom: 27px;
    white-space: nowrap;
}
.pj02 .pj02_wrap .txt .inner strong {
    display: inline-block;
    font-weight: 800;
    width: 53px;
    margin-right: 55px;
    color: #1d1d1d;
}
.pj02 .pj02_wrap .txt .more {
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    padding: 0 44px 3px 44px;
    margin-top: 19px;
    transition: 0.3s;
}
.pj02 .pj02_wrap .txt .more:hover {
    background-color: #E87C60;
}
.pj02 .pj02_wrap .photo {
    font-size: 0;
    line-height: 0;
    width: 873px;
    height: 632px;
}
.pj02 .pj02_wrap .photo a {
    display: block;
    position: relative; /* a::before 정렬 기준 */
}
.pj02 .pj02_wrap .photo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1500px) {
    .pj01 .pj01_wrap .txt,
    .pj02 .pj02_wrap .txt {
        width: 40%;
    }
    .pj01 .pj01_wrap .txt h1,
    .pj02 .pj02_wrap .txt h1 {
        font-size: 65px;
    }
    .pj01 .pj01_wrap .txt h2,
    .pj02 .pj02_wrap .txt h2 {
        font-size: 28px;
        margin-bottom: 24px;
    }
    .pj01 .pj01_wrap .txt p,
    .pj02 .pj02_wrap .txt p {
        margin-bottom: 35px;
    }
    .pj01 .pj01_wrap .txt p br,
    .pj02 .pj02_wrap .txt p br {
        display: none;
    }
}/* //pj01,pj02 media 1500 */

.pj03 {
    margin: 0 6%;
}
.pj03 .prep {
    display: block;
    font-size: 60px;
    font-weight: 800;
    color: rgba(0,0,0,0.3);
    margin-top: 60px;
}

.thk .wrapper {
    position: relative;
}
.thk .txt {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    text-align: center;
    margin-top: 20%;
}
.thk .txt h1 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -0.05em;
    color: #1d1d1d;
}
.thk .txt p {
    font-size: 18px;
    margin-top: 20px;
}
.thk .txt span {
    display: block;
    color: rgba(0,0,0,0.3);
    margin-top: 30px;
}


.cursor { 
	position: absolute;
	z-index: 1000;
	transform: translate(10%, 10%);
	display:none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
    background-color: #E87C60;
    text-align: center;
    padding-top: 16px;
}
.cursor.on {
	display: block;
}