@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.container {
    margin: 0 auto;
}
.wrapper {
    padding: 0 60px;
}
*::selection {
    background-color: #0B7CC2;
    color: #fff;
}
*::-moz-selection {
    background-color: #0B7CC2;
    color: #fff;
}

html, body {
    font-family: 'Pretendard Variable', sans-serif, Arial;;
    font-size: 15px;
    color: #1d1d1d;
    font-weight: 300;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word;
}
.wrapper {
    max-width: 1920px;
    width: 100%;
    padding: 0 60px 0 60px;
    margin: 0 auto;
}
#wrap {
    width: 100%;
    overflow: hidden;
}

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #0B7CC2;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.skipnav a[href="#gnb"] {
    background-color: #1d1d1d;
}
.skipnav a:focus {
    top: 100px;
}

/*
    파일명 : common.css
    작성자 : 양은직
    작성명 : 2024.02.28
    설　명 : 홈페이지 전체에 공통으로 적용되는 스타일을 저장
*/

