.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야함 (상단에 숨겨져 있어야함) */
    width: 100%;
    z-index: 9999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3d3d3d;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px; /* a가 포커스되면 올라간 만큼 다시 내려옴 */
}



header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
header.fixed {
    position: fixed;
    background-color: #F4F4F4;
    color: #1d1d1d;
}
header .logo {
    margin-top: 9px;
}
header .logo a {
    width: 130px;
    height: 80px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
    margin-left: 20px;
}
header .logo a::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/logo_w.png);
    content: "";
}
header.fixed .logo a::after {
    background-image: url(../images/main/logo_b.png);
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    text-align: center;
}
header .gnb .gnb_wrap ul.depth1 > li {
    width: 130px;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 20px;
}
header .gnb .gnb_wrap ul > li:hover a {
    color: var(--color-main1);
}

header .gnb .gnb_wrap ul.depth2 {
    display: none;
    width: 100%;
    padding-top: 20px;
}
header .gnb .gnb_wrap ul.depth2 > li > a {
    display: block;
    line-height: 2.5;
    color: #2d2d2d;
}
header .gnb .gnb_wrap ul.depth2 > li > a:hover {
    color: var(--color-main1);
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}
header .tnb span{
    font-size: 0;
    line-height: 0;
    width: 123px;
    height: 100px;
    position: relative;
    display: block;
}
header .tnb span::before {
    position: absolute;
    right: 0;
    top: 29px;
    width: 123px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='123' height='40' viewBox='0 0 123 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.0097 32.4647C52.1763 33.0202 51.2859 33.4429 50.3384 33.7326C49.3906 34.022 48.4306 34.1667 47.4584 34.1667C46.4648 34.1667 45.5012 34.0134 44.5676 33.7067C43.6337 33.4001 42.7362 32.9967 41.8751 32.4967C41.264 32.8579 40.6373 33.1672 39.9951 33.4247C39.3531 33.6822 38.6849 33.8772 37.9905 34.0097C37.7811 34.0438 37.5915 33.983 37.4217 33.8272C37.2517 33.6711 37.1667 33.4851 37.1667 33.2692C37.1667 33.032 37.2448 32.8323 37.4009 32.6701C37.5567 32.5076 37.7533 32.3922 37.9905 32.3238C38.5397 32.2063 39.0594 32.0311 39.5497 31.798C40.0402 31.5652 40.5184 31.2961 40.9842 30.9905C41.247 30.8111 41.5423 30.7213 41.8701 30.7213C42.1981 30.7213 42.4936 30.8111 42.7563 30.9905C43.4658 31.4413 44.2201 31.7987 45.0192 32.0626C45.8184 32.3265 46.6315 32.4584 47.4584 32.4584C48.264 32.4584 49.0573 32.3494 49.8384 32.1313C50.6192 31.9136 51.3537 31.5899 52.0417 31.1605C52.3473 30.9597 52.6892 30.8608 53.0676 30.8638C53.4456 30.8672 53.7874 30.9692 54.093 31.1701C54.7811 31.5995 55.507 31.9216 56.2709 32.1363C57.0348 32.3511 57.8195 32.4584 58.6251 32.4584C59.5012 32.4584 60.3495 32.3126 61.1701 32.0209C61.9906 31.7292 62.7587 31.3473 63.4742 30.8751C63.7159 30.7234 63.9606 30.6513 64.2084 30.6588C64.4562 30.6663 64.7009 30.7491 64.9426 30.9072C65.4081 31.2127 65.8952 31.4851 66.4038 31.7242C66.9124 31.9637 67.4413 32.1529 67.9905 32.2917C68.2277 32.3665 68.4274 32.4888 68.5897 32.6588C68.7522 32.8286 68.8334 33.032 68.8334 33.2692C68.8334 33.5065 68.7469 33.7047 68.5738 33.8638C68.4008 34.023 68.1956 34.0716 67.9584 34.0097C67.2917 33.8772 66.6459 33.6752 66.0209 33.4038C65.3959 33.1324 64.7917 32.8301 64.2084 32.4967C63.3537 32.9967 62.4579 33.4001 61.5209 33.7067C60.584 34.0134 59.6187 34.1667 58.6251 34.1667C57.6315 34.1667 56.6609 34.0134 55.7134 33.7067C54.7656 33.4001 53.8644 32.9861 53.0097 32.4647ZM37.1667 28.2692V24.1667C37.1667 21.6645 37.6502 19.343 38.6172 17.2022C39.5841 15.0611 40.9222 13.2095 42.6313 11.6476C44.3408 10.0856 46.3681 8.86494 48.7134 7.9855C51.0584 7.10633 53.5984 6.66675 56.3334 6.66675C56.6773 6.66675 57.0315 6.67369 57.3959 6.68758C57.7604 6.70147 58.1145 6.72869 58.4584 6.76925C58.8856 6.83119 59.2152 7.04814 59.4472 7.42008C59.6791 7.79175 59.7127 8.1848 59.548 8.59925C59.313 9.18258 59.1352 9.72855 59.0147 10.2372C58.8938 10.7458 58.8334 11.3195 58.8334 11.9584C58.8334 13.7212 59.4552 15.2244 60.6988 16.468C61.9424 17.7116 63.4456 18.3334 65.2084 18.3334H68.0001C68.2373 18.3334 68.4355 18.413 68.5947 18.5722C68.7538 18.7313 68.8334 18.9295 68.8334 19.1667C68.8334 19.404 68.7538 19.6022 68.5947 19.7613C68.4355 19.9205 68.2373 20.0001 68.0001 20.0001H65.2084C62.9712 20.0001 61.0716 19.2191 59.5097 17.6572C57.9477 16.0952 57.1667 14.1956 57.1667 11.9584C57.1667 11.3773 57.2319 10.754 57.3622 10.0884C57.4924 9.42258 57.6559 8.828 57.8526 8.30466C55.2201 8.76189 53.0588 9.92591 51.3688 11.7967C49.6786 13.6673 48.8334 15.8569 48.8334 18.3655C48.8334 19.7288 49.0145 20.9901 49.3767 22.1492C49.739 23.3084 50.3292 24.4937 51.1476 25.7051L52.298 25.0097C52.5397 24.8516 52.7844 24.7726 53.0322 24.7726C53.2799 24.7726 53.5245 24.8516 53.7659 25.0097C54.469 25.4755 55.2388 25.8612 56.0755 26.1667C56.9119 26.4723 57.7617 26.6251 58.6251 26.6251C59.4884 26.6251 60.3383 26.4616 61.1747 26.1347C62.0113 25.8077 62.7917 25.422 63.5159 24.9776C63.7576 24.8259 63.9901 24.7484 64.2134 24.7451C64.4365 24.742 64.6688 24.8163 64.9105 24.968L66.1476 25.7213C66.4531 25.888 66.7549 26.0316 67.053 26.1522C67.3511 26.273 67.6561 26.3751 67.968 26.4584C68.2052 26.5331 68.4087 26.6555 68.5784 26.8255C68.7484 26.9952 68.8334 27.1987 68.8334 27.4359C68.8334 27.6517 68.7469 27.8392 68.5738 27.9984C68.4008 28.1576 68.2063 28.2062 67.9905 28.1442C67.4372 28.0117 66.8533 27.8222 66.2388 27.5755C65.6247 27.3286 64.9479 26.9926 64.2084 26.5676C63.234 27.1656 62.2831 27.6095 61.3559 27.8992C60.4284 28.1887 59.5181 28.3334 58.6251 28.3334C57.7745 28.3334 56.844 28.1731 55.8334 27.8526C54.8229 27.532 53.8923 27.1037 53.0417 26.5676C51.9884 27.2234 51.0376 27.6801 50.1892 27.9376C49.3409 28.1951 48.4306 28.327 47.4584 28.3334C46.4862 28.3398 45.5652 28.2148 44.6955 27.9584C43.8258 27.702 42.8856 27.2704 41.8751 26.6634C41.1209 27.0995 40.3426 27.4548 39.5401 27.7292C38.7379 28.0037 37.9467 28.1837 37.1667 28.2692ZM47.3751 26.6251C47.7704 26.6251 48.1656 26.5984 48.5609 26.5451C48.9562 26.4915 49.2874 26.4188 49.5547 26.3272C48.7086 24.9702 48.099 23.672 47.7259 22.4326C47.3531 21.1934 47.1667 19.8377 47.1667 18.3655C47.1667 15.8377 47.8623 13.6161 49.2534 11.7005C50.6442 9.78494 52.5876 8.35064 55.0834 7.39758V8.42966C52.7415 8.57494 50.5797 9.06689 48.598 9.9055C46.6161 10.7441 44.9109 11.8451 43.4826 13.2084C42.054 14.5717 40.9316 16.1716 40.1155 18.008C39.2991 19.8447 38.8749 21.8334 38.843 23.9742V26.0897C39.2574 25.9936 39.6527 25.8579 40.0288 25.6826C40.4049 25.5076 40.7756 25.3079 41.1409 25.0834C41.3826 24.9254 41.6273 24.8501 41.8751 24.8576C42.1229 24.8651 42.3569 24.9479 42.5772 25.1059C42.8697 25.294 43.157 25.4627 43.4392 25.6122C43.7212 25.7619 44.0224 25.9062 44.343 26.0451C44.8152 26.2459 45.3013 26.3927 45.8013 26.4855C46.3013 26.5786 46.8259 26.6251 47.3751 26.6251Z' fill='white'/%3E%3Cpath d='M2.95325 19.312V22.544C5.04925 22.544 6.32925 22.48 7.86525 22.176L7.99325 23.264C6.32925 23.584 4.95325 23.632 2.63325 23.632H1.68925V14.48H7.35325V15.552H2.95325V18.272H7.12925V19.312H2.95325ZM12.0733 12.832H13.3213V27.184H12.0733V19.664H10.1693V26.48H8.92125V13.152H10.1693V18.592H12.0733V12.832ZM17.4 17.376C17.4 18.784 18.456 19.776 19.864 19.776C21.272 19.776 22.328 18.784 22.328 17.376C22.328 15.968 21.272 14.976 19.864 14.976C18.456 14.976 17.4 15.968 17.4 17.376ZM23.608 17.376C23.608 19.456 22.008 20.912 19.864 20.912C17.72 20.912 16.12 19.456 16.12 17.376C16.12 15.296 17.72 13.84 19.864 13.84C22.008 13.84 23.608 15.296 23.608 17.376ZM19.368 22.32V25.792H27.624V26.864H18.056V22.32H19.368ZM26.984 17.2H29.096V18.288H26.984V23.392H25.672V12.832H26.984V17.2Z' fill='white'/%3E%3Cpath d='M77.2202 26V24.9773L81.0611 20.7727C81.5118 20.2803 81.883 19.8523 82.1747 19.4886C82.4664 19.1212 82.6823 18.7765 82.8224 18.4545C82.9664 18.1288 83.0384 17.7879 83.0384 17.4318C83.0384 17.0227 82.9399 16.6686 82.7429 16.3693C82.5497 16.0701 82.2846 15.839 81.9474 15.6761C81.6103 15.5133 81.2315 15.4318 80.8111 15.4318C80.3641 15.4318 79.974 15.5246 79.6406 15.7102C79.3111 15.892 79.0554 16.1477 78.8736 16.4773C78.6955 16.8068 78.6065 17.1932 78.6065 17.6364H77.2656C77.2656 16.9545 77.4228 16.3561 77.7372 15.8409C78.0516 15.3258 78.4796 14.9242 79.0213 14.6364C79.5668 14.3485 80.1785 14.2045 80.8565 14.2045C81.5384 14.2045 82.1425 14.3485 82.669 14.6364C83.1955 14.9242 83.6084 15.3125 83.9077 15.8011C84.2069 16.2898 84.3565 16.8333 84.3565 17.4318C84.3565 17.8598 84.2789 18.2784 84.1236 18.6875C83.9721 19.0928 83.7069 19.5455 83.3281 20.0455C82.9531 20.5417 82.4323 21.1477 81.7656 21.8636L79.152 24.6591V24.75H84.5611V26H77.2202ZM90.7713 26.1591C90.294 26.1515 89.8168 26.0606 89.3395 25.8864C88.8622 25.7121 88.4266 25.4186 88.0327 25.0057C87.6387 24.589 87.3224 24.0265 87.0838 23.3182C86.8452 22.6061 86.7259 21.7121 86.7259 20.6364C86.7259 19.6061 86.8224 18.6932 87.0156 17.8977C87.2088 17.0985 87.4891 16.4261 87.8565 15.8807C88.224 15.3314 88.6671 14.9148 89.1861 14.6307C89.7088 14.3466 90.2978 14.2045 90.9531 14.2045C91.6046 14.2045 92.1842 14.3352 92.6918 14.5966C93.2031 14.8542 93.6198 15.214 93.9418 15.6761C94.2637 16.1383 94.4721 16.6705 94.5668 17.2727H93.1804C93.0516 16.75 92.8016 16.3163 92.4304 15.9716C92.0592 15.6269 91.5668 15.4545 90.9531 15.4545C90.0516 15.4545 89.3414 15.8466 88.8224 16.6307C88.3073 17.4148 88.0478 18.5152 88.044 19.9318H88.1349C88.3471 19.6098 88.599 19.3352 88.8906 19.108C89.1861 18.8769 89.5118 18.6989 89.8679 18.5739C90.224 18.4489 90.6009 18.3864 90.9986 18.3864C91.6652 18.3864 92.2751 18.553 92.8281 18.8864C93.3812 19.2159 93.8243 19.6723 94.1577 20.2557C94.491 20.8352 94.6577 21.5 94.6577 22.25C94.6577 22.9697 94.4967 23.6288 94.1747 24.2273C93.8527 24.822 93.4001 25.2955 92.8168 25.6477C92.2372 25.9962 91.5554 26.1667 90.7713 26.1591ZM90.7713 24.9091C91.2486 24.9091 91.6766 24.7898 92.0554 24.5511C92.438 24.3125 92.7391 23.9924 92.9588 23.5909C93.1823 23.1894 93.294 22.7424 93.294 22.25C93.294 21.7689 93.1861 21.3314 92.9702 20.9375C92.758 20.5398 92.4645 20.2235 92.0895 19.9886C91.7183 19.7538 91.294 19.6364 90.8168 19.6364C90.4569 19.6364 90.1217 19.7083 89.8111 19.8523C89.5005 19.9924 89.2277 20.1856 88.9929 20.4318C88.7618 20.678 88.58 20.9602 88.4474 21.2784C88.3149 21.5928 88.2486 21.9242 88.2486 22.2727C88.2486 22.7348 88.3565 23.1667 88.5724 23.5682C88.7921 23.9697 89.0914 24.2936 89.4702 24.5398C89.8527 24.786 90.2865 24.9091 90.7713 24.9091ZM97.3452 26.0909C97.0649 26.0909 96.8243 25.9905 96.6236 25.7898C96.4228 25.589 96.3224 25.3485 96.3224 25.0682C96.3224 24.7879 96.4228 24.5473 96.6236 24.3466C96.8243 24.1458 97.0649 24.0455 97.3452 24.0455C97.6255 24.0455 97.866 24.1458 98.0668 24.3466C98.2675 24.5473 98.3679 24.7879 98.3679 25.0682C98.3679 25.2538 98.3205 25.4242 98.2259 25.5795C98.1349 25.7348 98.0118 25.8598 97.8565 25.9545C97.705 26.0455 97.5346 26.0909 97.3452 26.0909ZM104.153 26.1591C103.487 26.1591 102.886 26.0265 102.352 25.7614C101.818 25.4962 101.39 25.1326 101.068 24.6705C100.746 24.2083 100.57 23.6818 100.54 23.0909H101.903C101.956 23.6174 102.195 24.053 102.619 24.3977C103.047 24.7386 103.559 24.9091 104.153 24.9091C104.631 24.9091 105.055 24.7973 105.426 24.5739C105.801 24.3504 106.095 24.0436 106.307 23.6534C106.523 23.2595 106.631 22.8144 106.631 22.3182C106.631 21.8106 106.519 21.358 106.295 20.9602C106.076 20.5587 105.773 20.2424 105.386 20.0114C105 19.7803 104.559 19.6629 104.062 19.6591C103.706 19.6553 103.341 19.7102 102.966 19.8239C102.591 19.9337 102.282 20.0758 102.04 20.25L100.722 20.0909L101.426 14.3636H107.472V15.6136H102.608L102.199 19.0455H102.267C102.506 18.8561 102.805 18.6989 103.165 18.5739C103.525 18.4489 103.9 18.3864 104.29 18.3864C105.002 18.3864 105.636 18.5568 106.193 18.8977C106.754 19.2348 107.193 19.697 107.511 20.2841C107.833 20.8712 107.994 21.5417 107.994 22.2955C107.994 23.0379 107.828 23.7008 107.494 24.2841C107.165 24.8636 106.71 25.322 106.131 25.6591C105.551 25.9924 104.892 26.1591 104.153 26.1591ZM111.547 16.2955C111.161 16.2955 110.81 16.2102 110.496 16.0398C110.185 15.8693 109.937 15.6383 109.751 15.3466C109.57 15.0549 109.479 14.7273 109.479 14.3636C109.479 14 109.57 13.6667 109.751 13.3636C109.937 13.0606 110.185 12.8182 110.496 12.6364C110.81 12.4545 111.161 12.3636 111.547 12.3636C111.933 12.3636 112.28 12.4545 112.587 12.6364C112.897 12.8182 113.142 13.0606 113.32 13.3636C113.501 13.6667 113.592 14 113.592 14.3636C113.592 14.7273 113.501 15.0549 113.32 15.3466C113.142 15.6383 112.897 15.8693 112.587 16.0398C112.28 16.2102 111.933 16.2955 111.547 16.2955ZM111.547 15.4318C111.865 15.4318 112.126 15.322 112.331 15.1023C112.536 14.8826 112.638 14.6364 112.638 14.3636C112.638 14.0795 112.536 13.8239 112.331 13.5966C112.126 13.3655 111.865 13.25 111.547 13.25C111.229 13.25 110.967 13.3655 110.763 13.5966C110.558 13.8239 110.456 14.0795 110.456 14.3636C110.456 14.6364 110.558 14.8826 110.763 15.1023C110.967 15.322 111.229 15.4318 111.547 15.4318ZM118.82 26.1818C118.001 26.1818 117.297 25.9886 116.706 25.6023C116.115 25.2159 115.661 24.6837 115.342 24.0057C115.024 23.3277 114.865 22.553 114.865 21.6818C114.865 20.7955 115.028 20.0133 115.354 19.3352C115.683 18.6534 116.142 18.1212 116.729 17.7386C117.32 17.3523 118.009 17.1591 118.797 17.1591C119.411 17.1591 119.964 17.2727 120.456 17.5C120.948 17.7273 121.352 18.0455 121.666 18.4545C121.981 18.8636 122.176 19.3409 122.251 19.8864H120.911C120.808 19.4886 120.581 19.1364 120.229 18.8295C119.88 18.5189 119.411 18.3636 118.82 18.3636C118.297 18.3636 117.839 18.5 117.445 18.7727C117.054 19.0417 116.75 19.4223 116.53 19.9148C116.314 20.4034 116.206 20.9773 116.206 21.6364C116.206 22.3106 116.312 22.8977 116.524 23.3977C116.74 23.8977 117.043 24.286 117.433 24.5625C117.827 24.839 118.289 24.9773 118.82 24.9773C119.168 24.9773 119.484 24.9167 119.768 24.7955C120.053 24.6742 120.293 24.5 120.49 24.2727C120.687 24.0455 120.827 23.7727 120.911 23.4545H122.251C122.176 23.9697 121.988 24.4337 121.689 24.8466C121.393 25.2557 121.001 25.5814 120.513 25.8239C120.028 26.0625 119.464 26.1818 118.82 26.1818Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
/* 메뉴가 열렸을때 */

header.memu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 297px;
    background-color: #F4F4F4;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    content: "";
    z-index: -1;
}
header.memu_over::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
header.memu_over .gnb .gnb_wrap ul.depth2 {
    display: block;   
}
header.memu_over .gnb .gnb_wrap ul.depth1 > li > a:hover > span {
    position: relative;
}
header.memu_over .gnb .gnb_wrap ul.depth1 > li > a:hover >  span::after {
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 100%;
    height: 2px;
    background-color: var(--color-main1);
    content: "";

}

header.fixed .tnb span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='123' height='40' viewBox='0 0 123 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.0097 32.4647C52.1763 33.0202 51.2859 33.4429 50.3384 33.7326C49.3906 34.022 48.4306 34.1667 47.4584 34.1667C46.4648 34.1667 45.5012 34.0134 44.5676 33.7067C43.6337 33.4001 42.7362 32.9967 41.8751 32.4967C41.264 32.8579 40.6373 33.1672 39.9951 33.4247C39.3531 33.6822 38.6849 33.8772 37.9905 34.0097C37.7811 34.0438 37.5915 33.983 37.4217 33.8272C37.2517 33.6711 37.1667 33.4851 37.1667 33.2692C37.1667 33.032 37.2448 32.8323 37.4009 32.6701C37.5567 32.5076 37.7533 32.3922 37.9905 32.3238C38.5397 32.2063 39.0594 32.0311 39.5497 31.798C40.0402 31.5652 40.5184 31.2961 40.9842 30.9905C41.247 30.8111 41.5423 30.7213 41.8701 30.7213C42.1981 30.7213 42.4936 30.8111 42.7563 30.9905C43.4658 31.4413 44.2201 31.7987 45.0192 32.0626C45.8184 32.3265 46.6315 32.4584 47.4584 32.4584C48.264 32.4584 49.0573 32.3494 49.8384 32.1313C50.6192 31.9136 51.3537 31.5899 52.0417 31.1605C52.3473 30.9597 52.6892 30.8608 53.0676 30.8638C53.4456 30.8672 53.7874 30.9692 54.093 31.1701C54.7811 31.5995 55.507 31.9216 56.2709 32.1363C57.0348 32.3511 57.8195 32.4584 58.6251 32.4584C59.5012 32.4584 60.3495 32.3126 61.1701 32.0209C61.9906 31.7292 62.7587 31.3473 63.4742 30.8751C63.7159 30.7234 63.9606 30.6513 64.2084 30.6588C64.4562 30.6663 64.7009 30.7491 64.9426 30.9072C65.4081 31.2127 65.8952 31.4851 66.4038 31.7242C66.9124 31.9637 67.4413 32.1529 67.9905 32.2917C68.2277 32.3665 68.4274 32.4888 68.5897 32.6588C68.7522 32.8286 68.8334 33.032 68.8334 33.2692C68.8334 33.5065 68.7469 33.7047 68.5738 33.8638C68.4008 34.023 68.1956 34.0716 67.9584 34.0097C67.2917 33.8772 66.6459 33.6752 66.0209 33.4038C65.3959 33.1324 64.7917 32.8301 64.2084 32.4967C63.3537 32.9967 62.4579 33.4001 61.5209 33.7067C60.584 34.0134 59.6187 34.1667 58.6251 34.1667C57.6315 34.1667 56.6609 34.0134 55.7134 33.7067C54.7656 33.4001 53.8644 32.9861 53.0097 32.4647ZM37.1667 28.2692V24.1667C37.1667 21.6645 37.6502 19.343 38.6172 17.2022C39.5841 15.0611 40.9222 13.2095 42.6313 11.6476C44.3408 10.0856 46.3681 8.86494 48.7134 7.9855C51.0584 7.10633 53.5984 6.66675 56.3334 6.66675C56.6773 6.66675 57.0315 6.67369 57.3959 6.68758C57.7604 6.70147 58.1145 6.72869 58.4584 6.76925C58.8856 6.83119 59.2152 7.04814 59.4472 7.42008C59.6791 7.79175 59.7127 8.1848 59.548 8.59925C59.313 9.18258 59.1352 9.72855 59.0147 10.2372C58.8938 10.7458 58.8334 11.3195 58.8334 11.9584C58.8334 13.7212 59.4552 15.2244 60.6988 16.468C61.9424 17.7116 63.4456 18.3334 65.2084 18.3334H68.0001C68.2373 18.3334 68.4355 18.413 68.5947 18.5722C68.7538 18.7313 68.8334 18.9295 68.8334 19.1667C68.8334 19.404 68.7538 19.6022 68.5947 19.7613C68.4355 19.9205 68.2373 20.0001 68.0001 20.0001H65.2084C62.9712 20.0001 61.0716 19.2191 59.5097 17.6572C57.9477 16.0952 57.1667 14.1956 57.1667 11.9584C57.1667 11.3773 57.2319 10.754 57.3622 10.0884C57.4924 9.42258 57.6559 8.828 57.8526 8.30466C55.2201 8.76189 53.0588 9.92591 51.3688 11.7967C49.6786 13.6673 48.8334 15.8569 48.8334 18.3655C48.8334 19.7288 49.0145 20.9901 49.3767 22.1492C49.739 23.3084 50.3292 24.4937 51.1476 25.7051L52.298 25.0097C52.5397 24.8516 52.7844 24.7726 53.0322 24.7726C53.2799 24.7726 53.5245 24.8516 53.7659 25.0097C54.469 25.4755 55.2388 25.8612 56.0755 26.1667C56.9119 26.4723 57.7617 26.6251 58.6251 26.6251C59.4884 26.6251 60.3383 26.4616 61.1747 26.1347C62.0113 25.8077 62.7917 25.422 63.5159 24.9776C63.7576 24.8259 63.9901 24.7484 64.2134 24.7451C64.4365 24.742 64.6688 24.8163 64.9105 24.968L66.1476 25.7213C66.4531 25.888 66.7549 26.0316 67.053 26.1522C67.3511 26.273 67.6561 26.3751 67.968 26.4584C68.2052 26.5331 68.4087 26.6555 68.5784 26.8255C68.7484 26.9952 68.8334 27.1987 68.8334 27.4359C68.8334 27.6517 68.7469 27.8392 68.5738 27.9984C68.4008 28.1576 68.2063 28.2062 67.9905 28.1442C67.4372 28.0117 66.8533 27.8222 66.2388 27.5755C65.6247 27.3286 64.9479 26.9926 64.2084 26.5676C63.234 27.1656 62.2831 27.6095 61.3559 27.8992C60.4284 28.1887 59.5181 28.3334 58.6251 28.3334C57.7745 28.3334 56.844 28.1731 55.8334 27.8526C54.8229 27.532 53.8923 27.1037 53.0417 26.5676C51.9884 27.2234 51.0376 27.6801 50.1892 27.9376C49.3409 28.1951 48.4306 28.327 47.4584 28.3334C46.4862 28.3398 45.5652 28.2148 44.6955 27.9584C43.8258 27.702 42.8856 27.2704 41.8751 26.6634C41.1209 27.0995 40.3426 27.4548 39.5401 27.7292C38.7379 28.0037 37.9467 28.1837 37.1667 28.2692ZM47.3751 26.6251C47.7704 26.6251 48.1656 26.5984 48.5609 26.5451C48.9562 26.4915 49.2874 26.4188 49.5547 26.3272C48.7086 24.9702 48.099 23.672 47.7259 22.4326C47.3531 21.1934 47.1667 19.8377 47.1667 18.3655C47.1667 15.8377 47.8623 13.6161 49.2534 11.7005C50.6442 9.78494 52.5876 8.35064 55.0834 7.39758V8.42966C52.7415 8.57494 50.5797 9.06689 48.598 9.9055C46.6161 10.7441 44.9109 11.8451 43.4826 13.2084C42.054 14.5717 40.9316 16.1716 40.1155 18.008C39.2991 19.8447 38.8749 21.8334 38.843 23.9742V26.0897C39.2574 25.9936 39.6527 25.8579 40.0288 25.6826C40.4049 25.5076 40.7756 25.3079 41.1409 25.0834C41.3826 24.9254 41.6273 24.8501 41.8751 24.8576C42.1229 24.8651 42.3569 24.9479 42.5772 25.1059C42.8697 25.294 43.157 25.4627 43.4392 25.6122C43.7212 25.7619 44.0224 25.9062 44.343 26.0451C44.8152 26.2459 45.3013 26.3927 45.8013 26.4855C46.3013 26.5786 46.8259 26.6251 47.3751 26.6251Z' fill='%232D2D2D'/%3E%3Cpath d='M2.95325 19.312V22.544C5.04925 22.544 6.32925 22.48 7.86525 22.176L7.99325 23.264C6.32925 23.584 4.95325 23.632 2.63325 23.632H1.68925V14.48H7.35325V15.552H2.95325V18.272H7.12925V19.312H2.95325ZM12.0733 12.832H13.3213V27.184H12.0733V19.664H10.1693V26.48H8.92125V13.152H10.1693V18.592H12.0733V12.832ZM17.4 17.376C17.4 18.784 18.456 19.776 19.864 19.776C21.272 19.776 22.328 18.784 22.328 17.376C22.328 15.968 21.272 14.976 19.864 14.976C18.456 14.976 17.4 15.968 17.4 17.376ZM23.608 17.376C23.608 19.456 22.008 20.912 19.864 20.912C17.72 20.912 16.12 19.456 16.12 17.376C16.12 15.296 17.72 13.84 19.864 13.84C22.008 13.84 23.608 15.296 23.608 17.376ZM19.368 22.32V25.792H27.624V26.864H18.056V22.32H19.368ZM26.984 17.2H29.096V18.288H26.984V23.392H25.672V12.832H26.984V17.2Z' fill='%232D2D2D'/%3E%3Cpath d='M77.2202 26V24.9773L81.0611 20.7727C81.5118 20.2803 81.883 19.8523 82.1747 19.4886C82.4664 19.1212 82.6823 18.7765 82.8224 18.4545C82.9664 18.1288 83.0384 17.7879 83.0384 17.4318C83.0384 17.0227 82.9399 16.6686 82.7429 16.3693C82.5497 16.0701 82.2846 15.839 81.9474 15.6761C81.6103 15.5133 81.2315 15.4318 80.8111 15.4318C80.3641 15.4318 79.974 15.5246 79.6406 15.7102C79.3111 15.892 79.0554 16.1477 78.8736 16.4773C78.6955 16.8068 78.6065 17.1932 78.6065 17.6364H77.2656C77.2656 16.9545 77.4228 16.3561 77.7372 15.8409C78.0516 15.3258 78.4796 14.9242 79.0213 14.6364C79.5668 14.3485 80.1785 14.2045 80.8565 14.2045C81.5384 14.2045 82.1425 14.3485 82.669 14.6364C83.1955 14.9242 83.6084 15.3125 83.9077 15.8011C84.2069 16.2898 84.3565 16.8333 84.3565 17.4318C84.3565 17.8598 84.2789 18.2784 84.1236 18.6875C83.9721 19.0928 83.7069 19.5455 83.3281 20.0455C82.9531 20.5417 82.4323 21.1477 81.7656 21.8636L79.152 24.6591V24.75H84.5611V26H77.2202ZM90.7713 26.1591C90.294 26.1515 89.8168 26.0606 89.3395 25.8864C88.8622 25.7121 88.4266 25.4186 88.0327 25.0057C87.6387 24.589 87.3224 24.0265 87.0838 23.3182C86.8452 22.6061 86.7259 21.7121 86.7259 20.6364C86.7259 19.6061 86.8224 18.6932 87.0156 17.8977C87.2088 17.0985 87.4891 16.4261 87.8565 15.8807C88.224 15.3314 88.6671 14.9148 89.1861 14.6307C89.7088 14.3466 90.2978 14.2045 90.9531 14.2045C91.6046 14.2045 92.1842 14.3352 92.6918 14.5966C93.2031 14.8542 93.6198 15.214 93.9418 15.6761C94.2637 16.1383 94.4721 16.6705 94.5668 17.2727H93.1804C93.0516 16.75 92.8016 16.3163 92.4304 15.9716C92.0592 15.6269 91.5668 15.4545 90.9531 15.4545C90.0516 15.4545 89.3414 15.8466 88.8224 16.6307C88.3073 17.4148 88.0478 18.5152 88.044 19.9318H88.1349C88.3471 19.6098 88.599 19.3352 88.8906 19.108C89.1861 18.8769 89.5118 18.6989 89.8679 18.5739C90.224 18.4489 90.6009 18.3864 90.9986 18.3864C91.6652 18.3864 92.2751 18.553 92.8281 18.8864C93.3812 19.2159 93.8243 19.6723 94.1577 20.2557C94.491 20.8352 94.6577 21.5 94.6577 22.25C94.6577 22.9697 94.4967 23.6288 94.1747 24.2273C93.8527 24.822 93.4001 25.2955 92.8168 25.6477C92.2372 25.9962 91.5554 26.1667 90.7713 26.1591ZM90.7713 24.9091C91.2486 24.9091 91.6766 24.7898 92.0554 24.5511C92.438 24.3125 92.7391 23.9924 92.9588 23.5909C93.1823 23.1894 93.294 22.7424 93.294 22.25C93.294 21.7689 93.1861 21.3314 92.9702 20.9375C92.758 20.5398 92.4645 20.2235 92.0895 19.9886C91.7183 19.7538 91.294 19.6364 90.8168 19.6364C90.4569 19.6364 90.1217 19.7083 89.8111 19.8523C89.5005 19.9924 89.2277 20.1856 88.9929 20.4318C88.7618 20.678 88.58 20.9602 88.4474 21.2784C88.3149 21.5928 88.2486 21.9242 88.2486 22.2727C88.2486 22.7348 88.3565 23.1667 88.5724 23.5682C88.7921 23.9697 89.0914 24.2936 89.4702 24.5398C89.8527 24.786 90.2865 24.9091 90.7713 24.9091ZM97.3452 26.0909C97.0649 26.0909 96.8243 25.9905 96.6236 25.7898C96.4228 25.589 96.3224 25.3485 96.3224 25.0682C96.3224 24.7879 96.4228 24.5473 96.6236 24.3466C96.8243 24.1458 97.0649 24.0455 97.3452 24.0455C97.6255 24.0455 97.866 24.1458 98.0668 24.3466C98.2675 24.5473 98.3679 24.7879 98.3679 25.0682C98.3679 25.2538 98.3205 25.4242 98.2259 25.5795C98.1349 25.7348 98.0118 25.8598 97.8565 25.9545C97.705 26.0455 97.5346 26.0909 97.3452 26.0909ZM104.153 26.1591C103.487 26.1591 102.886 26.0265 102.352 25.7614C101.818 25.4962 101.39 25.1326 101.068 24.6705C100.746 24.2083 100.57 23.6818 100.54 23.0909H101.903C101.956 23.6174 102.195 24.053 102.619 24.3977C103.047 24.7386 103.559 24.9091 104.153 24.9091C104.631 24.9091 105.055 24.7973 105.426 24.5739C105.801 24.3504 106.095 24.0436 106.307 23.6534C106.523 23.2595 106.631 22.8144 106.631 22.3182C106.631 21.8106 106.519 21.358 106.295 20.9602C106.076 20.5587 105.773 20.2424 105.386 20.0114C105 19.7803 104.559 19.6629 104.062 19.6591C103.706 19.6553 103.341 19.7102 102.966 19.8239C102.591 19.9337 102.282 20.0758 102.04 20.25L100.722 20.0909L101.426 14.3636H107.472V15.6136H102.608L102.199 19.0455H102.267C102.506 18.8561 102.805 18.6989 103.165 18.5739C103.525 18.4489 103.9 18.3864 104.29 18.3864C105.002 18.3864 105.636 18.5568 106.193 18.8977C106.754 19.2348 107.193 19.697 107.511 20.2841C107.833 20.8712 107.994 21.5417 107.994 22.2955C107.994 23.0379 107.828 23.7008 107.494 24.2841C107.165 24.8636 106.71 25.322 106.131 25.6591C105.551 25.9924 104.892 26.1591 104.153 26.1591ZM111.547 16.2955C111.161 16.2955 110.81 16.2102 110.496 16.0398C110.185 15.8693 109.937 15.6383 109.751 15.3466C109.57 15.0549 109.479 14.7273 109.479 14.3636C109.479 14 109.57 13.6667 109.751 13.3636C109.937 13.0606 110.185 12.8182 110.496 12.6364C110.81 12.4545 111.161 12.3636 111.547 12.3636C111.933 12.3636 112.28 12.4545 112.587 12.6364C112.897 12.8182 113.142 13.0606 113.32 13.3636C113.501 13.6667 113.592 14 113.592 14.3636C113.592 14.7273 113.501 15.0549 113.32 15.3466C113.142 15.6383 112.897 15.8693 112.587 16.0398C112.28 16.2102 111.933 16.2955 111.547 16.2955ZM111.547 15.4318C111.865 15.4318 112.126 15.322 112.331 15.1023C112.536 14.8826 112.638 14.6364 112.638 14.3636C112.638 14.0795 112.536 13.8239 112.331 13.5966C112.126 13.3655 111.865 13.25 111.547 13.25C111.229 13.25 110.967 13.3655 110.763 13.5966C110.558 13.8239 110.456 14.0795 110.456 14.3636C110.456 14.6364 110.558 14.8826 110.763 15.1023C110.967 15.322 111.229 15.4318 111.547 15.4318ZM118.82 26.1818C118.001 26.1818 117.297 25.9886 116.706 25.6023C116.115 25.2159 115.661 24.6837 115.342 24.0057C115.024 23.3277 114.865 22.553 114.865 21.6818C114.865 20.7955 115.028 20.0133 115.354 19.3352C115.683 18.6534 116.142 18.1212 116.729 17.7386C117.32 17.3523 118.009 17.1591 118.797 17.1591C119.411 17.1591 119.964 17.2727 120.456 17.5C120.948 17.7273 121.352 18.0455 121.666 18.4545C121.981 18.8636 122.176 19.3409 122.251 19.8864H120.911C120.808 19.4886 120.581 19.1364 120.229 18.8295C119.88 18.5189 119.411 18.3636 118.82 18.3636C118.297 18.3636 117.839 18.5 117.445 18.7727C117.054 19.0417 116.75 19.4223 116.53 19.9148C116.314 20.4034 116.206 20.9773 116.206 21.6364C116.206 22.3106 116.312 22.8977 116.524 23.3977C116.74 23.8977 117.043 24.286 117.433 24.5625C117.827 24.839 118.289 24.9773 118.82 24.9773C119.168 24.9773 119.484 24.9167 119.768 24.7955C120.053 24.6742 120.293 24.5 120.49 24.2727C120.687 24.0455 120.827 23.7727 120.911 23.4545H122.251C122.176 23.9697 121.988 24.4337 121.689 24.8466C121.393 25.2557 121.001 25.5814 120.513 25.8239C120.028 26.0625 119.464 26.1818 118.82 26.1818Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px){
    header .logo {
        margin-top: 9px;
        margin-right: 5px;
    }
    header .logo a {
        width: 103px;
        height: 70px;
        margin-left: 10px;
    }
    
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 104px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
    
    header .tnb a::before {
        width: 110px;
        height: 34px;
    }
}
@media screen and (max-width:1024px){ 
    header {
        height: 70px;
    }
    header.fixed {
        position: fixed;
        background-color: #F4F4F4;
        color: #1d1d1d;
    }
    header .logo {
        margin-top: 0;
        position: relative;
        z-index: 5;
    }
    header .logo a {
        width: 91px;
        height: 68px;
        margin-left: 0;
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #3B7C98;
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: block;
        margin: 70px 0 0 0;
        height: calc(100vh - 100px);
        overflow-y: auto;
        text-align: initial;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li a{
        display: block;
        line-height: 3.5;
        font-size: 17px;
        font-family: 'gowun';
        padding: 0 40px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li a:hover {
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 > li a::before {
        position: absolute;
        right: 30px;
        top: 15px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_74_377)'%3E%3Cpath d='M21.3078 14.0001L12 23.3079L2.69226 14.0001L3.75576 12.9366L12 21.1809L20.2443 12.9366L21.3078 14.0001Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_74_377'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 24) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child a::before {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.69224 9.99989L12 0.692138L21.3077 9.99989L20.2442 11.0634L12 2.81914L3.75574 11.0634L2.69224 9.99989Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a >  span::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #2B464A;
        width: 80%;
        margin: 0 40px;
        padding: 20px 0;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        width: 80%;
        font-size: 15px;
        line-height: 2;
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a::before {
        display: none;
    }
    header .gnb .gnb_open{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .gnb .gnb_open::before {
        position: absolute;
        right: 4px;
        top: 36px;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.0714V13.3929H25V16.0714H0ZM0 9.375V6.69643H25V9.375H0ZM0 2.67857V0H25V2.67857H0Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='17' viewBox='0 0 25 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.0714V13.3929H25V16.0714H0ZM0 9.375V6.69643H25V9.375H0ZM0 2.67857V0H25V2.67857H0Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_close::before {
        right: 8px;
        top: 36px;
        width: 34px;
        height: 34px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.06671 26.9166L7.08337 24.9333L15.0167 16.9999L7.08337 9.06659L9.06671 7.08325L17 15.0166L24.9334 7.08325L26.9167 9.06659L18.9834 16.9999L26.9167 24.9333L24.9334 26.9166L17 18.9833L9.06671 26.9166Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb span::before {
        top: 14px;
        margin-right: 20px;
    }
    
    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: none;
    }
    
}
@media screen and (max-width:640px){ 
    header {
        padding: 0 20px;
    }
    header .tnb{
        display: none;
    }
}

footer {
    width: 100%;
    height: 448px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/footer1.png);
    content: "";
    color: rgba(255,255,255,0.8);
    overflow: hidden;
    object-fit: cover;
}
footer .wrapper {
    text-align: center;
}
footer .f_logo {
    padding: 75px 0 53px 0;
}
footer span {
    display: block;
}
footer .f_info {
    line-height: 2;
}
footer .copy {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:1024px){
    footer {
        height: 395px;
    }
    footer .f_logo {
        padding: 53px 0 32px 0;
    }
}
@media screen and (max-width:640px){
    footer {
        height: 300px;
    }
    footer .f_logo img {
        width: 85px;
        height: 53px;
    }
    footer .f_info {
        line-height: 1.8;
    }
    footer .copy {
        margin-top: 10px;
    }
}