@import url(layout.css);
@import url(default.css);
@import url(fonts.css);
@import url(common.css);



.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/main/visual_bg4.png);
}
.visual ul li h3 {
    font-family: 'Eulyoo1945';
    font-size: 5.333rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 40vh 20px 0 20px;
}
.visual ul li p {
    margin-top: 17px;
    font-size: 1.667rem;
    padding: 0 20px;
}
.visual .btn_wrap {
    position: absolute;  /*swiper기준으로 정렬*/
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    z-index: 10;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿*/
    width: 67px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; 
    /* 애니메이션 종류 후 마지막 상태 유지, 애니메이션 반복 횟수가 제한되었을때 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0;}
    100% { width: 100%;}
}
.visual .btn_wrap button {
    width: 25px;
    height: 25px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 5px;
}
.visual .btn_wrap button::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8825 13.5L17 19.9999L16.0588 21L9 13.5L16.0588 6L17 7.00007L10.8825 13.5Z' fill='white' fill-opacity='0.6'/%3E%3Ccircle cx='13' cy='13' r='12.5' stroke='white' stroke-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 18L8 18L8 8L18 8L18 18ZM17 17L17 9L9 9L9 17L17 17Z' fill='white' fill-opacity='0.6'/%3E%3Ccircle cx='13' cy='13' r='12.5' stroke='white' stroke-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='12.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M10.125 19.3413V7.65869L19.298 13.5L10.125 19.3413ZM11.25 17.2687L17.1996 13.5L11.25 9.73122V17.2687Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1175 13.5L10 7.00007L10.9412 6L18 13.5L10.9412 21L10 19.9999L16.1175 13.5Z' fill='white' fill-opacity='0.6'/%3E%3Ccircle cx='13' cy='13' r='12.5' transform='rotate(-180 13 13)' stroke='white' stroke-opacity='0.6'/%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1024px){ 
    .visual ul li h3 {
        padding: 40vh 20px 0 20px;
        line-height: 1.2;
        font-size: 4.333rem;
    }
    .visual ul li p {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .visual .btn_wrap {
        display: block;
        text-align: center;
    }
    .visual .btn_wrap .paging {
        margin: 20px 0 10px 0;
        width: 400px;
    }
}
@media screen and (max-width:640px){
    .visual ul li {
        height: 400px;
        min-height: auto;
    }
    .visual ul li h3 {
        font-size: 2.154rem;
        padding: 128px 20px 0 20px;
    }
    .visual ul li p {
        margin-top: 10px;
        font-size: 1rem;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 블릿*/
        width: 50px;
        height: 3px;
    }
    .visual .btn_wrap .paging {
        padding: 30px 0 10px 0;
        width: 240px;
    }

}
.story {
    padding: 0 20px;
    margin: 178px 0 200px 0;
}
.story .wrapper2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.story .tit {
    width: 50%;
}
.story .tit strong {
    font-family: 'Eulyoo1945';
    color: var(--color-main1);
    font-size: 1.667rem;
    position: relative;
}
.story .tit strong::before{
    position: absolute;
    right: -159px;
    top: 14px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.story .tit h2 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 5rem;
    color: var(--color-main2);
}
.story .tit h3 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 1.667rem;
    margin: 36px 0 14px 0;
}
.story .tit p {
    line-height: 1.5;
    font-size: 1rem;
}
.story .list {
    width: 50%;
    height: 50%;
}
.story .list .swiper-slide {
    width: auto;
}
.story .list .photo {
    overflow: hidden;
}
.story .list .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.story .more {
    width: 177px;
    height: 39px;
    color: #fff;
    background-color: var(--color-main1);
    border-radius: 50px;
}
.story .more:hover {
    background-color: #3E3E3F;
}
.story .more a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 26px;
    margin: 30px 0 0 0;
}
@media screen and (max-width:1300px){
    .story .wrapper2 {
        display: block
    }
    .story .tit {
        width: auto;
        padding:0;
        padding-bottom: 30px;
    }
    .story .list {
        width: auto;
        height: 100%;
        padding-right: 0;
    }
    .story .more a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 26px;
        margin: 30px 0 0 0;
    }
}
@media screen and (max-width:1024px){
    .story {
        margin: 120px 0 120px 0;
    }
}
@media screen and (max-width:640px){
    .story {
        margin: 80px 0 80px 0;
    }
    .story .wrapper2 {
        width: auto;
    }
    .story .tit strong {
        font-size: 1.231rem;
    }
    .story .tit strong::before{
        position: absolute;
        right: -108px;
        top: 10px;
        width: 100px;
        height: 1px;
        background-color: var(--color-main1);
        content: "";
    }
    .story .tit h2 {
        font-size: 3.077rem;
    }
    .story .tit h3 {
        font-size: 1.308rem;
        margin: 20px 0 10px 0;
    }
    .story .tit p {
        font-size: 1rem;
    }
    .story .list .photo img {
        object-fit: contain;
        width: 247px;
        height: 100%;
    }
    .story .more {
        width: 168px;
        height: 33px;
    }
    
}

.subject {
    background: #3E3E3F;
    padding: 0 0 89px 0;
}
.subject .tit {
    position: relative;
    color: #fff;
}
.subject .tit strong {
    font-family: 'Eulyoo1945';
    font-size: 1.667rem;
    color: var(--color-main1);
    padding-top: 64px;
    display: block;
    position: relative;
}
.subject .tit strong::before {
    position: absolute;
    left: 115px;
    top: 79px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.subject .tit h2 {
    font-size: 5rem;
    font-family: 'Eulyoo1945';
}
.subject .tit p {
    margin-bottom: 66px;
    color: rgba(255, 255, 255, 0.8);
}
.subject .list {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.subject .list .line span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.subject .list ul {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
    position: relative; /* more 정렬 기준 */
}
.subject .list ul li {
    width: 19%;
    background-color: var(--color-main2);
    border: 1px solid #ECDCCC;
    border-radius: 50px 0 50px 0;
    position: relative;
}
.subject .list ul li::before {
    position: absolute;
    left: 0;
    top: -73px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
/* li중에서 active 클래스를 갖고 있는 li */
.subject .list ul li.active {
    width: 37%;
    background-color: #ECDCCC;
    color: #3E3E3F;
}
.subject .list ul li.active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='5' fill='white' fill-opacity='0.2'/%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white' stroke-opacity='0.2'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    top: -77px;
}
.subject .list ul h3::before {
    position: absolute;
    right: 35px;
    bottom: 36px;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.subject .list ul h3.ico1::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='71' viewBox='0 0 70 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_183)'%3E%3Cpath d='M51.2753 59.9424C50.8855 59.9424 50.4827 59.8124 50.2228 59.5525L20.0632 29.3799C19.8033 29.12 19.6733 28.7302 19.6733 28.3274C19.6733 27.9246 19.8033 27.5347 20.0632 27.2748L30.8224 16.5156C31.4721 15.8659 32.3947 15.8659 32.9275 16.5156L62.9572 46.5453C63.2171 46.8052 63.347 47.195 63.347 47.5978C63.347 48.0007 63.2171 48.3905 62.9572 48.6504L52.3279 59.4096C52.068 59.7994 51.6782 59.9294 51.2753 59.9294V59.9424ZM23.3507 28.3274L51.2883 56.265L59.9425 47.6108L32.0049 19.6732L23.3507 28.3274Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 29.7701C21.1156 29.7701 20.8558 29.7701 20.7258 29.6401C20.206 29.3802 19.8032 28.8475 19.8032 28.1978V17.4385C19.8032 16.6459 20.4529 15.8662 21.3755 15.8662H32.1348C32.7845 15.8662 33.3172 16.256 33.5771 16.7888C33.837 17.3086 33.7071 17.9713 33.1873 18.491L22.4281 29.2503C22.0382 29.6401 21.6354 29.7701 21.2456 29.7701ZM22.6879 19.1538V24.6633L28.1975 19.1538H22.6879Z' fill='%23C7A88B'/%3E%3Cpath d='M60.9822 63.0873C60.5924 63.0873 60.1896 62.9574 59.9297 62.6975L53.4975 56.2653C52.8478 55.6156 52.8478 54.693 53.4975 54.1603L57.8246 49.8332C58.0845 49.5733 58.4743 49.4434 58.8772 49.4434C59.28 49.4434 59.6698 49.5733 59.9297 49.8332L66.3618 56.2653C66.6217 56.5252 66.7517 56.9151 66.7517 57.3179C66.7517 57.7207 66.6217 58.1105 66.3618 58.3704L62.0348 62.6975C61.7749 62.9574 61.385 63.0873 60.9822 63.0873ZM56.6551 55.2128L60.9822 59.5399L63.0873 57.4348L58.7602 53.1077L56.6551 55.1998V55.2128Z' fill='%23C7A88B'/%3E%3Cpath d='M57.7073 66.3615C57.3175 66.3615 56.9146 66.2316 56.6548 65.9717C56.0051 65.322 56.0051 64.3994 56.6548 63.8666L67.414 53.1074C68.0637 52.4577 68.9863 52.4577 69.5191 53.1074C70.1688 53.7571 70.1688 54.6797 69.5191 55.1995L58.7598 65.9587C58.5 66.2186 58.1101 66.3485 57.7073 66.3485V66.3615Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0008 63.0873C47.6109 63.0873 47.2081 62.9574 46.9482 62.6975C46.2985 62.0478 46.2985 61.1252 46.9482 60.5924L64.1266 43.414C64.7763 42.7643 65.6989 42.7643 66.2317 43.414C66.8814 44.0638 66.8814 44.9863 66.2317 45.5061L49.1832 62.6845C48.7934 62.9444 48.3906 63.0743 48.0008 63.0743V63.0873Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0007 48.1306C47.6108 48.1306 47.208 48.0006 46.9481 47.7407L24.3901 25.0528C23.7404 24.4031 23.7404 23.4805 24.3901 22.9477C25.0398 22.4279 25.9624 22.298 26.4952 22.9477L49.0532 45.5057C49.7029 46.1554 49.7029 47.078 49.0532 47.6108C48.7933 48.0006 48.4035 48.1306 48.0007 48.1306Z' fill='%23C7A88B'/%3E%3Cpath d='M25.4426 34.0971C25.0528 34.0971 24.65 33.9672 24.3901 33.7073C23.7404 33.0576 23.7404 32.135 24.3901 31.6152L30.8223 25.1831C31.472 24.5334 32.3946 24.5334 32.9273 25.1831C33.577 25.8328 33.577 26.7554 32.9273 27.2882L26.4952 33.7203C26.2353 33.9802 25.8455 34.1101 25.4426 34.1101V34.0971Z' fill='%23C7A88B'/%3E%3Cpath d='M29.7698 38.4243C29.38 38.4243 28.9771 38.2943 28.7173 38.0345C28.0676 37.3847 28.0676 36.4622 28.7173 35.9424L35.1494 29.5102C35.7991 28.8605 36.7217 28.8605 37.2415 29.5102C37.8912 30.1599 37.8912 31.0825 37.2415 31.6153L30.8093 38.0475C30.5495 38.3073 30.1596 38.4373 29.7568 38.4373L29.7698 38.4243Z' fill='%23C7A88B'/%3E%3Cpath d='M34.0969 42.7509C33.7071 42.7509 33.3043 42.621 33.0444 42.3611C32.3947 41.7114 32.3947 40.7888 33.0444 40.269L39.4766 33.8369C40.1263 33.1872 41.0489 33.1872 41.5816 33.8369C42.2313 34.4866 42.2313 35.4092 41.5816 35.929L35.1495 42.3611C34.8896 42.621 34.4998 42.7509 34.0969 42.7509Z' fill='%23C7A88B'/%3E%3Cpath d='M38.4241 46.9482C38.0343 46.9482 37.6314 46.8183 37.3716 46.5584C36.7218 45.9087 36.7218 44.9861 37.3716 44.4663L43.8037 38.0342C44.4534 37.3844 45.376 37.3844 45.9088 38.0342C46.5585 38.6839 46.5585 39.6065 45.9088 40.1392L39.4766 46.5714C39.2167 46.8313 38.8269 46.9612 38.4241 46.9612V46.9482Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 19.1536C20.8558 19.1536 20.453 19.0237 20.1931 18.7638L7.34178 5.89948C6.69206 5.24977 6.69206 4.32718 7.34178 3.79441C7.99149 3.1447 8.91408 3.1447 9.44684 3.79441L22.2982 16.6457C22.9479 17.2954 22.9479 18.218 22.2982 18.7508C22.0383 18.8807 21.6484 19.1406 21.2456 19.1406V19.1536Z' fill='%23C7A88B'/%3E%3Cpath d='M5.6395 25.9623C2.4949 25.9623 0 23.2075 0 19.803C0 17.8409 1.44236 15.8658 2.75478 14.0336C3.40449 13.2409 3.93726 12.4613 4.32708 11.6686C4.58697 11.1489 5.11973 10.876 5.6395 10.876C6.15927 10.876 6.69204 11.1359 6.95192 11.6686C7.34175 12.4613 8.00445 13.2409 8.52423 14.0336C9.83664 15.8658 11.279 17.7109 11.279 19.803C11.4089 23.2075 8.78411 25.9623 5.6395 25.9623ZM5.6395 15.2161C5.50956 15.4759 5.37962 15.6059 5.24968 15.8658C4.19714 17.1782 3.14461 18.7505 3.14461 19.803C3.14461 21.5053 4.32708 22.8177 5.76944 22.8177C7.21181 22.8177 8.39428 21.5053 8.39428 19.803C8.39428 18.7505 7.34175 17.3081 6.28922 15.8658C6.02933 15.7358 5.89939 15.4759 5.6395 15.2161Z' fill='%23C7A88B'/%3E%3Cpath d='M14.5534 41.3088C13.3709 41.3088 12.1884 40.7891 11.2788 39.9964L8.1342 36.7219C7.21161 35.7993 6.82178 34.7597 6.82178 33.4473C6.82178 32.1349 7.34155 31.0824 8.1342 30.1728C9.05679 29.2502 10.0963 28.8604 11.4087 28.8604C12.7212 28.8604 13.7737 29.3801 14.6833 30.1728L17.9578 33.4473C18.8804 34.3699 19.2703 35.4095 19.2703 36.7219C19.2703 38.0343 18.7505 39.0868 17.9578 39.9964C16.9053 40.7891 15.7228 41.3088 14.5534 41.3088ZM11.4087 32.005C11.0189 32.005 10.6161 32.1349 10.3562 32.3948C9.7065 33.0445 9.7065 33.9671 10.3562 34.4869L13.6308 37.7614C13.8906 38.0213 14.2805 38.1512 14.6833 38.1512C15.0861 38.1512 15.4759 38.0213 15.7358 37.7614C16.3855 37.1117 16.3855 36.1891 15.7358 35.6693L12.4613 32.3948C12.2014 32.1349 11.8116 32.005 11.4087 32.005Z' fill='%23C7A88B'/%3E%3Cpath d='M14.4237 70.1689C13.2413 70.1689 12.0588 69.6492 11.1492 68.8565L7.87463 65.582C6.04244 63.7498 6.04244 60.8651 7.87463 59.1498C8.79722 58.2272 9.83676 57.8374 11.1492 57.8374C12.3317 57.8374 13.5141 58.3572 14.4237 59.1498L17.6983 62.4244C18.6209 63.347 19.0107 64.3865 19.0107 65.6989C19.0107 66.8814 18.4909 68.0639 17.6983 68.9735C16.9056 69.8961 15.5932 70.156 14.4237 70.156V70.1689ZM11.1492 60.8521C10.7594 60.8521 10.3565 60.982 10.0966 61.2419C9.44693 61.8916 9.44693 62.8142 10.0966 63.334L13.3712 66.6085C13.6311 66.8684 14.0209 66.9984 14.4237 66.9984C14.8266 66.9984 15.2164 66.8684 15.4763 66.6085C16.126 65.9588 16.126 65.0362 15.4763 64.5164L12.2017 61.2419C11.9418 60.982 11.552 60.8521 11.1492 60.8521Z' fill='%23C7A88B'/%3E%3Cpath d='M8.26441 56.2651C7.08194 56.2651 5.89946 55.7454 4.98986 54.9527C3.15768 53.1205 3.15768 50.2358 4.98986 48.5206L8.26441 45.246C9.18701 44.3234 10.2265 43.9336 11.539 43.9336C12.8514 43.9336 13.9039 44.4534 14.8135 45.246C15.7361 46.1686 16.1259 47.2081 16.1259 48.5206C16.1259 49.703 15.6062 50.8855 14.8135 51.7951L11.539 55.0697C10.6164 55.8623 9.57683 56.2521 8.26441 56.2521V56.2651ZM11.539 47.0912C11.1491 47.0912 10.7463 47.2211 10.4864 47.481L7.21188 50.7556C6.56217 51.4053 6.56217 52.3279 7.21188 52.8476C7.47177 53.1075 7.86159 53.2375 8.26441 53.2375C8.66724 53.2375 9.05706 53.1075 9.31695 52.8476L12.5915 49.5731C13.2412 48.9234 13.2412 48.0008 12.5915 47.481C12.3316 47.2211 11.9418 47.0912 11.539 47.0912Z' fill='%23C7A88B'/%3E%3Cpath d='M47.8707 21.3756C45.3758 21.3756 43.2837 19.2705 43.2837 16.7886C43.2837 14.3067 45.3758 12.2017 47.8707 12.2017C50.3656 12.2017 52.4576 14.2937 52.4576 16.7886C52.4576 19.2835 50.3526 21.3756 47.8707 21.3756ZM47.8707 15.3463C47.078 15.3463 46.2984 15.996 46.2984 16.9186C46.2984 17.7112 46.9481 18.4909 47.8707 18.4909C48.6633 18.4909 49.443 17.8412 49.443 16.9186C49.313 15.996 48.6503 15.3463 47.8707 15.3463Z' fill='%23C7A88B'/%3E%3Cpath d='M40.2691 9.17394C37.7742 9.17394 35.6821 7.08186 35.6821 4.58697C35.6821 2.09207 37.7872 0 40.2691 0C42.751 0 44.8561 2.09207 44.8561 4.58697C44.8561 7.08186 42.751 9.17394 40.2691 9.17394ZM40.2691 3.14461C39.4764 3.14461 38.6968 3.79432 38.6968 4.71691C38.6968 5.6395 39.3465 6.28922 40.2691 6.28922C41.0617 6.28922 41.8414 5.6395 41.8414 4.71691C41.8414 3.79432 41.0488 3.14461 40.2691 3.14461Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_183'%3E%3Crect width='70' height='70.1689' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul h3.ico2::before {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='62' viewBox='0 0 80 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_210)'%3E%3Cpath d='M40.9156 61.1522C40.4578 61.1522 39.9999 60.9996 39.6947 60.6944C35.7115 56.7112 31.7283 53.3384 27.8977 49.9657C23.6093 46.1351 19.4734 42.6097 16.1007 38.9317C12.2701 34.9485 9.813 31.2705 8.13425 27.5925C6.76073 24.3724 6.13501 21.3048 6.13501 17.9321C6.13501 17.3216 6.13501 16.5586 6.28762 15.7802C7.35592 6.74552 15.1697 0 24.5249 0C32.7966 0 36.7798 3.22015 40.3052 9.50782C44.441 2.7623 49.6451 0 57.6268 0C66.9668 0 74.7958 6.74552 75.8641 15.7802C76.0167 16.5433 76.0167 17.1538 76.0167 17.9321C76.0167 21.3048 75.4063 24.525 74.0175 27.5925C72.4914 31.2705 69.8817 34.9485 66.0511 38.9317C62.6783 42.6097 58.5425 46.1351 54.254 49.9657C50.4234 53.3384 46.4402 56.8638 42.3044 60.847C41.8466 60.9996 41.3887 61.1522 40.9309 61.1522H40.9156ZM24.3723 3.37276C16.8637 3.37276 10.5761 8.89737 9.66038 16.1007C9.66038 16.7112 9.50777 17.3216 9.50777 17.7795C9.50777 20.6944 10.1182 23.3041 11.1865 26.0511C12.56 29.4239 14.8645 32.644 18.3899 36.4746C21.7626 40 25.7458 43.5254 30.0343 47.2034C33.5597 50.2709 37.085 53.491 40.763 56.8638C44.441 53.3384 48.119 50.1183 51.4917 47.0507C55.7802 43.3728 59.7634 39.8474 63.1362 36.322C66.6615 32.644 68.966 29.2713 70.3395 25.8985C71.4078 23.1362 72.0183 20.5418 72.0183 17.6269C72.0183 17.0164 72.0183 16.5586 71.8656 15.9481C70.95 8.74475 64.6623 3.23541 57.1537 3.23541C49.6451 3.23541 45.2041 5.99771 41.3735 13.6589C41.0682 14.2694 40.4578 14.5746 39.8473 14.5746C39.2369 14.5746 38.6264 14.2694 38.3212 13.6589C34.338 5.53987 31.2705 3.38802 24.3723 3.38802V3.37276Z' fill='%23C7A88B'/%3E%3Cpath d='M40.9157 46.8979C40.1526 46.8979 39.3895 46.2875 39.2369 45.5244L34.6433 28.9659L33.7276 39.9998C33.7276 40.9155 32.8119 41.6786 31.881 41.6786H1.83136C0.915681 41.6786 0 40.9155 0 39.8319C0 38.9163 0.763068 37.9853 1.83136 37.9853H30.3396L32.0183 18.3745C32.0183 17.4588 32.7814 16.8483 33.6971 16.6957C34.6127 16.5431 35.3758 17.1536 35.5284 18.0693L40.8852 37.9853L44.5631 23.426C44.7158 22.6629 45.4788 22.0525 46.2419 22.0525C47.005 22.0525 47.768 22.5103 47.9206 23.2734L52.8195 37.9853H78.1076C79.0233 37.9853 79.939 38.7484 79.939 39.8319C79.939 40.7476 79.1759 41.6786 78.1076 41.6786H51.446C50.6829 41.6786 50.0725 41.2207 49.7673 40.4577L46.3945 30.1868L42.5639 45.5092C42.4113 46.4248 41.6482 46.8827 40.8852 46.8827L40.9157 46.8979Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_210'%3E%3Crect width='80' height='61.1522' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul h3.ico3::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_215)'%3E%3Cpath d='M34.9372 19.822C34.4338 19.822 33.9178 19.5703 33.6661 19.1927C33.0368 18.0475 32.0174 16.9022 31.1238 15.7569C29.085 13.3405 26.9329 10.6724 26.9329 8.00432C26.9329 3.56167 30.4945 0 34.9372 0C39.3798 0 42.9415 3.56167 42.9415 8.00432C42.9415 10.6724 40.7768 13.3405 38.7506 15.7569C37.857 16.9022 36.976 18.0475 36.2083 19.0543C35.9566 19.5577 35.4406 19.822 34.9372 19.822ZM34.9372 3.04567C32.1432 3.04567 29.9785 5.33621 29.9785 8.00432C29.9785 9.653 31.7531 11.8177 33.4143 13.8439C33.9178 14.4732 34.4338 15.1151 34.9372 15.7443C35.4406 15.1151 35.9566 14.4732 36.46 13.9698C38.2346 11.8051 40.0217 9.653 40.0217 8.00432C39.8958 5.33621 37.6053 3.04567 34.9372 3.04567Z' fill='%23C7A88B'/%3E%3Cpath d='M46.6163 24.7683C46.2387 24.7683 45.8486 24.6424 45.5969 24.3907C45.2193 24.0131 45.0935 23.4971 45.2193 22.9937C45.471 21.7226 45.5969 20.1998 45.8486 18.8028C46.1003 15.6313 46.4779 12.3213 48.3908 10.4209C49.9137 8.89808 51.9525 8.13037 53.9788 8.13037C56.1434 8.13037 58.0438 8.89808 59.5667 10.4209C62.6123 13.4666 62.6123 18.5511 59.5667 21.5968C57.6663 23.4971 54.3563 23.8873 51.0589 24.139C49.5361 24.2649 48.1391 24.3907 46.9939 24.7683C46.868 24.6424 46.7421 24.7683 46.6163 24.7683ZM53.9913 10.9243C52.5944 10.9243 51.4491 11.4277 50.4297 12.4472C49.2844 13.5924 49.0327 16.3864 48.781 19.0545C48.6551 19.8222 48.6551 20.7032 48.5293 21.4709C49.297 21.345 50.0521 21.345 50.8198 21.2192C53.4879 20.9675 56.4077 20.7158 57.553 19.4446C59.4534 17.5443 59.4534 14.3601 57.553 12.3339C56.5336 11.4403 55.2625 10.9369 53.9913 10.9369V10.9243Z' fill='%23C7A88B'/%3E%3Cpath d='M61.8699 42.8031C59.2018 42.8031 56.5337 40.6384 54.1173 38.6121C52.972 37.7186 51.8268 36.8376 50.8199 36.0699C50.4424 35.8182 50.1907 35.3022 50.1907 34.7987C50.1907 34.2953 50.4424 33.7793 50.8199 33.5276C51.9652 32.8984 53.1105 31.8789 54.2558 30.9854C56.6722 28.9465 59.3403 26.7944 62.0084 26.7944C66.451 26.7944 70.0127 30.3561 70.0127 34.7987C69.761 39.2414 66.1993 42.8031 61.8825 42.8031H61.8699ZM53.9915 34.9372C54.6207 35.4406 55.2626 35.9566 55.766 36.46C57.9307 38.2346 60.0828 40.0217 61.7315 40.0217C64.5254 40.0217 66.6901 37.7311 66.6901 35.063C66.6901 32.3949 64.3996 30.1044 61.7315 30.1044C60.0828 30.1044 57.9181 31.8789 55.8919 33.5276C55.2626 33.9052 54.6207 34.4212 53.9915 34.9246V34.9372Z' fill='%23C7A88B'/%3E%3Cpath d='M53.9915 61.8697C51.8268 61.8697 49.9264 60.9761 48.4035 59.5791C46.5031 57.6787 46.113 54.3688 45.8613 51.0714C45.7354 49.5486 45.6096 48.1516 45.232 47.0063C45.1062 46.5029 45.232 45.9869 45.6096 45.6093C45.9871 45.2318 46.5031 45.1059 47.0066 45.2318C48.2777 45.4835 49.8005 45.6093 51.1975 45.861C54.369 46.1127 57.679 46.4903 59.5794 48.4033C62.625 51.449 62.625 56.5335 59.5794 59.5791C58.0565 61.102 56.1436 61.8697 53.9915 61.8697ZM48.4035 48.4033C48.5294 49.171 48.5294 49.9261 48.6552 50.6938C48.9069 53.3619 49.1587 56.2818 50.4298 57.427C51.3233 58.3206 52.5945 58.9499 53.9915 58.9499C55.3884 58.9499 56.5337 58.4464 57.5531 57.427C59.4535 55.5266 59.4535 52.3425 57.5531 50.3163C56.4078 49.171 53.6139 48.9193 50.9458 48.6676C50.0522 48.6676 49.2971 48.5417 48.4035 48.4159V48.4033Z' fill='%23C7A88B'/%3E%3Cpath d='M34.9372 69.7358C30.6204 69.7358 26.9329 66.1741 26.9329 61.7315C26.9329 59.0634 29.0976 56.3953 31.1238 53.9789C32.0174 52.8336 32.8983 51.6883 33.6661 50.6815C33.9178 50.304 34.4338 50.0522 34.9372 50.0522C35.4406 50.0522 35.9566 50.304 36.2083 50.6815C36.8376 51.8268 37.857 52.9721 38.7506 54.1047C40.7894 56.5211 42.9415 59.1892 42.9415 61.8574C42.9415 66.1741 39.3798 69.7358 34.9372 69.7358ZM34.9372 53.9915C34.4338 54.6207 33.9178 55.2626 33.4143 55.766C31.6398 57.9307 29.8527 60.0828 29.8527 61.7315C29.8527 64.5255 32.1432 66.6901 34.8113 66.6901C37.4794 66.6901 39.77 64.3996 39.77 61.7315C39.77 60.0828 37.9954 57.9181 36.3342 55.8919C35.9566 55.2626 35.4406 54.6207 34.9372 53.9915Z' fill='%23C7A88B'/%3E%3Cpath d='M15.8827 61.8697C13.718 61.8697 11.8176 60.9761 10.2947 59.5791C7.24908 56.5335 7.24908 51.449 10.2947 48.4033C12.1951 46.5029 15.5051 46.1127 18.8025 45.861C20.3253 45.7352 21.7223 45.6093 22.8676 45.2318C23.371 45.1059 23.887 45.2318 24.2645 45.6093C24.6421 45.9869 24.768 46.5029 24.6421 47.0063C24.3904 48.2774 24.2645 49.8003 24.0128 51.1972C23.7611 54.3688 23.3836 57.6787 21.4706 59.5791C20.0736 61.102 18.0348 61.8697 15.8827 61.8697ZM21.4706 48.4033C20.7029 48.5291 19.9478 48.5291 19.18 48.655C16.5119 48.9067 13.5921 49.1584 12.4469 50.4295C10.5465 52.3299 10.5465 55.514 12.4469 57.5403C13.3404 58.4339 14.6115 59.0631 16.0085 59.0631C17.4055 59.0631 18.5508 58.5597 19.5702 57.5403C20.7155 56.395 20.9672 53.6011 21.2189 50.933C21.2189 50.0394 21.3447 49.2843 21.4706 48.3907V48.4033Z' fill='%23C7A88B'/%3E%3Cpath d='M8.00431 42.9412C3.56167 42.9412 0 39.3796 0 34.9369C0 30.4943 3.56167 26.9326 8.00431 26.9326C10.6724 26.9326 13.3405 29.0973 15.7569 31.1236C16.9022 32.0171 18.0475 32.8981 19.0543 33.6658C19.4319 33.9175 19.6836 34.4335 19.6836 34.9369C19.6836 35.4403 19.4319 35.9564 19.0543 36.2081C17.909 36.8373 16.7638 37.8567 15.6185 38.7503C13.3279 40.7891 10.7983 42.9412 7.99173 42.9412H8.00431ZM8.00431 29.9783C5.21036 29.9783 3.04567 32.2688 3.04567 34.9369C3.04567 37.605 5.33621 39.8956 8.00431 39.8956C9.653 39.8956 11.8177 38.121 13.8439 36.4724C14.4732 35.9689 15.1151 35.4529 15.7443 34.9495C15.1151 34.4461 14.4732 33.9301 13.9698 33.4267C11.931 31.778 9.653 29.9909 8.00431 29.9909V29.9783Z' fill='%23C7A88B'/%3E%3Cpath d='M23.2453 24.7683H22.8678C21.5966 24.5166 20.0738 24.3907 18.6768 24.139C15.5053 23.8873 12.1953 23.5097 10.2949 21.5968C8.7721 20.0739 8.00439 18.0351 8.00439 16.0088C8.00439 13.9826 8.89796 11.9437 10.2949 10.4209C11.8178 8.89808 13.8566 8.13037 15.8829 8.13037C18.0475 8.13037 19.9479 9.02393 21.4708 10.4209C23.3712 12.3213 23.7613 15.6313 24.013 18.9286C24.1389 20.3256 24.2647 21.7226 24.5164 22.9937V23.3713C24.7681 24.0006 24.013 24.6424 23.2453 24.7683ZM15.8829 10.9243C14.4859 10.9243 13.3406 11.4277 12.3212 12.4472C11.4276 13.3407 10.7984 14.6119 10.7984 16.0088C10.7984 17.4058 11.3018 18.5511 12.3212 19.5705C13.4665 20.7158 16.2604 20.9675 18.9285 21.2192C19.6962 21.345 20.5772 21.345 21.3449 21.4709C21.2191 20.7032 21.2191 19.9481 21.0932 19.1804C20.8415 16.5122 20.5898 13.5924 19.3187 12.4472C18.551 11.4277 17.2924 10.9243 15.8954 10.9243H15.8829Z' fill='%23C7A88B'/%3E%3Cpath d='M34.9371 52.9722C34.3078 52.9722 33.7918 52.5946 33.666 52.0786L31.2496 46.9941C30.9979 46.3648 30.356 45.9747 29.7268 45.9747C29.4751 45.9747 29.3492 45.9747 29.0975 46.1005L23.7613 48.0009C23.2579 48.2526 22.616 48.0009 22.2384 47.6234C21.8609 47.2458 21.735 46.6039 21.8609 46.1005L23.7613 40.7643C24.013 39.8708 23.6354 38.9898 22.8677 38.5996L17.7832 36.1832C17.2798 35.9315 16.8896 35.4155 16.8896 34.9121C16.8896 34.2828 17.2672 33.7668 17.7832 33.641L22.8677 31.2246C23.6354 30.847 24.013 29.9535 23.7613 29.0599L21.8609 23.7237C21.6092 23.2203 21.8609 22.5784 22.2384 22.2008C22.616 21.8233 23.2579 21.6974 23.7613 21.8233L29.0975 23.7237C29.2233 23.8495 29.4751 23.8495 29.7268 23.8495C30.356 23.8495 30.9979 23.472 31.2496 22.8301L33.666 17.7456C33.9177 17.2422 34.4337 16.8521 34.9371 16.8521C35.5664 16.8521 36.0824 17.2296 36.2082 17.7456L38.6246 22.8301C38.8763 23.4594 39.5182 23.8495 40.1475 23.8495C40.3992 23.8495 40.525 23.8495 40.7767 23.7237L46.1129 21.8233C46.6164 21.5716 47.2582 21.8233 47.6358 22.2008C48.0133 22.5784 48.1392 23.2203 48.0133 23.7237L46.1129 29.0599C45.8612 29.9535 46.2388 30.8344 47.0065 31.2246L52.091 33.641C52.5944 33.8927 52.9846 34.4087 52.9846 34.9121C52.9846 35.4155 52.607 36.0574 52.091 36.1832L47.0065 38.5996C46.2388 38.9772 45.8612 39.8708 46.1129 40.7643L48.0133 46.1005C48.2651 46.6039 48.0133 47.2458 47.6358 47.6234C47.2582 48.0009 46.6164 48.1268 46.1129 48.0009L40.7767 46.1005C40.525 45.9747 40.3992 45.9747 40.1475 45.9747C39.5182 45.9747 38.8763 46.3522 38.6246 46.9941L36.2082 52.0786C36.0824 52.582 35.579 52.9722 34.9371 52.9722ZM29.6009 43.0674C31.3754 43.0674 33.0367 44.0869 33.7918 45.7355L34.8113 48.0261L35.8307 45.7355C36.5984 44.0869 38.2471 43.0674 40.0216 43.0674C40.525 43.0674 41.1669 43.1933 41.6703 43.3191L43.9608 44.2127L43.0673 41.9222C42.1737 39.6316 43.319 37.0894 45.4837 36.0825L47.7742 35.0631L45.748 33.9179C43.5833 32.8984 42.4506 30.3562 43.3316 28.0782L44.2251 25.7877L41.9346 26.6812C41.4312 26.8071 40.9152 26.933 40.2859 26.933C38.5114 26.933 36.8627 25.9135 36.095 24.2649L35.0756 21.9743L33.9303 24.139C33.1626 25.7877 31.5139 26.8071 29.7393 26.8071C29.2359 26.8071 28.5941 26.6812 28.0907 26.5554L25.8001 25.6618L26.6937 27.9524C27.5872 30.2429 26.442 32.7726 24.2773 33.792L21.9867 34.8114L24.2773 35.8308C26.442 36.8503 27.5747 39.3925 26.6937 41.6705L25.8001 43.961L28.0907 43.0674H29.6135H29.6009Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_215'%3E%3Crect width='70' height='69.7357' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul h3.ico4::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='59' viewBox='0 0 60 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_227)'%3E%3Cpath d='M45.7576 52.0048H13.1702C12.8206 52.0048 12.5875 51.8882 12.3427 51.7717C9.28912 49.4174 6.81826 46.4803 5.16324 42.9488C3.51989 39.5339 2.69238 35.6528 2.69238 31.6551V30.2449C2.69238 29.5339 3.27513 28.9512 4.10264 28.9512H54.5688C55.2798 28.9512 55.8625 29.5339 55.9791 30.2449V31.6551C55.9791 40.0118 52.6807 47.1796 46.5618 51.7717C46.3287 51.8882 45.9791 52.0048 45.7343 52.0048H45.7576ZM13.6481 49.3008H45.2914C50.4663 45.1866 53.2868 38.9512 53.2868 31.5386H5.408C5.408 38.8346 8.34506 45.0701 13.6481 49.3008Z' fill='%23C7A88B'/%3E%3Cpath d='M46.352 58.8345H13.648C12.9371 58.8345 12.2378 58.2517 12.2378 57.4242V50.6061C12.2378 49.8951 12.8205 49.1958 13.648 49.1958H46.352C47.063 49.1958 47.7623 49.7786 47.7623 50.6061V57.4242C47.7623 58.2517 47.0513 58.8345 46.352 58.8345ZM15.0583 56.1189H45.0583V52.0047H15.0583V56.1189Z' fill='%23C7A88B'/%3E%3Cpath d='M58.5897 58.8347H1.41026C0.699301 58.8347 0 58.2519 0 57.4244C0 56.7135 0.582751 56.0142 1.41026 56.0142H58.5781C59.289 56.0142 59.9883 56.5969 59.9883 57.4244C59.9883 58.2519 59.4056 58.8347 58.5781 58.8347H58.5897Z' fill='%23C7A88B'/%3E%3Cpath d='M42.2378 37.0632H5.52451C4.81356 37.0632 4.11426 36.4804 4.11426 35.6529C4.11426 34.8254 4.69701 34.2427 5.52451 34.2427H42.3427C43.0537 34.2427 43.753 34.8254 43.753 35.6529C43.753 36.4804 43.042 37.0632 42.2262 37.0632H42.2378Z' fill='%23C7A88B'/%3E%3Cpath d='M46.3521 37.063C46.0024 37.063 45.6411 36.9464 45.408 36.7133C45.1749 36.4802 45.0583 36.1306 45.0583 35.7693C45.0583 35.408 45.1749 35.0583 45.408 34.8252C45.6411 34.5921 45.9908 34.4756 46.3521 34.4756C46.7134 34.4756 47.063 34.5921 47.2961 34.8252C47.5292 35.0583 47.6458 35.408 47.6458 35.7693C47.6458 36.1306 47.5292 36.4802 47.2961 36.7133C47.063 36.8299 46.7134 37.063 46.3521 37.063Z' fill='%23C7A88B'/%3E%3Cpath d='M10.0001 21.0724C8.70638 21.0724 7.41268 20.6062 6.46862 19.6622C4.59217 17.7857 4.59217 14.6039 6.46862 12.5992C7.41268 11.6552 8.70638 11.189 10.0001 11.189C11.2938 11.189 12.5875 11.6552 13.5316 12.5992C14.4756 13.5433 14.9418 14.837 14.9418 16.1307C14.9418 17.4244 14.4756 18.7181 13.5316 19.6622C12.5875 20.4897 11.4103 21.0724 10.0001 21.0724ZM10.0001 13.8929C9.41734 13.8929 8.82293 14.126 8.47328 14.6039C7.64578 15.4314 7.64578 16.8416 8.47328 17.7857C8.93948 18.2519 9.41734 18.4967 10.0001 18.4967C10.5828 18.4967 11.1772 18.2636 11.5269 17.7857C12.3544 16.9582 12.3544 15.5479 11.5269 14.6039C11.1772 14.1377 10.5828 13.8929 10.0001 13.8929Z' fill='%23C7A88B'/%3E%3Cpath d='M18.2284 15.303C17.9953 15.303 17.6456 15.1865 17.4009 15.0699C16.3403 14.359 15.5244 13.5431 14.93 12.5991C13.986 11.3054 13.5198 9.89512 13.5198 8.36832C13.5198 6.95806 13.986 5.5478 14.8135 4.2541C15.3962 3.31004 16.3403 2.49419 17.4009 1.78323C17.8671 1.43358 18.4615 1.43358 18.9277 1.78323C19.9883 2.49419 20.8042 3.31004 21.3986 4.2541C22.2261 5.5478 22.6923 6.95806 22.6923 8.36832C22.6923 9.89512 22.2261 11.3054 21.282 12.5991C20.6993 13.5431 19.8718 14.2424 18.8111 14.9534C18.8111 15.1865 18.5781 15.303 18.2284 15.303ZM18.2284 4.7203C17.7622 5.06995 17.4009 5.5478 17.1678 5.89745C16.585 6.72496 16.3403 7.54081 16.3403 8.48487C16.3403 9.42892 16.5734 10.2448 17.1678 11.0723C17.4009 11.4219 17.7505 11.8998 18.2284 12.2494C18.5781 11.8998 18.9394 11.5385 19.289 11.1888C19.8718 10.3613 20.2331 9.42892 20.2331 8.48487C20.2331 7.54081 20 6.72496 19.4056 5.89745C19.0559 5.43125 18.6946 5.06995 18.2284 4.7203Z' fill='%23C7A88B'/%3E%3Cpath d='M18.2284 26.1304C17.5174 26.1304 16.8181 25.5477 16.8181 24.7202V13.8927C16.8181 13.1817 17.4009 12.4824 18.2284 12.4824C19.0559 12.4824 19.6386 13.0652 19.6386 13.8927V24.7202C19.6386 25.5477 19.0559 26.1304 18.2284 26.1304Z' fill='%23C7A88B'/%3E%3Cpath d='M46.8183 9.54577C46.3521 9.54577 45.8742 9.31267 45.6411 8.96302C44.9302 7.78587 43.6365 7.07491 42.2262 7.07491C41.5152 7.07491 40.9325 7.19146 40.3497 7.54111C39.8835 7.77421 39.2891 7.77421 38.8229 7.42456C38.3567 7.07491 38.2402 6.48051 38.3567 5.89776C38.8229 4.60405 39.5339 3.54344 40.3614 2.59939C41.5386 1.42223 42.9488 0.711275 44.5922 0.245074C45.8859 0.0119742 47.1796 -0.104576 48.5898 0.128524C49.1726 0.245074 49.6504 0.711275 49.767 1.30568C50.0001 2.71594 49.8835 4.00964 49.6504 5.1868C49.3008 6.59706 48.7064 7.89076 47.774 8.95137C47.6574 9.30102 47.1912 9.53412 46.8299 9.53412L46.8183 9.54577ZM42.5875 4.35929C44.1143 4.47584 45.5246 4.94204 46.7017 5.8861C46.9348 5.53645 47.0514 5.05859 47.1679 4.59239C47.2845 4.00964 47.401 3.41524 47.2845 2.70428C46.5735 2.70428 45.9908 2.70428 45.3964 2.82083C44.2192 3.17048 43.2751 3.64834 42.5758 4.34764L42.5875 4.35929Z' fill='%23C7A88B'/%3E%3Cpath d='M54.4638 31.5385H4.11411C3.40316 31.5385 2.70386 30.9557 2.70386 30.1282V24.7203C2.70386 24.0094 3.28661 23.3101 4.11411 23.3101H54.5803C55.2913 23.3101 55.9906 23.8928 55.9906 24.7203V30.1282C55.874 30.9557 55.2796 31.5385 54.4638 31.5385ZM5.52437 28.8345H53.1701V26.1306H5.52437V28.8345Z' fill='%23C7A88B'/%3E%3Cpath d='M51.5269 26.1305H34.3474C33.6365 26.1305 32.9372 25.5478 32.9372 24.7203C32.9372 24.0093 33.5199 23.31 34.3474 23.31H50.4663V23.1935C50.4663 22.7273 50.6994 22.2494 51.0491 22.0163C51.3987 21.7832 51.8766 21.6667 52.3428 21.7832C52.5759 21.8998 52.9255 21.8998 53.2868 21.8998C54.8136 21.8998 55.9908 20.7226 55.9908 19.1958C55.9908 17.669 54.8136 16.4918 53.2868 16.4918H53.1703C52.7041 16.4918 52.2262 16.2587 51.9931 15.9091C51.76 15.5594 51.6435 15.0816 51.76 14.6154C51.8766 14.3823 51.8766 14.0326 51.8766 13.6713C51.8766 12.1445 50.6994 10.9674 49.1726 10.9674C48.823 10.9674 48.4617 11.0839 48.2286 11.2005C47.8789 11.317 47.401 11.317 47.0514 11.0839C46.7017 10.8508 46.4686 10.5012 46.3404 10.1399C46.2239 9.67366 45.9908 9.1958 45.7577 8.7296C45.0467 7.55244 43.753 6.84149 42.3428 6.84149C41.6318 6.84149 41.0491 6.95804 40.4547 7.30769C39.161 8.01865 38.3334 9.4289 38.3334 10.9557V11.1888C38.3334 11.655 38.1003 12.1329 37.7507 12.366C37.401 12.5991 36.9232 12.7156 36.457 12.5991C35.8742 12.366 35.1633 12.366 34.5805 12.5991C33.5199 12.9487 32.8206 14.0093 32.8206 15.1865C32.8206 16.3636 33.6481 17.5408 34.8253 17.7739C35.0584 17.8904 35.2915 17.8904 35.5362 17.8904C36.2472 17.8904 36.9465 18.4732 36.9465 19.3007V19.4172C36.9465 20 36.5969 20.5944 36.0024 20.8275C35.7693 20.9441 35.5362 21.0606 35.2915 21.1772C34.7087 21.6434 33.8812 21.5268 33.415 20.9441C33.1819 20.711 33.1819 20.3613 33.1819 20.1165C31.422 19.1725 30.2449 17.296 30.2449 15.2914C30.2449 13.0536 31.6551 11.0606 33.7763 10.2331C34.4873 10 35.1866 9.88345 35.8976 9.88345C36.2472 7.87878 37.5409 6.23543 39.3125 5.29137C40.2565 4.70862 41.4337 4.46387 42.6108 4.46387C44.9652 4.46387 47.0864 5.64102 48.2519 7.51748C48.485 7.86713 48.6015 8.22844 48.8346 8.57809H49.4174C52.471 8.57809 54.8253 11.0489 54.8253 13.986V14.1026C57.1796 14.6853 58.9395 16.8065 58.9395 19.3939C58.9395 22.4475 56.4686 24.8019 53.5316 24.8019H53.415C53.415 24.9184 53.2985 25.1515 53.2985 25.2681C52.7157 25.7343 52.1213 26.0956 51.5386 26.0956L51.5269 26.1305Z' fill='%23C7A88B'/%3E%3Cpath d='M32.9372 26.1304H24.5805C23.8696 26.1304 23.1703 25.5477 23.1703 24.7202V23.1934C23.1703 22.7272 23.4034 22.2493 23.753 22.0162C24.1027 21.7831 24.464 21.55 24.8136 21.1887C25.6411 20.3612 26.1073 19.4288 26.3404 18.2517C26.457 17.6689 26.5735 17.0745 26.457 16.3635C25.8742 16.3635 25.2798 16.3635 24.6971 16.4801C24.3474 16.5966 23.8696 16.4801 23.5199 16.247C23.1703 16.0139 23.0537 15.6642 23.0537 15.1864V13.1817C23.0537 9.7668 25.8742 6.94629 29.2891 6.94629C31.76 6.94629 34.1143 8.4731 35.0584 10.8274C35.1749 11.1771 35.1749 11.5384 35.0584 11.888C34.9418 12.2377 34.5922 12.4708 34.3474 12.599C33.2868 12.9486 32.5875 14.0092 32.5875 15.1864C32.5875 16.3635 33.415 17.5407 34.5922 17.7738C35.1749 17.8903 35.5362 18.4848 35.5362 19.0675V20.0116C35.5362 20.4778 35.3031 20.8391 34.9535 21.0722C34.4873 21.7831 34.126 22.4824 34.126 23.4265C34.126 23.7761 34.126 24.0092 34.2425 24.3705C34.3591 24.8367 34.3591 25.198 34.126 25.6642C33.7763 25.8973 33.415 26.1304 32.9488 26.1304H32.9372ZM26.5852 23.4265H31.2938C31.2938 22.1328 31.76 20.8391 32.5875 19.895C30.9442 18.951 30.0001 17.191 30.0001 15.1864C30.0001 13.543 30.8276 11.888 32.1213 10.9556C31.4104 10.2447 30.478 9.77846 29.5339 9.77846C27.5292 9.77846 26.0024 11.4218 26.0024 13.3099V13.7761C26.7134 13.7761 27.4127 13.7761 28.1236 13.8927C28.7064 14.0092 29.1842 14.4754 29.3008 15.0698C29.5339 16.4801 29.4173 17.7738 29.1842 18.951C28.8346 20.5943 28.0071 22.1328 26.8299 23.2983C26.7522 23.2983 26.6745 23.3371 26.5968 23.4148L26.5852 23.4265Z' fill='%23C7A88B'/%3E%3Cpath d='M20.2331 25.7693C19.6503 25.7693 19.0559 25.7693 18.4732 25.6527C17.8904 25.5362 17.4126 25.07 17.296 24.4756C17.0629 23.1819 17.1795 21.8882 17.4126 20.5944C17.7622 18.9511 18.5897 17.4243 19.7669 16.2471C20.944 15.07 22.3543 14.359 23.9976 13.8928H24.1142C25.2913 13.6597 26.585 13.6597 27.8788 13.7763C28.4615 13.8928 28.9394 14.359 29.0559 14.9534C29.289 16.3637 29.1725 17.6574 28.9394 18.8345C28.5897 20.4779 27.7622 22.0164 26.585 23.1819C26.1188 23.6481 25.641 24.0094 25.0582 24.359C24.2307 24.9418 23.1701 25.3031 22.1212 25.5362C21.655 25.7693 20.944 25.7693 20.2331 25.7693ZM20 23.0653C20.5827 23.0653 21.2937 23.0653 21.7599 22.9488C22.4708 22.8322 23.1701 22.4826 23.7645 22.1213C24.1142 21.8882 24.4755 21.6551 24.8251 21.2937C25.6526 20.4662 26.1188 19.5338 26.3519 18.3567C26.4685 17.7739 26.585 17.1795 26.4685 16.4802C25.8857 16.4802 25.2913 16.4802 24.7086 16.5968H24.4755C23.2983 16.8299 22.3543 17.4243 21.5384 18.1236C20.7109 18.9511 20.2447 19.8835 19.8951 21.1772C20.0116 21.7599 20.0116 22.4709 20.0116 23.0653H20Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_227'%3E%3Crect width='60' height='58.8345' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul li a {
    display: block;
    width: 100%;
    height: 298px;
    padding: 45px 24px 0 24px;
    border-radius: 50px 0 50px 0;
}
.subject .list ul li.active a {
    padding: 45px 45px;
}
.subject .list ul li h3 {
    color: #C7A88B;
    font-family: 'Eulyoo1945';
    font-size: 2rem;
    margin-bottom: 17px;
}
.subject .list ul li.active h3 {
    color: #3E3E3F;
    font-weight: 700;
}
.subject .list ul li p {
    display: none;
    line-height: 1.5;
}
.subject .list ul li.active p {
    color: rgba(62, 62, 63, 0.8);
    display: block;
}
.subject .more {
    text-align: right;
    margin-top: 39px;
}
.subject .more a {
    width: 177px;
    height: 39px;
    display: inline-block;
    padding: 11px 39px;
    color: #fff;
    background-color: var(--color-main1);
    border: 1px solid #C7A88B;
    border-radius: 50px;
}
.subject .more a:hover {
    color: #C7A88B;
    background-color: #3E3E3F;
    border: 1px solid #C7A88B;
}
@media screen and (max-width:1024px){
    .subject .tit p {
        margin-bottom: 40px;
    }
    .subject .list ul {
        display: block;
        padding-top: 36px;
        padding-bottom: 1px;
    }
    .subject .list ul li {
        width: auto;
    }
    .subject .list ul li::before {
        display: none;
    }
    .subject .list ul li a {
        height: 222px;
        padding: 12px 47px;
    }
    .subject .list ul li:nth-child(2),
    .subject .list ul li:nth-child(3),
    .subject .list ul li:nth-child(4)  {
        display: none;
    }
    .subject .list ul li.active {
        width: auto;
    }
}
@media screen and (max-width:640px){
    .subject {
        background: #3E3E3F;
        padding: 0 0 40px 0;
    }
    .subject .tit strong {
        font-size: 1.231rem;
        padding-top: 49px;
    }
    .subject .tit strong::before {
        width: 100px;
        left: 78px;
        top: 58px;
    }
    .subject .tit h2 {
        font-size: 3.077rem;
    }
    .subject .list ul h3::before {
        right: 46px;
        bottom: 32px;
    }
    .subject .list ul li.active p {
        display: none;
    }
    .subject .list .line span {
        top: -25px;
    }
    .subject .list ul li.active a {
        padding: 29px 45px;
    }
    .subject .list ul { 
        padding-top: 15px;
    }
    .subject .list ul li {
        margin: 17px 0px 26px 0px;
    }
    .subject .more {
        margin-top: 0;
    }
    .subject .more a{
        padding: 8px 40px;
        width: 168px;
        height: 33px;
    }
}
.food {
    padding: 178px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/food_bg.png);
    content: "";
}
.food .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;    
}
.food .tit {
    width: 50%;
    padding-right: 50px;
}
.food .tit strong {
    font-family: 'Eulyoo1945';
    color: var(--color-main1);
    font-size: 1.667rem;
    position: relative;
}
.food .tit strong::before{
    position: absolute;
    right: -159px;
    top: 14px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.food .tit h2 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
    color: var(--color-main2);
    margin-top: 15px;
}
.food .tit h3 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 1.667rem;
    margin: 36px 0 35px 0;
}
.food .tit p {
    line-height: 1.5;
}
.food .more {
    width: 177px;
    height: 39px;
    color: #fff;
    background-color: var(--color-main1);
    border-radius: 50px;
}
.food .more:hover {
    background-color: #3E3E3F;
}
.food .more a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 34px;
    margin: 30px 0 0 0;
}
.food .pho {
    width: 50%;
    padding-left: 50px;
}
.food .photo {
    height: 753px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.food img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px){
    .food {
        padding: 80px 0;
    }
    .food .wrapper {
        display: block;
        padding: 0 20px;    
        position: relative;
    }
    .food .tit {
        width: 100%;
        padding-right: 50px;
    }
    .food .tit strong {
        font-size: 1.231rem;
    }
    .food .tit strong::before{
        right: -105px;
        top: 10px;
        width: 100px;
    }
    .food .tit h2 {
        font-size: 3.077rem;
        margin-top: 10px;
    }
    .food .tit h3 {
        font-size: 1.308rem;
        margin: 400px 0 30px 0;
    }
    .food .tit p {
        line-height: 1.5;
    }
    .food .more {
        width: 168px;
        height: 33px;
    }
    .food .pho {
        position: absolute;
        left: -27px;
        top: 112px;
        padding-left: 50px;
    }
    .food .photo {
        width: 320px;
        height: 349px;
    }
    .food img {
        height: 349px;
    }
}

.location {
    width: 100%;
    height: 900px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/loca_bg.png);
    color: #fff;
    object-fit: cover;
}
.location .loca_box .tit {
    text-align: center;
    padding: 67px 0 0 0;
}
.location .loca_box .tit strong {
    font-size: 1.667rem;
    font-family: 'Eulyoo1945';
    color: var(--color-main1);
    position: relative;
}
.location .loca_box .tit strong::before {
    position: absolute;
    left: -165px;
    top: 12px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.location .loca_box .tit strong::after {
    position: absolute;
    right: -165px;
    top: 12px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.location .loca_box .tit > h2 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
    color: var(--color-main1);
    margin-top: 15px;
}
.location .map {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 0 0;
}
.location .map .map_box {
    background-color: rgba(62, 62, 63, 0.7);
    width: 50%;
    height: 633px;
    border-radius: 0 150px 0 0;
}
.location .map .map_box iframe {
    width: 80%;
    height: 382px;
    margin: 80px 10% 0 10%;
    border-radius: 0 74px 0 0;
}
.location .map .map_add {
    padding: 7px 30px 0 10%;
    margin: 5px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
}
.location .map .map_add > h2 {
    font-size: 1.333rem;
    font-family: 'Eulyoo1945';
    margin: 0 15px 5px 0;
}
.location .map .map_add > p {
    font-size: 1.067rem;
    font-family: 'Eulyoo1945';
}
.location .txt_box {
    width: 50%;
    text-align: center;
}
.location .txt_box .txt_top {
    font-size: 3.333rem;
    margin-top: 85px;
}
.location .txt_box .txt_top h2 {
    margin-top: 70px;
}
.location .txt_box .txt_litt {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 12px;
}
.location .txt_box .txt01 li {
    width: 115px;
    line-height: 2.5;
}
.location .txt_box .txt02 li {
    width: 140px;
    line-height: 2.5;
    color: rgba(255, 255, 255, 0.8);
}
.location .more {
    width: 177px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    display: inline-block;
    margin-top: 30px;
}
.location .more a {
    width: 100%;
    height: 39px;
    display: block;
    padding: 12px 24px;
}
.location .more:hover {
    color: #fff;
    background-color: var(--color-main1);
    border: 1px solid #C7A88B;
}
@media screen and (max-width:1024px){
    .location {
        height: 100%;
    }
    
    .location .loca_box .tit > h3 {
        margin-top: 15px;
    }
    .location .map {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        text-align: center;
    }
    .location .map .map_box {
        width: auto;
        height: 600px;
        border-radius: 0 100px 0 0;
    }
    .location .map .map_box iframe {
        width: 80%;
        height: 382px;
        margin: 10% 5% 0 5%;
        border-radius: 0 74px 0 0;
    }
    .location .map .map_add {
        padding: 7px 30px 0 10%;
        text-align: left;
    }
    .location .map .map_add span {
        margin-bottom: 10px;
    }
    .location .map .map_add > h2 {
        font-size: 1.231rem;
        margin: 10px 15px 5px 0;
    }
    .location .map .map_add > p {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.8);
    }
    .location .txt_box {
        width: auto;
        margin-bottom: 50px;
    }
    .location .txt_box .txt_top {
        font-size: 1.538rem;
        margin-top: 50px;
    }
    .location .txt_box .txt_top h2 {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .location .txt_box .txt_litt {
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 2px 0 53px 0;
    }
    .location .txt_box .txt01 li {
        width: 115px;
        line-height: 2;
    }
    .location .txt_box .txt02 li {
        width: 140px;
        line-height: 2;
    }
    .location .more {
        width: 177px;
        color: var(--color-main1);
        border: 1px solid #C7A88B;
        border-radius: 50px;
        display: inline-block;
        margin-top: 0;
    }
    .location .more a {
        width: 168px;
        height: 33px;
        display: block;
        padding: 10px 20px;
    }
}
@media screen and (max-width:640px){
    .location .map .map_box {
        height: 546px;
    }
    .location .loca_box .tit strong {
        font-size: 1.231rem;
    }
    .location .loca_box .tit strong::before {
        left: -110px;
        top: 8px;
        width: 100px;
    }
    .location .loca_box .tit strong::after {
        right: -110px;
        top: 8px;
        width: 100px;
    }
    .location .loca_box .tit > h2 {
        font-size: 3.077rem;
    }
}
