/*header, footer처럼 페이지에 공통으로 배치되는 요소의 css*/

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /*focus가 될때만 나타나야함 - 상단에 숨겨져 있어야함*/
    z-index: 99999999999999; /*꼭 맨 상단에 배치*/
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FFF7EC;
    text-align: center;
    color: #007D57;
    font-size: 18px;
}
.skip_nav a:focus {
    top: 100px; /*a가 포커스 되면 올라간 만큼 다시 내려옴*/
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #1d1d1d;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 25px;
}
header .logo a {
    display: block;
    width: 234px;
    height: 57px;
    font-size: 0;
    line-height: 0;
    position: relative; /*before 정렬의 기준*/
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo.png);
    content: "";
}

header .gnb button {
    display: none; /*숨김*/
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
    text-align: center;
}
header .gnb .gnb_wrap ul.depth1 > li {
    width: 171px;
    position: relative; /*depth2 정렬의 기준*/
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block; /*li와 사이즈 동일*/
    line-height: 100px; /*header의 높이와 동일한 값*/
    font-size: 20px;
    font-weight: 700;
}
header .gnb .gnb_wrap ul.depth1 > li.active > a > span::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-main1);
    content: "";
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li.active > a > span::before {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 > li.on > a {
    color: var(--color-main1);
}
header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
    position: relative; /*after 정렬의 기본*/
}
header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: var(--color-main1);
    content: "";
}
header .gnb .gnb_wrap ul.depth2 {
    display: none; /*2차메뉴는 오버한 경우에만 보임*/
    position: absolute;
    left: 0;
    top: 100px; /*header 높이만큼*/
    width: 100%;
    padding-top: 13px;
    /*1차메뉴 a와 2차메뉴 사이의 여백은
    반드시 padding으로 줘야함
    padding으로 안주면 2차메뉴로 이동시 메뉴가 아웃됨*/
}
header .gnb .gnb_wrap ul.depth2 > li > a {
    display: block;
    line-height: 2.5;
    width: 171px;
    color: #1d1d1d;
}
header .gnb .gnb_wrap ul.depth2 > li > a:hover {
    color: var(--color-main1);
}

header.menu_over::before {
    position: absolute; /*header를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: -1;
    /*정렬의 기준이 되는 header 내부에서
    가장 하단으로 배치한다는 명령
    -- visual 아래로는 내려가지 않음*/
    width: 100%;
    height: 434px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    content: "";
}
header.menu_over::after {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
}
header.menu_over .gnb .gnb_wrap ul.depth2 {
    display: block;
}
/*header에 오버하거나, 스크롤을 내려서 고정되었을때*/
header.fixed {
    position: fixed;
    background-color: #fff;
}
@media screen and (max-width:1300px){
    header {
        height: 50px;
        padding: 0;
    }
    header .logo {
        margin: 9px 0 0 10px;
    }
    header .logo a {
        display: block;
        width: 147px;
        height: 32px;
    }
    header .gnb button {
        display: block;
    }
    header .gnb .gnb_open {
        position: absolute; /*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /*header의 높이와 동일*/
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /*gnb 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치*/
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29_68' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29_68)'%3E%3Cpath d='M21.739 16.1954L16.1033 10.5037L21.739 4.81226L27.375 10.5037L21.739 16.1954ZM6.1543 14.383V6.30353H14.1546V14.383H6.1543ZM17.8466 26.191V18.1115H25.847V26.191H17.8466ZM6.1543 26.191V18.1115H14.1546V26.191H6.1543ZM7.48796 13.0365H12.8213V7.65039H7.48796V13.0365ZM21.7723 14.3413L25.539 10.5373L21.7723 6.73341L18.0056 10.5373L21.7723 14.3413ZM19.18 24.8442H24.5133V19.4581H19.18V24.8442ZM7.48796 24.8442H12.8213V19.4581H7.48796V24.8442Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /*브라우저 높이*/
        background-color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100% - 50px);
        overflow-y: auto;
        display: block;
        text-align: left;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 100%;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /*li와 사이즈 동일*/
        width: 100%;
        line-height: 80px; /*header의 높이와 동일한 값*/
        font-weight: 600;
        padding-left: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li::after,
    header .gnb .gnb_wrap ul.depth1 > li:first-child:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child:before {
        top: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li.short > ul.depth2 > li > a {
        width: 100%; 
    }
    header .gnb .gnb_wrap ul.depth1 > li::after {
        bottom: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        top: 19px;
        right: 12px;
        width: 38px;
        height: 38px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_263_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_263_7)'%3E%3Cpath d='M11.5 12.5H6V11.5H11.5V6H12.5V11.5H18V12.5H12.5V18H11.5V12.5Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_263_16' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_263_16)'%3E%3Cpath d='M6 12.5V11.5H18V12.5H6Z' fill='%23007D57'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.donate > a::after {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block;
        position: relative;
        top: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-main1);
    }
    header .gnb .gnb_wrap ul.depth2 {
        width: 100%;
        padding-top: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        background-color: #fff;
        font-size: 0.80rem;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        position: relative;
        font-size: 16px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #eee;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li.open > a {
        color: var(--color-main1);
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        width: 100%;
        line-height: 50px;
        font-weight: 600;  
        padding-left: 20px; 
    }
    header .gnb .gnb_wrap ul.depth2 > li:hover > a {
        color: var(--color-main1); 
    }
    header .gnb .gnb_wrap ul.depth3 {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2::after {
        display: none;
    }
    header .gnb .gnb_close {
        display: none; /*숨김*/
        position: absolute; /*header를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /*header의 높이와 동일*/
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /*gnb 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치*/
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_116_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_116_13)'%3E%3Cpath d='M8.53156 24.4103L7.58789 23.4666L15.0546 15.9999L7.58789 8.53327L8.53156 7.5896L15.9982 15.0563L23.4649 7.5896L24.4086 8.53327L16.9419 15.9999L24.4086 23.4666L23.4649 24.4103L15.9982 16.9436L8.53156 24.4103Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_open {
        display: none; /*숨김*/
    }
    header.menu_open .gnb .gnb_wrap {
        display: block; /*나타남*/
    }
    header.menu_open .gnb .gnb_close {
        display: block; /*나타남*/
    }
}

footer {
    height: 376px;
    background-color: #1d1d1d;
    color: #fff;
    padding-top: 43px;
}
footer .wrapper {
    position: relative;
}
footer .f_logo {
    margin-bottom: 20px;
    width: 300px;
    height: 65px;
    font-size: 0;
    line-height: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='65' viewBox='0 0 300 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_94)'%3E%3Cpath d='M6.25864 0.00241213L0 4.53125L4.52884 10.7899L10.7875 6.26106L6.25864 0.00241213Z' fill='%23F37021'/%3E%3Cpath d='M57.1125 24.2906L48.4636 10.7861H41.0879V33.7709H48.1139V20.7084L56.7893 33.7709H64.1386V10.7861H57.1125V24.2906Z' fill='white'/%3E%3Cpath d='M82.8939 10.7861V23.6771C82.8939 25.4056 82.8939 28.0181 79.7272 28.0181C76.5605 28.0181 76.5539 25.4056 76.5539 23.6771V10.7861H69.1387V24.515C69.1387 32.4844 74.8914 34.1601 79.7206 34.1601C84.5498 34.1601 90.3026 32.4844 90.3026 24.515V10.7861H82.8873H82.8939Z' fill='white'/%3E%3Cpath d='M14.0645 10.7861L21.2092 20.6688L21.2158 10.7861H14.0645Z' fill='white'/%3E%3Cpath d='M30.4066 22.074L38.1056 10.7861H29.8723L22.2129 22.0542L30.6903 33.7709H38.8841L30.4066 22.074Z' fill='white'/%3E%3Cpath d='M14.0586 33.7712H21.1572L14.0586 23.9678V33.7712Z' fill='white'/%3E%3Cpath d='M14.0658 41.9851V43.0539H19.8384L19.8186 43.1594C19.3502 45.5542 17.0082 46.9198 13.3863 46.9198H13.3203C13.4325 47.1244 13.8415 47.85 13.8811 47.9226H13.8943C18.8884 47.9226 21.9495 45.9171 22.1012 42.5525V41.9785H14.0724L14.0658 41.9851Z' fill='white'/%3E%3Cpath d='M26.2839 45.3166H27.7683V44.2479H26.2839V41.4639H24.2718V49.143L24.1596 49.0969C23.2162 48.7208 21.9957 48.5163 20.6433 48.5163C17.1072 48.5163 14.9961 49.7368 14.9961 51.7819C14.9961 53.8271 17.1072 55.0476 20.6433 55.0476C24.1794 55.0476 26.2839 53.8271 26.2839 51.7819V45.31V45.3166ZM20.6697 54.0052C18.4201 54.0052 17.0808 53.1805 17.0808 51.7885C17.0808 50.3965 18.4201 49.5719 20.6697 49.5719C22.9194 49.5719 24.2586 50.3965 24.2586 51.7885C24.2586 53.1805 22.9194 54.0052 20.6697 54.0052Z' fill='white'/%3E%3Cpath d='M34.874 41.4639C32.6705 41.4639 30.4473 42.2951 30.4473 44.1555C30.4473 46.016 32.6705 46.8472 34.874 46.8472C37.0775 46.8472 39.3073 46.016 39.3073 44.1555C39.3073 42.2951 37.0841 41.4639 34.874 41.4639ZM34.874 45.8246C33.7063 45.8246 32.4528 45.3892 32.4528 44.1621C32.4528 42.9351 33.7063 42.4996 34.874 42.4996C36.0417 42.4996 37.2952 42.9351 37.2952 44.1621C37.2952 45.3892 36.0483 45.8246 34.874 45.8246Z' fill='white'/%3E%3Cpath d='M32.1823 54.6649H43.0215V41.4639H41.0094V47.5399H29.9062V48.6087H33.7788V50.634H35.791V48.6087H41.0094V49.7962H37.6844V50.8649H41.0094V53.6028H33.2642V50.9177H31.2521V53.5764C31.2521 54.1767 31.6677 54.6649 32.1823 54.6649Z' fill='white'/%3E%3Cpath d='M69.1527 43.5551L69.0142 43.4033H70.4853V42.3346H67.0482V41.0283H64.9766V42.3346H61.6055V43.4033H63.1294L62.9843 43.5551C62.4433 44.1356 62.1596 44.8415 62.1596 45.6002C62.1596 47.4936 63.8023 48.8658 66.0652 48.8658C68.328 48.8658 69.9773 47.4672 69.9773 45.6002C69.9773 44.8415 69.6937 44.1356 69.1527 43.5551ZM66.0652 47.8367C64.9701 47.8367 64.1322 46.8735 64.1322 45.6002C64.1322 44.3269 64.9635 43.3637 66.0652 43.3637C67.3187 43.3637 67.9916 44.5117 67.9916 45.6002C67.9916 46.8933 67.1801 47.8367 66.0652 47.8367Z' fill='white'/%3E%3Cpath d='M75.5849 44.2479H74.1005V41.4639H72.0949V49.816H62.6543V50.8847H72.0949V54.7771H74.1005V45.3166H75.5849V44.2479Z' fill='white'/%3E%3Cpath d='M89.4003 42.1631H78.0861V43.2318H87.3947V53.0155H85.5607V47.7311H83.5486V53.0155H81.6222V47.7311H79.6166V53.0155H77.334V54.0843H90.2447V53.0155H89.4003V42.1631Z' fill='white'/%3E%3Cpath d='M58.8214 54.7771V41.4639H56.8884V45.4618H55.9054V41.4639H53.9724V49.816H48.5759V43.0538H52.2967V41.985H46.5703V49.7962C46.5703 50.3965 46.9859 50.8847 47.5005 50.8847H53.979V54.7837H55.912V46.6097H56.895V54.7837H58.828L58.8214 54.7771Z' fill='white'/%3E%3C/g%3E%3Cpath d='M126.462 26.0089V28.9989H143.16V35.3929H100.84V28.9989H117.538V26.0089H102.542V10.6909H141.044V16.6249H111.098V20.0749H141.182V26.0089H126.462ZM110.316 37.8309H133.684C139.48 37.8309 142.24 41.0049 142.24 45.6509C142.24 50.2969 139.48 53.4709 133.684 53.4709H110.316C104.52 53.4709 101.76 50.2969 101.76 45.6509C101.76 41.0049 104.52 37.8309 110.316 37.8309ZM113.49 47.7669H130.51C132.304 47.7669 133.362 47.2149 133.362 45.6509C133.362 44.0869 132.304 43.5349 130.51 43.5349H113.49C111.696 43.5349 110.638 44.0869 110.638 45.6509C110.638 47.2149 111.696 47.7669 113.49 47.7669ZM148.404 10.8289H187.596V25.2269H148.404V10.8289ZM157.098 19.4769H178.902V16.5789H157.098V19.4769ZM189.16 27.3889V32.8629H172.462V35.1169H187.642V46.4789H157.65V48.3649H188.378V53.3329H148.174V41.9249H178.166V40.0389H148.174V35.1169H163.538V32.8629H146.84V27.3889H189.16ZM225.5 30.5629H218.646V33.6449H193.806V10.8749H201.764V15.5209H210.78V10.8749H218.646V15.3369H225.5V10.4149H234.24V34.9329H225.5V30.5629ZM225.5 24.7669V21.1329H218.646V24.7669H225.5ZM201.764 21.6389V27.2049H210.78V21.6389H201.764ZM205.03 35.8989H224.994C231.388 35.8989 234.746 39.4869 234.746 44.6849C234.746 49.8829 231.388 53.4709 224.994 53.4709H205.03C198.544 53.4709 195.278 49.7909 195.278 44.6849C195.278 39.5789 198.544 35.8989 205.03 35.8989ZM207.33 47.5829H222.694C224.81 47.5829 225.868 46.4329 225.868 44.6849C225.868 42.9369 224.81 41.7409 222.694 41.7409H207.33C205.26 41.7409 204.156 42.9369 204.156 44.6849C204.156 46.4329 205.26 47.5829 207.33 47.5829ZM260.966 42.8909V36.8649H271.5V10.4149H280.24V44.5929H271.5V42.8909H260.966ZM258.666 26.2389H248.27C242.888 26.2389 239.898 23.2029 239.898 18.7409V18.6029C239.898 14.1869 242.888 11.1509 248.27 11.1509H258.666C264.094 11.1509 267.038 14.1869 267.038 18.6029V18.7409C267.038 23.2029 264.094 26.2389 258.666 26.2389ZM248.178 18.6489V18.7869C248.178 19.8449 248.96 20.6729 250.432 20.6729H256.55C258.022 20.6729 258.758 19.8449 258.758 18.7869V18.6489C258.758 17.5449 258.022 16.6709 256.55 16.6709H250.432C248.96 16.6709 248.178 17.5449 248.178 18.6489ZM250.708 42.5229V46.8009H281.114V53.3329H241.83V40.0389H248.868V34.9329H238.84V28.5389H259.586C264.324 28.5389 266.808 28.3549 269.246 27.9869V34.3809C266.808 34.7489 264.324 34.9329 259.586 34.9329H257.332V42.5229H250.708Z' fill='white'/%3E%3Cdefs%3E%3CclipPath id='clip0_21_94'%3E%3Crect width='90.3094' height='55.0538' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .inner {
    position: relative;
}
footer .inner .f_nav ul {
    position: absolute;
    top: -85px;
    right: 0;
    display: flex;
    gap: 45px;
}
footer .inner .f_info {
    margin: 10px 0 40px 0;
}
footer .inner .f_info address {
    margin-bottom: 10px;
}
footer .inner .f_info span {
    padding-right: 30px;
}
footer .familysite {
    position: absolute;
    top: 45px;
    right: 0;
}
footer .familysite button {
    width: 241px;
    height: 45px;
    border: 1px solid #fff;
    text-align: left;
    padding-left: 35px;
    position: relative;
}
footer .familysite button.family_open::after,
footer .familysite button.family_close::after {
    position: absolute;
    top: 9px;
    right: 26px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .familysite button.family_open::after {
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_153_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='39' height='39'%3E%3Crect width='39' height='39' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_153_15)'%3E%3Cpath d='M13.3125 21.9376L19.5001 15.75L25.6877 21.9376H13.3125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familysite button.family_close::after {
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_162_418' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='39' height='39'%3E%3Crect x='39' y='39' width='39' height='39' transform='rotate(-180 39 39)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_162_418)'%3E%3Cpath d='M25.6875 17.0624L19.4999 23.25L13.3123 17.0624L25.6875 17.0624Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .familysite ul {
    display: none; /*숨김*/
    position: absolute; /*familysite를 기준으로 정렬*/
    left: 0;
    bottom: 50px;
    z-index: 10;
    width: 241px;
    background-color: #1d1d1d;
    border: 1px solid #fff;
    padding: 17px 0;
}
footer .familysite ul li a {
    display: block;
    line-height: 2;
    padding: 0 23px;
}
footer .familysite ul li a:hover {
    color: var(--color-main2);
}
footer .familysite .family_close {
    display: none; /*숨김*/
}
footer .familysite.open .family_open {
    display: none; /*숨김*/
}
footer .familysite.open .family_close {
    display: block;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width:1300px){
    footer .f_logo {
        margin-bottom: 20px;
        width: 100%;
        height: 32px;
    }
    footer .inner {
        text-align: center;
    }
    footer .inner .f_nav ul {
        position: relative;
        top: auto;
        justify-content: center;
    }
    footer .familysite {
        position: relative;
        top: auto;
        right: auto;
    }
    footer .familysite button {
        width: 100%;
        padding-right: 0;
    }
    footer .familysite ul {
        display: none; /*숨김*/
        position: absolute; /*familysite를 기준으로 정렬*/
        left: 0;
        width: 100%;
        bottom: 50px;
        z-index: 10;
        background-color: #1d1d1d;
        border: 1px solid #fff;
        padding: 17px 0;
    }
    footer .copyright {
        margin-top: 15px;
        text-align: center;
    }
}