html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0; /* 자간 */
    line-height: 1.4; /* 배수 - 글자크기에 1.4배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 강제로 줄바꿈 실행 */
}
#wrap {
    min-width: 1560px;
    overflow: hidden;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1560px; 
    margin: 0 auto; /* 가운데정렬 */
}

::selection {
    background-color: #801C21;
    color: #E8CFA7;
}

:root {
    --color-main1 : #801C21;
    --color-main2 : #E8CFA7;
}
