/* 
    파일명 : layout.css 
    작성자 : 이윤정
    작성일 : 24.03.28
    설  명 : 모든 페이지의 레이아웃 요소 ( header/footer/서브레이아웃 )
             메뉴명, sub_visual 이미지스타일, 탭메뉴
*/

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}
.header .logo a {
    display: block;
    width: 100px;
    height: 100px;
    background: url(../images/logo.svg) no-repeat center center/ contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    text-align: center;
}
.header .gnb .gnb_open, 
.header .gnb .gnb_close {
    display: none;
}
.header .gnb .depth1 {
    display: flex;
}
.header .gnb .depth1 > li > a {
    display: block;
    width: 130px;
    line-height: 100px;
    font-size: 22px;
    font-weight: 500;
    color: #1d1d1d;
}
.header .gnb .depth1 > li > a:hover,
.header .gnb .depth1 > li.on > a {
    font-weight: 700;
    color: #ED2985;
}
.header .gnb .depth2 {
    margin-top: 20px;
    display: none; /* 1차메뉴 오버시 나타남*/
}
.header .gnb .depth2 > li > a {
    display: block;
    line-height: 35px;
} 
.header .gnb .depth2 > li > a:hover {
    font-weight: 700;
    color: #ED2985;
}
.header .tnb ul {
    display: flex;
}
.header .tnb ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
}
.header .tnb ul li.search a {
    width: 24px;
    height: 24px;
    background-size: 24px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L20.3 18.9C20.4833 19.0833 20.575 19.3167 20.575 19.6C20.575 19.8833 20.4833 20.1167 20.3 20.3C20.1167 20.4833 19.8833 20.575 19.6 20.575C19.3167 20.575 19.0833 20.4833 18.9 20.3L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    margin: 38px 15px 0 0;
}
.header .tnb ul li.search a:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L20.3 18.9C20.4833 19.0833 20.575 19.3167 20.575 19.6C20.575 19.8833 20.4833 20.1167 20.3 20.3C20.1167 20.4833 19.8833 20.575 19.6 20.575C19.3167 20.575 19.0833 20.4833 18.9 20.3L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.lang a {
    width: 24px;
    height: 24px;
    background-size: 24px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.32083 2.7875 8.1125C3.3125 6.90417 4.02917 5.84583 4.9375 4.9375C5.84583 4.02917 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6792 2.2625 15.8875 2.7875C17.0958 3.3125 18.1542 4.02917 19.0625 4.9375C19.9708 5.84583 20.6875 6.90417 21.2125 8.1125C21.7375 9.32083 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.9708 18.1542 19.0625 19.0625C18.1542 19.9708 17.0958 20.6875 15.8875 21.2125C14.6792 21.7375 13.3833 22 12 22ZM12 19.95C12.4333 19.35 12.8083 18.725 13.125 18.075C13.4417 17.425 13.7 16.7333 13.9 16H10.1C10.3 16.7333 10.5583 17.425 10.875 18.075C11.1917 18.725 11.5667 19.35 12 19.95ZM9.4 19.55C9.1 19 8.8375 18.4292 8.6125 17.8375C8.3875 17.2458 8.2 16.6333 8.05 16H5.1C5.58333 16.8333 6.1875 17.5583 6.9125 18.175C7.6375 18.7917 8.46667 19.25 9.4 19.55ZM14.6 19.55C15.5333 19.25 16.3625 18.7917 17.0875 18.175C17.8125 17.5583 18.4167 16.8333 18.9 16H15.95C15.8 16.6333 15.6125 17.2458 15.3875 17.8375C15.1625 18.4292 14.9 19 14.6 19.55ZM4.25 14H7.65C7.6 13.6667 7.5625 13.3375 7.5375 13.0125C7.5125 12.6875 7.5 12.35 7.5 12C7.5 11.65 7.5125 11.3125 7.5375 10.9875C7.5625 10.6625 7.6 10.3333 7.65 10H4.25C4.16667 10.3333 4.10417 10.6625 4.0625 10.9875C4.02083 11.3125 4 11.65 4 12C4 12.35 4.02083 12.6875 4.0625 13.0125C4.10417 13.3375 4.16667 13.6667 4.25 14ZM9.65 14H14.35C14.4 13.6667 14.4375 13.3375 14.4625 13.0125C14.4875 12.6875 14.5 12.35 14.5 12C14.5 11.65 14.4875 11.3125 14.4625 10.9875C14.4375 10.6625 14.4 10.3333 14.35 10H9.65C9.6 10.3333 9.5625 10.6625 9.5375 10.9875C9.5125 11.3125 9.5 11.65 9.5 12C9.5 12.35 9.5125 12.6875 9.5375 13.0125C9.5625 13.3375 9.6 13.6667 9.65 14ZM16.35 14H19.75C19.8333 13.6667 19.8958 13.3375 19.9375 13.0125C19.9792 12.6875 20 12.35 20 12C20 11.65 19.9792 11.3125 19.9375 10.9875C19.8958 10.6625 19.8333 10.3333 19.75 10H16.35C16.4 10.3333 16.4375 10.6625 16.4625 10.9875C16.4875 11.3125 16.5 11.65 16.5 12C16.5 12.35 16.4875 12.6875 16.4625 13.0125C16.4375 13.3375 16.4 13.6667 16.35 14ZM15.95 8H18.9C18.4167 7.16667 17.8125 6.44167 17.0875 5.825C16.3625 5.20833 15.5333 4.75 14.6 4.45C14.9 5 15.1625 5.57083 15.3875 6.1625C15.6125 6.75417 15.8 7.36667 15.95 8ZM10.1 8H13.9C13.7 7.26667 13.4417 6.575 13.125 5.925C12.8083 5.275 12.4333 4.65 12 4.05C11.5667 4.65 11.1917 5.275 10.875 5.925C10.5583 6.575 10.3 7.26667 10.1 8ZM5.1 8H8.05C8.2 7.36667 8.3875 6.75417 8.6125 6.1625C8.8375 5.57083 9.1 5 9.4 4.45C8.46667 4.75 7.6375 5.20833 6.9125 5.825C6.1875 6.44167 5.58333 7.16667 5.1 8Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    margin-top: 38px;
}
.header .tnb ul li.lang a:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.32083 2.7875 8.1125C3.3125 6.90417 4.02917 5.84583 4.9375 4.9375C5.84583 4.02917 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6792 2.2625 15.8875 2.7875C17.0958 3.3125 18.1542 4.02917 19.0625 4.9375C19.9708 5.84583 20.6875 6.90417 21.2125 8.1125C21.7375 9.32083 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.9708 18.1542 19.0625 19.0625C18.1542 19.9708 17.0958 20.6875 15.8875 21.2125C14.6792 21.7375 13.3833 22 12 22ZM12 19.95C12.4333 19.35 12.8083 18.725 13.125 18.075C13.4417 17.425 13.7 16.7333 13.9 16H10.1C10.3 16.7333 10.5583 17.425 10.875 18.075C11.1917 18.725 11.5667 19.35 12 19.95ZM9.4 19.55C9.1 19 8.8375 18.4292 8.6125 17.8375C8.3875 17.2458 8.2 16.6333 8.05 16H5.1C5.58333 16.8333 6.1875 17.5583 6.9125 18.175C7.6375 18.7917 8.46667 19.25 9.4 19.55ZM14.6 19.55C15.5333 19.25 16.3625 18.7917 17.0875 18.175C17.8125 17.5583 18.4167 16.8333 18.9 16H15.95C15.8 16.6333 15.6125 17.2458 15.3875 17.8375C15.1625 18.4292 14.9 19 14.6 19.55ZM4.25 14H7.65C7.6 13.6667 7.5625 13.3375 7.5375 13.0125C7.5125 12.6875 7.5 12.35 7.5 12C7.5 11.65 7.5125 11.3125 7.5375 10.9875C7.5625 10.6625 7.6 10.3333 7.65 10H4.25C4.16667 10.3333 4.10417 10.6625 4.0625 10.9875C4.02083 11.3125 4 11.65 4 12C4 12.35 4.02083 12.6875 4.0625 13.0125C4.10417 13.3375 4.16667 13.6667 4.25 14ZM9.65 14H14.35C14.4 13.6667 14.4375 13.3375 14.4625 13.0125C14.4875 12.6875 14.5 12.35 14.5 12C14.5 11.65 14.4875 11.3125 14.4625 10.9875C14.4375 10.6625 14.4 10.3333 14.35 10H9.65C9.6 10.3333 9.5625 10.6625 9.5375 10.9875C9.5125 11.3125 9.5 11.65 9.5 12C9.5 12.35 9.5125 12.6875 9.5375 13.0125C9.5625 13.3375 9.6 13.6667 9.65 14ZM16.35 14H19.75C19.8333 13.6667 19.8958 13.3375 19.9375 13.0125C19.9792 12.6875 20 12.35 20 12C20 11.65 19.9792 11.3125 19.9375 10.9875C19.8958 10.6625 19.8333 10.3333 19.75 10H16.35C16.4 10.3333 16.4375 10.6625 16.4625 10.9875C16.4875 11.3125 16.5 11.65 16.5 12C16.5 12.35 16.4875 12.6875 16.4625 13.0125C16.4375 13.3375 16.4 13.6667 16.35 14ZM15.95 8H18.9C18.4167 7.16667 17.8125 6.44167 17.0875 5.825C16.3625 5.20833 15.5333 4.75 14.6 4.45C14.9 5 15.1625 5.57083 15.3875 6.1625C15.6125 6.75417 15.8 7.36667 15.95 8ZM10.1 8H13.9C13.7 7.26667 13.4417 6.575 13.125 5.925C12.8083 5.275 12.4333 4.65 12 4.05C11.5667 4.65 11.1917 5.275 10.875 5.925C10.5583 6.575 10.3 7.26667 10.1 8ZM5.1 8H8.05C8.2 7.36667 8.3875 6.75417 8.6125 6.1625C8.8375 5.57083 9.1 5 9.4 4.45C8.46667 4.75 7.6375 5.20833 6.9125 5.825C6.1875 6.44167 5.58333 7.16667 5.1 8Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.haitaimall a {
    position: relative; /* after 기준의 정렬 */
    width: 150px;
    height: 45px;
    border: 1px solid #ED2985;
    border-radius: 23px;
    background-size: 91px auto;
    background-image: url(../images/logo_haitaimall.svg);
    background-position: left 15px top -2px;
    margin: 27px 20px 0 20px;
}   
.header .tnb ul li.haitaimall a::after {
    position: absolute;
    right: 13px;
    top: 8px;
    width: 24px;
    height: 24px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.67871 16.1388V4.13879H2.67871V2.13879H5.67871C6.231 2.13879 6.67871 2.58651 6.67871 3.13879V15.1388H19.1171L21.1171 7.13879H8.67871V5.13879H22.3979C22.9502 5.13879 23.3979 5.58651 23.3979 6.13879C23.3979 6.22055 23.3879 6.30201 23.368 6.38133L20.868 16.3813C20.7568 16.8265 20.3568 17.1388 19.8979 17.1388H5.67871C5.12643 17.1388 4.67871 16.6911 4.67871 16.1388ZM6.67871 23.1388C5.57414 23.1388 4.67871 22.2434 4.67871 21.1388C4.67871 20.0342 5.57414 19.1388 6.67871 19.1388C7.78328 19.1388 8.67871 20.0342 8.67871 21.1388C8.67871 22.2434 7.78328 23.1388 6.67871 23.1388ZM18.6787 23.1388C17.5741 23.1388 16.6787 22.2434 16.6787 21.1388C16.6787 20.0342 17.5741 19.1388 18.6787 19.1388C19.7833 19.1388 20.6787 20.0342 20.6787 21.1388C20.6787 22.2434 19.7833 23.1388 18.6787 23.1388Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.haitaimall a:hover {
    background-color: #ED2985;
    background-image: url(../images/logo_haitaimall_w.svg);
} 
.header .tnb ul li.haitaimall a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.00488 16V4H2.00488V2H5.00488C5.55717 2 6.00488 2.44772 6.00488 3V15H18.4433L20.4433 7H8.00488V5H21.7241C22.2764 5 22.7241 5.44772 22.7241 6C22.7241 6.08176 22.7141 6.16322 22.6942 6.24254L20.1942 16.2425C20.083 16.6877 19.683 17 19.2241 17H5.00488C4.4526 17 4.00488 16.5523 4.00488 16ZM6.00488 23C4.90031 23 4.00488 22.1046 4.00488 21C4.00488 19.8954 4.90031 19 6.00488 19C7.10945 19 8.00488 19.8954 8.00488 21C8.00488 22.1046 7.10945 23 6.00488 23ZM18.0049 23C16.9003 23 16.0049 22.1046 16.0049 21C16.0049 19.8954 16.9003 19 18.0049 19C19.1095 19 20.0049 19.8954 20.0049 21C20.0049 22.1046 19.1095 23 18.0049 23Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* 스크롤 시 메뉴 고정 */
.header.fixed {
    background-color: rgba(255,255,255, 0.8);
    backdrop-filter: blur(10px) opacity(50%);
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
}
@media screen and (min-width:1025px){ /* pc 버전((1025px 이상)*/
    /*  메뉴에 마우스 오버*/
    .header.menu_over {
        color: #1d1d1d;
    }
    .header.menu_over::after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 400px;
        background-color: #fff;
        content: "";
    }
    .header.menu_over::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #FEF4F6;
        content: "";
    }
    .header.menu_over .gnb .depth2 {
        display: block;
    }
    .header.menu_over .tnb ul li.search a {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L20.3 18.9C20.4833 19.0833 20.575 19.3167 20.575 19.6C20.575 19.8833 20.4833 20.1167 20.3 20.3C20.1167 20.4833 19.8833 20.575 19.6 20.575C19.3167 20.575 19.0833 20.4833 18.9 20.3L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb ul li.lang a {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.32083 2.7875 8.1125C3.3125 6.90417 4.02917 5.84583 4.9375 4.9375C5.84583 4.02917 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6792 2.2625 15.8875 2.7875C17.0958 3.3125 18.1542 4.02917 19.0625 4.9375C19.9708 5.84583 20.6875 6.90417 21.2125 8.1125C21.7375 9.32083 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.9708 18.1542 19.0625 19.0625C18.1542 19.9708 17.0958 20.6875 15.8875 21.2125C14.6792 21.7375 13.3833 22 12 22ZM12 19.95C12.4333 19.35 12.8083 18.725 13.125 18.075C13.4417 17.425 13.7 16.7333 13.9 16H10.1C10.3 16.7333 10.5583 17.425 10.875 18.075C11.1917 18.725 11.5667 19.35 12 19.95ZM9.4 19.55C9.1 19 8.8375 18.4292 8.6125 17.8375C8.3875 17.2458 8.2 16.6333 8.05 16H5.1C5.58333 16.8333 6.1875 17.5583 6.9125 18.175C7.6375 18.7917 8.46667 19.25 9.4 19.55ZM14.6 19.55C15.5333 19.25 16.3625 18.7917 17.0875 18.175C17.8125 17.5583 18.4167 16.8333 18.9 16H15.95C15.8 16.6333 15.6125 17.2458 15.3875 17.8375C15.1625 18.4292 14.9 19 14.6 19.55ZM4.25 14H7.65C7.6 13.6667 7.5625 13.3375 7.5375 13.0125C7.5125 12.6875 7.5 12.35 7.5 12C7.5 11.65 7.5125 11.3125 7.5375 10.9875C7.5625 10.6625 7.6 10.3333 7.65 10H4.25C4.16667 10.3333 4.10417 10.6625 4.0625 10.9875C4.02083 11.3125 4 11.65 4 12C4 12.35 4.02083 12.6875 4.0625 13.0125C4.10417 13.3375 4.16667 13.6667 4.25 14ZM9.65 14H14.35C14.4 13.6667 14.4375 13.3375 14.4625 13.0125C14.4875 12.6875 14.5 12.35 14.5 12C14.5 11.65 14.4875 11.3125 14.4625 10.9875C14.4375 10.6625 14.4 10.3333 14.35 10H9.65C9.6 10.3333 9.5625 10.6625 9.5375 10.9875C9.5125 11.3125 9.5 11.65 9.5 12C9.5 12.35 9.5125 12.6875 9.5375 13.0125C9.5625 13.3375 9.6 13.6667 9.65 14ZM16.35 14H19.75C19.8333 13.6667 19.8958 13.3375 19.9375 13.0125C19.9792 12.6875 20 12.35 20 12C20 11.65 19.9792 11.3125 19.9375 10.9875C19.8958 10.6625 19.8333 10.3333 19.75 10H16.35C16.4 10.3333 16.4375 10.6625 16.4625 10.9875C16.4875 11.3125 16.5 11.65 16.5 12C16.5 12.35 16.4875 12.6875 16.4625 13.0125C16.4375 13.3375 16.4 13.6667 16.35 14ZM15.95 8H18.9C18.4167 7.16667 17.8125 6.44167 17.0875 5.825C16.3625 5.20833 15.5333 4.75 14.6 4.45C14.9 5 15.1625 5.57083 15.3875 6.1625C15.6125 6.75417 15.8 7.36667 15.95 8ZM10.1 8H13.9C13.7 7.26667 13.4417 6.575 13.125 5.925C12.8083 5.275 12.4333 4.65 12 4.05C11.5667 4.65 11.1917 5.275 10.875 5.925C10.5583 6.575 10.3 7.26667 10.1 8ZM5.1 8H8.05C8.2 7.36667 8.3875 6.75417 8.6125 6.1625C8.8375 5.57083 9.1 5 9.4 4.45C8.46667 4.75 7.6375 5.20833 6.9125 5.825C6.1875 6.44167 5.58333 7.16667 5.1 8Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb ul li.haitaimall a {
        background-color: #ED2985;
        background-image: url(../images/logo_haitaimall_w.svg);
    }
    .header.menu_over .tnb ul li.haitaimall a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.00488 16V4H2.00488V2H5.00488C5.55717 2 6.00488 2.44772 6.00488 3V15H18.4433L20.4433 7H8.00488V5H21.7241C22.2764 5 22.7241 5.44772 22.7241 6C22.7241 6.08176 22.7141 6.16322 22.6942 6.24254L20.1942 16.2425C20.083 16.6877 19.683 17 19.2241 17H5.00488C4.4526 17 4.00488 16.5523 4.00488 16ZM6.00488 23C4.90031 23 4.00488 22.1046 4.00488 21C4.00488 19.8954 4.90031 19 6.00488 19C7.10945 19 8.00488 19.8954 8.00488 21C8.00488 22.1046 7.10945 23 6.00488 23ZM18.0049 23C16.9003 23 16.0049 22.1046 16.0049 21C16.0049 19.8954 16.9003 19 18.0049 19C19.1095 19 20.0049 19.8954 20.0049 21C20.0049 22.1046 19.1095 23 18.0049 23Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:1280px){
    .header .logo a {
        width: 90px;
        height: 90px;
        margin-top: 5px;
    }
    .header .gnb .depth1 > li > a {
        width: 120px;
        font-size: 18px;
    }
    .header .tnb ul li.search a {
        width: 22px;
        height: 22px;
        background-size: 22px auto;
        margin: 36px 10px 0 0;
    }
    .header .tnb ul li.lang a {
        width: 22px;
        height: 22px;
        background-size: 22px auto;
        margin-top: 36px;
    }
    .header .tnb ul li.haitaimall a {
        width: 130px;
        background-size: 80px auto;
        background-image: url(../images/logo_haitaimall.svg);
        background-position: left 10px top;
        margin: 27px 0 0 15px;
    }   
    .header .tnb ul li.haitaimall a::after {
        right: 13px;
        top: 8px;
        width: 22px;
        height: 22px;
    }
}
@media screen and (max-width:1024px){  /* 모바일 버전*/
    .header {
        padding: 0 20px; 
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 42px auto;
    }
    .header .gnb .gnb_open {
        display: block; /* 모바일 버전에서 보임*/
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='22' viewBox='0 0 32 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 21.5C1.50417 21.5 1.08854 21.3323 0.753125 20.9969C0.417708 20.6615 0.25 20.2458 0.25 19.75C0.25 19.2542 0.417708 18.8385 0.753125 18.5031C1.08854 18.1677 1.50417 18 2 18H30C30.4958 18 30.9115 18.1677 31.2469 18.5031C31.5823 18.8385 31.75 19.2542 31.75 19.75C31.75 20.2458 31.5823 20.6615 31.2469 20.9969C30.9115 21.3323 30.4958 21.5 30 21.5H2ZM2 12.75C1.50417 12.75 1.08854 12.5823 0.753125 12.2469C0.417708 11.9115 0.25 11.4958 0.25 11C0.25 10.5042 0.417708 10.0885 0.753125 9.75312C1.08854 9.41771 1.50417 9.25 2 9.25H30C30.4958 9.25 30.9115 9.41771 31.2469 9.75312C31.5823 10.0885 31.75 10.5042 31.75 11C31.75 11.4958 31.5823 11.9115 31.2469 12.2469C30.9115 12.5823 30.4958 12.75 30 12.75H2ZM2 4C1.50417 4 1.08854 3.83229 0.753125 3.49687C0.417708 3.16146 0.25 2.74583 0.25 2.25C0.25 1.75417 0.417708 1.33854 0.753125 1.00312C1.08854 0.667708 1.50417 0.5 2 0.5H30C30.4958 0.5 30.9115 0.667708 31.2469 1.00312C31.5823 1.33854 31.75 1.75417 31.75 2.25C31.75 2.74583 31.5823 3.16146 31.2469 3.49687C30.9115 3.83229 30.4958 4 30 4H2Z' fill='%23ED2985'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .depth1 {
        display: none; /* 메뉴 버튼 클릭시 나타남*/
    }
    .header .tnb {
        display: none;
    }
}
@media screen and (max-width:768px){ 
    .header {
        height: 70px;
        padding: 0 40px;
    }
    .header .logo a {
        width: 70px;
        height: 70px;
        margin-top: 0;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        width: 70px;
        height: 70px;
        background-size: 32px auto;
    }
}

.footer {
    height: 420px;
    background-color: #1d1d1d;
    color: rgba(255,255,255, 0.8);
    padding-top: 80px;
    border-radius: 50px 50px 0 0;
}
.footer .wrapper{   
    display: flex;
    justify-content: space-between;
    align-items: center
}
.footer .f_info {
    margin-top: 30px;
}
.footer .coryright {
    color: rgba(255,255,255, 0.6);
}
.footer .coryright br {
    display: none;
}
.footer .f_nav ul {
    display: flex;
    margin-bottom: 10px;
}
.footer .f_nav ul li {
    position: relative;
    margin-right: 30px; 
}
.footer .f_nav ul li::before {
    position: absolute;
    right: -17px;
    top: 6px;
    width: 3px;
    height: 3px;
    background-color: rgba(255,255,255, 0.2);
    content: "";
}
.footer .f_nav ul li:last-child:before {
    display: none;
}
.footer .fmailysite {
    position: relative; /* ul 정렬의 기준 */
    margin-top: 40px;
}
.footer .fmailysite button {
    position: relative; /*after 정렬의 기준*/
    display: block;
    width: 160px;
    line-height: 30px;
    border: 1px solid rgba(255,255,255, 0.6);
    border-radius: 15px;
    padding-right: 25px;
}
.footer .fmailysite button.close {
    display: none;
}
.footer .fmailysite.on button.open {
    display: none;
}
.footer .fmailysite.on button.close {
    display: block;
}
.footer .fmailysite button::after {
    position: absolute;
    right: 13px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.98307 10.6251H5.81641C5.63932 10.6251 5.49089 10.5652 5.37109 10.4454C5.2513 10.3255 5.19141 10.177 5.19141 9.99987C5.19141 9.82271 5.2513 9.6743 5.37109 9.55464C5.49089 9.43499 5.63932 9.37516 5.81641 9.37516H9.98307V5.2085C9.98307 5.03141 10.043 4.88298 10.1628 4.76318C10.2827 4.64339 10.4312 4.5835 10.6083 4.5835C10.7855 4.5835 10.9339 4.64339 11.0536 4.76318C11.1732 4.88298 11.233 5.03141 11.233 5.2085V9.37516H15.3997C15.5768 9.37516 15.7252 9.43508 15.845 9.55491C15.9648 9.67476 16.0247 9.82326 16.0247 10.0004C16.0247 10.1776 15.9648 10.326 15.845 10.4456C15.7252 10.5653 15.5768 10.6251 15.3997 10.6251H11.233V14.7918C11.233 14.9689 11.1731 15.1173 11.0533 15.2371C10.9334 15.3569 10.7849 15.4168 10.6078 15.4168C10.4306 15.4168 10.2822 15.3569 10.1626 15.2371C10.0429 15.1173 9.98307 14.9689 9.98307 14.7918V10.6251Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
.footer .fmailysite ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 35px;
    border-radius: 10px;
    background-color: #FFC2D4;
    width: 160px;
    padding: 20px 10px 10px 20px;
}
.footer .fmailysite ul li {
    line-height: 25px;
}
@media screen and (max-width:1280px){ 
    .footer {
        height: 380px;
        padding-top: 60px;
        border-radius: 40px 40px 0 0;
    }
    .f_logo {
        width: 140px;
        height: 140px;
        margin-right: 20px;
    }
    .f_logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .footer .f_info {
        margin-top: 8px;
    }
    .footer .coryright br {
        display: block;
    }
    .footer .fmailysite {
        margin-top: 30px;
    }
}
@media screen and (max-width:1024px){ 
    .footer {
        height: 350px;
        padding-top: 50px;
        font-size: 13px;
    }
    .f_logo {
        width: 100px;
        height: 100px;
        margin-right: 0;
    }
    .footer .wrapper{   
        display: block;
        position: relative;
    }
    .footer .fmailysite {
        position: absolute;
        right: 0;
        top: 15px;
    }
    .footer .fmailysite button {
        width: 135px;
        line-height: 30px;
        border: 1px solid rgba(255,255,255, 0.6);
        border-radius: 15px;
        padding-right: 20px;
    }
    .footer .fmailysite button::after {
        right: 8px;
        top: 5px;
        width: 18px;
        height: 18px;
    }
    .footer .fmailysite ul {
        display: none;
        position: absolute;
        left: 0;
        bottom: 35px;
        border-radius: 10px;
        background-color: #FFC2D4;
        width: 135px;
        padding: 20px 5px 10px 10px;
    }
    .footer .f_info {
        border-top: 1px solid rgba(255,255,255, 0.2);
        margin: 0;
        padding-top: 20px;
    } 
}
@media screen and (max-width:768px){
    .footer {
        height: 300px;
        padding-top: 40px;
        font-size: 13px;
    }
    .f_logo {
        width: 75px;
        height: 75px;
    }
    .footer .fmailysite {
        position: absolute;
        right: 0;
        top: 0;
    }
}