@font-face {
    font-family: "Pre_Bold";
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
    font-family: "Pre_med";
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff2) format('woff2'), url(../fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: "noto";
    font-weight: 400;
    font-display: swap;
    src: local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.woff2) format('woff2'), url(../fonts/NotoSans-Regular.woff) format('woff');
}