@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0.5px solid rosybrown;
    word-break: keep-all;
}

li {list-style-type: none;}

a:visited,
a:link {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
    height: 92px;
    display: flex;
    
}