.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    z-index: 999999999;/* 꼭 맨 상단에 배치 */
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #7D7AD1;
    text-align: center;
    color: #fff;
}
.skip_nav a:focus {
    top: 100px;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-blue);
    color: #fff;
    padding: 0 30px;
    z-index: 100;
    position: relative;
    transition: 0.3s;
}
header .logo a {
    display: block;
    width: 190px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    margin-right: 30px;
    margin-bottom: 6px;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/common/logo_w.svg);
    content: "";
}
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header.fixed .logo a::before {
    background-image: url(../images/common/logo_fixed.svg);
}
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: 150px;
        position: relative;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        font-size: 1.375rem;
        line-height: 90px;
        white-space: nowrap;
        padding: 0 20px;
    }
    header .gnb .gnb_wrap .depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        color: #3D3D3D;
        text-align: center;
        padding: 20px;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap .depth2::before {
        position: absolute;
        left: 0;
        top: 0px;
        width: 1px;
        height: 223px;
        background-color: #ededed;
        content: "";
    }
    header .gnb .gnb_wrap .depth1 > li:last-child > .depth2::after {
        position: absolute;
        right: 0;
        top: 0px;
        width: 1px;
        height: 223px;
        background-color: #ededed;
        content: "";
    }
    header .gnb .gnb_wrap .depth2 > li > a {
        display: block;
        line-height: 2.2;
    }
    header .gnb .gnb_wrap .depth2 > li > a:hover,
    header .gnb .gnb_wrap .depth2 > li > a:focus {
        font-weight: 700;
    }
    header.menu_over .gnb .gnb_wrap .depth2 {
        display: block;
    }
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        height: 223px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        background-image: url(../images/common/menu_bg.png);
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        content: "";
    }

    header.menu_over .gnb .gnb_wrap .depth1 > li {
        position: relative;
    }
    header.menu_over .gnb .gnb_wrap .depth1 > li::before {
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        height: 223px;
        background-color: #fff;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap .depth1 > li.over::before {
        background-color: var(--main-blue);
        animation-name: bg_down;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    @keyframes bg_down {
        0% {height: 0;}
        100% {height: 223px;}
    }
    header.menu_over .gnb .gnb_wrap .depth1 > li.over > .depth2 {
        color: #fff;
    }
    header .tnb {
        display: flex;
    }
    header .tnb a {
        display: block;
        font-size: 0;
        line-height: 0;
        width: 23px;
        height: 21px;
        position: relative;
    }
    header .tnb a.login {
        margin-right: 50px;
    }
    header .tnb a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        content: "";
        transition: 0.3s;
    }
    header .tnb a.login::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 9.85714C10.1446 9.85714 8.98438 9.37455 8.0192 8.40938C7.05402 7.4442 6.57143 6.28393 6.57143 4.92857C6.57143 3.57321 7.05402 2.41295 8.0192 1.44777C8.98438 0.482589 10.1446 0 11.5 0C12.8554 0 14.0156 0.482589 14.9808 1.44777C15.946 2.41295 16.4286 3.57321 16.4286 4.92857C16.4286 6.28393 15.946 7.4442 14.9808 8.40938C14.0156 9.37455 12.8554 9.85714 11.5 9.85714ZM0 20.0305V19.0321C0 18.3539 0.197417 17.7193 0.59225 17.1284C0.987357 16.5378 1.51868 16.0792 2.18623 15.7525C3.73654 15.0091 5.28781 14.4515 6.84004 14.0797C8.39226 13.7081 9.94558 13.5224 11.5 13.5224C13.0544 13.5224 14.6077 13.7081 16.16 14.0797C17.7122 14.4515 19.2635 15.0091 20.8138 15.7525C21.4813 16.0792 22.0126 16.5378 22.4078 17.1284C22.8026 17.7193 23 18.3539 23 19.0321V20.0305C23 20.5127 22.8363 20.9175 22.5088 21.245C22.1813 21.5728 21.7763 21.7366 21.2939 21.7366H1.70611C1.22365 21.7366 0.818691 21.5728 0.491215 21.245C0.163738 20.9175 0 20.5127 0 20.0305ZM1.64286 20.0938H21.3571V19.0321C21.3571 18.6676 21.2397 18.3254 21.0047 18.0053C20.7701 17.6852 20.4452 17.4146 20.0301 17.1933C18.6781 16.5384 17.284 16.0366 15.8478 15.6881C14.4117 15.3395 12.9624 15.1652 11.5 15.1652C10.0376 15.1652 8.58831 15.3395 7.15218 15.6881C5.71605 16.0366 4.32195 16.5384 2.96988 17.1933C2.55478 17.4146 2.2299 17.6852 1.99525 18.0053C1.76032 18.3254 1.64286 18.6676 1.64286 19.0321V20.0938ZM11.5 8.21429C12.4036 8.21429 13.1771 7.89256 13.8205 7.24911C14.464 6.60565 14.7857 5.83214 14.7857 4.92857C14.7857 4.025 14.464 3.25149 13.8205 2.60804C13.1771 1.96458 12.4036 1.64286 11.5 1.64286C10.5964 1.64286 9.82292 1.96458 9.17946 2.60804C8.53601 3.25149 8.21429 4.025 8.21429 4.92857C8.21429 5.83214 8.53601 6.60565 9.17946 7.24911C9.82292 7.89256 10.5964 8.21429 11.5 8.21429Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb .sitemap_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00674 20C0.721498 20 0.482397 19.904 0.289438 19.712C0.0964793 19.52 0 19.2822 0 18.9985C0 18.7148 0.0964793 18.4775 0.289438 18.2865C0.482397 18.0955 0.721498 18 1.00674 18H21.9933C22.2785 18 22.5176 18.096 22.7106 18.288C22.9035 18.48 23 18.7178 23 19.0015C23 19.2852 22.9035 19.5225 22.7106 19.7135C22.5176 19.9045 22.2785 20 21.9933 20H1.00674ZM1.00674 11C0.721498 11 0.482397 10.904 0.289438 10.712C0.0964793 10.52 0 10.2822 0 9.9985C0 9.71483 0.0964793 9.4775 0.289438 9.2865C0.482397 9.0955 0.721498 9 1.00674 9H16.2629C16.5481 9 16.7872 9.096 16.9802 9.288C17.1732 9.48 17.2696 9.71783 17.2696 10.0015C17.2696 10.2852 17.1732 10.5225 16.9802 10.7135C16.7872 10.9045 16.5481 11 16.2629 11H1.00674ZM1.00674 2C0.721498 2 0.482397 1.904 0.289438 1.712C0.0964793 1.52 0 1.28217 0 0.998499C0 0.714832 0.0964793 0.477499 0.289438 0.286499C0.482397 0.095499 0.721498 0 1.00674 0H21.9933C22.2785 0 22.5176 0.0960005 22.7106 0.288001C22.9035 0.480001 23 0.717835 23 1.0015C23 1.28517 22.9035 1.5225 22.7106 1.7135C22.5176 1.9045 22.2785 2 21.9933 2H1.00674Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb a:hover::before{
        top: -5px;
    }
    header.fixed .tnb a.login::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 9.85714C10.1446 9.85714 8.98438 9.37455 8.0192 8.40938C7.05402 7.4442 6.57143 6.28393 6.57143 4.92857C6.57143 3.57321 7.05402 2.41295 8.0192 1.44777C8.98438 0.482589 10.1446 0 11.5 0C12.8554 0 14.0156 0.482589 14.9808 1.44777C15.946 2.41295 16.4286 3.57321 16.4286 4.92857C16.4286 6.28393 15.946 7.4442 14.9808 8.40938C14.0156 9.37455 12.8554 9.85714 11.5 9.85714ZM0 20.0305V19.0321C0 18.3539 0.197417 17.7193 0.59225 17.1284C0.987357 16.5378 1.51868 16.0792 2.18623 15.7525C3.73654 15.0091 5.28781 14.4515 6.84004 14.0797C8.39226 13.7081 9.94558 13.5224 11.5 13.5224C13.0544 13.5224 14.6077 13.7081 16.16 14.0797C17.7122 14.4515 19.2635 15.0091 20.8138 15.7525C21.4813 16.0792 22.0126 16.5378 22.4078 17.1284C22.8026 17.7193 23 18.3539 23 19.0321V20.0305C23 20.5127 22.8363 20.9175 22.5088 21.245C22.1813 21.5728 21.7763 21.7366 21.2939 21.7366H1.70611C1.22365 21.7366 0.818691 21.5728 0.491215 21.245C0.163738 20.9175 0 20.5127 0 20.0305ZM1.64286 20.0938H21.3571V19.0321C21.3571 18.6677 21.2397 18.3254 21.0047 18.0053C20.7701 17.6852 20.4452 17.4146 20.0301 17.1933C18.6781 16.5384 17.284 16.0366 15.8478 15.6881C14.4117 15.3395 12.9624 15.1652 11.5 15.1652C10.0376 15.1652 8.58831 15.3395 7.15218 15.6881C5.71605 16.0366 4.32195 16.5384 2.96988 17.1933C2.55478 17.4146 2.2299 17.6852 1.99525 18.0053C1.76032 18.3254 1.64286 18.6677 1.64286 19.0321V20.0938ZM11.5 8.21429C12.4036 8.21429 13.1771 7.89256 13.8205 7.24911C14.464 6.60565 14.7857 5.83214 14.7857 4.92857C14.7857 4.025 14.464 3.25149 13.8205 2.60804C13.1771 1.96458 12.4036 1.64286 11.5 1.64286C10.5964 1.64286 9.82292 1.96458 9.17946 2.60804C8.53601 3.25149 8.21429 4.025 8.21429 4.92857C8.21429 5.83214 8.53601 6.60565 9.17946 7.24911C9.82292 7.89256 10.5964 8.21429 11.5 8.21429Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .sitemap_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00674 20C0.721498 20 0.482397 19.904 0.289438 19.712C0.0964793 19.52 0 19.2822 0 18.9985C0 18.7148 0.0964793 18.4775 0.289438 18.2865C0.482397 18.0955 0.721498 18 1.00674 18H21.9933C22.2785 18 22.5176 18.096 22.7106 18.288C22.9035 18.48 23 18.7178 23 19.0015C23 19.2852 22.9035 19.5225 22.7106 19.7135C22.5176 19.9045 22.2785 20 21.9933 20H1.00674ZM1.00674 11C0.721498 11 0.482397 10.904 0.289438 10.712C0.0964793 10.52 0 10.2822 0 9.9985C0 9.71483 0.0964793 9.4775 0.289438 9.2865C0.482397 9.0955 0.721498 9 1.00674 9H16.2629C16.5481 9 16.7872 9.096 16.9802 9.288C17.1732 9.48 17.2696 9.71783 17.2696 10.0015C17.2696 10.2852 17.1732 10.5225 16.9802 10.7135C16.7872 10.9045 16.5481 11 16.2629 11H1.00674ZM1.00674 2C0.721498 2 0.482397 1.904 0.289438 1.712C0.0964793 1.52 0 1.28217 0 0.998499C0 0.714832 0.0964793 0.477499 0.289438 0.286499C0.482397 0.095499 0.721498 0 1.00674 0H21.9933C22.2785 0 22.5176 0.0960005 22.7106 0.288001C22.9035 0.480001 23 0.717835 23 1.0015C23 1.28517 22.9035 1.5225 22.7106 1.7135C22.5176 1.9045 22.2785 2 21.9933 2H1.00674Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:1300px){
    header {
        padding: 0 20px;
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: 120px;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        font-size: 1.3rem;
        padding: 0 10px;
    }
    header .gnb .gnb_wrap .depth2 {
        padding: 15px;
    }
    header .tnb a.login {
        margin-right: 25px;
    }
    header .logo a {
        width: 170px;
        height: 35px;
        margin-right: 20px;
    }

}
@media screen and (max-width:1024px){
    header .gnb .gnb_open {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        margin-right: 20px;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 23px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00674 20C0.721498 20 0.482397 19.904 0.289438 19.712C0.0964793 19.52 0 19.2822 0 18.9985C0 18.7148 0.0964793 18.4775 0.289438 18.2865C0.482397 18.0955 0.721498 18 1.00674 18H21.9933C22.2785 18 22.5176 18.096 22.7106 18.288C22.9035 18.48 23 18.7178 23 19.0015C23 19.2852 22.9035 19.5225 22.7106 19.7135C22.5176 19.9045 22.2785 20 21.9933 20H1.00674ZM1.00674 11C0.721498 11 0.482397 10.904 0.289438 10.712C0.0964793 10.52 0 10.2822 0 9.9985C0 9.71483 0.0964793 9.4775 0.289438 9.2865C0.482397 9.0955 0.721498 9 1.00674 9H16.2629C16.5481 9 16.7872 9.096 16.9802 9.288C17.1732 9.48 17.2696 9.71783 17.2696 10.0015C17.2696 10.2852 17.1732 10.5225 16.9802 10.7135C16.7872 10.9045 16.5481 11 16.2629 11H1.00674ZM1.00674 2C0.721498 2 0.482397 1.904 0.289438 1.712C0.0964793 1.52 0 1.28217 0 0.998499C0 0.714832 0.0964793 0.477499 0.289438 0.286499C0.482397 0.095499 0.721498 0 1.00674 0H21.9933C22.2785 0 22.5176 0.0960005 22.7106 0.288001C22.9035 0.480001 23 0.717835 23 1.0015C23 1.28517 22.9035 1.5225 22.7106 1.7135C22.5176 1.9045 22.2785 2 21.9933 2H1.00674Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00674 20C0.721498 20 0.482397 19.904 0.289438 19.712C0.0964793 19.52 0 19.2822 0 18.9985C0 18.7148 0.0964793 18.4775 0.289438 18.2865C0.482397 18.0955 0.721498 18 1.00674 18H21.9933C22.2785 18 22.5176 18.096 22.7106 18.288C22.9035 18.48 23 18.7178 23 19.0015C23 19.2852 22.9035 19.5225 22.7106 19.7135C22.5176 19.9045 22.2785 20 21.9933 20H1.00674ZM1.00674 11C0.721498 11 0.482397 10.904 0.289438 10.712C0.0964793 10.52 0 10.2822 0 9.9985C0 9.71483 0.0964793 9.4775 0.289438 9.2865C0.482397 9.0955 0.721498 9 1.00674 9H16.2629C16.5481 9 16.7872 9.096 16.9802 9.288C17.1732 9.48 17.2696 9.71783 17.2696 10.0015C17.2696 10.2852 17.1732 10.5225 16.9802 10.7135C16.7872 10.9045 16.5481 11 16.2629 11H1.00674ZM1.00674 2C0.721498 2 0.482397 1.904 0.289438 1.712C0.0964793 1.52 0 1.28217 0 0.998499C0 0.714832 0.0964793 0.477499 0.289438 0.286499C0.482397 0.095499 0.721498 0 1.00674 0H21.9933C22.2785 0 22.5176 0.0960005 22.7106 0.288001C22.9035 0.480001 23 0.717835 23 1.0015C23 1.28517 22.9035 1.5225 22.7106 1.7135C22.5176 1.9045 22.2785 2 21.9933 2H1.00674Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #1D1D1D;
    }
    header .gnb .gnb_wrap::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 90px;
        background-color: var(--main-blue);
        content: "";
    }
    header .gnb .gnb_wrap .depth1 {
        margin-top: 90px;
        height: calc(100vh - 100px);
        overflow-y: auto; /* 좌우스크롤 바는 금지, 세로스크롤바는 때에 따라 생김*/
    }
    header .gnb .gnb_wrap .depth1 > li {
        width: calc(100% - 40px);
        border-bottom: 1px solid #EDEDED;
        margin: 0 20px;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        line-height: 80px;
        font-size: 22px;
        position: relative;
    }
    header .gnb .gnb_wrap .depth1 > li.open > a {
        font-weight: 700;
    }
    header .gnb .gnb_wrap .depth1 > li > a::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.63462 8.36538H0.865385C0.620192 8.36538 0.414712 8.2824 0.248942 8.11644C0.0829809 7.95048 0 7.7449 0 7.49971C0 7.25433 0.0829809 7.04885 0.248942 6.88327C0.414712 6.7175 0.620192 6.63462 0.865385 6.63462H6.63462V0.865385C6.63462 0.620192 6.7176 0.414712 6.88356 0.248942C7.04952 0.0829809 7.2551 0 7.50029 0C7.74567 0 7.95115 0.0829809 8.11673 0.248942C8.2825 0.414712 8.36538 0.620192 8.36538 0.865385V6.63462H14.1346C14.3798 6.63462 14.5853 6.7176 14.7511 6.88356C14.917 7.04952 15 7.2551 15 7.50029C15 7.74567 14.917 7.95115 14.7511 8.11673C14.5853 8.2825 14.3798 8.36538 14.1346 8.36538H8.36538V14.1346C8.36538 14.3798 8.2824 14.5853 8.11644 14.7511C7.95048 14.917 7.7449 15 7.49971 15C7.25433 15 7.04885 14.917 6.88327 14.7511C6.7175 14.5853 6.63462 14.3798 6.63462 14.1346V8.36538Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap .depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='2' viewBox='0 0 15 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.865385 1.5C0.620192 1.5 0.414712 1.42808 0.248942 1.28425C0.0829809 1.14042 0 0.96225 0 0.74975C0 0.537083 0.0829809 0.359 0.248942 0.2155C0.414712 0.0718332 0.620192 0 0.865385 0H14.1346C14.3798 0 14.5853 0.0719168 14.7511 0.21575C14.917 0.359583 15 0.53775 15 0.75025C15 0.962917 14.917 1.141 14.7511 1.2845C14.5853 1.42817 14.3798 1.5 14.1346 1.5H0.865385Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap .depth2 {
        display: none;
        background-color: rgba(204,204,204,0.1);
        background-image: url(../images/common/mo_menu_bg.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: auto;
        padding: 18px 0 18px 30px;
    }
    header .gnb .gnb_wrap .depth2 > li > a {
        line-height: 2.2;
        font-size: 16px;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 11.661L2.00378 19.6576C1.78547 19.8756 1.51108 19.9873 1.1806 19.9925C0.850377 19.9975 0.57099 19.8859 0.342436 19.6576C0.114145 19.429 0 19.1521 0 18.8269C0 18.5017 0.114145 18.2248 0.342436 17.9962L8.33905 10L0.342436 2.00378C0.124391 1.78548 0.0127413 1.51108 0.00748719 1.1806C0.00249579 0.850377 0.114145 0.57099 0.342436 0.342436C0.57099 0.114145 0.847881 0 1.17311 0C1.49834 0 1.77523 0.114145 2.00378 0.342436L10 8.33905L17.9962 0.342436C18.2145 0.124391 18.4889 0.0127413 18.8194 0.00748719C19.1496 0.00249579 19.429 0.114145 19.6576 0.342436C19.8859 0.57099 20 0.847881 20 1.17311C20 1.49834 19.8859 1.77523 19.6576 2.00378L11.661 10L19.6576 17.9962C19.8756 18.2145 19.9873 18.4889 19.9925 18.8194C19.9975 19.1496 19.8859 19.429 19.6576 19.6576C19.429 19.8859 19.1521 20 18.8269 20C18.5017 20 18.2248 19.8859 17.9962 19.6576L10 11.661Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }    
    header .tnb .login {
        display: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 21px;
        font-size: 0;
        line-height: 0;
        margin-left: 20px;
    }
    header .tnb .login::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 9.85714C10.1446 9.85714 8.98438 9.37455 8.0192 8.40938C7.05402 7.4442 6.57143 6.28393 6.57143 4.92857C6.57143 3.57321 7.05402 2.41295 8.0192 1.44777C8.98438 0.482589 10.1446 0 11.5 0C12.8554 0 14.0156 0.482589 14.9808 1.44777C15.946 2.41295 16.4286 3.57321 16.4286 4.92857C16.4286 6.28393 15.946 7.4442 14.9808 8.40938C14.0156 9.37455 12.8554 9.85714 11.5 9.85714ZM0 20.0305V19.0321C0 18.3539 0.197417 17.7193 0.59225 17.1284C0.987357 16.5378 1.51868 16.0792 2.18623 15.7525C3.73654 15.0091 5.28781 14.4515 6.84004 14.0797C8.39226 13.7081 9.94558 13.5224 11.5 13.5224C13.0544 13.5224 14.6077 13.7081 16.16 14.0797C17.7122 14.4515 19.2635 15.0091 20.8138 15.7525C21.4813 16.0792 22.0126 16.5378 22.4078 17.1284C22.8026 17.7193 23 18.3539 23 19.0321V20.0305C23 20.5127 22.8363 20.9175 22.5088 21.245C22.1813 21.5728 21.7763 21.7366 21.2939 21.7366H1.70611C1.22365 21.7366 0.818691 21.5728 0.491215 21.245C0.163738 20.9175 0 20.5127 0 20.0305ZM1.64286 20.0938H21.3571V19.0321C21.3571 18.6676 21.2397 18.3254 21.0047 18.0053C20.7701 17.6852 20.4452 17.4146 20.0301 17.1933C18.6781 16.5384 17.284 16.0366 15.8478 15.6881C14.4117 15.3395 12.9624 15.1652 11.5 15.1652C10.0376 15.1652 8.58831 15.3395 7.15218 15.6881C5.71605 16.0366 4.32195 16.5384 2.96988 17.1933C2.55478 17.4146 2.2299 17.6852 1.99525 18.0053C1.76032 18.3254 1.64286 18.6676 1.64286 19.0321V20.0938ZM11.5 8.21429C12.4036 8.21429 13.1771 7.89256 13.8205 7.24911C14.464 6.60565 14.7857 5.83214 14.7857 4.92857C14.7857 4.025 14.464 3.25149 13.8205 2.60804C13.1771 1.96458 12.4036 1.64286 11.5 1.64286C10.5964 1.64286 9.82292 1.96458 9.17946 2.60804C8.53601 3.25149 8.21429 4.025 8.21429 4.92857C8.21429 5.83214 8.53601 6.60565 9.17946 7.24911C9.82292 7.89256 10.5964 8.21429 11.5 8.21429Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .sitemap_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap .depth1 > li.open > .depth2 {
        display: block;
    } 
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb .login {
        display: block;
    }
}
@media screen and (max-width:768px){
    header {
        height: 50px;
        padding: 0 20px;
    }
    header .logo a {
        width: 95px;
        height: 20px;
    }
    header .gnb .gnb_wrap::before {
        height: 50px;
    }
    header .gnb .gnb_wrap .depth1 {
        margin-top: 50px;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        white-space: nowrap;
    }
    header .gnb .gnb_open::before {
        width: 17px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.755056 15C0.541123 15 0.361797 14.928 0.217078 14.784C0.0723595 14.64 0 14.4616 0 14.2489C0 14.0361 0.0723595 13.8581 0.217078 13.7149C0.361797 13.5716 0.541123 13.5 0.755056 13.5H16.4949C16.7089 13.5 16.8882 13.572 17.0329 13.716C17.1776 13.86 17.25 14.0384 17.25 14.2511C17.25 14.4639 17.1776 14.6419 17.0329 14.7851C16.8882 14.9284 16.7089 15 16.4949 15H0.755056ZM0.755056 8.25C0.541123 8.25 0.361797 8.178 0.217078 8.034C0.0723595 7.89 0 7.71163 0 7.49888C0 7.28613 0.0723595 7.10813 0.217078 6.96488C0.361797 6.82163 0.541123 6.75 0.755056 6.75H12.1972C12.4111 6.75 12.5904 6.822 12.7351 6.966C12.8799 7.11 12.9522 7.28838 12.9522 7.50113C12.9522 7.71388 12.8799 7.89187 12.7351 8.03512C12.5904 8.17838 12.4111 8.25 12.1972 8.25H0.755056ZM0.755056 1.5C0.541123 1.5 0.361797 1.428 0.217078 1.284C0.0723595 1.14 0 0.961624 0 0.748874C0 0.536124 0.0723595 0.358124 0.217078 0.214874C0.361797 0.0716243 0.541123 0 0.755056 0H16.4949C16.7089 0 16.8882 0.0720004 17.0329 0.216C17.1776 0.36 17.25 0.538376 17.25 0.751126C17.25 0.963876 17.1776 1.14188 17.0329 1.28513C16.8882 1.42838 16.7089 1.5 16.4949 1.5H0.755056Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_open {
        margin-right: 0;
    }
    header .tnb .login {
        width: 16px;
        height: 15px;
    }
    header .tnb .login::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6.80221C7.05714 6.80221 6.25 6.46918 5.57857 5.80313C4.90714 5.13708 4.57143 4.33641 4.57143 3.4011C4.57143 2.4658 4.90714 1.66512 5.57857 0.999074C6.25 0.333025 7.05714 0 8 0C8.94286 0 9.75 0.333025 10.4214 0.999074C11.0929 1.66512 11.4286 2.4658 11.4286 3.4011C11.4286 4.33641 11.0929 5.13708 10.4214 5.80313C9.75 6.46918 8.94286 6.80221 8 6.80221ZM0 13.8227V13.1336C0 12.6656 0.137333 12.2277 0.412 11.82C0.686857 11.4124 1.05648 11.0959 1.52086 10.8705C2.59933 10.3575 3.67848 9.9727 4.75829 9.7161C5.8381 9.4597 6.91867 9.33149 8 9.33149C9.08133 9.33149 10.1619 9.4597 11.2417 9.7161C12.3215 9.9727 13.4007 10.3575 14.4791 10.8705C14.9435 11.0959 15.3131 11.4124 15.588 11.82C15.8627 12.2277 16 12.6656 16 13.1336V13.8227C16 14.1554 15.8861 14.4348 15.6583 14.6607C15.4305 14.8869 15.1488 15 14.8131 15H1.18686C0.851238 15 0.569524 14.8869 0.341715 14.6607C0.113905 14.4348 0 14.1554 0 13.8227ZM1.14286 13.8663H14.8571V13.1336C14.8571 12.8822 14.7754 12.646 14.612 12.4251C14.4488 12.2042 14.2228 12.0174 13.934 11.8647C12.9934 11.4128 12.0236 11.0665 11.0246 10.826C10.0255 10.5855 9.01733 10.4652 8 10.4652C6.98267 10.4652 5.97448 10.5855 4.97543 10.826C3.97638 11.0665 3.00657 11.4128 2.066 11.8647C1.77724 12.0174 1.55124 12.2042 1.388 12.4251C1.22457 12.646 1.14286 12.8822 1.14286 13.1336V13.8663ZM8 5.66851C8.62857 5.66851 9.16667 5.44649 9.61429 5.00246C10.0619 4.55842 10.2857 4.02464 10.2857 3.4011C10.2857 2.77757 10.0619 2.24378 9.61429 1.79975C9.16667 1.35572 8.62857 1.1337 8 1.1337C7.37143 1.1337 6.83333 1.35572 6.38571 1.79975C5.9381 2.24378 5.71429 2.77757 5.71429 3.4011C5.71429 4.02464 5.9381 4.55842 6.38571 5.00246C6.83333 5.44649 7.37143 5.66851 8 5.66851Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_close::before {
        width: 15px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 9.11886L1.50284 14.9758C1.33911 15.1355 1.13331 15.2172 0.885448 15.2211C0.637782 15.2247 0.428242 15.143 0.256827 14.9758C0.0856091 14.8084 0 14.6056 0 14.3674C0 14.1291 0.0856091 13.9263 0.256827 13.7589L6.25428 7.90234L0.256827 2.04574C0.0932932 1.88585 0.00955597 1.68487 0.00561539 1.44282C0.00187185 1.20096 0.0856091 0.99633 0.256827 0.828933C0.428242 0.661728 0.635911 0.578125 0.879832 0.578125C1.12375 0.578125 1.33142 0.661728 1.50284 0.828933L7.5 6.68583L13.4972 0.828933C13.6609 0.669232 13.8667 0.587457 14.1146 0.583609C14.3622 0.579953 14.5718 0.661728 14.7432 0.828933C14.9144 0.99633 15 1.19913 15 1.43734C15 1.67554 14.9144 1.87834 14.7432 2.04574L8.74572 7.90234L14.7432 13.7589C14.9067 13.9188 14.9904 14.1198 14.9944 14.3619C14.9981 14.6037 14.9144 14.8084 14.7432 14.9758C14.5718 15.143 14.3641 15.2266 14.1202 15.2266C13.8762 15.2266 13.6686 15.143 13.4972 14.9758L7.5 9.11886Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}