.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    z-index: 999999999;/* 꼭 맨 상단에 배치 */
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #D4DDCB;
    text-align: center;
    color: #1d1d1d;
}
.skip_nav a:focus {
    top: 100px;
}
header {
    position: fixed;
    width: 100%;
    height: 5.33rem;
    z-index: 100;
    padding: 0 30px;
    background-color: #fff;
    border-bottom: 2px solid #272727;
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 0.8rem;
}
header .logo a {
    display: block;
    width: 50px;
    height: 54px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='55' viewBox='0 0 50 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_25_88)'%3E%3Cpath d='M3.96696 1.29983C3.82968 1.13374 3.64182 1.00376 3.4106 0.917106C3.17939 0.830452 2.91927 0.787126 2.63026 0.787126C2.31956 0.787126 2.045 0.837674 1.81378 0.93877C1.58257 1.03987 1.39471 1.17707 1.25742 1.3576C1.12014 1.53813 1.06234 1.74032 1.06234 1.96417C1.06234 2.29635 1.19962 2.54909 1.47419 2.72962C1.74875 2.91015 2.06667 3.04013 2.44962 3.134L3.15771 3.32897C3.71407 3.4734 4.18372 3.69003 4.58835 3.97888C4.99297 4.26772 5.18806 4.71544 5.18806 5.30035C5.18806 5.69029 5.0869 6.04413 4.88459 6.36186C4.68228 6.67959 4.38604 6.92511 3.98864 7.10564C3.59124 7.28617 3.12881 7.38005 2.59413 7.38005C2.08835 7.38005 1.6476 7.29339 1.27187 7.1273C0.896151 6.96122 0.599909 6.73014 0.383146 6.43407C0.166383 6.13801 0.0435502 5.79139 0.0146484 5.39423H0.925053C0.946729 5.65419 1.04066 5.87082 1.19239 6.04413C1.34413 6.21744 1.54644 6.35464 1.79211 6.44129C2.03777 6.52795 2.30511 6.57128 2.59413 6.56405C2.9265 6.56405 3.22274 6.51351 3.48286 6.40519C3.74297 6.29687 3.95251 6.15245 4.09702 5.95026C4.24153 5.74806 4.32101 5.53143 4.32101 5.27869C4.32101 5.05483 4.2632 4.8743 4.14037 4.72266C4.01754 4.57101 3.85858 4.45548 3.65627 4.3616C3.45395 4.26772 3.20829 4.18107 2.91205 4.10164L2.03054 3.86334C1.44528 3.69003 0.997307 3.45896 0.679388 3.15567C0.361469 2.85238 0.209735 2.46966 0.209735 2.00028C0.209735 1.60312 0.318117 1.2565 0.527654 0.945991C0.737192 0.635481 1.03343 0.404404 1.40916 0.238317C1.78488 0.0722306 2.20395 -0.00720215 2.66638 -0.00720215C3.12881 -0.00720215 3.53343 0.0722306 3.89471 0.238317C4.25598 0.404404 4.545 0.62826 4.75453 0.917106C4.96407 1.20595 5.07245 1.53091 5.07968 1.88474H4.21263C4.19095 1.65366 4.11147 1.45869 3.96696 1.28539V1.29983Z' fill='black'/%3E%3Cpath d='M9.01016 7.25002L11.6258 0.101074H12.5651L15.1807 7.25002H14.2414L12.1171 1.25646H12.0593L9.93501 7.25002H9.00293H9.01016ZM13.9307 4.45543V5.23532H10.2674V4.45543H13.9307Z' fill='black'/%3E%3Cpath d='M21.0771 6.09464H21.1565L23.2736 0.101074H24.2129L21.5973 7.25002H20.658L18.0352 0.101074H18.9745L21.0771 6.09464Z' fill='black'/%3E%3Cpath d='M29.2413 7.25002H28.3525V0.101074H29.2413V7.25002Z' fill='black'/%3E%3Cpath d='M39.6825 7.25002H38.8299L34.9571 1.68251H34.8848V7.25002H33.9961V0.101074H34.8559L38.7288 5.67581H38.801V0.101074H39.6825V7.25002Z' fill='black'/%3E%3Cpath d='M43.8227 7.25002L46.4383 0.101074H47.3776L49.9932 7.25002H49.0539L46.9296 1.25646H46.8718L44.7475 7.25002H43.8154H43.8227ZM48.7432 4.45543V5.23532H45.0799V4.45543H48.7432Z' fill='black'/%3E%3Cpath d='M3.96696 10.6873C3.82968 10.5212 3.64182 10.3912 3.4106 10.3046C3.17939 10.2179 2.91927 10.1746 2.63026 10.1746C2.31956 10.1746 2.045 10.2251 1.81378 10.3262C1.58257 10.4273 1.39471 10.5645 1.25742 10.745C1.12014 10.9256 1.06234 11.1278 1.06234 11.3516C1.06234 11.6838 1.19962 11.9365 1.47419 12.1171C1.74875 12.2976 2.06667 12.4276 2.44962 12.5215L3.15771 12.7164C3.71407 12.8608 4.18372 13.0775 4.58835 13.3663C4.99297 13.6552 5.18806 14.1029 5.18806 14.6878C5.18806 15.0777 5.0869 15.4316 4.88459 15.7493C4.68228 16.067 4.38604 16.3126 3.98864 16.4931C3.59124 16.6736 3.12881 16.7675 2.59413 16.7675C2.08835 16.7675 1.6476 16.6808 1.27187 16.5148C0.896151 16.3487 0.599909 16.1176 0.383146 15.8215C0.166383 15.5255 0.0435502 15.1788 0.0146484 14.7817H0.925053C0.946729 15.0416 1.04066 15.2583 1.19239 15.4316C1.34413 15.6049 1.54644 15.7421 1.79211 15.8287C2.03777 15.9154 2.30511 15.9587 2.59413 15.9515C2.9265 15.9515 3.22274 15.901 3.48286 15.7926C3.74297 15.6843 3.95251 15.5399 4.09702 15.3377C4.24153 15.1355 4.32101 14.9189 4.32101 14.6661C4.32101 14.4423 4.2632 14.2618 4.14037 14.1101C4.01754 13.9585 3.85858 13.8429 3.65627 13.7491C3.45395 13.6552 3.20829 13.5685 2.91205 13.4891L2.03054 13.2508C1.44528 13.0775 0.997307 12.8464 0.679388 12.5431C0.361469 12.2398 0.209735 11.8571 0.209735 11.3877C0.209735 10.9906 0.318117 10.644 0.527654 10.3334C0.737192 10.0229 1.03343 9.79186 1.40916 9.62577C1.78488 9.45968 2.20395 9.38025 2.66638 9.38025C3.12881 9.38025 3.53343 9.45968 3.89471 9.62577C4.25598 9.79186 4.545 10.0157 4.75453 10.3046C4.96407 10.5934 5.07245 10.9184 5.07968 11.2722H4.21263C4.19095 11.0411 4.11147 10.8461 3.96696 10.6728V10.6873Z' fill='black'/%3E%3Cpath d='M9.01016 16.6375L11.6258 9.48853H12.5651L15.1807 16.6375H14.2414L12.1171 10.6439H12.0593L9.93501 16.6375H9.00293H9.01016ZM13.9307 13.8429V14.6228H10.2674V13.8429H13.9307Z' fill='black'/%3E%3Cpath d='M21.0767 15.4821H21.1562L23.2732 9.48853H24.2125L21.5969 16.6375H20.6576L18.042 9.48853H18.9813L21.0839 15.4821H21.0767Z' fill='black'/%3E%3Cpath d='M29.2413 16.6375H28.3525V9.48853H29.2413V16.6375Z' fill='black'/%3E%3Cpath d='M39.6825 16.6375H38.8299L34.9571 11.07H34.8848V16.6375H33.9961V9.48853H34.8559L38.7288 15.0633H38.801V9.48853H39.6825V16.6375Z' fill='black'/%3E%3Cpath d='M43.8227 16.6375L46.4383 9.48853H47.3776L49.9932 16.6375H49.0539L46.9296 10.6439H46.8718L44.7475 16.6375H43.8154H43.8227ZM48.7432 13.8429V14.6228H45.0799V13.8429H48.7432Z' fill='black'/%3E%3Cpath d='M3.96696 20.0749C3.82968 19.9088 3.64182 19.7788 3.4106 19.6921C3.17939 19.6055 2.91927 19.5622 2.63026 19.5622C2.31956 19.5622 2.045 19.6127 1.81378 19.7138C1.58257 19.8149 1.39471 19.9521 1.25742 20.1326C1.12014 20.3132 1.06234 20.5153 1.06234 20.7392C1.06234 21.0714 1.19962 21.3241 1.47419 21.5046C1.74875 21.6852 2.06667 21.8152 2.44962 21.909L3.15771 22.104C3.71407 22.2484 4.18372 22.4651 4.58835 22.7539C4.99297 23.0427 5.18806 23.4905 5.18806 24.0754C5.18806 24.4653 5.0869 24.8192 4.88459 25.1369C4.68228 25.4546 4.38604 25.7001 3.98864 25.8807C3.59124 26.0612 3.12881 26.1551 2.59413 26.1551C2.08835 26.1551 1.6476 26.0684 1.27187 25.9023C0.896151 25.7362 0.599909 25.5052 0.383146 25.2091C0.166383 24.913 0.0435502 24.5664 0.0146484 24.1693H0.925053C0.946729 24.4292 1.04066 24.6458 1.19239 24.8192C1.34413 24.9925 1.54644 25.1297 1.79211 25.2163C2.03777 25.303 2.30511 25.3463 2.59413 25.3391C2.9265 25.3391 3.22274 25.2885 3.48286 25.1802C3.74297 25.0719 3.95251 24.9275 4.09702 24.7253C4.24153 24.5231 4.32101 24.3065 4.32101 24.0537C4.32101 23.8299 4.2632 23.6493 4.14037 23.4977C4.01754 23.346 3.85858 23.2305 3.65627 23.1366C3.45395 23.0428 3.20829 22.9561 2.91205 22.8767L2.03054 22.6384C1.44528 22.4651 0.997307 22.234 0.679388 21.9307C0.361469 21.6274 0.209735 21.2447 0.209735 20.7753C0.209735 20.3781 0.318117 20.0315 0.527654 19.721C0.737192 19.4105 1.03343 19.1794 1.40916 19.0133C1.78488 18.8473 2.20395 18.7678 2.66638 18.7678C3.12881 18.7678 3.53343 18.8473 3.89471 19.0133C4.25598 19.1794 4.545 19.4033 4.75453 19.6921C4.96407 19.981 5.07245 20.3059 5.07968 20.6598H4.21263C4.19095 20.4287 4.11147 20.2337 3.96696 20.0604V20.0749Z' fill='black'/%3E%3Cpath d='M9.01016 26.0251L11.6258 18.8762H12.5651L15.1807 26.0251H14.2414L12.1171 20.0315H12.0593L9.93501 26.0251H9.00293H9.01016ZM13.9307 23.2305V24.0104H10.2674V23.2305H13.9307Z' fill='black'/%3E%3Cpath d='M21.0767 24.8697H21.1562L23.2732 18.8762H24.2125L21.5969 26.0251H20.6576L18.042 18.8762H18.9813L21.0839 24.8697H21.0767Z' fill='black'/%3E%3Cpath d='M29.2413 26.025H28.3525V18.8761H29.2413V26.025Z' fill='black'/%3E%3Cpath d='M39.6825 26.0251H38.8299L34.9571 20.4576H34.8848V26.0251H33.9961V18.8762H34.8559L38.7288 24.4509H38.801V18.8762H39.6825V26.0251Z' fill='black'/%3E%3Cpath d='M43.8227 26.0251L46.4383 18.8762H47.3776L49.9932 26.0251H49.0539L46.9296 20.0315H46.8718L44.7475 26.0251H43.8154H43.8227ZM48.7432 23.2305V24.0104H45.0799V23.2305H48.7432Z' fill='black'/%3E%3Cpath d='M1.37308 28.2636L3.78637 34.1489H3.87308L6.28637 28.2636H7.35573V35.4126H6.51758V30.0111H6.44533L4.2199 35.4126H3.43232L1.20689 30.0111H1.14909V35.4126H0.303711V28.2636H1.37308Z' fill='black'/%3E%3Cpath d='M16.0626 28.2636V32.9935C16.0626 33.4773 15.947 33.9178 15.7158 34.3005C15.4846 34.6832 15.1594 34.9865 14.7404 35.2104C14.3213 35.427 13.8299 35.5425 13.2808 35.5425C12.7317 35.5425 12.2404 35.4342 11.8213 35.2104C11.4022 34.9865 11.0771 34.6904 10.8458 34.3005C10.6146 33.9106 10.499 33.4773 10.499 32.9935V28.2636H11.3878V32.9213C11.3878 33.2679 11.46 33.5712 11.6117 33.8456C11.7635 34.12 11.9802 34.3222 12.2693 34.481C12.5583 34.6327 12.8906 34.7121 13.2808 34.7121C13.671 34.7121 14.0034 34.6327 14.2924 34.481C14.5814 34.3294 14.7982 34.1128 14.9499 33.8456C15.1016 33.5784 15.1739 33.2679 15.1811 32.9213V28.2636H16.0698H16.0626Z' fill='black'/%3E%3Cpath d='M22.8547 29.4623C22.7174 29.2963 22.5295 29.1663 22.2983 29.0796C22.0671 28.993 21.807 28.9496 21.518 28.9496C21.2073 28.9496 20.9327 29.0002 20.7015 29.1013C20.4703 29.2024 20.2824 29.3396 20.1451 29.5201C20.0078 29.7006 19.95 29.9028 19.95 30.1267C19.95 30.4589 20.0873 30.7116 20.3619 30.8921C20.6364 31.0727 20.9544 31.2026 21.3373 31.2965L22.0454 31.4915C22.6018 31.6359 23.0714 31.8525 23.476 32.1414C23.8734 32.4375 24.0758 32.878 24.0758 33.4629C24.0758 33.8528 23.9746 34.2066 23.7723 34.5244C23.57 34.8421 23.2737 35.0876 22.8763 35.2682C22.4862 35.4487 22.0165 35.5426 21.4818 35.5426C20.976 35.5426 20.5353 35.4559 20.1596 35.2898C19.7838 35.1237 19.4876 34.8927 19.2708 34.5966C19.0541 34.3005 18.9312 33.9539 18.9023 33.5567H19.8127C19.8344 33.8167 19.9284 34.0333 20.0801 34.2066C20.2318 34.38 20.4341 34.5172 20.6798 34.6038C20.9255 34.6905 21.1928 34.7338 21.4818 34.7266C21.8142 34.7266 22.1104 34.676 22.3706 34.5677C22.6307 34.4594 22.8402 34.315 22.9847 34.12C23.1292 33.925 23.2087 33.7012 23.2087 33.4484C23.2087 33.2318 23.1509 33.044 23.0281 32.8924C22.9052 32.7408 22.7463 32.6252 22.544 32.5313C22.3417 32.4375 22.096 32.3508 21.7997 32.2714L20.9182 32.0331C20.333 31.8598 19.885 31.6287 19.5671 31.3254C19.2492 31.0221 19.0974 30.6394 19.0974 30.17C19.0974 29.7729 19.2058 29.4262 19.4154 29.1157C19.6249 28.8052 19.9211 28.5741 20.2969 28.4081C20.6726 28.242 21.0917 28.1625 21.5541 28.1625C22.0165 28.1625 22.4211 28.242 22.7824 28.4081C23.1509 28.5741 23.4327 28.798 23.6422 29.0868C23.8518 29.3757 23.9601 29.7006 23.9674 30.0545H23.1003C23.0786 29.8234 22.9992 29.6284 22.8547 29.4551V29.4623Z' fill='black'/%3E%3Cpath d='M26.9004 28.2636H31.2357V29.0507H27.7891V31.4409H31.0117V32.2208H27.7891V34.6182H31.2862V35.4054H26.9004V28.2564V28.2636Z' fill='black'/%3E%3Cpath d='M39.7687 28.2637V32.9935C39.7687 33.4773 39.6531 33.9178 39.4218 34.3006C39.1906 34.6833 38.8655 34.9866 38.4464 35.2104C38.0273 35.4271 37.536 35.5426 36.9869 35.5426C36.4377 35.5426 35.9464 35.4343 35.5273 35.2104C35.1083 34.9866 34.7831 34.6905 34.5519 34.3006C34.3207 33.9106 34.2051 33.4773 34.2051 32.9935V28.2637H35.0938V32.9213C35.0938 33.2679 35.1661 33.5712 35.3178 33.8456C35.4695 34.12 35.6863 34.3222 35.9753 34.4811C36.2643 34.6327 36.5967 34.7122 36.9869 34.7122C37.377 34.7122 37.7094 34.6327 37.9984 34.4811C38.2874 34.3294 38.5042 34.1128 38.6559 33.8456C38.8077 33.5784 38.8799 33.2679 38.8872 32.9213V28.2637H39.7759H39.7687Z' fill='black'/%3E%3Cpath d='M43.9742 28.2636L46.3875 34.1489H46.4742L48.8875 28.2636H49.9569V35.4126H49.1188V30.0111H49.0465L46.8211 35.4126H46.0335L43.8081 30.0111H43.7503V35.4126H42.9121V28.2636H43.9815H43.9742Z' fill='black'/%3E%3Cpath d='M1.37308 37.6511L3.78637 43.5364H3.87308L6.28637 37.6511H7.35573V44.8001H6.51758V39.3986H6.44533L4.2199 44.8001H3.43232L1.20689 39.3986H1.14909V44.8001H0.303711V37.6511H1.37308Z' fill='black'/%3E%3Cpath d='M16.0626 37.6511V42.381C16.0626 42.8648 15.947 43.3053 15.7158 43.688C15.4846 44.0707 15.1594 44.374 14.7404 44.5979C14.3213 44.8145 13.8299 44.9301 13.2808 44.9301C12.7317 44.9301 12.2404 44.8217 11.8213 44.5979C11.4022 44.374 11.0771 44.078 10.8458 43.688C10.6146 43.2981 10.499 42.8648 10.499 42.381V37.6511H11.3878V42.3088C11.3878 42.6554 11.46 42.9587 11.6117 43.2331C11.7635 43.5075 11.9802 43.7097 12.2693 43.8685C12.5583 44.0202 12.8906 44.0996 13.2808 44.0996C13.671 44.0996 14.0034 44.0202 14.2924 43.8685C14.5814 43.7169 14.7982 43.5003 14.9499 43.2331C15.1016 42.9659 15.1739 42.6554 15.1811 42.3088V37.6511H16.0698H16.0626Z' fill='black'/%3E%3Cpath d='M22.8547 38.8499C22.7174 38.6838 22.5295 38.5538 22.2983 38.4671C22.0671 38.3805 21.807 38.3372 21.518 38.3372C21.2073 38.3372 20.9327 38.3877 20.7015 38.4888C20.4703 38.5899 20.2824 38.7271 20.1451 38.9076C20.0078 39.0882 19.95 39.2903 19.95 39.5142C19.95 39.8464 20.0873 40.0991 20.3619 40.2796C20.6364 40.4602 20.9544 40.5902 21.3373 40.684L22.0454 40.879C22.6018 41.0234 23.0714 41.2401 23.476 41.5289C23.8734 41.825 24.0758 42.2655 24.0758 42.8504C24.0758 43.2403 23.9746 43.5942 23.7723 43.9119C23.57 44.2296 23.2737 44.4751 22.8763 44.6557C22.4862 44.8362 22.0165 44.9301 21.4818 44.9301C20.976 44.9301 20.5353 44.8434 20.1596 44.6773C19.7838 44.5112 19.4876 44.2802 19.2708 43.9841C19.0541 43.688 18.9312 43.3414 18.9023 42.9443H19.8127C19.8344 43.2042 19.9284 43.4209 20.0801 43.5942C20.2318 43.7675 20.4341 43.9047 20.6798 43.9913C20.9255 44.078 21.1928 44.1213 21.4818 44.1141C21.8142 44.1141 22.1104 44.0635 22.3706 43.9552C22.6307 43.8469 22.8402 43.7025 22.9847 43.5075C23.1292 43.3125 23.2087 43.0887 23.2087 42.8359C23.2087 42.6193 23.1509 42.4316 23.0281 42.2799C22.9052 42.1283 22.7463 42.0127 22.544 41.9189C22.3417 41.825 22.096 41.7383 21.7997 41.6589L20.9182 41.4206C20.333 41.2473 19.885 41.0162 19.5671 40.7129C19.2492 40.4096 19.0974 40.0269 19.0974 39.5575C19.0974 39.1604 19.2058 38.8138 19.4154 38.5032C19.6249 38.1927 19.9211 37.9617 20.2969 37.7956C20.6726 37.6295 21.0917 37.55 21.5541 37.55C22.0165 37.55 22.4211 37.6295 22.7824 37.7956C23.1509 37.9617 23.4327 38.1855 23.6422 38.4744C23.8518 38.7632 23.9601 39.0882 23.9674 39.442H23.1003C23.0786 39.2109 22.9992 39.0159 22.8547 38.8426V38.8499Z' fill='black'/%3E%3Cpath d='M26.9004 37.6511H31.2357V38.4382H27.7891V40.8285H31.0117V41.6083H27.7891V44.0058H31.2862V44.7929H26.9004V37.6439V37.6511Z' fill='black'/%3E%3Cpath d='M39.7687 37.6511V42.381C39.7687 42.8648 39.6531 43.3053 39.4218 43.688C39.1906 44.0707 38.8655 44.374 38.4464 44.5979C38.0273 44.8145 37.536 44.9301 36.9869 44.9301C36.4377 44.9301 35.9464 44.8217 35.5273 44.5979C35.1083 44.374 34.7831 44.078 34.5519 43.688C34.3207 43.2981 34.2051 42.8648 34.2051 42.381V37.6511H35.0938V42.3088C35.0938 42.6554 35.1661 42.9587 35.3178 43.2331C35.4695 43.5075 35.6863 43.7097 35.9753 43.8685C36.2643 44.0202 36.5967 44.0996 36.9869 44.0996C37.377 44.0996 37.7094 44.0202 37.9984 43.8685C38.2874 43.7169 38.5042 43.5003 38.6559 43.2331C38.8077 42.9659 38.8799 42.6554 38.8872 42.3088V37.6511H39.7759H39.7687Z' fill='black'/%3E%3Cpath d='M43.9742 37.6511L46.3875 43.5364H46.4742L48.8875 37.6511H49.9569V44.8001H49.1188V39.3986H49.0465L46.8211 44.8001H46.0335L43.8081 39.3986H43.7503V44.8001H42.9121V37.6511H43.9815H43.9742Z' fill='black'/%3E%3Cpath d='M1.37308 47.0386L3.78637 52.9239H3.87308L6.28637 47.0386H7.35573V54.1876H6.51758V48.7862H6.44533L4.2199 54.1876H3.43232L1.20689 48.7862H1.14909V54.1876H0.303711V47.0386H1.37308Z' fill='black'/%3E%3Cpath d='M16.0626 47.0386V51.7685C16.0626 52.2523 15.947 52.6928 15.7158 53.0755C15.4846 53.4582 15.1594 53.7615 14.7404 53.9854C14.3213 54.202 13.8299 54.3176 13.2808 54.3176C12.7317 54.3176 12.2404 54.2092 11.8213 53.9854C11.4022 53.7615 11.0771 53.4655 10.8458 53.0755C10.6146 52.6856 10.499 52.2523 10.499 51.7685V47.0386H11.3878V51.6963C11.3878 52.0429 11.46 52.3462 11.6117 52.6206C11.7635 52.895 11.9802 53.0972 12.2693 53.2561C12.5583 53.4077 12.8906 53.4871 13.2808 53.4871C13.671 53.4871 14.0034 53.4077 14.2924 53.2561C14.5814 53.1044 14.7982 52.8878 14.9499 52.6206C15.1016 52.3534 15.1739 52.0429 15.1811 51.6963V47.0386H16.0698H16.0626Z' fill='black'/%3E%3Cpath d='M22.8547 48.2374C22.7174 48.0713 22.5295 47.9413 22.2983 47.8546C22.0671 47.768 21.807 47.7247 21.518 47.7247C21.2073 47.7247 20.9327 47.7752 20.7015 47.8763C20.4703 47.9774 20.2824 48.1146 20.1451 48.2951C20.0078 48.4757 19.95 48.6779 19.95 48.9017C19.95 49.2339 20.0873 49.4866 20.3619 49.6672C20.6364 49.8477 20.9544 49.9777 21.3373 50.0715L22.0454 50.2665C22.6018 50.4109 23.0714 50.6276 23.476 50.9164C23.8734 51.2125 24.0758 51.653 24.0758 52.2379C24.0758 52.6278 23.9746 52.9817 23.7723 53.2994C23.57 53.6171 23.2737 53.8627 22.8763 54.0432C22.4862 54.2237 22.0165 54.3176 21.4818 54.3176C20.976 54.3176 20.5353 54.2309 20.1596 54.0648C19.7838 53.8988 19.4876 53.6677 19.2708 53.3716C19.0541 53.0756 18.9312 52.7289 18.9023 52.3318H19.8127C19.8344 52.5917 19.9284 52.8084 20.0801 52.9817C20.2318 53.155 20.4341 53.2922 20.6798 53.3788C20.9255 53.4655 21.1928 53.5088 21.4818 53.5016C21.8142 53.5016 22.1104 53.451 22.3706 53.3427C22.6307 53.2344 22.8402 53.09 22.9847 52.895C23.1292 52.7 23.2087 52.4762 23.2087 52.2235C23.2087 52.0068 23.1509 51.8191 23.0281 51.6674C22.9052 51.5158 22.7463 51.4002 22.544 51.3064C22.3417 51.2125 22.096 51.1258 21.7997 51.0464L20.9182 50.8081C20.333 50.6348 19.885 50.4037 19.5671 50.1004C19.2492 49.7971 19.0974 49.4144 19.0974 48.945C19.0974 48.5479 19.2058 48.2013 19.4154 47.8908C19.6249 47.5802 19.9211 47.3492 20.2969 47.1831C20.6726 47.017 21.0917 46.9376 21.5541 46.9376C22.0165 46.9376 22.4211 47.017 22.7824 47.1831C23.1509 47.3492 23.4327 47.573 23.6422 47.8619C23.8518 48.1507 23.9601 48.4757 23.9674 48.8295H23.1003C23.0786 48.5984 22.9992 48.4035 22.8547 48.2301V48.2374Z' fill='black'/%3E%3Cpath d='M26.9004 47.0387H31.2357V47.8258H27.7891V50.216H31.0117V50.9959H27.7891V53.3933H31.2862V54.1804H26.9004V47.0314V47.0387Z' fill='black'/%3E%3Cpath d='M39.7687 47.0387V51.7686C39.7687 52.2524 39.6531 52.6929 39.4218 53.0756C39.1906 53.4583 38.8655 53.7616 38.4464 53.9855C38.0273 54.2021 37.536 54.3176 36.9869 54.3176C36.4377 54.3176 35.9464 54.2093 35.5273 53.9855C35.1083 53.7616 34.7831 53.4655 34.5519 53.0756C34.3207 52.6856 34.2051 52.2524 34.2051 51.7686V47.0387H35.0938V51.6963C35.0938 52.043 35.1661 52.3463 35.3178 52.6207C35.4695 52.8951 35.6863 53.0972 35.9753 53.2561C36.2643 53.4078 36.5967 53.4872 36.9869 53.4872C37.377 53.4872 37.7094 53.4078 37.9984 53.2561C38.2874 53.1045 38.5042 52.8878 38.6559 52.6207C38.8077 52.3535 38.8799 52.043 38.8872 51.6963V47.0387H39.7759H39.7687Z' fill='black'/%3E%3Cpath d='M43.9742 47.0386L46.3875 52.9239H46.4742L48.8875 47.0386H49.9569V54.1876H49.1188V48.7862H49.0465L46.8211 54.1876H46.0335L43.8081 48.7862H43.7503V54.1876H42.9121V47.0386H43.9815H43.9742Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_88'%3E%3Crect width='50' height='54.3103' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (min-width:1025px){
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap .depth1 > li {
        padding: 0 2.2rem;
    }
    header .gnb .gnb_wrap .depth1 > li > a {
        display: block;
        line-height: 5.33rem;
        font-size: 1.46rem;
    }
    header .gnb .gnb_wrap .depth1 > li > a:hover {
        font-weight: 700;
    }
    header.menu_over .gnb .gnb_wrap .depth1 > li > a span {
        color: #666666;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span {
        color: var(--main-black);
        font-weight: 700;
        position: relative;
    }
    header .gnb .gnb_wrap .depth1 > li.on > a span::after {
        position: absolute;
        left: 0;
        bottom: -26px;
        z-index: 10;
        width: 100%;
        height: 2px;
        background-color: var(--main-black);
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        position: absolute;
        left: 50%;
        top: 5.33rem;
        transform: translateX(-50%);
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 5.33rem;
        padding: 0 1rem;
        color: #3d3d3d;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover span::after,
    header .gnb .gnb_wrap ul.depth2 > li > a:focus span::after {
        position: absolute;
        left: 0;
        bottom: -6px;;
        width: 100%;
        height: 1px;
        color: var(--main-black);
        background-color: var(--main-black);
        content: "";
    }
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 5.33rem;
        width: 100%;
        height: 5.33rem;
        background-color: var(--main-bei);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 10.667rem;
        width: 100%;
        height: 2px;
        background-color: var(--main-black);
        content: "";
    }
    header .tnb {
        display: flex;
        align-items: center;
    }
    header .tnb .login, header .tnb .search   {
        display: block;
        width: 19px;
        height: 19px;
        font-size: 0;
        line-height: 0;
        margin-right: 1.067rem;
        position: relative;
    }
    header .tnb .login::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5236 10.5238C13.1536 10.5238 15.2855 8.39183 15.2855 5.7619C15.2855 3.13198 13.1536 1 10.5236 1C7.8937 1 5.76172 3.13198 5.76172 5.7619C5.76172 8.39183 7.8937 10.5238 10.5236 10.5238Z' stroke='%23272727' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M6.32064 12.4286H14.727C17.6603 12.4286 20.0476 14.8095 20.0476 17.7492V20.0476H1V17.7492C1 14.8159 3.38095 12.4286 6.32064 12.4286Z' stroke='%23272727' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .login:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5236 10.5238C13.1536 10.5238 15.2855 8.39183 15.2855 5.7619C15.2855 3.13198 13.1536 1 10.5236 1C7.8937 1 5.76172 3.13198 5.76172 5.7619C5.76172 8.39183 7.8937 10.5238 10.5236 10.5238Z' stroke='%23B08E51' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M6.32064 12.4286H14.727C17.6603 12.4286 20.0476 14.8095 20.0476 17.7492V20.0476H1V17.7492C1 14.8159 3.38095 12.4286 6.32064 12.4286Z' stroke='%23B08E51' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    }
    header .tnb .search::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 17.6648L10.8942 12.0587C10.3416 12.515 9.70611 12.872 8.98775 13.1299C8.2694 13.3878 7.52627 13.5167 6.75836 13.5167C4.86945 13.5167 3.27083 12.8627 1.9625 11.5548C0.654166 10.2468 0 8.64856 0 6.76002C0 4.87166 0.653981 3.27285 1.96194 1.9636C3.26991 0.654534 4.86816 0 6.7567 0C8.64506 0 10.2439 0.654165 11.5531 1.9625C12.8622 3.27083 13.5167 4.86945 13.5167 6.75836C13.5167 7.54763 13.3843 8.30145 13.1194 9.0198C12.8544 9.73816 12.5008 10.3629 12.0587 10.8942L17.6646 16.5L16.5 17.6648ZM6.75836 11.8592C8.18237 11.8592 9.38847 11.3651 10.3767 10.3767C11.3651 9.38847 11.8593 8.18237 11.8593 6.75836C11.8593 5.33436 11.3651 4.12825 10.3767 3.14005C9.38847 2.15166 8.18237 1.65747 6.75836 1.65747C5.33435 1.65747 4.12825 2.15166 3.14005 3.14005C2.15166 4.12825 1.65747 5.33436 1.65747 6.75836C1.65747 8.18237 2.15166 9.38847 3.14005 10.3767C4.12825 11.3651 5.33435 11.8592 6.75836 11.8592Z' fill='%23272727'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .search:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 17.6648L10.8942 12.0587C10.3416 12.515 9.70611 12.872 8.98775 13.1299C8.2694 13.3878 7.52627 13.5167 6.75836 13.5167C4.86945 13.5167 3.27083 12.8627 1.9625 11.5548C0.654166 10.2468 0 8.64856 0 6.76002C0 4.87166 0.653981 3.27285 1.96194 1.9636C3.26991 0.654534 4.86816 0 6.7567 0C8.64506 0 10.2439 0.654165 11.5531 1.9625C12.8622 3.27083 13.5167 4.86945 13.5167 6.75836C13.5167 7.54763 13.3843 8.30145 13.1194 9.0198C12.8544 9.73816 12.5008 10.3629 12.0587 10.8942L17.6646 16.5L16.5 17.6648ZM6.75836 11.8592C8.18237 11.8592 9.38847 11.3651 10.3767 10.3767C11.3651 9.38847 11.8593 8.18237 11.8593 6.75836C11.8593 5.33436 11.3651 4.12825 10.3767 3.14005C9.38847 2.15166 8.18237 1.65747 6.75836 1.65747C5.33435 1.65747 4.12825 2.15166 3.14005 3.14005C2.15166 4.12825 1.65747 5.33436 1.65747 6.75836C1.65747 8.18237 2.15166 9.38847 3.14005 10.3767C4.12825 11.3651 5.33435 11.8592 6.75836 11.8592Z' fill='%23B08E51'/%3E%3C/svg%3E%0A");
    }
    header .tnb .lang {
        display: block;
        width: 46px;
        height: 17px;
        line-height: 17px;
        border-bottom: 1px solid var(--main-black);
        position: relative;
    }
    header .tnb .lang::after {
        position: absolute;
        right: 0;
        top: 5px;
        width: 9px;
        height: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5.33871L0 0.838714L0.838713 0L4.5 3.66129L8.16129 0L9 0.838714L4.5 5.33871Z' fill='%23666666'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .lang:hover {
        color: var(--main-gold);
        border-color: var(--main-gold);
    }
    header.menu_over .gnb .gnb_wrap .depth1 > li.on > ul.depth2 {
        display: flex;
        justify-content: flex-start;
    }
}
@media screen and (max-width:1024px) {
    header .logo {
        margin-top: 0.9rem;
    }
    header .logo a {
        width: 40px;
        height: 44px;
    }
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 17px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15V13.0037H17V15H0ZM0 8.49831V6.50169H17V8.49831H0ZM0 1.99629V0H17V1.99629H0Z' fill='%23272727'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 5.33rem;
        height: calc(100vh - 5.33rem);
        overflow-y: auto; /* 좌우스크롤 바는 금지, 세로스크롤바는 때에 따라 생김*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 2px solid var(--main-black);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 2.7;
        font-size: 22px;
        padding: 0 20px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 18px;
        top: 18px;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_50_693' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_50_693)'%3E%3Cpath d='M11.25 4.5V16.627L5.55375 10.9307L4.5 12L12 19.5L19.5 12L18.4462 10.9307L12.75 16.627V4.5H11.25Z' fill='%23272727' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_50_696' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_50_696)'%3E%3Cpath d='M12.75 19.5L12.75 7.373L18.4462 13.0693L19.5 12L12 4.5L4.5 12L5.55375 13.0693L11.25 7.373L11.25 19.5L12.75 19.5Z' fill='%23272727' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: var(--main-bei);
        padding: 20px 45px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 15px;
        color: #3d3d3d;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_346' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_346)'%3E%3Cpath d='M6.40043 18.6537L5.34668 17.5999L10.9467 11.9999L5.34668 6.39994L6.40043 5.34619L12.0004 10.9462L17.6004 5.34619L18.6542 6.39994L13.0542 11.9999L18.6542 17.5999L17.6004 18.6537L12.0004 13.0537L6.40043 18.6537Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .tnb {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
    }
    header .tnb .login {
        display: block;
        width: 30px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        margin-right: 3.067rem;
        position: relative;
    }
    header .tnb .login::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5236 10.5238C13.1536 10.5238 15.2855 8.39183 15.2855 5.7619C15.2855 3.13198 13.1536 1 10.5236 1C7.8937 1 5.76172 3.13198 5.76172 5.7619C5.76172 8.39183 7.8937 10.5238 10.5236 10.5238Z' stroke='%23272727' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M6.32064 12.4286H14.727C17.6603 12.4286 20.0476 14.8095 20.0476 17.7492V20.0476H1V17.7492C1 14.8159 3.38095 12.4286 6.32064 12.4286Z' stroke='%23272727' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .search {
        display: none;
        width: 19px;
        height: 100%;
        font-size: 0;
        line-height: 0;
        margin-right: 2.067rem;
        position: relative;
    }
    header .tnb .search::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 17.6648L10.8942 12.0587C10.3416 12.515 9.70611 12.872 8.98775 13.1299C8.2694 13.3878 7.52627 13.5167 6.75836 13.5167C4.86945 13.5167 3.27083 12.8627 1.9625 11.5548C0.654166 10.2468 0 8.64856 0 6.76002C0 4.87166 0.653981 3.27285 1.96194 1.9636C3.26991 0.654534 4.86816 0 6.7567 0C8.64506 0 10.2439 0.654165 11.5531 1.9625C12.8622 3.27083 13.5167 4.86945 13.5167 6.75836C13.5167 7.54763 13.3843 8.30145 13.1194 9.0198C12.8544 9.73816 12.5008 10.3629 12.0587 10.8942L17.6646 16.5L16.5 17.6648ZM6.75836 11.8592C8.18237 11.8592 9.38847 11.3651 10.3767 10.3767C11.3651 9.38847 11.8593 8.18237 11.8593 6.75836C11.8593 5.33436 11.3651 4.12825 10.3767 3.14005C9.38847 2.15166 8.18237 1.65747 6.75836 1.65747C5.33435 1.65747 4.12825 2.15166 3.14005 3.14005C2.15166 4.12825 1.65747 5.33436 1.65747 6.75836C1.65747 8.18237 2.15166 9.38847 3.14005 10.3767C4.12825 11.3651 5.33435 11.8592 6.75836 11.8592Z' fill='%23272727'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .lang {
        display: none;
        width: 46px;
        height: 19px;
        line-height: 17px;
        border-bottom: 1px solid var(--main-black);
        position: relative;
    }
    header .tnb .lang::after {
        position: absolute;
        right: 0;
        top: 5px;
        width: 9px;
        height: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5.33871L0 0.838714L0.838713 0L4.5 3.66129L8.16129 0L9 0.838714L4.5 5.33871Z' fill='%23666666'/%3E%3C/svg%3E%0A");
        content: "";
    }

    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb .login {
        display: none;
    }
    header.menu_open .tnb .search {
        display: block;
    }
    header.menu_open .tnb .lang {
        display: block;
    }
}
@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    header .logo {
        margin-top: 0.5rem;
    }
    header .logo a {
        width: 34px;
        height: 37px;
    }
}

footer .f_top {
    min-height: 114px;
    border-top: 2px solid var(--main-black);
    position: relative;
}
footer .f_top::after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--main-black);
    content: "";
}
footer .f_top ul {
    display: flex;
    justify-content: space-between;
}
footer .f_top ul li {
    width: 50%;
    text-align: center;
}
footer .f_top ul li a {
    display: block;
    font-family: 'litoland ltalic';
    font-size: 2.133rem;
    padding: 36px 0;
}
footer .f_top ul li a:hover {
    background-color: var(--main-bei);
}
@media screen and (max-width:1024px) {
    footer .f_top {
        min-height: auto;
    }
    footer .f_top ul li a {
        font-size: 1.538rem;
        padding: 19px 0;
    }
}
footer .f_sub {
    padding: 60px 0 100px 0;
    background-color: var(--main-black);
    color: var(--txt-w80);
}
footer .f_sub .wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
footer .f_sub .f_logo {
    display: block;
    max-width: 111px;
    margin-right: 7%;
}
footer .f_sub .sns {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
footer .f_sub .sns ul li {
    height: 25px;
    margin-bottom: 16px;
    text-align: right;
}
footer .f_sub .sns ul li a {
    display: block;
    position: relative;
}
footer .f_sub .sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .f_sub .sns ul li.in a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_211_12)'%3E%3Cpath d='M14.7619 4.21289C14.1809 4.21289 13.7061 4.68777 13.7061 5.26874C13.7061 5.84971 14.1809 6.32459 14.7619 6.32459C15.3429 6.32459 15.8178 5.84971 15.8178 5.26874C15.8178 4.68777 15.3429 4.21289 14.7619 4.21289Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M10.0731 5.56689C7.62798 5.56689 5.64258 7.55735 5.64258 9.99743C5.64258 12.4375 7.63304 14.428 10.0731 14.428C12.5132 14.428 14.5037 12.4375 14.5037 9.99743C14.5037 7.55735 12.5132 5.56689 10.0731 5.56689ZM10.0731 12.8366C8.50702 12.8366 7.23393 11.5635 7.23393 9.99743C7.23393 8.43133 8.50702 7.15825 10.0731 7.15825C11.6392 7.15825 12.9123 8.43133 12.9123 9.99743C12.9123 11.5635 11.6392 12.8366 10.0731 12.8366Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M13.5894 19H6.40556C3.42492 19 1 16.5751 1 13.5944V6.41061C1 3.42492 3.42492 1 6.40556 1H13.5894C16.57 1 18.9949 3.42492 18.9949 6.40556V13.5894C18.9949 16.57 16.57 18.9949 13.5894 18.9949V19ZM6.40556 2.69239C4.35953 2.69239 2.69239 4.35953 2.69239 6.40556V13.5894C2.69239 15.6354 4.35953 17.3026 6.40556 17.3026H13.5894C15.6354 17.3026 17.3026 15.6354 17.3026 13.5894V6.40556C17.3026 4.35953 15.6354 2.69239 13.5894 2.69239H6.40556Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_211_12'%3E%3Crect width='18' height='18' fill='white' transform='translate(1 1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.yo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_211_24)'%3E%3Cpath d='M19 7.94807C19 5.76519 17.2298 4 15.0519 4H4.94807C2.77017 4 1 5.77017 1 7.94807V12.647C1 14.8298 2.77017 16.595 4.94807 16.595H15.047C17.2298 16.595 18.995 14.8249 18.995 12.647V7.94807H19ZM13.058 10.653L8.52818 12.8956C8.34917 12.9901 7.74751 12.8608 7.74751 12.6619V8.06243C7.74751 7.85856 8.35414 7.72928 8.53315 7.82873L12.8691 10.1856C13.053 10.2901 13.242 10.5536 13.058 10.653Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_211_24'%3E%3Crect width='18' height='12.6' fill='white' transform='translate(1 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.fa a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_211_23)'%3E%3Cpath d='M14.0076 11.1241L14.5077 7.86556H11.3806V5.75386C11.3806 4.86472 11.815 3.99579 13.2144 3.99579H14.634V1.22228C14.634 1.22228 13.3458 1 12.1131 1C9.54168 1 7.85939 2.56104 7.85939 5.38507V7.86556H5V11.1241H7.85939V19H11.3806V11.1241H14.0076Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_211_23'%3E%3Crect width='9.63907' height='18' fill='white' transform='translate(5 1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.na a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 2V18.5496H12.961L7.03902 10.2179V18.5496H1V2H7.03902L12.961 10.6667V2H19Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--txt-w80);
    content: "";
}
footer .f_inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
}
footer .f_inner .f_nav ul li {
    margin: 0 38px 10px 0;
    position: relative;
}
footer .f_inner .f_nav ul li.privacy {
    font-weight: 700;
}
footer .f_inner .f_nav ul li::after {
    position: absolute;
    right: -19px;
    top: 4px;
    width: 1px;
    height: 9px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_inner .f_nav ul li:last-child::after {
    display: none;
}
footer .f_inner .f_info {
    margin: 18px 0 27px 0;
}
footer .f_inner .f_info address, 
footer .f_inner .f_info span {
    display: inline-block;
    margin-right: 38px;
    line-height: 2;
}
footer .f_inner .copy {
    color: var(--txt-w60);
}
@media screen and (max-width:1024px) {
    footer .f_sub {
        padding: 38px 0 81px 0;
    }
    footer .f_sub .wrapper {
        display: block;
    }
    footer .f_sub .f_logo {
        margin-right: 10px;
        width: 72px;
        height: 78px;
    }
    footer .f_sub .f_logo img {
        width: 100%;
    }
    footer .f_sub .sns {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 70%;
    }
    footer .f_sub .sns ul {
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    footer .f_sub .sns ul li {
        width: 96px;
        height: 20px;
        margin-bottom: 16px;
    }
    footer .f_inner {
        margin-top: 38px;
    }
}
@media screen and (max-width:768px) {
    footer .f_sub .f_logo {
        width: 55px;
        height: 60px;
    }
    footer .f_sub .sns {
        right: 0;
        top: 0;
        width: calc(100% - 75px);
    }
    footer .f_sub .sns ul li {
        margin: 0 0 16px 0;
    }
}