/* 파일명 : common.css
   작성자 : 유선호
   작성일 : 2024.04.15
   속  성 : 홈페이지 전체에 공통으로 적용되는 스타일을 저장
            문자스타일 등의 기본스타일만 저장 */

@charset "utf-8";
*::selection {
    background-color: #1d1d1d;
    color: #fff;
}
*::-moz-selection {
    background-color: #1d1d1d;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face { font-family:'Montserrat';
    src:url('../fonts/Montserrat-Regular.ttf') format('woff');
    font-weight:400; font-style:normal;
}
@font-face { font-family:'Montserrat';
    src:url('../fonts/Montserrat-Regular.ttf') format('woff2');
    font-weight:400; font-style:normal;
}
@font-face { font-family:'Montserrat';
    src:url('../fontS/Montserrat-Bold.ttf') format('woff'); 
    font-weight:700; font-style:normal;
}@font-face { font-family:'Montserrat';
    src:url('../fonts/Montserrat-Bold.ttf') format('woff2'); 
    font-weight:700; font-style:normal;
}
html, body {
    font-family: 'Montserrat', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Dotum', '돋움', 'Helvetica', 'Apple SD Gothic Neo', '애플 SD 산돌고딕 Neo', sans-serif; /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 15px;
    background-color: #fff;
    color: #1d1d1d;
    font-weight: 400;
    line-height: 1.2;
    word-wrap: break-word;
}
.wrapper {
    width: 1620px;
    margin: 0 auto;
}
#wrap {
    width: 100vw;
    min-width: 1620px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #FE6D46;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.skipnav a[href="#gnb"] {
    background-color: #FFAF37;
}
.skipnav a:focus {
    top: 100px;
}