@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);


.visual {
    height: 600px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
}
.visual  h2 {
    font-size: 45px;
    font-weight: 500;
    color: var(--txt-color-white);
    padding-top: 330px;
    letter-spacing: -0.04em;
}

@media screen and (max-width:1024px) {
    .visual {
        height: 380px;
    }
    .visual  h2 {
        font-size: 30px;
        padding-top: 200px;
    }
}
@media screen and (max-width:495px) {
    .visual  h2 {
        font-size: 22px;
        padding-top: 230px;
    }
}

.loadmap {
    text-align: center;
}
.loadmap h2 {
    font-weight: 600;
    font-size: var(--txt-size-tit);
    color: var(--txt-color-tit);
    margin: 50px 0 25px 0;
}
.loadmap ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.loadmap ul li {
    display: inline-block;
    width: 19%;
    border-radius: 50%;
    background-color: var(--color-main2);
}
.loadmap ul li a {
    display: block;
    padding: 58% 0 21% 0;
    position: relative;
}
.loadmap ul li a::before {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_2)'%3E%3Cpath d='M60.7 1.3C60.7 0.6 60.09 0 59.38 0H1.31C0.61 0 0 0.6 0 1.3C0 53.5 0 51.3 0 51.5V58.8C0 59.5 0.61 60.1 1.31 60.1H59.48C60.19 60.1 60.79 59.5 60.79 58.8V51.5C60.69 51.3 60.69 53.5 60.69 1.3H60.7ZM2.53 2.5H58.17V47.9C57.56 47.6 56.85 47.5 56.15 47.5H53.12V8.8C53.12 8.1 52.51 7.5 51.8 7.5H8.8C8.09 7.5 7.48 8.1 7.48 8.8V47.5H3.94C3.44 47.6 2.93 47.7 2.42 47.9C2.52 47.9 2.52 2.5 2.52 2.5H2.53ZM10.12 47.5V10H15.18V23.9C12.95 24.5 11.34 26.4 11.34 28.7C11.34 31.5 13.57 33.7 16.4 33.7C19.23 33.7 21.46 31.5 21.46 28.7C21.46 26.4 19.84 24.4 17.62 23.9V10H26.52V23.9C24.4 24.5 22.78 26.4 22.78 28.8C22.78 31.6 25.01 33.8 27.84 33.8C30.67 33.8 32.9 31.6 32.9 28.8C32.9 26.5 31.28 24.5 29.06 24V10H33.41L40.59 23C38.77 25 38.77 28 40.69 29.9C41.6 30.8 42.92 31.4 44.23 31.4C47.06 31.4 49.29 29.2 49.29 26.4C49.29 23 45.95 20.6 42.61 21.6L36.24 10H50.5V47.5H10.12ZM16.49 26.3C17.91 26.3 19.02 27.4 19.02 28.8C19.02 30.2 17.91 31.3 16.49 31.3C15.07 31.3 13.96 30.2 13.96 28.8C13.96 27.4 15.07 26.3 16.49 26.3ZM27.82 26.3C29.24 26.3 30.35 27.4 30.35 28.8C30.35 30.2 29.24 31.3 27.82 31.3C26.4 31.3 25.29 30.2 25.29 28.8C25.29 27.4 26.4 26.3 27.82 26.3ZM42.49 24.6C43.5 23.6 45.12 23.6 46.03 24.6C47.04 25.6 47.04 27.2 46.03 28.1C45.52 28.6 44.92 28.8 44.21 28.8C42.79 28.8 41.68 27.7 41.68 26.3C41.78 25.7 41.98 25.1 42.49 24.6ZM58.17 57.5H2.53V51.5C2.73 50.6 3.54 50 4.45 50H56.14C57.25 50 58.16 50.9 58.16 52V57.5H58.17Z' fill='%231D1D1D'/%3E%3Cpath d='M46.8396 52.5H13.9596C13.2496 52.5 12.6396 53.1 12.6396 53.8C12.6396 54.5 13.2496 55.1 13.9596 55.1H46.8396C47.5496 55.1 48.1596 54.5 48.1596 53.8C48.0597 53.1 47.4496 52.5 46.8396 52.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_2'%3E%3Crect width='60.8' height='60.1' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
.loadmap ul li.load02 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_82_127)'%3E%3Cpath d='M59.38 57.6H40.39C46.65 54.3 50.99 48 51.7 40.7C52.41 32.6 48.47 25 41.7 20.9V13.9H43.32C45.24 13.9 46.75 12.4 46.75 10.5V8.5C46.75 6.6 45.23 5.1 43.32 5.1H36.65V1.3C36.65 0.6 36.04 0 35.34 0H25.24C24.53 0 23.93 0.6 23.93 1.3V5.1H17.26C15.34 5.1 13.83 6.6 13.83 8.5V10.5C13.83 12.4 15.34 13.9 17.26 13.9H18.88V20.9C7.06 28.2 5.35 44.4 15.14 54C16.65 55.5 18.37 56.7 20.19 57.7H1.31C0.6 57.7 0 58.3 0 59C0 59.7 0.61 60.3 1.31 60.3H59.38C60.09 60.3 60.69 59.7 60.69 59C60.59 58.2 59.98 57.6 59.38 57.6ZM26.56 2.6H34.13V5.1H26.56V2.6ZM16.46 10.5V8.5C16.46 8 16.86 7.6 17.37 7.6H43.43C43.94 7.6 44.34 8 44.34 8.5V10.5C44.34 11 43.94 11.4 43.43 11.4H17.37C16.76 11.4 16.46 11 16.46 10.5ZM27.77 13.9H32.82V22.6C32.82 24 31.71 25.1 30.3 25.1C28.89 25.1 27.78 24 27.78 22.6V13.9H27.77ZM20.8 22.6C21.2 22.4 21.41 22 21.41 21.5V13.8H25.25V22.6C25.25 25.4 27.47 27.6 30.3 27.6C33.13 27.6 35.35 25.4 35.35 22.6V13.8H39.19V21.5C39.19 21.9 39.39 22.4 39.8 22.6C45.86 26.1 49.6 32.7 49.19 39.8C49.09 39.9 48.79 40 48.48 40.3C45.85 42.1 44.04 41 41.41 39.2C39.79 38.1 38.18 36.9 36.16 36.9C35.25 36.9 34.34 37.2 33.43 37.7C30.2 39.6 28.78 42.3 27.88 42.3C27.58 42.3 27.07 42.1 26.16 41.4C25.35 40.8 24.95 40.3 24.44 40C21.11 37.4 15.65 37.2 11.41 37.5C11.81 31.4 15.35 25.7 20.8 22.6ZM11.41 40.1C15.05 39.8 20.5 39.8 23.13 42.2C23.23 42.3 23.33 42.4 23.53 42.5C25.35 44.1 26.66 44.8 27.87 44.8C29.38 44.8 30.39 43.8 31.4 42.7C32.41 41.6 33.32 40.7 34.73 39.9C35.23 39.6 35.74 39.5 36.14 39.5C38.77 39.5 41.69 43.8 45.84 43.8C46.85 43.8 47.76 43.6 48.67 43.1C46.75 51.4 39.18 57.6 30.29 57.6C20.29 57.6 12.11 49.9 11.4 40.1H11.41Z' fill='%231D1D1D'/%3E%3Cpath d='M22.7199 35.1C24.8399 35.1 26.5599 33.4 26.5599 31.3C26.5599 29.2 24.8399 27.6 22.7199 27.6C20.5999 27.6 18.8799 29.3 18.8799 31.4C18.8799 33.5 20.5999 35.1 22.7199 35.1ZM22.7199 30.1C23.4299 30.1 24.0299 30.7 24.0299 31.4C24.0299 32.1 23.4199 32.6 22.7199 32.6C22.0199 32.6 21.4099 32 21.4099 31.3C21.4099 30.6 22.0199 30.1 22.7199 30.1Z' fill='%231D1D1D'/%3E%3Cpath d='M36.6603 43.9C34.5403 43.9 32.8203 45.6 32.8203 47.7C32.8203 49.8 34.5403 51.5 36.6603 51.5C38.7803 51.5 40.5003 49.8 40.5003 47.7C40.5003 45.6 38.6803 43.9 36.6603 43.9ZM36.6603 48.9C35.9503 48.9 35.3503 48.3 35.3503 47.6C35.3503 46.9 35.9603 46.3 36.6603 46.3C37.3603 46.3 37.8703 46.9 37.8703 47.6C37.8703 48.3 37.2603 48.9 36.6603 48.9Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_82_127'%3E%3Crect width='60.7' height='60.3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load03 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_34)'%3E%3Cpath d='M59.58 28.11H50.17L41.37 12.51L47.95 1.91C48.35 1.31 48.15 0.509996 47.55 0.209996C46.94 -0.190004 46.13 0.00999576 45.83 0.609996L39.25 11.31H22.36L15.78 0.609996C15.38 0.00999576 14.67 -0.190004 14.06 0.209996C13.45 0.609996 13.25 1.31 13.66 1.91L19.83 12.01L10.73 28.11H1.31C0.6 28.11 0 28.71 0 29.41C0 30.11 0.61 30.71 1.31 30.71H10.72L19.82 46.91L13.55 58.21C13.25 58.81 13.45 59.61 14.06 59.91C14.67 60.21 15.48 60.01 15.78 59.41L22.36 47.51H39.15L45.73 59.41C46.03 60.01 46.84 60.21 47.45 59.91C48.06 59.61 48.26 58.81 47.96 58.21L41.38 46.31L50.18 30.61H59.59C60.3 30.61 60.9 30.01 60.9 29.31C60.8 28.71 60.19 28.11 59.59 28.11H59.58ZM39.15 45.01H21.75L12.95 29.41L21.75 13.81H39.25L48.05 29.41L39.15 45.01Z' fill='%231D1D1D'/%3E%3Cpath d='M37.4304 21.41C36.8204 21.81 36.6204 22.51 37.0304 23.11L40.8704 29.41C41.0704 29.81 41.4804 30.01 41.9804 30.01C42.9904 30.01 43.6004 28.91 43.0904 28.11L39.2504 21.81C38.7404 21.31 37.9404 21.11 37.4304 21.41Z' fill='%231D1D1D'/%3E%3Cpath d='M20.1299 33.11C19.7299 32.51 19.0199 32.31 18.4099 32.71C17.7999 33.11 17.5999 33.81 18.0099 34.41L21.8499 40.71C22.2499 41.31 22.9599 41.51 23.5699 41.11C24.1799 40.71 24.3799 40.01 23.9699 39.41L20.1299 33.11Z' fill='%231D1D1D'/%3E%3Cpath d='M31.7601 16.31H25.3901C24.6801 16.31 24.0801 16.91 24.0801 17.61C24.0801 18.31 24.6901 18.91 25.3901 18.91H31.7601C32.4701 18.91 33.0701 18.31 33.0701 17.61C32.9701 16.81 32.3601 16.31 31.7601 16.31Z' fill='%231D1D1D'/%3E%3Cpath d='M52.6004 20.01C55.0304 20.01 57.0504 18.01 57.0504 15.61C57.0504 13.21 55.0304 11.21 52.6004 11.21C50.1704 11.21 48.1504 13.21 48.1504 15.61C48.1504 18.01 50.1704 20.01 52.6004 20.01ZM52.6004 13.81C53.6104 13.81 54.5204 14.61 54.5204 15.71C54.5204 16.81 53.6104 17.51 52.6004 17.51C51.5904 17.51 50.6804 16.71 50.6804 15.61C50.6804 14.51 51.4904 13.81 52.6004 13.81Z' fill='%231D1D1D'/%3E%3Cpath d='M31.0604 48.81C28.6304 48.81 26.6104 50.81 26.6104 53.21C26.6104 55.61 28.6304 57.61 31.0604 57.61C33.4904 57.61 35.5103 55.61 35.5103 53.21C35.5103 50.81 33.4904 48.81 31.0604 48.81ZM31.0604 55.01C30.0504 55.01 29.1404 54.21 29.1404 53.11C29.1404 52.01 29.9504 51.21 31.0604 51.21C32.1704 51.21 32.9804 52.01 32.9804 53.11C32.9804 54.21 32.1704 55.01 31.0604 55.01Z' fill='%231D1D1D'/%3E%3Cpath d='M8.28984 20.01C10.7198 20.01 12.7398 18.01 12.7398 15.61C12.7398 13.21 10.7198 11.21 8.28984 11.21C5.85984 11.21 3.83984 13.21 3.83984 15.61C3.93984 18.01 5.85984 20.01 8.28984 20.01ZM8.28984 13.81C9.29984 13.81 10.2098 14.61 10.2098 15.71C10.2098 16.81 9.39984 17.51 8.28984 17.51C7.17984 17.51 6.36984 16.71 6.36984 15.61C6.36984 14.51 7.27984 13.81 8.28984 13.81Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_34'%3E%3Crect width='60.9' height='60.05' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load04 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_45)'%3E%3Cpath d='M14.1603 33.2H25.2903C27.1103 33.2 28.6303 31.7 28.6303 29.9V29.6C28.6303 27.8 27.1103 26.3 25.2903 26.3H14.1603C12.3403 26.3 10.8203 27.8 10.8203 29.6V29.9C10.8203 31.7 12.3403 33.2 14.1603 33.2ZM13.3503 29.6C13.3503 29.1 13.7503 28.8 14.1603 28.8H25.2903C25.8003 28.8 26.1003 29.2 26.1003 29.6V29.9C26.1003 30.4 25.7003 30.7 25.2903 30.7H14.1603C13.6503 30.7 13.3503 30.3 13.3503 29.9V29.6Z' fill='%231D1D1D'/%3E%3Cpath d='M20.8397 6C15.6797 6 11.4297 10.1 11.4297 15.3C11.4297 16 12.0397 16.6 12.7397 16.6H28.9297C29.6397 16.6 30.2397 16 30.1397 15.3C30.1397 10.1 25.9897 6 20.8297 6H20.8397ZM14.1597 14C14.7697 10.9 17.4997 8.5 20.8397 8.5C24.1797 8.5 26.9097 10.9 27.5197 14H14.1697H14.1597Z' fill='%231D1D1D'/%3E%3Cpath d='M59.48 16.3C60.19 16.3 60.8 15.7 60.8 15V1.3C60.8 0.6 60.19 0 59.48 0H44.31C43.6 0 42.99 0.6 42.99 1.3V24.7L40.26 20.6C40.06 20.2 39.65 20 39.25 20H35.41V14.4C35.41 6.5 28.94 0 20.84 0C12.74 0 6.27 6.4 6.27 14.4V20H4.96C2.23 20 0 22.2 0 24.9V36.4C0 39.2 2.83 41.1 5.46 40.1V55.2C5.46 55.4 5.46 55.6 5.56 55.8C5.36 56.6 5.46 57.2 5.46 57.6H1.31C0.6 57.6 0 58.2 0 58.9C0 59.6 0.61 60.2 1.31 60.2H59.48C60.19 60.2 60.8 59.6 60.8 58.9C60.8 58.2 60.19 57.6 59.48 57.6H45.52V40C45.92 40.3 46.13 40.3 46.33 40.4C46.63 40.5 46.94 40.5 47.24 40.5C49.36 40.5 50.58 38.6 50.58 36.5C50.58 36.3 50.48 36 50.38 35.8L45.52 28.5V16.3H59.48ZM8.9 14.4C8.9 7.9 14.26 2.5 20.94 2.5C27.62 2.5 32.88 7.8 32.88 14.4V20H8.9V14.4ZM3.95 37.9C3.14 37.9 2.53 37.3 2.53 36.5V24.9C2.53 23.6 3.64 22.5 4.96 22.5H38.54L42.99 29.2V34.5C40.66 32.3 37.73 29.4 35 26.7C34.7 26.4 34.29 26.3 33.89 26.3C33.08 26.2 32.47 26.8 32.47 27.5V35.2H7.99V27.5C7.99 26.8 7.38 26.2 6.68 26.2C5.98 26.2 5.36 26.8 5.36 27.5V36.4C5.46 37.2 4.75 37.9 3.94 37.9H3.95ZM26 52.2V46.6H32.58L32.48 52.3C30.66 50.9 28.03 50.9 26.01 52.2H26ZM7.99 52.2V46.6H14.46V52.2C12.44 50.9 9.81 51 7.99 52.2ZM32.78 37.7L32.68 44.1H26V41.8C26 41.1 25.39 40.5 24.68 40.5H15.68C14.97 40.5 14.37 41.1 14.37 41.8V44.1H7.9V37.7H32.78ZM16.89 55.7C16.99 55.5 16.99 55.3 16.99 55.1V43H23.46V55.1C23.46 55.3 23.46 55.5 23.56 55.7C23.36 56.5 23.46 57.1 23.46 57.5H16.99C16.99 57.1 16.99 56.6 16.89 55.7ZM7.99 57.5C7.99 57.1 7.89 56.5 8.29 55.7C8.9 54.3 10.52 53.5 11.93 53.8C13.45 54.1 14.46 55.4 14.46 56.9V57.5H7.99ZM26 57.5C26 57.1 25.9 56.5 26.3 55.7C27.01 54 29.03 53.3 30.65 54.1C31.76 54.6 32.57 55.8 32.57 57V57.5H25.99H26ZM42.99 57.5H35C35 57.1 35 56.6 34.9 55.7C35 55.5 35 55.4 35 55.2L35.4 30.5C37.52 32.7 40.76 35.8 42.99 37.9V57.5ZM48.05 36.8C48.05 37.1 47.95 37.4 47.75 37.6C47.55 37.9 47.35 38 46.94 37.9C46.64 37.8 46.13 37.4 45.52 36.8V33L48.05 36.8ZM58.17 13.8H45.53V2.5H58.17V13.8Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_45'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load05 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_59)'%3E%3Cpath d='M44.9102 1.3C44.9102 0.6 44.3002 0 43.5902 0C42.8802 0 42.2702 0.6 42.2702 1.3C42.2702 8.5 36.3002 14.4 29.0202 14.4C21.7402 14.4 15.7802 8.5 15.7802 1.3C15.7802 0.6 15.1702 0 14.4702 0C13.7702 0 13.1602 0.6 13.1602 1.3C13.1602 7.7 17.1002 13.3 22.7702 15.7C17.1102 18.1 13.1602 23.6 13.1602 30.1C13.1602 36.6 17.1002 42.1 22.7702 44.5C17.1102 46.9 13.1602 52.4 13.1602 58.9C13.1602 59.6 13.7702 60.2 14.4702 60.2C15.1702 60.2 15.7802 59.6 15.7802 58.9C15.7802 51.7 21.7502 45.8 29.0302 45.8C36.3102 45.8 42.2802 51.7 42.2802 58.9C42.2802 59.6 42.8902 60.2 43.6002 60.2C44.3102 60.2 44.9202 59.6 44.9202 58.9C44.9202 52.5 40.9702 46.9 35.3102 44.5C40.9702 42.1 44.9202 36.6 44.9202 30.1C44.9202 23.6 40.9702 18.1 35.3102 15.7C40.9702 13.2 44.9202 7.7 44.9202 1.3H44.9102ZM42.3902 30C42.3902 37.2 36.4202 43.1 29.1402 43.1C21.8602 43.1 15.8902 37.2 15.8902 30C15.8902 22.8 21.7602 16.9 29.1402 16.9C36.5202 16.9 42.3902 22.8 42.3902 30Z' fill='%231D1D1D'/%3E%3Cpath d='M24.0795 5H34.1995C34.9095 5 35.5095 4.4 35.5095 3.7C35.5095 3 34.7995 2.5 34.1995 2.5H24.0795C23.3695 2.5 22.7695 3.1 22.7695 3.8C22.7695 4.5 23.3795 5 24.0795 5Z' fill='%231D1D1D'/%3E%3Cpath d='M24.0795 11.3H34.1995C34.9095 11.3 35.5095 10.7 35.5095 10C35.5095 9.30001 34.8995 8.70001 34.1995 8.70001H24.0795C23.3695 8.70001 22.7695 9.30001 22.7695 10C22.7695 10.7 23.3795 11.3 24.0795 11.3Z' fill='%231D1D1D'/%3E%3Cpath d='M34.1898 48.8H24.0698C23.3598 48.8 22.7598 49.4 22.7598 50.1C22.7598 50.8 23.3698 51.4 24.0698 51.4H34.1898C34.8998 51.4 35.4998 50.8 35.4998 50.1C35.3998 49.3 34.7898 48.8 34.1898 48.8Z' fill='%231D1D1D'/%3E%3Cpath d='M34.1898 55H24.0698C23.3598 55 22.7598 55.6 22.7598 56.3C22.7598 57 23.3698 57.6 24.0698 57.6H34.1898C34.8998 57.6 35.4998 57 35.4998 56.3C35.3998 55.6 34.7898 55 34.1898 55Z' fill='%231D1D1D'/%3E%3Cpath d='M24.0795 23.8H31.5695C32.2795 23.8 32.8895 23.2 32.8895 22.5C32.8895 21.8 32.2795 21.2 31.5695 21.2H24.0795C23.3695 21.2 22.7695 21.8 22.7695 22.5C22.7695 23.2 23.3795 23.8 24.0795 23.8Z' fill='%231D1D1D'/%3E%3Cpath d='M24.0795 31.3H34.1995C34.9095 31.3 35.5095 30.7 35.5095 30C35.5095 29.3 34.8995 28.7 34.1995 28.7H24.0795C23.3695 28.7 22.7695 29.3 22.7695 30C22.7695 30.7 23.3795 31.3 24.0795 31.3Z' fill='%231D1D1D'/%3E%3Cpath d='M27.21 37.5C27.21 38.2 27.82 38.8 28.52 38.8H36.71C37.42 38.8 38.03 38.2 38.03 37.5C38.03 36.8 37.42 36.2 36.71 36.2H28.52C27.81 36.3 27.21 36.8 27.21 37.5Z' fill='%231D1D1D'/%3E%3Cpath d='M56.24 12.5C53.81 12.5 51.79 14.5 51.79 16.9C51.79 19.3 53.81 21.3 56.24 21.3C58.67 21.3 60.69 19.3 60.69 16.9C60.69 14.5 58.67 12.5 56.24 12.5ZM56.24 18.8C55.23 18.8 54.32 18 54.32 16.9C54.32 15.8 55.13 15 56.24 15C57.35 15 58.16 15.8 58.16 16.9C58.16 18 57.35 18.8 56.24 18.8Z' fill='%231D1D1D'/%3E%3Cpath d='M49.9695 43.8C47.5395 43.8 45.5195 45.8 45.5195 48.2C45.5195 50.6 47.5395 52.6 49.9695 52.6C52.3995 52.6 54.4195 50.6 54.4195 48.2C54.4195 45.8 52.3995 43.8 49.9695 43.8ZM49.9695 50C48.9595 50 48.0495 49.2 48.0495 48.1C48.0495 47 48.8595 46.2 49.9695 46.2C51.0795 46.2 51.8895 47 51.8895 48.1C51.8895 49.2 50.9795 50 49.9695 50Z' fill='%231D1D1D'/%3E%3Cpath d='M6.98027 5C4.55027 5 2.53027 7 2.53027 9.4C2.53027 11.8 4.55027 13.8 6.98027 13.8C9.41027 13.8 11.4303 11.8 11.4303 9.4C11.4303 7 9.41027 5 6.98027 5ZM6.98027 11.3C5.97027 11.3 5.06027 10.5 5.06027 9.4C5.06027 8.3 5.87027 7.5 6.98027 7.5C8.09027 7.5 8.90027 8.3 8.90027 9.4C8.90027 10.5 7.99027 11.3 6.98027 11.3Z' fill='%231D1D1D'/%3E%3Cpath d='M4.45 36.3C2.02 36.3 0 38.3 0 40.7C0 43.1 2.02 45.1 4.45 45.1C6.88 45.1 8.9 43.1 8.9 40.7C8.9 38.3 6.88 36.3 4.45 36.3ZM4.45 42.5C3.44 42.5 2.53 41.7 2.53 40.6C2.53 39.5 3.34 38.7 4.45 38.7C5.56 38.7 6.37 39.5 6.37 40.6C6.37 41.7 5.46 42.5 4.45 42.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_59'%3E%3Crect width='60.7' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li a h3 {
    font-size: 1.33rem;
    font-weight: 500;
    color: var(--txt-color-tit);
}
.loadmap ul li:hover {
    background: url(../images/main/loadmap01.png) no-repeat center center / contain;
}
.loadmap ul li.load02:hover {
    background-image: url(../images/main/loadmap02.png);
}
.loadmap ul li.load03:hover {
    background-image: url(../images/main/loadmap03.png);
}
.loadmap ul li.load04:hover {
    background-image: url(../images/main/loadmap04.png);
}
.loadmap ul li.load05:hover {
    background-image: url(../images/main/loadmap05.png);
}
.loadmap ul li:hover h3 {
    color: var(--txt-color-white);
}
.loadmap ul li:hover p {
    color: var(--txt-color-white);
}
.loadmap ul li.load01:hover a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_82_135)'%3E%3Cpath d='M60.7 1.3C60.7 0.6 60.09 0 59.38 0H1.31C0.61 0 0 0.6 0 1.3C0 53.5 0 51.3 0 51.5V58.8C0 59.5 0.61 60.1 1.31 60.1H59.48C60.19 60.1 60.79 59.5 60.79 58.8V51.5C60.69 51.3 60.69 53.5 60.69 1.3H60.7ZM2.53 2.5H58.17V47.9C57.56 47.6 56.85 47.5 56.15 47.5H53.12V8.8C53.12 8.1 52.51 7.5 51.8 7.5H8.8C8.09 7.5 7.48 8.1 7.48 8.8V47.5H3.94C3.44 47.6 2.93 47.7 2.42 47.9C2.52 47.9 2.52 2.5 2.52 2.5H2.53ZM10.12 47.5V10H15.18V23.9C12.95 24.5 11.34 26.4 11.34 28.7C11.34 31.5 13.57 33.7 16.4 33.7C19.23 33.7 21.46 31.5 21.46 28.7C21.46 26.4 19.84 24.4 17.62 23.9V10H26.52V23.9C24.4 24.5 22.78 26.4 22.78 28.8C22.78 31.6 25.01 33.8 27.84 33.8C30.67 33.8 32.9 31.6 32.9 28.8C32.9 26.5 31.28 24.5 29.06 24V10H33.41L40.59 23C38.77 25 38.77 28 40.69 29.9C41.6 30.8 42.92 31.4 44.23 31.4C47.06 31.4 49.29 29.2 49.29 26.4C49.29 23 45.95 20.6 42.61 21.6L36.24 10H50.5V47.5H10.12ZM16.49 26.3C17.91 26.3 19.02 27.4 19.02 28.8C19.02 30.2 17.91 31.3 16.49 31.3C15.07 31.3 13.96 30.2 13.96 28.8C13.96 27.4 15.07 26.3 16.49 26.3ZM27.82 26.3C29.24 26.3 30.35 27.4 30.35 28.8C30.35 30.2 29.24 31.3 27.82 31.3C26.4 31.3 25.29 30.2 25.29 28.8C25.29 27.4 26.4 26.3 27.82 26.3ZM42.49 24.6C43.5 23.6 45.12 23.6 46.03 24.6C47.04 25.6 47.04 27.2 46.03 28.1C45.52 28.6 44.92 28.8 44.21 28.8C42.79 28.8 41.68 27.7 41.68 26.3C41.78 25.7 41.98 25.1 42.49 24.6ZM58.17 57.5H2.53V51.5C2.73 50.6 3.54 50 4.45 50H56.14C57.25 50 58.16 50.9 58.16 52V57.5H58.17Z' fill='white'/%3E%3Cpath d='M46.8396 52.5H13.9596C13.2496 52.5 12.6396 53.1 12.6396 53.8C12.6396 54.5 13.2496 55.1 13.9596 55.1H46.8396C47.5496 55.1 48.1596 54.5 48.1596 53.8C48.0597 53.1 47.4496 52.5 46.8396 52.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_82_135'%3E%3Crect width='60.8' height='60.1' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load02:hover a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_82_141)'%3E%3Cpath d='M59.38 57.6H40.39C46.65 54.3 50.99 48 51.7 40.7C52.41 32.6 48.47 25 41.7 20.9V13.9H43.32C45.24 13.9 46.75 12.4 46.75 10.5V8.5C46.75 6.6 45.23 5.1 43.32 5.1H36.65V1.3C36.65 0.6 36.04 0 35.34 0H25.24C24.53 0 23.93 0.6 23.93 1.3V5.1H17.26C15.34 5.1 13.83 6.6 13.83 8.5V10.5C13.83 12.4 15.34 13.9 17.26 13.9H18.88V20.9C7.06 28.2 5.35 44.4 15.14 54C16.65 55.5 18.37 56.7 20.19 57.7H1.31C0.6 57.7 0 58.3 0 59C0 59.7 0.61 60.3 1.31 60.3H59.38C60.09 60.3 60.69 59.7 60.69 59C60.59 58.2 59.98 57.6 59.38 57.6ZM26.56 2.6H34.13V5.1H26.56V2.6ZM16.46 10.5V8.5C16.46 8 16.86 7.6 17.37 7.6H43.43C43.94 7.6 44.34 8 44.34 8.5V10.5C44.34 11 43.94 11.4 43.43 11.4H17.37C16.76 11.4 16.46 11 16.46 10.5ZM27.77 13.9H32.82V22.6C32.82 24 31.71 25.1 30.3 25.1C28.89 25.1 27.78 24 27.78 22.6V13.9H27.77ZM20.8 22.6C21.2 22.4 21.41 22 21.41 21.5V13.8H25.25V22.6C25.25 25.4 27.47 27.6 30.3 27.6C33.13 27.6 35.35 25.4 35.35 22.6V13.8H39.19V21.5C39.19 21.9 39.39 22.4 39.8 22.6C45.86 26.1 49.6 32.7 49.19 39.8C49.09 39.9 48.79 40 48.48 40.3C45.85 42.1 44.04 41 41.41 39.2C39.79 38.1 38.18 36.9 36.16 36.9C35.25 36.9 34.34 37.2 33.43 37.7C30.2 39.6 28.78 42.3 27.88 42.3C27.58 42.3 27.07 42.1 26.16 41.4C25.35 40.8 24.95 40.3 24.44 40C21.11 37.4 15.65 37.2 11.41 37.5C11.81 31.4 15.35 25.7 20.8 22.6ZM11.41 40.1C15.05 39.8 20.5 39.8 23.13 42.2C23.23 42.3 23.33 42.4 23.53 42.5C25.35 44.1 26.66 44.8 27.87 44.8C29.38 44.8 30.39 43.8 31.4 42.7C32.41 41.6 33.32 40.7 34.73 39.9C35.23 39.6 35.74 39.5 36.14 39.5C38.77 39.5 41.69 43.8 45.84 43.8C46.85 43.8 47.76 43.6 48.67 43.1C46.75 51.4 39.18 57.6 30.29 57.6C20.29 57.6 12.11 49.9 11.4 40.1H11.41Z' fill='white'/%3E%3Cpath d='M22.7199 35.1C24.8399 35.1 26.5599 33.4 26.5599 31.3C26.5599 29.2 24.8399 27.6 22.7199 27.6C20.5999 27.6 18.8799 29.3 18.8799 31.4C18.8799 33.5 20.5999 35.1 22.7199 35.1ZM22.7199 30.1C23.4299 30.1 24.0299 30.7 24.0299 31.4C24.0299 32.1 23.4199 32.6 22.7199 32.6C22.0199 32.6 21.4099 32 21.4099 31.3C21.4099 30.6 22.0199 30.1 22.7199 30.1Z' fill='white'/%3E%3Cpath d='M36.6603 43.9C34.5403 43.9 32.8203 45.6 32.8203 47.7C32.8203 49.8 34.5403 51.5 36.6603 51.5C38.7803 51.5 40.5003 49.8 40.5003 47.7C40.5003 45.6 38.6803 43.9 36.6603 43.9ZM36.6603 48.9C35.9503 48.9 35.3503 48.3 35.3503 47.6C35.3503 46.9 35.9603 46.3 36.6603 46.3C37.3603 46.3 37.8703 46.9 37.8703 47.6C37.8703 48.3 37.2603 48.9 36.6603 48.9Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_82_141'%3E%3Crect width='60.7' height='60.3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load03:hover a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_98)'%3E%3Cpath d='M59.58 28.11H50.17L41.37 12.51L47.95 1.91C48.35 1.31 48.15 0.509996 47.55 0.209996C46.94 -0.190004 46.13 0.00999576 45.83 0.609996L39.25 11.31H22.36L15.78 0.609996C15.38 0.00999576 14.67 -0.190004 14.06 0.209996C13.45 0.609996 13.25 1.31 13.66 1.91L19.83 12.01L10.73 28.11H1.31C0.6 28.11 0 28.71 0 29.41C0 30.11 0.61 30.71 1.31 30.71H10.72L19.82 46.91L13.55 58.21C13.25 58.81 13.45 59.61 14.06 59.91C14.67 60.21 15.48 60.01 15.78 59.41L22.36 47.51H39.15L45.73 59.41C46.03 60.01 46.84 60.21 47.45 59.91C48.06 59.61 48.26 58.81 47.96 58.21L41.38 46.31L50.18 30.61H59.59C60.3 30.61 60.9 30.01 60.9 29.31C60.8 28.71 60.19 28.11 59.59 28.11H59.58ZM39.15 45.01H21.75L12.95 29.41L21.75 13.81H39.25L48.05 29.41L39.15 45.01Z' fill='white'/%3E%3Cpath d='M37.4304 21.41C36.8204 21.81 36.6204 22.51 37.0304 23.11L40.8704 29.41C41.0704 29.81 41.4804 30.01 41.9804 30.01C42.9904 30.01 43.6004 28.91 43.0904 28.11L39.2504 21.81C38.7404 21.31 37.9404 21.11 37.4304 21.41Z' fill='white'/%3E%3Cpath d='M20.1299 33.11C19.7299 32.51 19.0199 32.31 18.4099 32.71C17.7999 33.11 17.5999 33.81 18.0099 34.41L21.8499 40.71C22.2499 41.31 22.9599 41.51 23.5699 41.11C24.1799 40.71 24.3799 40.01 23.9699 39.41L20.1299 33.11Z' fill='white'/%3E%3Cpath d='M31.7601 16.31H25.3901C24.6801 16.31 24.0801 16.91 24.0801 17.61C24.0801 18.31 24.6901 18.91 25.3901 18.91H31.7601C32.4701 18.91 33.0701 18.31 33.0701 17.61C32.9701 16.81 32.3601 16.31 31.7601 16.31Z' fill='white'/%3E%3Cpath d='M52.6004 20.01C55.0304 20.01 57.0504 18.01 57.0504 15.61C57.0504 13.21 55.0304 11.21 52.6004 11.21C50.1704 11.21 48.1504 13.21 48.1504 15.61C48.1504 18.01 50.1704 20.01 52.6004 20.01ZM52.6004 13.81C53.6104 13.81 54.5204 14.61 54.5204 15.71C54.5204 16.81 53.6104 17.51 52.6004 17.51C51.5904 17.51 50.6804 16.71 50.6804 15.61C50.6804 14.51 51.4904 13.81 52.6004 13.81Z' fill='white'/%3E%3Cpath d='M31.0604 48.81C28.6304 48.81 26.6104 50.81 26.6104 53.21C26.6104 55.61 28.6304 57.61 31.0604 57.61C33.4904 57.61 35.5103 55.61 35.5103 53.21C35.5103 50.81 33.4904 48.81 31.0604 48.81ZM31.0604 55.01C30.0504 55.01 29.1404 54.21 29.1404 53.11C29.1404 52.01 29.9504 51.21 31.0604 51.21C32.1704 51.21 32.9804 52.01 32.9804 53.11C32.9804 54.21 32.1704 55.01 31.0604 55.01Z' fill='white'/%3E%3Cpath d='M8.28984 20.01C10.7198 20.01 12.7398 18.01 12.7398 15.61C12.7398 13.21 10.7198 11.21 8.28984 11.21C5.85984 11.21 3.83984 13.21 3.83984 15.61C3.93984 18.01 5.85984 20.01 8.28984 20.01ZM8.28984 13.81C9.29984 13.81 10.2098 14.61 10.2098 15.71C10.2098 16.81 9.39984 17.51 8.28984 17.51C7.17984 17.51 6.36984 16.71 6.36984 15.61C6.36984 14.51 7.27984 13.81 8.28984 13.81Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_98'%3E%3Crect width='60.9' height='60.05' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load04:hover a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_108)'%3E%3Cpath d='M14.1603 33.2H25.2903C27.1103 33.2 28.6303 31.7 28.6303 29.9V29.6C28.6303 27.8 27.1103 26.3 25.2903 26.3H14.1603C12.3403 26.3 10.8203 27.8 10.8203 29.6V29.9C10.8203 31.7 12.3403 33.2 14.1603 33.2ZM13.3503 29.6C13.3503 29.1 13.7503 28.8 14.1603 28.8H25.2903C25.8003 28.8 26.1003 29.2 26.1003 29.6V29.9C26.1003 30.4 25.7003 30.7 25.2903 30.7H14.1603C13.6503 30.7 13.3503 30.3 13.3503 29.9V29.6Z' fill='white'/%3E%3Cpath d='M20.8397 6C15.6797 6 11.4297 10.1 11.4297 15.3C11.4297 16 12.0397 16.6 12.7397 16.6H28.9297C29.6397 16.6 30.2397 16 30.1397 15.3C30.1397 10.1 25.9897 6 20.8297 6H20.8397ZM14.1597 14C14.7697 10.9 17.4997 8.5 20.8397 8.5C24.1797 8.5 26.9097 10.9 27.5197 14H14.1697H14.1597Z' fill='white'/%3E%3Cpath d='M59.48 16.3C60.19 16.3 60.8 15.7 60.8 15V1.3C60.8 0.6 60.19 0 59.48 0H44.31C43.6 0 42.99 0.6 42.99 1.3V24.7L40.26 20.6C40.06 20.2 39.65 20 39.25 20H35.41V14.4C35.41 6.5 28.94 0 20.84 0C12.74 0 6.27 6.4 6.27 14.4V20H4.96C2.23 20 0 22.2 0 24.9V36.4C0 39.2 2.83 41.1 5.46 40.1V55.2C5.46 55.4 5.46 55.6 5.56 55.8C5.36 56.6 5.46 57.2 5.46 57.6H1.31C0.6 57.6 0 58.2 0 58.9C0 59.6 0.61 60.2 1.31 60.2H59.48C60.19 60.2 60.8 59.6 60.8 58.9C60.8 58.2 60.19 57.6 59.48 57.6H45.52V40C45.92 40.3 46.13 40.3 46.33 40.4C46.63 40.5 46.94 40.5 47.24 40.5C49.36 40.5 50.58 38.6 50.58 36.5C50.58 36.3 50.48 36 50.38 35.8L45.52 28.5V16.3H59.48ZM8.9 14.4C8.9 7.9 14.26 2.5 20.94 2.5C27.62 2.5 32.88 7.8 32.88 14.4V20H8.9V14.4ZM3.95 37.9C3.14 37.9 2.53 37.3 2.53 36.5V24.9C2.53 23.6 3.64 22.5 4.96 22.5H38.54L42.99 29.2V34.5C40.66 32.3 37.73 29.4 35 26.7C34.7 26.4 34.29 26.3 33.89 26.3C33.08 26.2 32.47 26.8 32.47 27.5V35.2H7.99V27.5C7.99 26.8 7.38 26.2 6.68 26.2C5.98 26.2 5.36 26.8 5.36 27.5V36.4C5.46 37.2 4.75 37.9 3.94 37.9H3.95ZM26 52.2V46.6H32.58L32.48 52.3C30.66 50.9 28.03 50.9 26.01 52.2H26ZM7.99 52.2V46.6H14.46V52.2C12.44 50.9 9.81 51 7.99 52.2ZM32.78 37.7L32.68 44.1H26V41.8C26 41.1 25.39 40.5 24.68 40.5H15.68C14.97 40.5 14.37 41.1 14.37 41.8V44.1H7.9V37.7H32.78ZM16.89 55.7C16.99 55.5 16.99 55.3 16.99 55.1V43H23.46V55.1C23.46 55.3 23.46 55.5 23.56 55.7C23.36 56.5 23.46 57.1 23.46 57.5H16.99C16.99 57.1 16.99 56.6 16.89 55.7ZM7.99 57.5C7.99 57.1 7.89 56.5 8.29 55.7C8.9 54.3 10.52 53.5 11.93 53.8C13.45 54.1 14.46 55.4 14.46 56.9V57.5H7.99ZM26 57.5C26 57.1 25.9 56.5 26.3 55.7C27.01 54 29.03 53.3 30.65 54.1C31.76 54.6 32.57 55.8 32.57 57V57.5H25.99H26ZM42.99 57.5H35C35 57.1 35 56.6 34.9 55.7C35 55.5 35 55.4 35 55.2L35.4 30.5C37.52 32.7 40.76 35.8 42.99 37.9V57.5ZM48.05 36.8C48.05 37.1 47.95 37.4 47.75 37.6C47.55 37.9 47.35 38 46.94 37.9C46.64 37.8 46.13 37.4 45.52 36.8V33L48.05 36.8ZM58.17 13.8H45.53V2.5H58.17V13.8Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_108'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.loadmap ul li.load05:hover a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_81_114)'%3E%3Cpath d='M44.9102 1.3C44.9102 0.6 44.3002 0 43.5902 0C42.8802 0 42.2702 0.6 42.2702 1.3C42.2702 8.5 36.3002 14.4 29.0202 14.4C21.7402 14.4 15.7802 8.5 15.7802 1.3C15.7802 0.6 15.1702 0 14.4702 0C13.7702 0 13.1602 0.6 13.1602 1.3C13.1602 7.7 17.1002 13.3 22.7702 15.7C17.1102 18.1 13.1602 23.6 13.1602 30.1C13.1602 36.6 17.1002 42.1 22.7702 44.5C17.1102 46.9 13.1602 52.4 13.1602 58.9C13.1602 59.6 13.7702 60.2 14.4702 60.2C15.1702 60.2 15.7802 59.6 15.7802 58.9C15.7802 51.7 21.7502 45.8 29.0302 45.8C36.3102 45.8 42.2802 51.7 42.2802 58.9C42.2802 59.6 42.8902 60.2 43.6002 60.2C44.3102 60.2 44.9202 59.6 44.9202 58.9C44.9202 52.5 40.9702 46.9 35.3102 44.5C40.9702 42.1 44.9202 36.6 44.9202 30.1C44.9202 23.6 40.9702 18.1 35.3102 15.7C40.9702 13.2 44.9202 7.7 44.9202 1.3H44.9102ZM42.3902 30C42.3902 37.2 36.4202 43.1 29.1402 43.1C21.8602 43.1 15.8902 37.2 15.8902 30C15.8902 22.8 21.7602 16.9 29.1402 16.9C36.5202 16.9 42.3902 22.8 42.3902 30Z' fill='white'/%3E%3Cpath d='M24.0795 5H34.1995C34.9095 5 35.5095 4.4 35.5095 3.7C35.5095 3 34.7995 2.5 34.1995 2.5H24.0795C23.3695 2.5 22.7695 3.1 22.7695 3.8C22.7695 4.5 23.3795 5 24.0795 5Z' fill='white'/%3E%3Cpath d='M24.0795 11.3H34.1995C34.9095 11.3 35.5095 10.7 35.5095 10C35.5095 9.30001 34.8995 8.70001 34.1995 8.70001H24.0795C23.3695 8.70001 22.7695 9.30001 22.7695 10C22.7695 10.7 23.3795 11.3 24.0795 11.3Z' fill='white'/%3E%3Cpath d='M34.1898 48.8H24.0698C23.3598 48.8 22.7598 49.4 22.7598 50.1C22.7598 50.8 23.3698 51.4 24.0698 51.4H34.1898C34.8998 51.4 35.4998 50.8 35.4998 50.1C35.3998 49.3 34.7898 48.8 34.1898 48.8Z' fill='white'/%3E%3Cpath d='M34.1898 55H24.0698C23.3598 55 22.7598 55.6 22.7598 56.3C22.7598 57 23.3698 57.6 24.0698 57.6H34.1898C34.8998 57.6 35.4998 57 35.4998 56.3C35.3998 55.6 34.7898 55 34.1898 55Z' fill='white'/%3E%3Cpath d='M24.0795 23.8H31.5695C32.2795 23.8 32.8895 23.2 32.8895 22.5C32.8895 21.8 32.2795 21.2 31.5695 21.2H24.0795C23.3695 21.2 22.7695 21.8 22.7695 22.5C22.7695 23.2 23.3795 23.8 24.0795 23.8Z' fill='white'/%3E%3Cpath d='M24.0795 31.3H34.1995C34.9095 31.3 35.5095 30.7 35.5095 30C35.5095 29.3 34.8995 28.7 34.1995 28.7H24.0795C23.3695 28.7 22.7695 29.3 22.7695 30C22.7695 30.7 23.3795 31.3 24.0795 31.3Z' fill='white'/%3E%3Cpath d='M27.21 37.5C27.21 38.2 27.82 38.8 28.52 38.8H36.71C37.42 38.8 38.03 38.2 38.03 37.5C38.03 36.8 37.42 36.2 36.71 36.2H28.52C27.81 36.3 27.21 36.8 27.21 37.5Z' fill='white'/%3E%3Cpath d='M56.24 12.5C53.81 12.5 51.79 14.5 51.79 16.9C51.79 19.3 53.81 21.3 56.24 21.3C58.67 21.3 60.69 19.3 60.69 16.9C60.69 14.5 58.67 12.5 56.24 12.5ZM56.24 18.8C55.23 18.8 54.32 18 54.32 16.9C54.32 15.8 55.13 15 56.24 15C57.35 15 58.16 15.8 58.16 16.9C58.16 18 57.35 18.8 56.24 18.8Z' fill='white'/%3E%3Cpath d='M49.9695 43.8C47.5395 43.8 45.5195 45.8 45.5195 48.2C45.5195 50.6 47.5395 52.6 49.9695 52.6C52.3995 52.6 54.4195 50.6 54.4195 48.2C54.4195 45.8 52.3995 43.8 49.9695 43.8ZM49.9695 50C48.9595 50 48.0495 49.2 48.0495 48.1C48.0495 47 48.8595 46.2 49.9695 46.2C51.0795 46.2 51.8895 47 51.8895 48.1C51.8895 49.2 50.9795 50 49.9695 50Z' fill='white'/%3E%3Cpath d='M6.98027 5C4.55027 5 2.53027 7 2.53027 9.4C2.53027 11.8 4.55027 13.8 6.98027 13.8C9.41027 13.8 11.4303 11.8 11.4303 9.4C11.4303 7 9.41027 5 6.98027 5ZM6.98027 11.3C5.97027 11.3 5.06027 10.5 5.06027 9.4C5.06027 8.3 5.87027 7.5 6.98027 7.5C8.09027 7.5 8.90027 8.3 8.90027 9.4C8.90027 10.5 7.99027 11.3 6.98027 11.3Z' fill='white'/%3E%3Cpath d='M4.45 36.3C2.02 36.3 0 38.3 0 40.7C0 43.1 2.02 45.1 4.45 45.1C6.88 45.1 8.9 43.1 8.9 40.7C8.9 38.3 6.88 36.3 4.45 36.3ZM4.45 42.5C3.44 42.5 2.53 41.7 2.53 40.6C2.53 39.5 3.34 38.7 4.45 38.7C5.56 38.7 6.37 39.5 6.37 40.6C6.37 41.7 5.46 42.5 4.45 42.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_81_114'%3E%3Crect width='60.7' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
    .loadmap h2 {
        font-size: var(--txt-size-tit-mo);
        margin: 50px 0 20px 0;
    }
    .loadmap ul {
        display: block;
    }
    .loadmap ul li {
        display: inline-block;
        width: 25%;
        margin: 0 16px;
    }
    .loadmap ul li a {
        display: block;
        padding: 55% 0 21% 0;
    }
    .loadmap ul li a h3 {
        font-size: 1.15rem;
    }
    .loadmap ul li a h3::before {
        left: 60px;
        top: 45px;
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width:495px) {
    .loadmap ul li {
        width: 45%;
        margin: 0 5px 10px 5px;
    }
    .loadmap ul li a h3 {
        font-size: 1.05rem;
    }
}

.program {
    background-color: var(--color-main3);
    padding: 50px 0 75px 0;
    margin-top: 50px;
}
.program .tit {
    position: relative;
}
.program .tit h2 {
    font-weight: 600;
    font-size: var(--txt-size-tit);
    color: var(--txt-color-tit);
}
.program .tit .search_box {
    position: absolute;
    left: 230px;
    bottom: 0;
    width: 332px;
    border: 2px solid var(--color-main1);
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    color: var(--color-main1);
    font-weight: 500;
    align-items: center;
}
.program .tit .search_box button {
    height: 36px;
    position: relative;
}
.program .tit .search_box .center {
    padding: 0 25px;
}
.program .tit .search_box .age {
    padding-right: 25px;
}
.program .tit .search_box .search {
    padding: 0 20px 0 42px;
    background-color: var(--color-main1);
    border-radius: 50px;
    color: var(--txt-color-white);
}
.program .tit .search_box .center button::after,
.program .tit .search_box .age button::after {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1334' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1334)'%3E%3Cpath d='M9.99967 12.5L5.83301 8.33331H14.1663L9.99967 12.5Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.program .tit .search_box .search button::before {
    position: absolute;
    left: -22px;
    top: 53%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1342' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1342)'%3E%3Cpath d='M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.program .swiper {
    padding-top: 25px;
}
.program .swiper .swiper-wrapper {
    margin-bottom: 30px;
}
.program .swiper .swiper-slide a {
    display: block;
    height: 230px;
    padding: 30px 20px 20px 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.program .swiper .swiper-slide .tit strong {
    background-color: var(--color-main1);
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 500;
}
.program .swiper .swiper-slide .tit strong.end {
    border: 1px solid var(--color-main1);
    background-color: #fff;
    color: var(--color-main1);
}
.program .swiper .swiper-slide .tit .class {
    display: flex;
    color: var(--color-main1);
    margin: 10px 0 20px 0;
}
.program .swiper .swiper-slide .tit .class li {
    margin-right: 16px;
    position: relative;
}
.program .swiper .swiper-slide .tit .class li:first-child::after {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 60%;
    background-color: var(--txt-color-gray1);
    content: "";
}
.program .swiper .swiper-slide .tit h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    height: 2.4em;
    color: var(--txt-color-tit);
}
.program .swiper .swiper-slide .txt {
    margin-top: 20px;
}
.program .swiper .swiper-slide .txt .target,
.program .swiper .swiper-slide .txt .time {
    display: flex;
    position: relative;
    padding-bottom: 5px;
}
.program .swiper .swiper-slide .txt ul li:first-child {
    color: var(--txt-color-gray1);
    padding-left: 25px;
    position: relative;
    margin-right: 7px;
}
.program .swiper .swiper-slide .txt .target::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1243' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1243)'%3E%3Cpath d='M7.49967 11.875C7.20801 11.875 6.96148 11.7743 6.76009 11.5729C6.5587 11.3715 6.45801 11.125 6.45801 10.8333C6.45801 10.5416 6.5587 10.2951 6.76009 10.0937C6.96148 9.89234 7.20801 9.79165 7.49967 9.79165C7.79134 9.79165 8.03787 9.89234 8.23926 10.0937C8.44065 10.2951 8.54134 10.5416 8.54134 10.8333C8.54134 11.125 8.44065 11.3715 8.23926 11.5729C8.03787 11.7743 7.79134 11.875 7.49967 11.875ZM12.4997 11.875C12.208 11.875 11.9615 11.7743 11.7601 11.5729C11.5587 11.3715 11.458 11.125 11.458 10.8333C11.458 10.5416 11.5587 10.2951 11.7601 10.0937C11.9615 9.89234 12.208 9.79165 12.4997 9.79165C12.7913 9.79165 13.0379 9.89234 13.2393 10.0937C13.4406 10.2951 13.5413 10.5416 13.5413 10.8333C13.5413 11.125 13.4406 11.3715 13.2393 11.5729C13.0379 11.7743 12.7913 11.875 12.4997 11.875ZM9.99967 16.6666C11.8608 16.6666 13.4372 16.0208 14.7288 14.7291C16.0205 13.4375 16.6663 11.8611 16.6663 9.99998C16.6663 9.66665 16.6455 9.34373 16.6038 9.03123C16.5622 8.71873 16.4858 8.41665 16.3747 8.12498C16.083 8.19442 15.7913 8.24651 15.4997 8.28123C15.208 8.31595 14.9025 8.33331 14.583 8.33331C13.3191 8.33331 12.1247 8.06248 10.9997 7.52081C9.87467 6.97915 8.91634 6.2222 8.12467 5.24998C7.68023 6.33331 7.04481 7.27429 6.21842 8.0729C5.39204 8.87151 4.43023 9.4722 3.33301 9.87498V9.99998C3.33301 11.8611 3.97884 13.4375 5.27051 14.7291C6.56217 16.0208 8.13856 16.6666 9.99967 16.6666ZM10.0011 17.9166C8.90613 17.9166 7.8769 17.7089 6.91342 17.2933C5.94995 16.8778 5.1119 16.3138 4.39926 15.6014C3.68662 14.8891 3.12238 14.0514 2.70655 13.0883C2.29085 12.1253 2.08301 11.0963 2.08301 10.0014C2.08301 8.90644 2.29079 7.8772 2.70634 6.91373C3.1219 5.95026 3.68586 5.1122 4.39822 4.39956C5.11058 3.68692 5.94829 3.12269 6.91134 2.70685C7.8744 2.29116 8.90335 2.08331 9.99822 2.08331C11.0932 2.08331 12.1225 2.29109 13.0859 2.70665C14.0494 3.1222 14.8875 3.68616 15.6001 4.39852C16.3127 5.11088 16.877 5.94859 17.2928 6.91165C17.7085 7.8747 17.9163 8.90366 17.9163 9.99852C17.9163 11.0935 17.7086 12.1228 17.293 13.0862C16.8775 14.0497 16.3135 14.8878 15.6011 15.6004C14.8888 16.313 14.0511 16.8773 13.088 17.2931C12.125 17.7088 11.096 17.9166 10.0011 17.9166Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.program .swiper .swiper-slide .txt .time::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1255' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1255)'%3E%3Cpath d='M12.8938 13.7725L13.7722 12.8942L10.6247 9.74671V5.83337H9.37467V10.2532L12.8938 13.7725ZM10.0011 17.9167C8.90613 17.9167 7.8769 17.7089 6.91342 17.2934C5.94995 16.8778 5.1119 16.3139 4.39926 15.6015C3.68662 14.8891 3.12238 14.0514 2.70655 13.0884C2.29085 12.1253 2.08301 11.0964 2.08301 10.0015C2.08301 8.9065 2.29079 7.87726 2.70634 6.91379C3.1219 5.95032 3.68586 5.11226 4.39822 4.39962C5.11058 3.68698 5.94829 3.12275 6.91134 2.70692C7.8744 2.29122 8.90335 2.08337 9.99822 2.08337C11.0932 2.08337 12.1225 2.29115 13.0859 2.70671C14.0494 3.12226 14.8875 3.68622 15.6001 4.39858C16.3127 5.11094 16.877 5.94865 17.2928 6.91171C17.7085 7.87476 17.9163 8.90372 17.9163 9.99858C17.9163 11.0936 17.7086 12.1228 17.293 13.0863C16.8775 14.0498 16.3135 14.8878 15.6011 15.6005C14.8888 16.3131 14.0511 16.8773 13.088 17.2932C12.125 17.7089 11.096 17.9167 10.0011 17.9167Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.program .control .scroll {
    position: relative;
}
.program .control .scroll .swiper-scrollbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background: var(--color-main2);
}
.program .control .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    background: rgba(23, 158, 30, 0.7);
    border-radius: 10px;
    cursor: pointer; 
}
.program .control .more {
    position: absolute;
    right: 0;
    top: 0;
}
.program .control .more a {
    padding: 0 10px 0 20px;
}
.program .control .more a span {
    position: relative;
}
.program .control .more a span::before {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.program .control .more a:hover {
    color: var(--color-main1);
}
.program .control .more a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%23179E1E'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
    .program {
        padding: 25px 0 50px 0;
        margin-top: 25px;
    }
    .program .tit h2 {
        font-size: var(--txt-size-tit-mo);
    }
    .program .tit .search_box {
        position: relative;
        left: auto;
        width: 100%;
        margin-top: 10px;
    }
    .program .tit .search_box button {
        height: 30px;
    }
    .program .tit .search_box .center {
        padding: 0 30px;
    }
    .program .tit .search_box .age {
        padding-right: 30px;
    }
    .program .tit .search_box .search {
        padding: 0 20px 0 42px;
        background-color: var(--color-main1);
        border-radius: 50px;
        color: var(--txt-color-white);
    }
    .program .swiper .swiper-slide .txt {
        font-size: 13px;
    }
    .program .control .more {
        position: relative;
        text-align: center;
        padding-top: 20px;
    }
}
@media screen and (max-width:495px) {
    .program .tit .search_box .center {
        padding: 0 20px;
    }
    .program .tit .search_box .age {
        padding-right: 20px;
    }
}

.notice {
    margin-top: 50px;
}
.notice .wrapper {
    display: flex;
    justify-content: space-between;
}
.notice h2 {
    font-weight: 600;
    font-size: var(--txt-size-tit);
    color: var(--txt-color-tit);
}
.notice .notice_left {
    width: 47%;
}
.notice .notice_left .list {
    width: 100%;
    margin-right: 60px;
    padding-top: 25px;
    position: relative;
}
.notice .notice_left .list ul li {
    border-bottom: 1px solid var(--txt-color-gray2);
}
.notice .notice_left .list ul li:first-child {
    border-top: 1px solid var(--txt-color-tit);
}
.notice .notice_left .list ul li a {
    height: 83px;
    width: 100%;
    display: flex;
    align-items: center;
}
.notice .notice_left {
    position: relative;
}
.notice .notice_left .list ul li a .date {
    position: relative;
    white-space: nowrap;
    text-align: center;
    padding: 0 30px;
}
.notice .notice_left .list ul li a .date::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 30px;
    background-color: var(--txt-color-gray2);
    content: "";
}
.notice .notice_left .list ul li a .date strong {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--txt-color-tit);
}
.notice .notice_left .list ul li a p {
    padding-left: 30px;
    line-height: 1.2;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.notice .notice_left .list ul li a:hover p {
    color: var(--color-main1);
}
.notice .notice_left .more {
    position: absolute;
    right: 0;
    top: 45px;
}
.notice .notice_left .more a {
    padding-left: 20px;
}
.notice .notice_left .more a span {
    position: relative;
}
.notice .notice_left .more a span::before {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.notice .notice_left .more a:hover {
    color: var(--color-main1);
}
.notice .notice_left .more a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%23179E1E'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.notice .notice_right {
    width: 47%;
}
.notice .notice_right .swiper {
    width: 100%;
    height: 332px;
    padding-top: 25px;
}
.notice .notice_right ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border-radius: 20px;
}
.notice .notice_right ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .notice_right .paging {
    position: absolute;
    right: 0; 
    top: 0;
    width: auto; 
    height: 25px;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.notice .notice_right .paging .swiper-pagination-bullet { 
    background-color: var(--color-main2);
    opacity: 1;
    position: relative;
}
.notice .notice_right .paging .swiper-pagination-bullet-active::before { 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 158, 30, 0.7);
    content: "";
    border-radius: 50%;
}
@media screen and (max-width:1024px) {
    .notice {
        margin-top: 0;
    }
    .notice .wrapper {
        display: block;
    }
    .notice h2 {
        font-size: var(--txt-size-tit-mo);
        margin-top: 25px;
    }
    .notice .notice_left {
        width: 100%;
    }
    .notice .notice_left .list {
        margin-right: 0;
        padding-top: 10px;
    }
    .notice .notice_left .list ul li a {
        height: 61px;
    }
    .notice .notice_left .list ul li a .date {
        padding: 0 20px;
    }
    .notice .notice_left .list ul li a .date strong {
        font-size: 20px;
    }
    .notice .notice_left .list ul li a p {
        padding-left: 20px;
    }
    .notice .notice_left .more {
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
        margin-top: 20px;
    }
    .notice .notice_right {
        width: 100%;
    }
    .notice .notice_right .swiper {
        width: 100%;
        height: auto;
        padding-top: 10px;
    }
    .notice .notice_right .paging {
        position: relative;
        right: auto; 
        bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
    }
}

.youtube {
    background-color: var(--color-main3);
    padding: 50px 0 100px 0;
    margin-top: 50px;
}
.youtube h2 {
    font-weight: 600;
    font-size: var(--txt-size-tit);
    color: var(--txt-color-tit);
}
.youtube .swiper ul {
    padding: 25px 0 30px 0;
}
.youtube .swiper ul li {
    border: 1px solid var(--txt-color-gray2);
    border-radius: 20px;
}
.youtube .swiper ul li a .photo {
    width: 100%;
    height: 167px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.youtube .swiper ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.youtube .swiper ul li a .txt {
    padding: 15px 18px;
}
.youtube .swiper ul li a .txt strong {
    font-weight: 500;
    color: var(--color-main1);
}
.youtube .swiper ul li a .txt h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
    margin: 10px 0 5px 0;
}
.youtube .swiper ul li a .txt p {
    line-height: 1.2;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.youtube .swiper ul li a .txt span {
    display: block;
    color: var(--txt-color-gray1);
    margin-top: 15px;
}
.youtube .control .scroll {
    position: relative;
}
.youtube .control .scroll .swiper-scrollbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background: var(--color-main2);
}
.youtube .control .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    background: rgba(23, 158, 30, 0.7);
    border-radius: 10px;
    cursor: pointer; 
}
.youtube .control .more {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    padding-right: 10px;
}
.youtube .control .more a {
    display: block;
    padding-left: 20px;
}
.youtube .control .more a span {
    position: relative;
}
.youtube .control .more a span::before {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.youtube .control .more a:hover {
    color: var(--color-main1);
}
.youtube .control .more a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1356' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1356)'%3E%3Cpath d='M6.875 8.125H3.125V6.875H6.875V3.125H8.125V6.875H11.875V8.125H8.125V11.875H6.875V8.125Z' fill='%23179E1E'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
    .youtube {
        padding: 25px 0 50px 0;
        margin-top: 25px;
    }
    .youtube h2 {
        font-size: var(--txt-size-tit-mo);
    }
    .youtube .control .more {
        position: relative;
        text-align: center;
        padding-top: 20px;
    }
    .youtube .swiper ul li a .photo {
        height: 150px;
    }
}