/* 
    파일명 : layout.css 
    작성자 : 이윤정
    작성일 : 24.04.09
    설  명 : 모든 페이지의 레이아웃 요소 ( header/footer/서브레이아웃 )
             메뉴명, sub_visual 이미지스타일, 탭메뉴
*/
.header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.header .logo {
    margin: 20px 0 0 20px;
    line-height: 0;
    font-size: 0;
    width: 230px;
    height: 55px;
}
.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: url(../images/logo_w.png) no-repeat center center / contain;
}
.header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header .inner {
    display: flex;
}
.header .gnb {
    text-align: center;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb .depth1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.header .gnb .depth1 > li > a {
    display: block;
    font-size: 20px;
    width: 150px;
    line-height: 100px;
}
.header .gnb > .depth1 > li a:hover,
.header .gnb > .depth1 > li.on > a {
    font-weight: 700;
    color: #0069B5;
}
.header .gnb .depth1 > li > .depth2 {
    display: none;
    margin-top: 15px;
    color: #3d3d3d;
}
.header .gnb .depth1 > li > .depth2 > li > a {
    display: block;
    margin-bottom: 20px;
}
.header .gnb  .depth2 > li > a:hover {
    font-weight: 700;
    color: #0069B5;
}
.header .tnb {
    padding: 38px 10px 0 10px;
    border-left: 1px solid #fff;
}
.header .tnb ul {
    display: flex;
}
.header .tnb ul li a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 5px;
}
.header .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6974 21.5 9.46825 21.2503 8.3125 20.7509C7.15673 20.2516 6.14872 19.5718 5.28845 18.7115C4.4282 17.8512 3.7484 16.8432 3.24905 15.6875C2.74968 14.5317 2.5 13.3025 2.5 12C2.5 10.6872 2.74968 9.45543 3.24905 8.3048C3.7484 7.15417 4.4282 6.14872 5.28845 5.28845C6.14872 4.4282 7.15673 3.7484 8.3125 3.24905C9.46825 2.74968 10.6974 2.5 12 2.5C13.3128 2.5 14.5445 2.74968 15.6952 3.24905C16.8458 3.7484 17.8512 4.4282 18.7115 5.28845C19.5718 6.14872 20.2516 7.15417 20.7509 8.3048C21.2503 9.45543 21.5 10.6872 21.5 12C21.5 13.3025 21.2503 14.5317 20.7509 15.6875C20.2516 16.8432 19.5718 17.8512 18.7115 18.7115C17.8512 19.5718 16.8458 20.2516 15.6952 20.7509C14.5445 21.2503 13.3128 21.5 12 21.5ZM12 19.9788C12.5102 19.3019 12.9397 18.6192 13.2885 17.9307C13.6372 17.2423 13.9211 16.4897 14.1404 15.673H9.85958C10.0916 16.5153 10.3788 17.2807 10.7211 17.9692C11.0634 18.6577 11.4897 19.3275 12 19.9788ZM10.0635 19.7038C9.68014 19.1538 9.33591 18.5285 9.03078 17.8279C8.72564 17.1272 8.48846 16.4089 8.31923 15.673H4.92688C5.45509 16.7115 6.16343 17.584 7.0519 18.2904C7.94038 18.9968 8.94424 19.4679 10.0635 19.7038ZM13.9365 19.7038C15.0557 19.4679 16.0596 18.9968 16.9481 18.2904C17.8365 17.584 18.5449 16.7115 19.0731 15.673H15.6807C15.4794 16.4153 15.2262 17.1368 14.9211 17.8375C14.616 18.5381 14.2878 19.1602 13.9365 19.7038ZM4.29805 14.1731H8.01538C7.95256 13.8013 7.90705 13.4369 7.87885 13.0798C7.85065 12.7227 7.83655 12.3628 7.83655 12C7.83655 11.6372 7.85065 11.2772 7.87885 10.9202C7.90705 10.5631 7.95256 10.1987 8.01538 9.82688H4.29805C4.2019 10.1666 4.12818 10.5198 4.0769 10.8865C4.02562 11.2532 3.99998 11.6243 3.99998 12C3.99998 12.3756 4.02562 12.7468 4.0769 13.1135C4.12818 13.4801 4.2019 13.8333 4.29805 14.1731ZM9.51535 14.1731H14.4846C14.5474 13.8013 14.5929 13.4401 14.6212 13.0894C14.6494 12.7388 14.6635 12.3756 14.6635 12C14.6635 11.6243 14.6494 11.2612 14.6212 10.9106C14.5929 10.5599 14.5474 10.1987 14.4846 9.82688H9.51535C9.45253 10.1987 9.40702 10.5599 9.3788 10.9106C9.3506 11.2612 9.3365 11.6243 9.3365 12C9.3365 12.3756 9.3506 12.7388 9.3788 13.0894C9.40702 13.4401 9.45253 13.8013 9.51535 14.1731ZM15.9846 14.1731H19.7019C19.7981 13.8333 19.8718 13.4801 19.9231 13.1135C19.9743 12.7468 20 12.3756 20 12C20 11.6243 19.9743 11.2532 19.9231 10.8865C19.8718 10.5198 19.7981 10.1666 19.7019 9.82688H15.9846C16.0474 10.1987 16.0929 10.5631 16.1211 10.9202C16.1493 11.2772 16.1634 11.6372 16.1634 12C16.1634 12.3628 16.1493 12.7227 16.1211 13.0798C16.0929 13.4369 16.0474 13.8013 15.9846 14.1731ZM15.6807 8.32693H19.0731C18.5384 7.27563 17.8349 6.40318 16.9625 5.70958C16.09 5.01599 15.0814 4.54163 13.9365 4.2865C14.3198 4.86855 14.6608 5.50509 14.9596 6.19613C15.2583 6.88716 15.4987 7.59743 15.6807 8.32693ZM9.85958 8.32693H14.1404C13.9083 7.49103 13.6163 6.72083 13.2644 6.01633C12.9125 5.31184 12.491 4.64678 12 4.02113C11.5089 4.64678 11.0875 5.31184 10.7356 6.01633C10.3836 6.72083 10.0916 7.49103 9.85958 8.32693ZM4.92688 8.32693H8.31923C8.50128 7.59743 8.74167 6.88716 9.0404 6.19613C9.33912 5.50509 9.68014 4.86855 10.0635 4.2865C8.91219 4.54163 7.90193 5.0176 7.03268 5.7144C6.16344 6.4112 5.46151 7.28204 4.92688 8.32693Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.login a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.6923C11.0375 11.6923 10.2135 11.3496 9.52813 10.6642C8.84271 9.97879 8.5 9.15484 8.5 8.19236C8.5 7.22986 8.84271 6.40591 9.52813 5.72051C10.2135 5.03509 11.0375 4.69238 12 4.69238C12.9625 4.69238 13.7864 5.03509 14.4718 5.72051C15.1572 6.40591 15.5 7.22986 15.5 8.19236C15.5 9.15484 15.1572 9.97879 14.4718 10.6642C13.7864 11.3496 12.9625 11.6923 12 11.6923ZM4.5 19.3077V17.0846C4.5 16.5949 4.63302 16.1414 4.89905 15.7241C5.16507 15.3068 5.52051 14.986 5.96537 14.7616C6.95384 14.277 7.95096 13.9135 8.95672 13.6712C9.96249 13.4289 10.9769 13.3078 12 13.3078C13.023 13.3078 14.0375 13.4289 15.0432 13.6712C16.049 13.9135 17.0461 14.277 18.0346 14.7616C18.4794 14.986 18.8349 15.3068 19.1009 15.7241C19.3669 16.1414 19.5 16.5949 19.5 17.0846V19.3077H4.5ZM5.99997 17.8077H18V17.0846C18 16.8821 17.9413 16.6946 17.824 16.5221C17.7067 16.3497 17.5474 16.209 17.3461 16.1C16.4846 15.6757 15.6061 15.3542 14.7107 15.1356C13.8152 14.917 12.9117 14.8077 12 14.8077C11.0883 14.8077 10.1847 14.917 9.28927 15.1356C8.39384 15.3542 7.51536 15.6757 6.65382 16.1C6.45254 16.209 6.29325 16.3497 6.17595 16.5221C6.05863 16.6946 5.99997 16.8821 5.99997 17.0846V17.8077ZM12 10.1924C12.55 10.1924 13.0208 9.99653 13.4125 9.60486C13.8041 9.21319 14 8.74236 14 8.19236C14 7.64236 13.8041 7.17153 13.4125 6.77986C13.0208 6.38819 12.55 6.19236 12 6.19236C11.45 6.19236 10.9791 6.38819 10.5875 6.77986C10.1958 7.17153 9.99997 7.64236 9.99997 8.19236C9.99997 8.74236 10.1958 9.21319 10.5875 9.60486C10.9791 9.99653 11.45 10.1924 12 10.1924Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5422 20.577L13.2615 14.2962C12.7615 14.7091 12.1865 15.0321 11.5365 15.2655C10.8865 15.4988 10.214 15.6155 9.51916 15.6155C7.80999 15.6155 6.36348 15.0237 5.17961 13.8401C3.99574 12.6566 3.40381 11.2104 3.40381 9.50169C3.40381 7.79296 3.99559 6.34628 5.17916 5.16167C6.36273 3.97707 7.80888 3.38477 9.51761 3.38477C11.2263 3.38477 12.673 3.9767 13.8576 5.16057C15.0422 6.34443 15.6345 7.79095 15.6345 9.50012C15.6345 10.2142 15.5147 10.8963 15.2749 11.5463C15.0352 12.1963 14.7153 12.7616 14.3153 13.2424L20.5961 19.5232L19.5422 20.577ZM9.51916 14.1155C10.8076 14.1155 11.899 13.6684 12.7932 12.7742C13.6874 11.8799 14.1346 10.7886 14.1346 9.50012C14.1346 8.21165 13.6874 7.1203 12.7932 6.22607C11.899 5.33183 10.8076 4.88472 9.51916 4.88472C8.23069 4.88472 7.13934 5.33183 6.24511 6.22607C5.35089 7.1203 4.90378 8.21165 4.90378 9.50012C4.90378 10.7886 5.35089 11.8799 6.24511 12.7742C7.13934 13.6684 8.23069 14.1155 9.51916 14.1155Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* 메뉴 고정 */
.header.fixed {
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}
.header.fixed .logo a {
    background-image: url(../images/logo_c.png);
}
.header.fixed .gnb .depth1 {
    color: #1d1d1d;
}
.header.fixed .tnb {
    border-left: 1px solid rgb(0, 0, 0, 0.2);
}
.header.fixed .tnb ul li.lang a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6974 21.5 9.46825 21.2503 8.3125 20.7509C7.15673 20.2516 6.14872 19.5718 5.28845 18.7115C4.4282 17.8513 3.7484 16.8432 3.24905 15.6875C2.74968 14.5317 2.5 13.3026 2.5 12C2.5 10.6872 2.74968 9.45546 3.24905 8.30483C3.7484 7.1542 4.4282 6.14875 5.28845 5.28848C6.14872 4.42823 7.15673 3.74843 8.3125 3.24908C9.46825 2.74971 10.6974 2.50003 12 2.50003C13.3128 2.50003 14.5445 2.74971 15.6952 3.24908C16.8458 3.74843 17.8512 4.42823 18.7115 5.28848C19.5718 6.14875 20.2516 7.1542 20.7509 8.30483C21.2503 9.45546 21.5 10.6872 21.5 12C21.5 13.3026 21.2503 14.5317 20.7509 15.6875C20.2516 16.8432 19.5718 17.8513 18.7115 18.7115C17.8512 19.5718 16.8458 20.2516 15.6952 20.7509C14.5445 21.2503 13.3128 21.5 12 21.5ZM12 19.9789C12.5102 19.3019 12.9397 18.6192 13.2885 17.9308C13.6372 17.2423 13.9211 16.4897 14.1404 15.6731H9.85958C10.0916 16.5154 10.3788 17.2808 10.7211 17.9692C11.0634 18.6577 11.4897 19.3276 12 19.9789ZM10.0635 19.7039C9.68014 19.1539 9.33591 18.5285 9.03078 17.8279C8.72564 17.1272 8.48846 16.409 8.31922 15.6731H4.92688C5.45509 16.7115 6.16343 17.584 7.0519 18.2904C7.94038 18.9968 8.94424 19.468 10.0635 19.7039ZM13.9365 19.7039C15.0557 19.468 16.0596 18.9968 16.9481 18.2904C17.8365 17.584 18.5449 16.7115 19.0731 15.6731H15.6807C15.4794 16.4154 15.2262 17.1369 14.9211 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7039ZM4.29805 14.1731H8.01538C7.95256 13.8013 7.90705 13.4369 7.87885 13.0798C7.85065 12.7228 7.83655 12.3628 7.83655 12C7.83655 11.6372 7.85065 11.2772 7.87885 10.9202C7.90705 10.5631 7.95256 10.1987 8.01538 9.82691H4.29805C4.2019 10.1667 4.12818 10.5199 4.0769 10.8865C4.02562 11.2532 3.99998 11.6244 3.99998 12C3.99998 12.3757 4.02562 12.7468 4.0769 13.1135C4.12818 13.4801 4.2019 13.8334 4.29805 14.1731ZM9.51535 14.1731H14.4846C14.5474 13.8013 14.5929 13.4401 14.6212 13.0894C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6244 14.6494 11.2612 14.6212 10.9106C14.5929 10.5599 14.5474 10.1987 14.4846 9.82691H9.51535C9.45253 10.1987 9.40702 10.5599 9.3788 10.9106C9.3506 11.2612 9.3365 11.6244 9.3365 12C9.3365 12.3757 9.3506 12.7388 9.3788 13.0894C9.40702 13.4401 9.45253 13.8013 9.51535 14.1731ZM15.9846 14.1731H19.7019C19.7981 13.8334 19.8718 13.4801 19.9231 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6244 19.9743 11.2532 19.9231 10.8865C19.8718 10.5199 19.7981 10.1667 19.7019 9.82691H15.9846C16.0474 10.1987 16.0929 10.5631 16.1211 10.9202C16.1493 11.2772 16.1634 11.6372 16.1634 12C16.1634 12.3628 16.1493 12.7228 16.1211 13.0798C16.0929 13.4369 16.0474 13.8013 15.9846 14.1731ZM15.6807 8.32696H19.0731C18.5384 7.27566 17.8349 6.40321 16.9625 5.70961C16.09 5.01602 15.0814 4.54166 13.9365 4.28653C14.3198 4.86858 14.6608 5.50512 14.9596 6.19616C15.2583 6.88719 15.4987 7.59746 15.6807 8.32696ZM9.85958 8.32696H14.1404C13.9083 7.49106 13.6163 6.72086 13.2644 6.01636C12.9125 5.31187 12.491 4.64681 12 4.02116C11.5089 4.64681 11.0875 5.31187 10.7356 6.01636C10.3836 6.72086 10.0916 7.49106 9.85958 8.32696ZM4.92688 8.32696H8.31922C8.50128 7.59746 8.74167 6.88719 9.0404 6.19616C9.33912 5.50512 9.68014 4.86858 10.0635 4.28653C8.91219 4.54166 7.90193 5.01763 7.03268 5.71443C6.16344 6.41123 5.46151 7.28207 4.92688 8.32696Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb ul li.login a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.6923C11.0375 11.6923 10.2135 11.3496 9.52813 10.6642C8.84271 9.97876 8.5 9.15481 8.5 8.19233C8.5 7.22983 8.84271 6.40588 9.52813 5.72048C10.2135 5.03506 11.0375 4.69235 12 4.69235C12.9625 4.69235 13.7864 5.03506 14.4718 5.72048C15.1572 6.40588 15.5 7.22983 15.5 8.19233C15.5 9.15481 15.1572 9.97876 14.4718 10.6642C13.7864 11.3496 12.9625 11.6923 12 11.6923ZM4.5 19.3077V17.0846C4.5 16.5949 4.63302 16.1414 4.89905 15.7241C5.16507 15.3068 5.52051 14.9859 5.96537 14.7616C6.95384 14.2769 7.95096 13.9135 8.95672 13.6712C9.96249 13.4289 10.9769 13.3077 12 13.3077C13.023 13.3077 14.0375 13.4289 15.0432 13.6712C16.049 13.9135 17.0461 14.2769 18.0346 14.7616C18.4794 14.9859 18.8349 15.3068 19.1009 15.7241C19.3669 16.1414 19.5 16.5949 19.5 17.0846V19.3077H4.5ZM5.99997 17.8077H18V17.0846C18 16.882 17.9413 16.6945 17.824 16.5221C17.7067 16.3497 17.5474 16.209 17.3461 16.1C16.4846 15.6756 15.6061 15.3542 14.7107 15.1356C13.8152 14.917 12.9117 14.8077 12 14.8077C11.0883 14.8077 10.1847 14.917 9.28927 15.1356C8.39384 15.3542 7.51536 15.6756 6.65382 16.1C6.45254 16.209 6.29325 16.3497 6.17595 16.5221C6.05863 16.6945 5.99997 16.882 5.99997 17.0846V17.8077ZM12 10.1923C12.55 10.1923 13.0208 9.99649 13.4125 9.60483C13.8041 9.21316 14 8.74233 14 8.19233C14 7.64233 13.8041 7.17149 13.4125 6.77983C13.0208 6.38816 12.55 6.19233 12 6.19233C11.45 6.19233 10.9791 6.38816 10.5875 6.77983C10.1958 7.17149 9.99997 7.64233 9.99997 8.19233C9.99997 8.74233 10.1958 9.21316 10.5875 9.60483C10.9791 9.99649 11.45 10.1923 12 10.1923Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.header.fixed .tnb ul li.search a {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5424 20.5769L13.2616 14.2961C12.7616 14.7089 12.1866 15.032 11.5366 15.2653C10.8866 15.4987 10.2141 15.6153 9.51928 15.6153C7.81011 15.6153 6.3636 15.0236 5.17973 13.84C3.99586 12.6564 3.40393 11.2103 3.40393 9.50157C3.40393 7.79284 3.99571 6.34616 5.17928 5.16154C6.36285 3.97694 7.809 3.38464 9.51773 3.38464C11.2264 3.38464 12.6731 3.97658 13.8577 5.16044C15.0423 6.34431 15.6347 7.79083 15.6347 9.49999C15.6347 10.2141 15.5148 10.8961 15.275 11.5461C15.0353 12.1961 14.7154 12.7615 14.3154 13.2423L20.5962 19.5231L19.5424 20.5769ZM9.51928 14.1154C10.8077 14.1154 11.8991 13.6683 12.7933 12.774C13.6876 11.8798 14.1347 10.7885 14.1347 9.49999C14.1347 8.21153 13.6876 7.12018 12.7933 6.22594C11.8991 5.33171 10.8077 4.88459 9.51928 4.88459C8.23081 4.88459 7.13946 5.33171 6.24523 6.22594C5.35101 7.12018 4.90391 8.21153 4.90391 9.49999C4.90391 10.7885 5.35101 11.8798 6.24523 12.774C7.13946 13.6683 8.23081 14.1154 9.51928 14.1154Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px){ /* pc 버전((1025px 이상)*/
    .header.menu_over {
        border-bottom: 0;
    }
    .header.menu_over::after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 400px;
        background-color: rgb(255, 255, 255, 0.8);
        backdrop-filter: blur(10px) opacity(50%);
        content: "";
    }
    .header.menu_over::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(0, 0, 0, 0.2);
        content: "";
    }
    .header.menu_over .logo a {
        background-image: url(../images/logo_c.png);
    }
    .header.menu_over .gnb .depth1 > li {
        color: #1d1d1d;
    }
    .header.menu_over .gnb .depth1 > li > .depth2 {
        display: block;
    }
    .header.menu_over .tnb {
        border-left: 1px solid rgb(0, 0, 0, 0.5);
    }
    .header.menu_over .tnb ul li.lang a {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C10.6974 21.5 9.46825 21.2503 8.3125 20.7509C7.15673 20.2516 6.14872 19.5718 5.28845 18.7115C4.4282 17.8513 3.7484 16.8432 3.24905 15.6875C2.74968 14.5317 2.5 13.3026 2.5 12C2.5 10.6872 2.74968 9.45546 3.24905 8.30483C3.7484 7.1542 4.4282 6.14875 5.28845 5.28848C6.14872 4.42823 7.15673 3.74843 8.3125 3.24908C9.46825 2.74971 10.6974 2.50003 12 2.50003C13.3128 2.50003 14.5445 2.74971 15.6952 3.24908C16.8458 3.74843 17.8512 4.42823 18.7115 5.28848C19.5718 6.14875 20.2516 7.1542 20.7509 8.30483C21.2503 9.45546 21.5 10.6872 21.5 12C21.5 13.3026 21.2503 14.5317 20.7509 15.6875C20.2516 16.8432 19.5718 17.8513 18.7115 18.7115C17.8512 19.5718 16.8458 20.2516 15.6952 20.7509C14.5445 21.2503 13.3128 21.5 12 21.5ZM12 19.9789C12.5102 19.3019 12.9397 18.6192 13.2885 17.9308C13.6372 17.2423 13.9211 16.4897 14.1404 15.6731H9.85958C10.0916 16.5154 10.3788 17.2808 10.7211 17.9692C11.0634 18.6577 11.4897 19.3276 12 19.9789ZM10.0635 19.7039C9.68014 19.1539 9.33591 18.5285 9.03078 17.8279C8.72564 17.1272 8.48846 16.409 8.31922 15.6731H4.92688C5.45509 16.7115 6.16343 17.584 7.0519 18.2904C7.94038 18.9968 8.94424 19.468 10.0635 19.7039ZM13.9365 19.7039C15.0557 19.468 16.0596 18.9968 16.9481 18.2904C17.8365 17.584 18.5449 16.7115 19.0731 15.6731H15.6807C15.4794 16.4154 15.2262 17.1369 14.9211 17.8375C14.616 18.5382 14.2878 19.1603 13.9365 19.7039ZM4.29805 14.1731H8.01538C7.95256 13.8013 7.90705 13.4369 7.87885 13.0798C7.85065 12.7228 7.83655 12.3628 7.83655 12C7.83655 11.6372 7.85065 11.2772 7.87885 10.9202C7.90705 10.5631 7.95256 10.1987 8.01538 9.82691H4.29805C4.2019 10.1667 4.12818 10.5199 4.0769 10.8865C4.02562 11.2532 3.99998 11.6244 3.99998 12C3.99998 12.3757 4.02562 12.7468 4.0769 13.1135C4.12818 13.4801 4.2019 13.8334 4.29805 14.1731ZM9.51535 14.1731H14.4846C14.5474 13.8013 14.5929 13.4401 14.6212 13.0894C14.6494 12.7388 14.6635 12.3757 14.6635 12C14.6635 11.6244 14.6494 11.2612 14.6212 10.9106C14.5929 10.5599 14.5474 10.1987 14.4846 9.82691H9.51535C9.45253 10.1987 9.40702 10.5599 9.3788 10.9106C9.3506 11.2612 9.3365 11.6244 9.3365 12C9.3365 12.3757 9.3506 12.7388 9.3788 13.0894C9.40702 13.4401 9.45253 13.8013 9.51535 14.1731ZM15.9846 14.1731H19.7019C19.7981 13.8334 19.8718 13.4801 19.9231 13.1135C19.9743 12.7468 20 12.3757 20 12C20 11.6244 19.9743 11.2532 19.9231 10.8865C19.8718 10.5199 19.7981 10.1667 19.7019 9.82691H15.9846C16.0474 10.1987 16.0929 10.5631 16.1211 10.9202C16.1493 11.2772 16.1634 11.6372 16.1634 12C16.1634 12.3628 16.1493 12.7228 16.1211 13.0798C16.0929 13.4369 16.0474 13.8013 15.9846 14.1731ZM15.6807 8.32696H19.0731C18.5384 7.27566 17.8349 6.40321 16.9625 5.70961C16.09 5.01602 15.0814 4.54166 13.9365 4.28653C14.3198 4.86858 14.6608 5.50512 14.9596 6.19616C15.2583 6.88719 15.4987 7.59746 15.6807 8.32696ZM9.85958 8.32696H14.1404C13.9083 7.49106 13.6163 6.72086 13.2644 6.01636C12.9125 5.31187 12.491 4.64681 12 4.02116C11.5089 4.64681 11.0875 5.31187 10.7356 6.01636C10.3836 6.72086 10.0916 7.49106 9.85958 8.32696ZM4.92688 8.32696H8.31922C8.50128 7.59746 8.74167 6.88719 9.0404 6.19616C9.33912 5.50512 9.68014 4.86858 10.0635 4.28653C8.91219 4.54166 7.90193 5.01763 7.03268 5.71443C6.16344 6.41123 5.46151 7.28207 4.92688 8.32696Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb ul li.login a {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.6923C11.0375 11.6923 10.2135 11.3496 9.52813 10.6642C8.84271 9.97876 8.5 9.15481 8.5 8.19233C8.5 7.22983 8.84271 6.40588 9.52813 5.72048C10.2135 5.03506 11.0375 4.69235 12 4.69235C12.9625 4.69235 13.7864 5.03506 14.4718 5.72048C15.1572 6.40588 15.5 7.22983 15.5 8.19233C15.5 9.15481 15.1572 9.97876 14.4718 10.6642C13.7864 11.3496 12.9625 11.6923 12 11.6923ZM4.5 19.3077V17.0846C4.5 16.5949 4.63302 16.1414 4.89905 15.7241C5.16507 15.3068 5.52051 14.9859 5.96537 14.7616C6.95384 14.2769 7.95096 13.9135 8.95672 13.6712C9.96249 13.4289 10.9769 13.3077 12 13.3077C13.023 13.3077 14.0375 13.4289 15.0432 13.6712C16.049 13.9135 17.0461 14.2769 18.0346 14.7616C18.4794 14.9859 18.8349 15.3068 19.1009 15.7241C19.3669 16.1414 19.5 16.5949 19.5 17.0846V19.3077H4.5ZM5.99997 17.8077H18V17.0846C18 16.882 17.9413 16.6945 17.824 16.5221C17.7067 16.3497 17.5474 16.209 17.3461 16.1C16.4846 15.6756 15.6061 15.3542 14.7107 15.1356C13.8152 14.917 12.9117 14.8077 12 14.8077C11.0883 14.8077 10.1847 14.917 9.28927 15.1356C8.39384 15.3542 7.51536 15.6756 6.65382 16.1C6.45254 16.209 6.29325 16.3497 6.17595 16.5221C6.05863 16.6945 5.99997 16.882 5.99997 17.0846V17.8077ZM12 10.1923C12.55 10.1923 13.0208 9.99649 13.4125 9.60483C13.8041 9.21316 14 8.74233 14 8.19233C14 7.64233 13.8041 7.17149 13.4125 6.77983C13.0208 6.38816 12.55 6.19233 12 6.19233C11.45 6.19233 10.9791 6.38816 10.5875 6.77983C10.1958 7.17149 9.99997 7.64233 9.99997 8.19233C9.99997 8.74233 10.1958 9.21316 10.5875 9.60483C10.9791 9.99649 11.45 10.1923 12 10.1923Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    .header.menu_over .tnb ul li.search a {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5424 20.5769L13.2616 14.2961C12.7616 14.7089 12.1866 15.032 11.5366 15.2653C10.8866 15.4987 10.2141 15.6153 9.51928 15.6153C7.81011 15.6153 6.3636 15.0236 5.17973 13.84C3.99586 12.6564 3.40393 11.2103 3.40393 9.50157C3.40393 7.79284 3.99571 6.34616 5.17928 5.16154C6.36285 3.97694 7.809 3.38464 9.51773 3.38464C11.2264 3.38464 12.6731 3.97658 13.8577 5.16044C15.0423 6.34431 15.6347 7.79083 15.6347 9.49999C15.6347 10.2141 15.5148 10.8961 15.275 11.5461C15.0353 12.1961 14.7154 12.7615 14.3154 13.2423L20.5962 19.5231L19.5424 20.5769ZM9.51928 14.1154C10.8077 14.1154 11.8991 13.6683 12.7933 12.774C13.6876 11.8798 14.1347 10.7885 14.1347 9.49999C14.1347 8.21153 13.6876 7.12018 12.7933 6.22594C11.8991 5.33171 10.8077 4.88459 9.51928 4.88459C8.23081 4.88459 7.13946 5.33171 6.24523 6.22594C5.35101 7.12018 4.90391 8.21153 4.90391 9.49999C4.90391 10.7885 5.35101 11.8798 6.24523 12.774C7.13946 13.6683 8.23081 14.1154 9.51928 14.1154Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:1320px){
    .header .logo {
        margin: 25px 0 0 20px;
        width: 190px;
        height: 45px;
    }
    .header .gnb .depth1 > li > a {
        display: block;
        font-size: 15px;
        width: 110px;
        line-height: 100px;
    }
    .header .tnb {
        padding: 38px 5px 0 5px;
        border-left: 1px solid rgb(255, 255, 255);
    }
    .header .tnb ul li a {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
}
@media screen and (max-width:1024px){
    .header {
        height: 70px;
    }
    .header .logo {
        margin: 15px 0 0 20px;
        width: 160px;
        height: 38px;
    }
    .header .gnb {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-color: #1E1D3F;
        color: #fff;
    }
    .header .tnb {
        display: none;
    }
    .header .gnb_open {
        display: block;
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.9585 24.9823V22.8574H29.0418V24.9823H4.9585ZM4.9585 18.0625V15.9375H29.0418V18.0625H4.9585ZM4.9585 11.1426V9.01764H29.0418V11.1426H4.9585Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header .gnb_close {
        display: none;
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39953 18.6538L5.3457 17.6L10.9457 12L5.3457 6.39999L6.39953 5.34616L11.9995 10.9462L17.5995 5.34616L18.6534 6.39999L13.0534 12L18.6534 17.6L17.5995 18.6538L11.9995 13.0538L6.39953 18.6538Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    /* 모바일 버전 메뉴 고정 fixed */
    .header.fixed .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.9585 24.9823V22.8574H29.0418V24.9823H4.9585ZM4.9585 18.0625V15.9375H29.0418V18.0625H4.9585ZM4.9585 11.1426V9.01764H29.0418V11.1426H4.9585Z' fill='%230069B5'/%3E%3C/svg%3E%0A");
    }
    /* 모바일 버전 메뉴 open*/
    .header.menu_open::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255, 0.2);
        content: "";
    }
    .header.menu_open .gnb_open {
        display: none;
    }
    .header.menu_open .gnb_close {
        display: block;
    }
    .header.menu_open .gnb {
        display: block;
    }
    .header.menu_open .gnb .depth1 {
        display: block;
        margin: 70px 0 0 20px;
    }
    .header.menu_open .gnb .depth1 > li > a {
        position: relative;
        font-size: 20px;
        width: 100%;
        text-align: left;
        line-height: 70px;
    }
    .header.menu_open .gnb .depth1 > li > a::before {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: 150%;
        height: 1px;
        background-color: rgb(255, 255, 255, 0.2);
        content: "";
    }
    .header.menu_open .gnb .depth1 > li.on > a::before {
        display: block;
    } 
    .header.menu_open .gnb .depth1 > li.on {
        font-weight: 700;
    }
    .header.menu_open .gnb .depth1 > li.on > .depth2 {
        display: block;
        font-size: 15px;
        font-weight: 400;
        color: #2d2d2d;
        text-align: left;
        margin: 0 20px 0 0;
        padding: 30px 20px;
        background-color: #fff;
    }
}
@media screen and (max-width:768px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 13px 0 0 20px;
        width: 100px;
        height: 24px;
    }
    .header .gnb_open {
        width: 50px;
        height: 50px;
        background-size: 25px;
    }
    .header .gnb_close {
        width: 50px;
        height: 50px;
        background-size: 25px;
    }
    .header.menu_open .gnb .depth1 {
        display: block;
        margin: 50px 0 0 20px;
    }
    .header.menu_open .gnb .depth1 > li > a {
        font-size: 15px;
        line-height: 50px;
    }
    .header.menu_open .gnb .depth1 > li.on > .depth2 {
        font-size: 13px;
        margin: 0 20px 0 0;
        padding: 25px 15px;
    }
}


.footer {
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
}
.footer .wrapper {
    position: relative; /*f_logo 정렬 기준*/
}
.footer .f_logo {
    position: absolute;
    width: 260px;
    left: 0;
    top: 65px;
}
.footer .f_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .family_site {
    position: relative;
    display: flex;
    margin-left: 33.33%;
}
.footer .family_site::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.footer .family_site .list {
    position: relative;
    width: 33.33%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .family_site .list:nth-child(1) {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .family_site button {
    position: relative;
    display: block;
    font-size: 20px;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    text-align: left;
}
.footer .family_site .on button {
    display: none;
}
.footer .family_site button::before {
    position: absolute;
    right: 15px;
    top: 25px;
    width: 24px;
    height: 24px;
    content: "";
}
.footer .family_site button.open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8.96181L17.6538 14.6156L16.6 15.6694L12 11.0694L7.39998 15.6694L6.34616 14.6156L12 8.96181Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .family_site button.close {
    display: none;
}
.footer .family_site .on button.close {
    display: block;
}
.footer .family_site button.close::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.0382L17.6538 9.38439L16.6 8.33057L12 12.9306L7.39998 8.33057L6.34616 9.38439L12 15.0382Z' fill='white'/%3E%3C/svg%3E%0A");
}
.footer .family_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0 0 10px;
}
.footer .family_site .on ul {
    display: block;
}
.footer .family_site ul li a {
    display: block;
    padding-left: 20px;
    margin-bottom: 5px;
}
.footer .family_site ul::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
.footer .family_site ul::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
}
.footer .sns {
    position: relative;
    margin-left: 33.33%;
}
.footer .sns::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.footer .sns ul {
    display: flex;
    align-items: center;
    height: 150px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .sns ul li {
    margin: 0 32px;
}
.footer .sns ul li a {
    display: block;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.footer .sns ul li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_1030)'%3E%3Cpath d='M26.94 36.07H20.83L18.04 35.15L15.27 36.07H9.13C4.09 36.07 0 31.98 0 26.94V9.13C0 4.09 4.09 0 9.13 0H26.94C31.98 0 36.07 4.09 36.07 9.13V26.94C36.07 31.98 31.98 36.07 26.94 36.07Z' fill='white'/%3E%3Cpath d='M15.25 14.1102V18.0302H10.73V23.1802H15.25V36.0602H20.82V23.1802H24.97L25.76 18.0302H20.82V14.6902C20.82 13.2802 21.51 11.9102 23.72 11.9102H25.97V7.53018C25.97 7.53018 23.93 7.18018 21.98 7.18018C17.91 7.18018 15.25 9.65018 15.25 14.1102Z' fill='%231D1D1E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_1030'%3E%3Crect width='36.07' height='36.07' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
} 
.footer .sns ul li.youtube a {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_1033)'%3E%3Cpath d='M26.94 0H9.13C4.08764 0 0 4.08764 0 9.13V26.94C0 31.9824 4.08764 36.07 9.13 36.07H26.94C31.9824 36.07 36.07 31.9824 36.07 26.94V9.13C36.07 4.08764 31.9824 0 26.94 0Z' fill='white'/%3E%3Cpath d='M27.5698 15.8601C27.5698 13.5001 25.6498 11.5801 23.2898 11.5801H12.3498C9.98983 11.5801 8.06982 13.5001 8.06982 15.8601V20.9501C8.06982 23.3101 9.97983 25.2301 12.3498 25.2301H23.2898C25.6498 25.2301 27.5698 23.3201 27.5698 20.9501V15.8601ZM21.1398 18.7801L16.2398 21.2101C16.0498 21.3101 15.3898 21.1701 15.3898 20.9601V15.9801C15.3898 15.7601 16.0498 15.6201 16.2398 15.7301L20.9298 18.2801C21.1298 18.3901 21.3298 18.6801 21.1298 18.7801H21.1398Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_1033'%3E%3Crect width='36.07' height='36.07' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.footer .sns ul li.insta a {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_1005)'%3E%3Cpath d='M27.2399 6.35986C26.0899 6.35986 25.1499 7.29986 25.1499 8.44986C25.1499 9.59986 26.0899 10.5399 27.2399 10.5399C28.3899 10.5399 29.3299 9.59986 29.3299 8.44986C29.3299 7.29986 28.3899 6.35986 27.2399 6.35986Z' fill='white'/%3E%3Cpath d='M17.9599 9.04004C13.1199 9.04004 9.18994 12.98 9.18994 17.81C9.18994 22.64 13.1299 26.58 17.9599 26.58C22.7899 26.58 26.7299 22.64 26.7299 17.81C26.7299 12.98 22.7899 9.04004 17.9599 9.04004ZM17.9599 23.43C14.8599 23.43 12.3399 20.91 12.3399 17.81C12.3399 14.71 14.8599 12.19 17.9599 12.19C21.0599 12.19 23.5799 14.71 23.5799 17.81C23.5799 20.91 21.0599 23.43 17.9599 23.43Z' fill='white'/%3E%3Cpath d='M24.92 35.63H10.7C4.8 35.63 0 30.83 0 24.93V10.71C0 4.8 4.8 0 10.7 0H24.92C30.82 0 35.62 4.8 35.62 10.7V24.92C35.62 30.82 30.82 35.62 24.92 35.62V35.63ZM10.7 3.35C6.65 3.35 3.35 6.65 3.35 10.7V24.92C3.35 28.97 6.65 32.27 10.7 32.27H24.92C28.97 32.27 32.27 28.97 32.27 24.92V10.7C32.27 6.65 28.97 3.35 24.92 3.35H10.7Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_1005'%3E%3Crect width='35.63' height='35.63' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.footer .sns ul li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_1036)'%3E%3Cpath d='M27.5257 0.36037L7.06418 0.00321357C3.42459 -0.0603157 0.42262 2.83866 0.359091 6.47825L0.00193437 26.9397C-0.0615949 30.5793 2.83738 33.5813 6.47697 33.6448L26.9385 34.002C30.5781 34.0655 33.58 31.1666 33.6436 27.527L34.0007 7.06546C34.0642 3.42587 31.1653 0.4239 27.5257 0.36037Z' fill='white'/%3E%3Cpath d='M25.3557 9.31738V24.6824H19.7489L14.2538 16.9501V24.6824H8.64404V9.31738H14.2538L19.7489 17.3637V9.31738H25.3557Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_1036'%3E%3Crect width='34' height='34' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.footer .f_nav {
    margin-left: 33.33%;
}
.footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 120px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .f_nav ul li {
    margin: 0 15px;
    line-height: 1.4;
}
.footer .f_nav ul li a {
    display: block;
    position: relative;
}
.footer .f_nav ul li a::before {
    position: absolute;
    right: -14px;
    top: 4px;
    width: 1px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.footer .f_nav ul li:last-child a::before {
    display: none;
}
.footer .f_info {
    position: absolute;
    left: 0;
    top: 180px;
    width: 33.33%;
    padding-right: 10px;
}
.footer .f_info .contact {
    margin: 10px 0 20px 0;
}
.footer .f_info .copyright {
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:1320px){
    .footer .f_logo {
        width: 230px;
        top: 55px;
    }
    .footer .family_site button {
        font-size: 15px;
        height: 50px;
    }
    .footer .family_site button::before {
        top: 14px;
        width: 20px;
        height: 20px;
    }
    .footer .family_site ul {
        bottom: 50px;
        height: 200px;
    }
    .footer .sns ul {
        height: 130px;
    }
    .footer .sns ul li {
        margin: 0 25px;
    }
    .footer .sns ul li a {
        width: 33px;
        height: 33px;
    }
    .footer .f_nav ul {
        padding: 25px 0 100px 0;
    }
    .footer .f_info {
        top: 160px;
    }
}
@media screen and (max-width:1024px){
    .footer .f_logo {
        width: 190px;
        top: 45px;
    }
    .footer .family_site ul {
        bottom: 40px;
        padding: 10px 0 0 5px;
    }
    .footer .family_site button::before {
        top: 13px;
        width: 18px;
        height: 18px;
    }
    .footer .sns ul {
        height: 100px;
    }
    .footer .sns ul li {
        margin: 0 20px;
    }
    .footer .sns ul li a {
        width: 30px;
        height: 30px;
    }
    .footer .f_info {
        top: 120px;
    }
}
@media screen and (max-width:768px){
    .footer {
        margin-top: 80px;
    }
    .footer .family_site {
        display: none;
    }
    .footer .f_logo {
        position: relative;
        width: 235px;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        padding: 50px 0 30px 0;
    }
    .footer .sns {
        margin-left: 0;
    }
    .footer .sns::before {
        display: block;
        left: -20px;
        top: 0;
        bottom: auto;
    }
    .footer .sns ul {
        justify-content: space-evenly;
        height: 100px;
        border-left: 0;
    }
    .footer .sns ul li {
        margin: 0;
    }
    .footer .sns ul li a {
        width: 28px;
        height: 28px;
    }
    .footer .f_nav {
        margin-left: 0;
    }
    .footer .f_nav ul {
        position: relative;
        padding: 30px 0 30px 0;
        border-left: 0;
    }
    .footer .f_nav ul::after {
        position: absolute;
        left: -20px;
        top: 0;
        width: 150%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        content: "";
    }
    .footer .f_nav ul::before {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: 150%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        content: "";
    }
    .footer .f_nav ul li {
        margin: 0 10px;
    }
    .footer .f_nav ul li a::before {
        position: absolute;
        right: -10px;
        top: 5px;
        height: 8px;
    }
    .footer .f_info {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px 0 80px 0;

    }
    .footer .f_info .contact {
        margin: 5px 0 15px 0;
    }
    .footer .f_info .copyright {
        color: rgba(255, 255, 255, 0.5);
    }
}
@media screen and (max-width:500px){
    .footer .f_logo {
        width: 200px;
    }
}